.name01 {
	background-image: url(img/name_01.gif);
}
.name02 {
	background-image: url(img/name_02.gif);
}
.name03 {
	background-image: url(img/name_03.gif);
}
.name04 {
	background-image: url(img/name_04.gif);
}
.name05 {
	background-image: url(img/name_05.gif);
}