#fbPage {
	margin: 0px;
	padding: 10px 0px 0px;
	text-align: left;
}
#fbPage p {
	font-size: 12px;
	line-height: 2.0;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
}
#fbPage h2 {
	font-size: 14px;
	line-height: 1.5;
	padding: 5px 0px 5px 8px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #0C47BF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-color: #F6F6F6;
}
#fbPage ul.list01 {
	margin: 0px 0px 15px;
	padding: 0px;
}
#fbPage ul.list01 li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../../../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
#fbPage p#mainContents {
	margin-bottom: 5px;
	margin-top: 0px;
}




#fbPage input.txtBox {
	width: 300px;
}
#fbPage input.wide,#fbPage textarea.wide {
	width: 380px;
}
#fbPage .btnSend {
	background-image: url(../fb/img/send_back.gif);
	text-align: center;
	margin: 0px 0px 50px;
	padding: 15px 0px;
}
#fbPage p#logo {
	text-align: left;
	margin: 0px;
	padding: 0px 0px 0px 10px;
}
#fbPage .co {
	margin-right: 10px;
	margin-left: 10px;
	text-align: left;
}
#fbPage #ankerBox {
	background-color: #FAF414;
	margin: 0px 0px 15px;
	padding: 10px;
}
#fbPage #ankerBox ul {
	margin: 0px;
	padding: 0px;
}
#fbPage #ankerBox ul li {
	margin: 0px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAF414;
}
#fbPage #ankerBox ul li p {
	margin: 0px 0px 2px;
	padding: 0px;
	font-weight: 100;
	font-size: 11px;
	line-height: 1.0;
	color: #6C6C6C;
}
#fbPage #ankerBox ul li a {
	margin: 0px;
	display: block;
	background-color: #FFFFFF;
	padding: 10px 50px 14px 15px;
	color: #000000;
	text-decoration: none;
	background-image: url(../img/point_click.gif);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 15px 12px;
}
#fbPage #ankerBox ul li a p {
	color: #6C6C6C;
}

#fbPage #ankerBox ul li a h2 {
	font-size: 18px;
	line-height: 1.4;
	font-weight: 900;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}
#fbPage #ankerBox ul li a h2 .ss {
	font-size: 11px;
}
#fbPage .co .box {
	margin: 0px 0px 15px;
	padding: 0px;
}
#fbPage .point {
	color: #C70000;
	font-weight: 900;
}
#fbPage .co .box h1 {
	background-color: #0D47BF;
	margin: 0px;
	padding: 6px 10px 10px 15px;
	color: #FFF;
	font-size: 20px;
	text-align: left;
	line-height: 1.2;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}
#fbPage .co .box h1 .ss {
	font-size: 11px;
	font-weight: 100;
}
#fbPage .co .box .boxSub {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D1D1D1;
	border-bottom-color: #D1D1D1;
	border-left-color: #D1D1D1;
	margin: 0px;
	padding: 15px;
	border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
}
#fbPage .co .box .boxSub h2 {
	font-size: 14px;
	line-height: 1.2;
	background-repeat: no-repeat;
	background-position: left 3px;
	background-size: 16px 16px;
	margin: 0px 0px 10px;
	padding: 3px 0px 3px 22px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
}
#fbPage .co .box .boxSub h2.ico01 {
	background-image: url(../img/ico_01.gif);
}
#fbPage .co .box .boxSub h2.ico02 {
	background-image: url(../img/ico_02.gif);
}
#fbPage .co .box .boxSub p.btn {
	margin-bottom: 0px;
}
#fbPage .co .box .boxSub ul.flow {
	margin: 0px 0px 15px;
	padding: 0px;
}
#fbPage .co .box .boxSub ul.flow li {
	margin: 0px;
	padding: 0px;
}
#fbPage .co .box .boxSub ul.flow li p {
	margin: 5px 0px 0px;
	padding: 0px 0px 0px 12px;
	text-indent: -12px;
}
#fbPage .co .box .boxSub ul.flow li.ya {
	margin: 5px 0px;
	padding: 0px;
	text-align: center;
}



#fbPage .btnSend {
	background-image: url(../img/send_back.gif);
	text-align: center;
	margin: 0px 0px 15px;
	padding: 10px 0px;
}
#fbPage #privacyBox {
	background-image: url(../img/dot_back.gif);
	text-align: center;
	margin: 0px 0px 20px;
	padding: 10px 0px;
}
#fbPage #privacyBox #privacyBoxSub {
	margin: 0px 10px;
	padding: 0px;
	text-align: left;
}
#fbPage #privacyBoxSub h2 {
	position: static;
	background-color: #FFF;
	margin: 0px 0px 15px;
	padding: 10px 0px 10px 10px;
	font-size: 0.81em;
	font-weight: 900;
	height: auto;
	border-width: 0px;
	border-style: none;
	background-image: none;
}
#fbPage #privacyBoxSub p {
	background-color: #FFF;
	margin: 15px 0px 0px;
	padding: 10px 0px 10px 10px;
	font-weight: 100;
	height: auto;
	line-height: 1.0;
}
#fbPage #policyBox {
	height: 110px;
	width: 98%;
}



#fbPage p.btnLink {
	padding: 0px;
	font-size: 12px;
	line-height: 1.1;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(18%, rgba(255,255,255,1)), color-stop(100%, rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);


	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 );
	-webkit-border-radius: 200px;
	border-radius: 200px;
	-webkit-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	-moz-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	border: 1px solid #ECECEC;
	text-align: center;
	clear: both;
}
#fbPage p.btnLink a {
	margin: 0px;
	padding: 7px 10px;
	display: block;
	color: #333333;
	text-decoration: none;
}

.error{
	color:#FF0000;
}
.err{
	color:#FF0000;
}