@charset "UTF-8";
@import url(reset.css);
@import url(library.css);
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url("webfont/NotoSansCJKjp-Regular.otf") format("opentype");
  font-display: swap;
}

a, input[type="image"], .form__check__box label {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
  overflow: hidden;
}

a:hover, input[type="image"]:hover, .form__check__box label:hover {
  opacity: 0.5;
}

html, body {
  font-family: "Noto Sans JP", 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
  font-feature-settings: "pkna";
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: nomal;
  background: #020017;
}

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop, html, body {
    font-family: "Noto Sans CJK JP", 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
  }
}

img {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  min-width: 1300px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
  padding: 30px 0;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
}

.header ul li:not(:last-child) {
  margin-right: 45px;
}

.main {
  width: 100%;
  height: 485px;
  background: url("../../assets/img/bg_main@2x.jpg") no-repeat center center;
  background-size: cover;
}

.main h2 {
  text-align: center;
  padding: 86px 0 70px 0;
}

.main__btn {
  text-align: center;
}

.main--form {
  height: 210px;
  background-position: bottom center;
}

.main--form h2 {
  padding: 60px 0 0 0;
}

.section01 {
  padding: 85px 0 50px 0;
}

.section01 h3 {
  position: relative;
  text-align: center;
  padding-bottom: 35px;
  margin-bottom: 45px;
}

.section01 h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 95px);
  display: block;
  width: 190px;
  height: 1px;
  background: #fff;
}

.section01__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
}

.section01__box__text {
  width: 580px;
}

.section01__box__text p {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}

.section02 {
  width: 1260px;
  margin: 0 auto 85px auto;
  padding: 60px 0 55px 0;
  background: #210a01;
}

.section02__title {
  text-align: center;
  margin-bottom: 45px;
}

.section02__title p {
  line-height: 1.8;
  padding-top: 30px;
}

.section02__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.section02__block .section02__box {
  width: 540px;
  border-radius: 10px;
  text-align: center;
  padding: 25px 0 55px 0;
}

.section02__block .section02__box h5 {
  padding-bottom: 45px;
}

.section02__block .section02__box p {
  text-align: left;
  padding: 0 50px;
  line-height: 2;
}

.section02__block .section02__box--01 {
  background: rgba(21, 61, 94, 0.44);
}

.section02__block .section02__box--01 h4 {
  padding: 65px 0 55px 0;
}

.section02__block .section02__box--02 {
  background: rgba(21, 74, 26, 0.44);
}

.section02__block .section02__box--02 h4 {
  padding: 45px 0 35px 0;
}

.section02__bottom {
  text-align: center;
  margin-top: 55px;
}

.section03__box {
  background: url("../../assets/img/bg_section03@2x.jpg") no-repeat center center;
  background-size: cover;
}

.section03__box__inner {
  position: relative;
  width: 990px;
  margin: 0 auto;
  padding: 85px 0 45px 0;
}

.section03__box__text {
  width: 415px;
}

.section03__box__text h3 {
  margin-bottom: 30px;
}

.section03__box__text p {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 20px;
}

.section03__box__pic {
  position: absolute;
  top: -30px;
  right: 0;
}

.section03__button {
  text-align: center;
  padding: 100px 0;
}

.section04__block {
  width: 100%;
  height: 430px;
}

.section04__block .section04__box {
  position: relative;
  display: flex;
  align-items: center;
  width: 980px;
  height: 100%;
  margin: 0 auto;
}

.section04__block .section04__box__label {
  position: absolute;
}

.section04__block .section04__box__text h3 {
  margin-bottom: 30px;
}

.section04__block .section04__box__text p {
  font-size: 18px;
  line-height: 1.8;
}

.section04__block--01 {
  background: url("../../assets/img/bg_section04_01@2x.jpg") no-repeat center center;
  background-size: cover;
}

.section04__block--01 .section04__box__label {
  top: 0;
  right: 0;
}

.section04__block--02 {
  background: url("../../assets/img/bg_section04_02@2x.jpg") no-repeat center center;
  background-size: cover;
}

.section04__block--02 .section04__box {
  justify-content: flex-end;
}

.section04__block--02 .section04__box__label {
  top: 0;
  left: 0;
}

.section04__block--02 .section04__box__text {
  width: 570px;
}

.section04__block--03 {
  background: url("../../assets/img/bg_section04_03@2x.jpg") no-repeat center center;
  background-size: cover;
}

.section04__block--03 .section04__box__label {
  top: 0;
  right: 0;
}

.section04__block--03 .section04__box__text {
  width: 505px;
}

.section05 {
  padding: 65px 0 0 0;
}

.section05 h3 {
  text-align: center;
}

.section05__table {
  position: relative;
  width: 980px;
  margin: 85px auto 105px auto;
}

.section05__table__default table th, .section05__table__default table td {
  width: 140px;
  border: solid 1px #fff;
  padding: 15px 15px 12px 15px;
  font-size: 13px;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 1.8;
}

.section05__table__default table th.left-side {
  width: 165px;
  border-right: none;
}

.section05__table__default table th.left-side--high {
  height: 120px;
}

.section05__table__default table th.empty {
  width: 255px;
  border-left: none;
  border-right: none;
}

.section05__table__default table td.tdpd {
  padding: 0 35px;
  white-space: nowrap;
}

.section05__table__big {
  position: absolute;
  top: -30px;
  left: 166px;
  width: 254px;
  height: 411px;
  background: url("../../assets/img/bg_section05_01.png") no-repeat;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .section05__table__big {
    background: url("../../assets/img/bg_section05_01@2x.png") no-repeat;
    background-size: cover;
  }
}

.section05__table__big table {
  width: 100%;
}

.section05__table__big table th, .section05__table__big table td {
  vertical-align: middle;
}

.section05__table__big table th {
  height: 70px;
  text-align: center;
}

.section05__table__big table td {
  height: 135px;
  font-size: 16px;
  padding: 0 20px;
  line-height: 1.8;
}

.section05__btn {
  text-align: center;
  margin-bottom: 80px;
}

.section05__box {
  position: relative;
  width: 980px;
  height: 1000px;
  margin: 0 auto;
}

.section05__box h4 {
  position: absolute;
  top: 0;
  left: 0;
}

.section05__box__text {
  position: absolute;
  top: 50px;
  right: 55px;
  width: 524px;
}

.section05__box__text h5 {
  margin-bottom: 10px;
}

.section05__box__text p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 2;
  margin-bottom: 50px;
}

.section05__box__bottom {
  position: absolute;
  left: 50px;
  bottom: 55px;
}

.section05__box__bottom h5 {
  margin-bottom: 20px;
}

.section05__box__bottom__table {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.section05__box__bottom__table table th, .section05__box__bottom__table table td {
  font-size: 16px;
  vertical-align: middle;
  border: solid 1px #fff;
  padding: 15px;
  box-sizing: border-box;
  background: rgba(4, 16, 0, 0.5);
}

.section05__box__bottom__table table td dl {
  display: flex;
  flex-wrap: wrap;
}

.section05__box__bottom__table table td dl dt {
  width: 85px;
}

.section05__box__bottom__table table.table01 {
  margin-right: 20px;
}

.section05__box__bottom__table table.table01 td {
  width: 230px;
}

.section05__box__bottom__table table.table02 th {
  width: 105px;
}

.section05__box__bottom__table table.table02 td {
  width: 410px;
}

.section05__box__bottom__table table.table02 td dl dt {
  width: 55px;
}

.section05__box__bottom__table table.table02 td dl.performance dd {
  font-size: 13px;
  line-height: 2;
  margin-top: -5px;
}

.section05__box--01 {
  margin-bottom: 50px;
  background: url("../../assets/img/bg_section05_02.jpg") no-repeat center center;
  background-size: cover;
  height: 1100px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .section05__box--01 {
    background: url("../../assets/img/bg_section05_02@2x.jpg") no-repeat center center;
    background-size: cover;
  }
}

.section05__box--02 {
  margin-bottom: 60px;
  background: url("../../assets/img/bg_section05_03.jpg") no-repeat center center;
  background-size: cover;
  height: 1320px;

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .section05__box--02 {
    background: url("../../assets/img/bg_section05_03@2x.jpg") no-repeat center center;
    background-size: cover;
  }
}

.section05__graph {
  text-align: center;
  padding: 50px 0 75px 0;
  margin-bottom: 90px;
  background: url("../../assets/img/pattern01.png") center center;
}

.section05__graph h4 {
  margin-bottom: 40px;
}

.section06 {
  background: #262629;
  padding: 55px 0 35px 0;
}

.section06 h3 {
  text-align: center;
  padding-bottom: 55px;
}

.section06__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 830px;
  margin: 0 auto;
  padding: 23px 5px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

.section06__box__pic {
  margin-right: 65px;
}

.section06__box__text h4 {
  font-size: 24px;
}

.section06__box__text p {
  line-height: 1.8;
  margin: 15px 0 12px 0;
}

.section06__box__text h5 {
  font-size: 36px;
  font-family: Arial,'ＭＳ Ｐゴシック',sans-serif;
  font-weight: bold;
}

.section06__box__text h5.free:before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 27px;
  margin-right: 10px;
  background: url("../../assets/img/icon_free.png") no-repeat center center;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .section06__box__text h5.free:before {
    background: url("../../assets/img/icon_free@2x.png") no-repeat center center;
    background-size: cover;
  }
}

.section06__box__text h5.free span {
  color: #0db4ff !important;
}

.section06__box__text h5.tel span {
  font-size: 28px;
}

.section06__table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 830px;
  margin: 55px auto 0 auto;
  text-align: left;
}

.section06__table h4 {
  padding: 0 0 0 45px;
}

.section06__table table th, .section06__table table td {
  padding: 10px 0;
  border-bottom: dotted 1px #fff;
}

.section06__table table th {
  padding: 0 30px 0 3px;
}

.section06__table table td {
  padding-right: 50px;
}

.section06__table table td p {
  line-height: 2.2;
}

.section06__table table td dl {
  display: flex;
  flex-wrap: wrap;
  line-height: 2.2;
}

.section06__table table td dl dt {
  width: 65px;
}

.section06__table table tr:last-child th, .section06__table table tr:last-child td {
  border-bottom: none;
}

.footer {
  background: #fff;
  padding: 35px 0;
}

.footer p {
  font-size: 11px;
  text-align: center;
  color: #262629;
  letter-spacing: 1px;
}

.form {
  width: 730px;
  margin: 0 auto;
  padding: 60px 0 80px 0;
  letter-spacing: 2px;
}

.form__box {
  position: relative;
  left: -55px;
  margin-bottom: 35px;
}

.form__box dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form__box dl dt {
  width: 161px;
  text-align: center;
}

.form__box dl dd input {
  width: 490px;
  font-size: 18px;
  font-weight: bold;
  padding: 18px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 2px #949494;
}
.form__box dl dd input::placeholder {
  color: #aaa;
}

.form__check {
  text-align: center;
  margin-top: 50px;
}

.form__check p {
  margin-bottom: 18px;
}

.form__check p a {
  border-bottom: solid 1px #fff;
  padding-bottom: 4px;
}

.form__check__box {
  margin-bottom: 58px;
}

.form__check__box label {
  display: inline-block;
  background: #1d202a;
  border-radius: 8px;
  padding: 15px 45px 15px 60px;
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
  border-right: solid 2px #fff;
  border-bottom: solid 6px #fff;
}

.form__check__box label span {
  position: relative;
}

.form__check__box label span:before {
  content: "";
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 2px #fff;
  vertical-align: middle;
  margin-right: 12px;
  box-sizing: border-box;
}

.form__check__box input[type="checkbox"] {
  display: none;
}

.form__check__box input[type="checkbox"]:checked + label span:after {
  content: "";
  position: absolute;
  left: -3px;
  top: -7px;
  width: 27px;
  height: 26px;
  background: url("../../assets/img/icon_check.png") no-repeat center center;
  background-size: cover;
}

.form__submit input.subsub{
  opacity: 0.2;
}



@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .form__check__box input[type="checkbox"]:checked + label span:after {
    background: url("../../assets/img/icon_check@2x.png") no-repeat center center;
    background-size: cover;
  }
}

.form__submit {
  text-align: center;
}
