table.frm {
	margin			: 10px auto;
	width			: 98%;
	font-size		: 81%;
	color			: #333333;
	line-height		: 1.4;
	font-family		: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","MS Ul Gothic",sans-serif;/*20090801時点で最善*/
}

table.frm th {
	background-color	: #EEEEEE;
	color				: #666666;
	border-left			: solid 3px #BBBBBB;
	border-right		: solid 1px #CCCCCC;
	border-bottom		: solid 1px #CCCCCC;
	padding				: 10px;
	width				: 20%;
}

table.frm td {
	background-color	: #F7F7F7;
	color				: #666666;
	border-right		: solid 1px #CCCCCC;
	border-bottom		: solid 1px #CCCCCC;
	padding				: 10px;
}

table.frm td.Lline {
	border-left			: solid 3px #BBBBBB;
}

table.frm table th,
table.frm table td {
	border	: none;
	padding	: 5px;
}

textarea {
	width		: 98%;
	height		: 100px;
}

textarea#poricy {
	height		: 100px;
	padding		: 5px;
}

textarea#poricy {
	line-height : 120%;
}

#agreeChk{
	margin-top:20px;
}

.req{
	color:#FF0000;
}

.error{
	color:#FF0000;
}
.err{
	color:#FF0000;
}
