@charset "utf-8";
/* CSS Document */


@media screen and (max-width:991px){
body{
	width:750px;
}

.fixedcontainer{
	width:730px;
}
.visible-tb{
	display:block;
}
.hidden-tb{
	display:none;
}

.secrecy .title{
	margin-bottom:0px;
}
.secrecy .secrecy_body{
	padding:20px;
}
.secrecy_point .secrecy_body h3{
	padding:20px;
}
.consult_btn{
	width:700px;
}
.points_body{
	width:220px;
	padding:10px;
}
.points_body h2 span{
	letter-spacing:-9px;
}
.survey_img{
	width:470px;
}
.voice_body{
	width:670px;
}
.voice_title h2{
	font-size:19px;
}
.institute .title h1{
	margin-left:20px;
	margin-right:20px;
}
.institute_body{
	padding:0px 20px;
}
.institute_img{
	margin-right:10px;
}
.institute>h5{
	padding-right:20px;
}
.offer .title h1{
	margin-right:20px;
	margin-left:20px;
}
.offer_body{
	padding:0px 20px;
}
.offer_body h5{
	width:340px;
}
.offer_body h5 p:nth-child(2){
	font-size:15px;
}
.flow_title{
	padding:5px 20px;
}
.flow_subbody{
	padding:20px;
}
.consult_div img{
	width:700px;
}
}


@media screen and (max-width:767px){
body{
font-size:90%;
width:100%;
}
.fixedcontainer{
	width:94%;
	margin:0px auto;
}
.visible-sp{
	display:block;
}
.hidden-sp{
	display:none;
}

.logo_img{
	width:150px;
}
.secrecy .secrecy_body{
	padding-top:0px;
}
.secrecy .title{
	margin-top:20px;
}
.secrecy .title h1{
	font-size:25px;
}
.secrecy_body p{
	
	line-height:1.5;
}
.secrecy_body p br{
	display:none;
}
.secrecy_point_div h2{
	font-size:20px;
	line-height:1.5;
}
.consult_btn{
	width:450px;
	margin:0px auto;
}
.points .title h1{
	font-size:22px;
}
.points_contain{
	padding-top:0px;
	display:block;
}
.points_body{
	width:260px;
	margin:10px auto;
}
.points_body h2{
	font-size:20px;
}
.points_body h2 span{
	letter-spacing:-1px;
}

.survey .title h1{
	font-size:24px;
	margin:10px auto;
}
.survey_body h3{
	font-size:18px;
}
.survey_img{
	width:350px;
}
.voice_img{
	width:50px;
}
.voice .title h1{
	font-size:24px;
}
.voice_body{
	width:88%;
	padding:3%;
	margin:10px auto;
}
.voice_title h1{
	font-size:40px;
	margin-right:5px;
}
.voice_title h2{
	font-size:18px;
}
.voice_title h2 span{
	font-size:16px;
}
.voice_title h1{
	font-size:30px;
}
.institute{
	margin:20px auto;
}
.institute .title h1{
	font-size:28px;
}
.institute_body{
	text-align:center;
}
.institute_img{
	width:140px;
}
.offer{
	margin:20px auto;
}
.offer .title h1{
	font-size:28px;
}
.offer_body h5{
	display:block;
}
.offer_consult .consult_btn{
	margin:30px auto;
}
.flow{
	margin-top:20px;
}
.flow .title h1{
	font-size:28px;
	padding-bottom:10px;
}
.flow_title h1{
	font-size:24px;
	line-height:1.2;
	width:30px;
	height:30px;
}
.flow_title h2{
	font-size:22px;
	padding-top:0px;
}
.register_btn{
	width:200px;
}
.flow_img{
	width:150px;
	height:100%;
}
.arrow_img{
	width:150px;
}
.flow_subbody{
	padding:10px;
}
.faq .title h1{
	font-size:28px;
	padding:30px 0px;
}
.faq_contain{
	padding:15px;
}
.faq_body h2{
	font-size:15px;
	background-size:18px 20px;
	padding-left:25px;
	margin:15px auto;
}
.faq_body h3{
	font-size:15px;
	background-size:15px 13px;
	pading-left:20px;
}
.faq_body h3 p{
	line-height:1.5;
}
.consult_div img{
	width:450px;
}
.consult_div h2{
	font-size:15px;
	margin:15px auto;
}
.consult_div h1{
	font-size:30px;
}
.company .title h1{
	font-size:28px;
	padding:30px 0px;
}
.companybody table{
	font-size:16px;
}
.companybody table td{
	padding:20px 0px;
}
}


@media screen and (max-width:500px){
body{
font-size:75%;
}
.visible-500{
	display:block;
}
.hidden-500{
	display:none;
}


.logo_img{
	width:100px;
	margin-top:10px;
}
.secrecy .title h1{
	font-size:15px;
}
.secrecy .secrecy_body{
	padding:5px;
	padding-top:0px;
}
.secrecy_body p{
	font-size:10px;
}
.secrecy_point_div h2{
	font-size:13px;
}
.secrecy_point .secrecy_body h3{
	padding:5px;
}
.consult_btn{
	width:250px;
}
.points .title h1{
	font-size:16px;
	padding-bottom:0px;
	line-height:1.5;
}
.points_body h2{
	font-size:15px;
}
.points_body h5{
	font-size:10px;
}
.points_body{
	width:230px;
}
.survey .title h1{
	font-size:20px;
}
.survey_body h3{
	font-size:12px;
	padding-bottom:10px;
}
.survey_img{
	width:250px;
}
.survey_graphy{
	margin:25px auto;
}
.voice .title h1{
	font-size:20px;
}
.voice_title h2{
	font-size:14px;
}
.voice_title h2 span{
	font-size:11px;
}
.institute .title h1{
	font-size:22px;
}
.offer .title h1{
	font-size:22px;
}
.offer_body h5{
	width:230px;
}
.offer_body h5 p:nth-child(2){
	font-size:14px;
}
.flow_subbody{
	display:block;
	text-align:center;
}
.flow_subbody h4{
	text-align:left;
}
.flow .title h1{
	font-size:21px;
}
.flow_title h2{
	font-size:18px;
}
.faq .title h1{
	font-size:21px;
}
.faq_body h2{
	background-position:left top;
}
.consult_div img{
	width:250px;
	margin:20px auto;
}
.consult_div h1{
	font-size:20px;
}
.company .title h1{
	font-size:22px;
}
.companybody table tr{
	border:1px solid #464646;
}
.companybody table td{
	display:block;
	border:none;
}
.companybody table td:nth-child(1){
	width:100%;
	padding-bottom:0px;
}
.companybody table td:nth-child(2){
	width:95%;
}

}
