

@charset "utf-8";
/* CSS Document */

body{
	font-family:  “メイリオ”, Meiryo;
	color:#333333;
	font-size:16px;
	width:960px;
	margin:0 auto;
	box-shadow:0px 0px 15px #000;
	
}
.clearfix:before,
.clearfix:after{
	display: table;
  	content: " ";
}
.clearfix:after{
	clear: both;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
table {
  background-color: transparent;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0px;
}
h1{
	font-size:175%;
	font-weight:bold;
}
h2{
	font-size:150%;
	font-weight:bold;
}
h3{
	font-size:125%;
	font-weight:normal;
}
h4{
	font-size:100%;
	font-weight:normal;
}
h5{
	font-size:87.5%;
	font-weight:normal;
}
p{
	font-size:100%;
	line-height:1.8;
	
}
.fixedcontainer{
	width:860px;
	margin:0 auto;
	padding:0px;
}
a{
	color:inherit;
}
a:visited,
a:link,
a:hover,
a:active,
a:focus{
	outline:none;
	text-decoration:none;
}
a:hover{
	opacity:0.8;
	transition:opacity 0.5s ease;
}

.red{
	color:#ff0000;
}
.green{
	color:#5e9d45;
}
.white{
	color:#ffffff;
}
.blue{
	color:#262c85;
}
.brown{
	color:#b89b3e;
}
.bold{
	font-weight:bold;
}

.underline{
	text-decoration:underline;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}

.visible-tb{
	display:none;
}
.hidden-tb{
	display:block;
}
.visible-sp{
	display:none;
}
.hidden-sp{
	display:block;
}
.visible-500{
	display:none;
}
.hidden-500{
	display:block;
}
.visible-md{
	display:block;
}
.hidden-md{
	display:none;
}
/*---------header----------------*/
.logo_img{
	margin-top:20px;
}
.main_visiual{
	width:100%;
}

/*--------secrecy----------*/
.title{
	font-family:'Ryumin Pro R';
}
.secrecy .secrecy_body{
	padding:20px 45px;
}
.secrecy .title{
	margin:40px auto;
}
.secrecy .title h1{
	font-size:187.5%;
	line-height:1.5;
}
.secrecy_body h3{
	font-size:112.5%;
	
}
.secrecy_body p{
	margin:20px auto;
}

/*-----------secrecy_point------------*/
.secrecy_point{
	
}
.secrecy_point_div{
	background-image:url(../images/backsquare.png);
	background-repeat:repeat;
	
}
.secrecy_point_div h2{
	font-family:'Ryumin Pro R';
	font-size:23px;
	color:white;
	padding:10px 0px;
}
.secrecy_point .secrecy_body h3{
	padding:20px 45px;
}
.secrecy_point .secrecy_body h3 span{
	margin-left:-10px;
}
.consult_btn{
	margin:20px auto;
}

/*--------points-----------------*/
.points{
	background-color:#f0f0f0;
	margin:40px auto;
}
.points .title h1{
	font-size:30px;
	padding:20px 0px;
}
.points_contain{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px 0px 40px;
}
.points_body{
	background-color:#cbcaca;
	text-align:center;
	padding:10px 20px;
	width:230px;
}
.points_body h2{
	font-family:'Ryumin Pro R';
	font-size:24px;
	line-height:1.2;
}
.points_body h2 span{
	letter-spacing:-8px;
}
.points_img{
	margin:10px auto;
}

/*-----------survey----------------*/
.survey{
	margin:20px auto;
	font-family:'Ryumin Pro R';	
}
.survey .title h1{
	font-size:30px;
	margin:20px auto;
}
.survey_body h3{
	font-size:22px;
	padding-bottom:20px;
	line-height:1.5;
}

.survey_graphy{
	margin:50px auto;
}

/*----------voice-------------*/
.voice{
	background-color:#eeeeee;
}
.voice .title{
	display:flex;
	align-items:flex-end;
	justify-content:flex-start;
	font-family:'Ryumin Pro R';
	background-color:#fff;
	border-bottom:2px solid #4c4c4c;
}
.voice .title h1{
	font-size:34px;
	padding-left:20px;
}
.voice_contain{
	padding:25px 0px;
}
.voice_body{
	background-color:#fff;
	width:770px;
	margin:25px auto;
	border:1px solid #4c4c4c;
	padding:15px;
}
.voice_title{
	display:flex;
	align-items:center;
	border-bottom:2px solid #333;
}
.voice_title h1{
	font-size:64px;
	font-family:'Ryumin Pro R';
	font-weight:bold;
	color:#b1b1b1;
	line-height:1;
	letter-spacing:5px;
	margin-right:10px;
}
.voice_title h2{
	font-size:23px;
	font-family:'Ryumin Pro R';
	line-height:1.4;
	font-weight:bold;
}
.voice_title h2 span{
	font-size:18px;
}
.voice_body h5 p:nth-child(1){
	padding:20px 0px;
}

/*---------institute--------------*/
.institute{
	border:1px solid #afadad;
	margin:50px auto;
}
.institute .title h1{
	font-size:35px;
	
	margin:25px 45px;
	border-bottom:1px dashed #000;
}
.institute_body{
	padding:0px 45px;
}
.institute_img{
	display:inline-block;
	width:160px;
	margin-right:35px;
	vertical-align:bottom;
	margin-top:20px;
}
.institute_img:nth-child(4n){
	margin-right:0px;
}
.institute>h5{
	padding-right:45px;
	margin:20px auto;
}

/*-------------offer-------------*/
.offer{
	border:1px solid #afadad;
	margin:50px auto;
}
.offer .title h1{
	font-size:35px;
	margin:25px 45px;
	border-bottom:1px dashed #000;
}
.offer_body{
	padding:0px 45px;
}
.offer_body h5{
	font-weight:bold;
	text-align:center;
	display:inline-block;
	width:380px;
	margin:20px auto;
}
.offer_body h5 p:nth-child(2){
	font-size:16px;
	color:#ae1919;
}
.offer_consult .consult_img{
	margin:50px auto;
}
/*------------flow--------------*/
.flow{
	margin-top:50px;
	background-color:#797979;
	padding-bottom:50px;
}
.flow .title{
	color:white;
}
.flow .title h1{
	font-size:35px;
	padding:25px 0px;
}
.flow_contain{
	text-align:center;
	
}
.flow_body{
	text-align:left;
}
.flow_title{
	padding:5px 45px;
	background-color:#313131;
	    display: flex;
    align-items: center;
    justify-content: flex-start;
	font-family:'Ryumin Pro R';
}
.flow_subbody{
	padding:20px 45px;
	background-color:#cbcaca;
	display:flex;
}
.flow_subbody h4{
	flex:3;
}
.flow_subbody p{
	font-weight:bold;
}
.flow_contain .flow_body:nth-of-type(1) .flow_subbody{
	text-align:center;
	display:block;
}
.flow_title h1{
	    background-color: #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
	line-height:1.3;
	font-size:41px
}
.flow_title h2{
	color:white;
	    line-height: 1;
    padding-top: 5px;
    padding-left: 10px;
	font-size:40px;
	font-weight:normal;
}
.flow_img{
	width:200px;
	height:100%;
	flex:1;
}
.arrow_img{
	margin:10px auto;
}

/*-------faq----------------*/
.faq{
	background-color:#f0f0f0;
	padding-bottom:25px;
}
.faq .title h1{
	font-size:35px;
	padding:50px 0px;
	font-weight:bold;
}
.faq_contain{
	background-color:#fff;
	padding:45px;
}
.faq_body{
	font-family:'Ryumin Pro R';
	margin-bottom:50px;
}
.faq_body h2{
	font-size:23px;
	background-image:url(../images/Q.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:35px;
	border-bottom:1px dashed #464646;
	margin:25px auto;
}
.faq_body h3{
	font-size:17px;
	background-image:url(../images/a.png);
	background-repeat:no-repeat;
	background-position:left top;
	margin:10px auto;
	padding-left:30px;
}
.consult_div img{
	margin:30px auto;
}
.consult_div h2{
	color:#ae1919;
	font-size:25px;
	font-weight:bold;
	margin:25px auto;
}
.consult_div h1{
	color:#ae1919;
	font-size:40px;
	font-weight:bolder;
}

/*---------company----------------*/
.company{
	padding-bottom:50px;
}
.company .title h1{
	font-size:35px;
	font-weight:bold;
	padding:50px 0px;
}
.companybody table{
	width:100%;
	font-size:18px;
}
.companybody table td{
	padding:25px 0px;
	border:1px solid #464646;
}
.companybody table td:nth-child(1){
	text-align:center;
	font-weight:bold;
	width:20%;
}
.companybody table td:nth-child(2){
	width:75%;
	padding-left:5%
}



/*------------------/
/		BLUE 		/
/------------------*/

.blue_secrecy_point_div{
	background-image:url(../images/backsquare_blue.png);
	
}
.blue_points{
	background-color:#e2e9f2;
}
.blue_points_body{
	background-color:#c7d4e4;
}
.blue_voice{
	background-color:#e2e9f2;
}
.blue_offer_body h5 p:nth-child(2){
	color:#2466b7;
}
.blue_flow{
	background-color:#7495bd;
}
.blue_flow .flow_title{
	background-color:#2466b7;
}
.blue_flow .flow_title h1{
	color:#2466b7;
}