@charset "UTF-8";

* { margin: 0; padding: 0;}

html, body { height: 100%;}

body { margin: 0; padding: 0; font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif; font-weight: 600; color: #333; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.8em;}

a:link { color: #2b92d3; text-decoration: none;}
a:visited { color: #2b92d3;}
a:hover { color: #2b92d3; }
a:active { color: #2b92d3;}

p { margin: 0; padding: 0; font-size: 14px; line-height: 1.8em; letter-spacing: 0.06em;}

footer { padding: 30px 0; background: #FFF; font-size: 12px;}

/* 章 */
.container_wrap { padding: 40px 0 50px 0;}
.container_wrap.blue { padding: 40px 0 50px 0; background: #F1F7FA;}
.container_wrap.yellow { padding: 40px 0 50px 0; background: #FFF9F0;}

@media screen and (max-width: 768px) {
.container_wrap { padding-top: 20px;}
}

h3.rg { font-size: 24px; line-height: 1.4em; font-weight: bold; color: #3d88a1; margin: 0 0 20px 0; padding: 0;}

@media (min-width: 1200px) {
  .container { width: 1080px !important;}
}

.orign-loader { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: url(../images/loader.gif) center no-repeat #fff;}

/* 同列天地合わせ */
.inside { background: #FFFFFF; height: 100%; box-shadow: 0 0 6px rgba(0,0,0,0.4);}
.content { padding: 20px 28px;}

.row.autoheigt { height: 100%;}
.colautoheight01 { height: 100%; margin-bottom: 10px !important;}
.colautoheight02 { height: 100%; margin-bottom: 10px !important;}
.colautoheight03 { height: 100%; margin-bottom: 10px !important;}

/* pc版クリアランス */
.cl_pc30 { margin-bottom: 30px !important;}

@media screen and (max-width: 768px) {
.cl_pc30 { margin-bottom: 0 !important;}
}

/* smp版クリアランス */
.cl_sm20 { margin-bottom: 0px !important;}
.cl_sm40 { margin-bottom: 0px !important;}

@media screen and (max-width: 768px) {
.cl_sm20 { margin-bottom: 20px !important;}	
.cl_sm40 { margin-bottom: 40px !important;}	
}

/* smp版改行 */
br.brlong { width: 0 !important; height: 0 !important; display: none !important; letter-spacing: -3em !important;}

@media screen and (max-width: 768px) {
br.brlong { display: block !important;}	
}

/* 傍点 */
span.kenten_pink {
    padding: 0.3em 0;
    background-repeat: repeat-x;
    background-size: 1em 0.2em;
    background-position: top left;
    background-image: -webkit-gradient(radial,center center,0,center center,1.5,from(#FA5174),color-stop(0.5,#45586a),color-stop(0.9,transparent),to(transparent));
    background-image: -webkit-radial-gradient(center center, 0.1em 0.1em, #FA5174, #FA5174 95%, transparent 95%, transparent);
    background-image: radial-gradient(0.1em 0.1em at center center, #FA5174, #FA5174 95%, transparent);
}

span.kenten_blue {
    padding: 0.3em 0;
    background-repeat: repeat-x;
    background-size: 1em 0.2em;
    background-position: top left;
    background-image: -webkit-gradient(radial,center center,0,center center,1.5,from(#1596c0),color-stop(0.5,#1596c0),color-stop(0.9,transparent),to(transparent));
    background-image: -webkit-radial-gradient(center center, 0.1em 0.1em,#1596c0, #1596c0 95%, transparent 95%, transparent);
    background-image: radial-gradient(0.1em 0.1em at center center, #1596c0, #1596c0 95%, transparent);
}

/* ヘッダ */
header { width: 100%; height: 60px; z-index:2; position:fixed; background: rgba(255,255,255,0.9); font-size: 0; line-height: 0;}
header h1 { margin: 8px 0 0 10px; padding: 0;}
header h1 a img { height:40px; width: auto;}
header #headbtn { height: 40px; position: absolute; top: 10px; right: 120px;}
header #headbtn img { height: 40px; width: auto;}

header #headbtn_s { display: none;}

/* メニューボタン */
#navToggle { display: block; position:absolute; right: 0; top: 0; width: 100px; height: 60px; background: #15A3A0; text-align: center; font-size: 14px; color: #FFF; padding-top: 30px; cursor:pointer;}

@media screen and (max-width: 768px) {
#navToggle { width: 70px; font-size: 14px; font-weight: bold;}
header #headbtn { display: none;}
header #headbtn_s { display: block; height: 40px; position: absolute; top: 10px; right: 80px;}
header #headbtn_s img { height: 40px; width: auto;}
}

/* ナビゲーションメニュー */
header nav { position: absolute; right: -100%; top: 60px; background: rgba(255,255,255,1.0); width: 100%; padding: 0 10px; -webkit-transition:.5s ease-in-out; -moz-transition:.5s ease-in-out; -o-transition:.5s ease-in-out; transition:.5s ease-in-out; text-align: center;}

.openNav nav { -moz-transform: translateX(-100%); -webkit-transform: translateX(-100%); transform: translateX(-100%);}
#cover { display: none; width: 100%; height: 100%; background: rgba(0,0,0,.7); position: fixed; z-index: 1;}
#cover.openNav { display: block;}
	
header ul { margin: 0; padding: 0; list-style-type: none;}
header ul li { display:block; margin:0; border-bottom: dotted 1px #DDD; padding: 30px 0; font-size: 20px;}
header ul li a { display:block;}

@media screen and (max-width: 768px) {
header ul li { padding: 20px 0; font-size: 16px;}
}

/* PC_SMPアコーディオン */
dl.accordion_a01 { width: 100%; margin-bottom: 30px;}
dl.accordion_a01 dt { padding: 20px 0; color: #43A7CC; border: 2px solid #4BA8C8; cursor: pointer; border-radius: 60px; background: #FFFFFF url(../images/bg_zoomup.gif) 97% center no-repeat;}
dl.accordion_a01 dt p { font-size: 17px; line-height: 1.0em; letter-spacing: 0em; text-align: center;}
dl.accordion_a01 dt.open { background: #FFFFFF url(../images/bg_zoomin.gif) 97% center no-repeat;}
dl.accordion_a01 dd { background:#FFF; margin-top: 10px; padding:20px;  display:none;}
dl.accordion_a01 dd h3 { font-size: 16px; line-height: 1.4em; font-weight: bold; color: #3d88a1; margin: 0 0 20px 0; padding: 0;}

@media screen and (max-width: 768px) {
dl.accordion_a01 { width: 100%; margin-bottom: 20px;}
dl.accordion_a01 dt { padding: 10px 0;}
dl.accordion_a01 dt p { font-size: 15px; width: 74%; line-height: 1.4em; margin-right: auto; margin-left: auto;}
}

/* アコーディオン */
dl.accordion { width: 100%; margin-bottom: 10px;}
dl.accordion dt { padding: 15px 0 12px 20px; color: #FFFFFF; font-size: 18px; line-height: 1.0em; text-align: left; border-bottom: 3px solid #4BA8C8; cursor: pointer;
background: #7fc7dd;
background: -moz-linear-gradient(top, #7fc7dd 0%, #76b4c8 100%);
background: -webkit-linear-gradient(top, #7fc7dd 0%,#76b4c8 100%);
background: linear-gradient(to bottom, #7fc7dd 0%,#76b4c8 100%); border-radius: 50px;}
dl.accordion dt span.qindent { margin-left: -20px; text-indent: 20px;}
dl.accordion dt p { font-size: 17px; line-height: 1.0em; letter-spacing: 0em; text-align: center;}
dl.accordion dt.open { border-top-right-radius: 20px; border-top-left-radius: 20px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
dl.accordion dd { background:#FFF; padding:30px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; display:none;}
dl.accordion dd h3 { font-size: 16px; line-height: 1.4em; font-weight: bold; color: #3d88a1; margin: 0 0 20px 0; padding: 0;}

@media screen and (max-width: 768px) {
dl.accordion dt p { font-size: 15px; line-height: 1.4em; width: 90%; margin-right: auto; margin-left: auto; text-align: left;}
}

.accordion { display: none;}

/* pc版アコーディオン開放 */
dl.accordionopen { width: 100%; margin-bottom: 30px;}
dl.accordionopen dt { padding: 15px 0 12px 0; color: #FFFFFF; font-size: 16px; line-height: 1.2em; text-align: center; background: #4BA8C8;}
dl.accordionopen dd { background:#FFF; padding: 15px;}

@media screen and (max-width: 992px) {
.accordion { display: block;}
.accordionopen { display: none;}
}

/* 申し込みボタン */
a.aply_btn { display: block; padding: 15px;
background: #F4446A;
background:-moz-linear-gradient(top, #FF607F, #F4446A);
background: -webkit-gradient(linear, left top, left bottom, from(#FF607F), to(#F4446A));
background: linear-gradient(to bottom, #FF607F, #F4446A);
border-bottom: 2px solid #CF3959; border-radius: 80px; text-align: center;}

a.aply_btn p { font-size: 14px; font-weight: bold;}
a.aply_btn h4 { font-size: 16px; font-weight: bold;}

a.aply_btn:link { color: #FFF; text-decoration: none;}
a.aply_btn:visited { color: #FFF;}
a.aply_btn:hover { color: #FFE599;}
a.aply_btn:active { color: #FFE599;}

a.aply_btn_s { display: none;}

@media screen and (max-width: 992px) {
a.aply_btn { display: none;}
a.aply_btn_s { display: block; padding: 15px;
background: #F4446A; /* Old browsers */
background:-moz-linear-gradient(top, #FF607F, #F4446A);
background: -webkit-gradient(linear, left top, left bottom, from(#FF607F), to(#F4446A));
background: linear-gradient(to bottom, #FF607F, #F4446A);
border-bottom: 2px solid #CF3959; border-radius: 80px; text-align: center; margin: 0 30px;}

a.aply_btn_s p { font-size: 14px; font-weight: bold;}
a.aply_btn_s h4 {  font-size: 15px; font-weight: bold;}

a.aply_btn_s:link { color: #FFF; text-decoration: none;}
a.aply_btn_s:visited { color: #FFF;}
a.aply_btn_s:hover { color: #FFF;}
a.aply_btn_s:active { color: #FFF;}
}

/* 宮城×転職　画像 */
#visual { height: 500px !important; text-align: center; background:url(../images/topvisual.jpg) no-repeat; background-size: cover !important; background-position: center center !important; position: relative;}
#visual h1 { font-size: 110px; font-weight: bold; color: #FFFFFF; letter-spacing: 0.05em; text-shadow: 0 0 10px #000000; margin: 0 0 20px 0; padding: 90px 0 0 0;}
#visual h2 { font-size: 28px; color: #FFFFFF; font-weight: bold; text-shadow: 0 0 10px #000000; margin: 0 0 40px 0; line-height: 1.4}
#visual h3 { font-size: 16px; color: #FFFFFF; font-weight: bold; line-height: 1.8em; text-shadow: 0 0 10px #000000;}

#visual .h3panel { height: 140px; width: 100%; padding-top: 10px; background: rgba(0,0,0,0.4); position: absolute; bottom: 0; left: 0; z-index:1;}

#visualtie { height: 74px; margin-top: 60px; background: url(../images/bg_visualtie.png) repeat; padding: 23px 0 0 0 !important; text-align: center;}
#visualtie p { font-size: 24px; color: #FFFFFF; font-weight: bold; margin: 0 !important; line-height: 1.2em;}

@media screen and (max-width: 768px) {
#visual { height: 380px !important;}
#visual h1 { font-size: 58px;  padding-top: 60px;}
#visual h2 { font-size: 15px; line-height: 1.5!important;}
#visual h3 { font-size: 13px;}
#visual .h3panel { height: 170px; padding-top: 0px;}
#visualtie { height: 86px;}
#visualtie p { font-size: 19px;}
}

/* 最大級 */
#chap02 h2 { font-size: 41px; line-height: 1.3em; text-align: center; color: #45586a; font-weight: bold;}
#chap02 h2 span.conj { font-size: 30px;}
#chap02 h2 span.strg, #chap02 h3 span.strg { color: #f1466B;}
#chap02 h3 { font-size: 18px; color: #45586a; line-height: 1.4em; text-align: center; margin: -5px 0 30px 0; font-weight: bold;}

.accdbox { margin-bottom: 50px; padding: 20px 35px 10px 35px; border: 3px solid #4BA8C8; background: url(../images/bg_chap01.png) repeat;}

/* IE9 */
.accdbox:not(:target) {
  padding: 20px 20px 10px 20px\9;
}
#chap02 h2:not(:target) {
  font-size: 37px\9;
}

/* IE10以降 */
@media all and (-ms-high-contrast:none){
.accdbox { padding: 20px 20px 10px 20px;}
#chap02 h2 { font-size: 37px;}
}

@media screen and (max-width: 1199px) {
#chap02 h2 { font-size: 38px;}
#chap02 h3 { font-size: 16px;}
}

@media screen and (max-width: 768px) {
#chap02 h2 { font-size: 25px;}
#chap02 h2 span.conj { font-size: 22px;}

.accdbox { padding: 20px 15px 10px 15px; margin-bottom: 20px;}
}

/* 求人数の違い */
#chap03 h2 { font-size: 34px; line-height: 1.3em; text-align: center; color: #43586C; font-weight: bold; margin-bottom: 50px;}
#chap03 h2 span.conj { font-size: 28px;}
#chap03 p { font-size: 16px; text-align: center; margin-bottom: 50px;}

@media screen and (max-width: 768px) {
#chap03 h2 { font-size: 27px;}
#chap03 h2 span.conj { font-size: 23px;}
#chap03 p { font-size: 14px; text-align: center; margin-bottom: 50px;}
}

@media screen and (max-width: 320px) {
#chap03 h2 { font-size: 24px;}
#chap03 p { font-size: 13px; text-align: center; margin-bottom: 50px;}
}

/* サービス内容 */
#chap04 h2 { font-size: 32px; line-height: 1.3em; text-align: center; color: #142a19; font-weight: bold; margin-bottom: 50px;}
#chap04 h2 span.conj { font-size: 28px;}
#chap04 h2 span.strg { color: #1596c0;}
#chap04 p.catch { font-size: 16px; text-align: center; margin-bottom: 50px;}
#chap04 h3 { font-size: 24px; line-height: 1.2em; font-weight: bold; color: #72b4ca; margin: -2px 0 20px 0; padding: 0;}
#chap04 h3 span { font-size: 12px; line-height: 1.0em; font-weight: bold; color: #FFF; margin: 0; padding: 3px 20px; background: #72b4ca;}

@media screen and (max-width: 768px) {
#chap04 h2 { font-size: 26px;}
#chap04 h2 span.conj { font-size: 23px;}
#chap04 p.catch { font-size: 14px;}
#chap04 h3 { font-size: 19px;}
}

/* 95%以上 */
.container_wrap.bild { background: url(../images/bg_chap05.jpg) no-repeat; background-size: cover; background-position: center center;}
#chap05 h2 { font-size: 34px; line-height: 1.3em; text-align: center; color: #FFF; font-weight: bold; margin-bottom: 50px;}
#chap05 h2 span.conj { font-size: 30px;}
#chap05 h2 span.strg { font-size: 42px; background: url(../images/bg_title_chap05.png) repeat-x; padding: 0 5px;}
#chap05 p.catch { font-size: 16px; color: #FFF; text-align: center; margin-bottom: 50px;}

@media screen and (max-width: 768px) {
#chap05 h2 { font-size: 27px; line-height: 1.3em; text-align: center; color: #FFF; font-weight: bold; margin-bottom: 50px;}
#chap05 h2 span.conj { font-size: 24px;}
#chap05 h2 span.strg { font-size: 34px;}
#chap05 p.catch { font-size: 14px;}
}

/* 転職者成功者の声 */
.container_wrap.voice { background: url(../images/bg_chap06.png) repeat;}
#chap06 h2 { font-size: 38px; line-height: 1.3em; text-align: center; color: #45586a; font-weight: bold; margin-bottom: 50px;}
#chap06 h2 span.conj { font-size: 34px;}

.voicebox { background: url(../images/bg_voice.gif) repeat; padding: 30px 45px 0 50px; position: relative; box-shadow: 0 0 10px #000;}
.voicebox .deco { width: 28px; height: 28px; background: url(../images/deco_chap06.png) no-repeat; position: absolute; top: 0; left: 0; z-index: 1;}
.face_prof { position: relative; top: -40px;}
.face { width: 25%; height: auto; float: right;}
.prof { width: 75%; margin-top: 40px; height: auto; float: left;}
.prof h3 { font-size: 32px; letter-spacing: -0.08em; font-weight: bold; margin-bottom: 30px;}
.prof .h3_v01 { color: #72b2ca;}
.prof .h3_v02 { color: #69bc80;}
.prof .h3_v03 { color: #537cae;}
.voice { padding-top: 30px; position: relative; top: -40px;}

@media screen and (max-width: 1199px) {
.prof { width: 75%; margin-top: 20px; height: auto; float: left;}
}

@media screen and (max-width: 768px) {
#chap06 h2 { font-size: 30px; margin-top: -15px;}
#chap06 h2 span.conj { font-size: 27px;}
.face { width: 40%; height: auto; margin: -10px auto 0 auto; float: none;}
.prof { width: 100%; height: auto; text-align: center; position: relative; top: -15px;}
.prof h3 { font-size: 20px;}
.voicebox { padding: 30px 30px 0 30px;}
}

/* 3つのポイント */
#chap07 h2 { font-size: 32px; line-height: 1.3em; text-align: center; color: #45586a; font-weight: bold; margin-bottom: 50px;}
#chap07 h2 span.conj { font-size: 28px;}
#chap07 h2 span.strg { font-size: 53px; font-style: italic; letter-spacing: 0.1em; color: #f34368;}
#chap07 h2 span.conj02 { font-size: 32px; color: #3d88a1;}
#chap07 h2 span.strg02 { font-size: 36px; color: #3d88a1;}
#chap07 p.catch { font-size: 16px; text-align: center; margin-bottom: 50px;}
#chap07 h3 { font-size: 24px; line-height: 1.2em; font-weight: bold; color: #3d88a1; margin: -2px 0 20px 0; padding: 0;}
#chap07 h3 span { font-size: 12px; line-height: 1.0em; font-weight: bold; color: #FFF; margin: 0 0 10px 0; padding: 3px 20px; background: #f34368;}

@media screen and (max-width: 768px) {
#chap07 h2 { font-size: 26px; margin-top: -20px;}
#chap07 h2 span.conj { font-size: 22px;}
#chap07 h2 span.strg { font-size: 42px;}
#chap07 h2 span.conj02 { font-size: 26px;}
#chap07 h2 span.strg02 { font-size: 29px;}
#chap07 p.catch { font-size: 14px;}
#chap07 h3 { font-size: 19px;}	
}

/* メディア */
.container_wrap.media { background: url(../images/bg_chap08.png) repeat;}
#chap08 h2 { position: relative; font-size: 32px; line-height: 1.3em; text-align: center; color: #FFF; font-weight: bold; margin-bottom: 50px; padding: 25px 0; background-color: #2f87a5; border: 4px solid #FFF; box-shadow: 0 0 10px #000000;}
#chap08 h2::after { position: absolute; bottom: -35px; left: 50%; margin-left: -15px; content: ''; width: 0; height: 0; border: 15px solid transparent; border-top: 30px solid #2f87a5;}
#chap08 h2::before { position: absolute; bottom: -45px; left: 50%; margin-left: -15px; content: ''; width: 0; height: 0; border: 15px solid transparent; border-top: 30px solid #FFF;}

#chap08 h2 span.base { background: url(../images/bg_title_chap8.png) repeat-x; background-position: bottom; padding: 0 10px;} 
#chap08 h2 span.conj { font-size: 28px;}

#chap08 h3 { font-size: 22px; font-weight: bold; color: #FFF; margin-bottom: 20px;}
#chap08 h3 span.base { background: url(../images/bg_title_chap8.png) repeat-x; background-position: bottom; padding: 0 10px;} 
#chap08 h3 span.conj { font-size: 14px;}

#chap08 h4 span.kkm { position: relative; font-size: 14px; line-height: 1.0em; color: #FFF; font-weight: bold; padding: 7px 10px; background-color: #2f87a5; border: 2px solid #FFF;}
#chap08 h4 span.kkm::after { position: absolute; bottom: -12px; left: 50%; margin-left: -5px; content: ''; width: 0; height: 0; border: 5px solid transparent; border-top: 10px solid #2f87a5;}
#chap08 h4 span.kkm::before { position: absolute; bottom: -16px; left: 50%; margin-left: -5px; content: ''; width: 0; height: 0; border: 5px solid transparent; border-top: 10px solid #FFF;}

#chap08 h4 span.base { background: url(../images/bg_title_chap8.png) repeat-x; background-position: bottom; padding: 0 10px;}

#chap08 p { font-size: 16px; margin: 30px 0 20px 0; color: #FFF; line-height: 1.4em;}

/* 動画iframe */
.youtube { position: relative; width: 100%; padding-top: 56.25%;}
.youtube iframe { position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;}

/* IE9 */
#chap08 h3 span.base:not(:target) {
   background-position: 30px\9;
}
#chap08 h2 span.base:not(:target) {
   background-position: 30px\9;
}

/* IE10以降 */
@media all and (-ms-high-contrast:none){
#chap08 h3 span.base {
     background-position: 30px;
  }
#chap08 h2 span.base {
	background-position: 30px
}
}

@media screen and (max-width: 768px) {
#chap08 h2 { font-size: 26px;}
#chap08 h2 span.conj { font-size: 22px;}
#chap08 h3 { font-size: 18px;}	
}

/* 採用までの流れ */
.container_wrap.flow { background: url(../images/bg_chap09.png) repeat;}
#chap09 h2 { font-size: 35px; line-height: 1.3em; text-align: center; color: #45586a; font-weight: bold; margin-bottom: 50px;}
#chap09 h2 span.conj { font-size: 29px;}

#chap09 h3 { font-size: 22px; margin: 0; font-weight: bold; color: #FFF; padding: 30px; background: #4BA8C8;}
#chap09 h3 span.conj { font-size: 16px;}

.flowbox { border: 4px solid #4BA8C8; padding: 15px 25px 25px 15px; color: #227794; margin-bottom: 30px; background: #FFF; position: relative;}
.flowbox::before { position: absolute; bottom: -39px; left: 50%; margin-left: -18px; content: ''; width: 0; height: 0; border: 20px solid transparent; border-top: 18px solid #4BA8C8;}
.flowbox::after { position: absolute; bottom: -34px; left: 50%; margin-left: -18px; content: ''; width: 0; height: 0; border: 20px solid transparent; border-top: 18px solid #FFF;}
.flowboxlast { color: #227794; border: 4px solid #4BA8C8; padding: 15px; background: #FFFFFF; position: relative;}

@media screen and (max-width: 768px) {
#chap09 h2 { font-size: 28px;}
#chap09 h2 span.conj { font-size: 23px;}
#chap09 h3 { font-size: 18px; padding: 15px 0 15px 50px;
padding-left:5em;
text-indent:-4.2em;}
}

/* よくある質問 */
.container_wrap.faq { background: url(../images/bg_chap10.jpg) no-repeat; background-size: cover; background-position: center center;}
#chap10 h2 { font-size: 35px; line-height: 1.3em; text-align: center; color: #333; font-weight: bold; margin-bottom: 50px;}
#chap10 dl.accordionopen { width: 100%; margin-bottom: 30px;}
#chap10 dl.accordionopen dt { padding: 15px 20px 12px 50px; color: #FFFFFF; font-size: 16px; line-height: 1.2em; text-align: left; background: #4BA8C8;}
#chap10 dl.accordionopen dt span.qindent { margin-left: -32px; text-indent: 5px;}
#chap10 dl.accordionopen dd { background:#FFF; padding: 30px;}
#chap10 dl.accordionopen dd h3 { font-size: 16px; font-weight: bold; color: #3d88a1; margin: 0 0 20px 0; padding: 0;}

@media screen and (max-width: 768px) {
#chap10 h2 { font-size: 28px;}
}

/* 大切にしていること */
.container_wrap.phlo { background: url(../images/bg_chap11.jpg) no-repeat; background-size: cover; background-position: center center;}
#chap11 h2 { font-size: 34px; line-height: 1.3em; text-align: center; color: #FFF; font-weight: bold;}
#chap11 h2 span.conj { font-size: 30px;}
#chap11 h3 { font-size: 19px; line-height: 1.3em; text-align: center; color: #FFF; font-weight: bold; margin-bottom: 70px;}
#chap11 p { font-size: 16px; color: #FFF; margin: 0;}
#chap11 p strong { color: #f6ff00;}

.smpphlo { display: none;}

@media screen and (max-width: 768px) {
.pcphlo { display: none;}
.smpphlo { display: block;}

#chap11 h2 { font-size: 27px; line-height: 1.3em; text-align: center; color: #FFF; font-weight: bold;}
#chap11 h2 span.conj { font-size: 24px;}
#chap11 h3 { font-size: 15px;}
#chap11 p { font-size: 14px;}
}

/* 宮城×転職下画像 */
#visual_undr { height: 350px; text-align: center;background:url(../images/topvisual.jpg) no-repeat; background-size: cover;background-position: center center;}
#visual_undr h1 { font-size: 80px; font-weight: bold; color: #FFFFFF; letter-spacing: 0.05em; text-shadow: 0 0 10px #000000; margin: 0 0 20px 0; padding: 90px 0 0 0;}
#visual_undr h2 { font-size: 30px; color: #FFFFFF; font-weight: bold; text-shadow: 0 0 10px #000000; margin: 0;}

@media screen and (max-width: 768px) {
#visual_undr { height: 260px;}
#visual_undr h1 { font-size: 50px;  padding-top: 80px;}
#visual_undr h2 { font-size: 18px;}
}

/* 求人一覧 */
#chap12 h2 { position: absolute; width: 97.2%; font-size: 32px; line-height: 1.3em; text-align: center; color: #FFF; font-weight: bold; padding: 20px 0; background-color: rgba(40,40,40,.6); border: 4px solid #184755; top:-105px;}
#chap12 h2::after { position: absolute; bottom: -35px; left: 50%; margin-left: -15px; content: ''; width: 0; height: 0; border: 15px solid transparent; border-top: 30px solid #7E7E7E;}
#chap12 h2::before { position: absolute; bottom: -45px; left: 50%; margin-left: -15px; content: ''; width: 0; height: 0; border: 15px solid transparent; border-top: 30px solid #184755;}

#chap12 h2 span.strg { color: #FFFF00;} 
#chap12 h2 span.conj { font-size: 28px;}

@media screen and (max-width: 768px) {
#chap12 h2 { font-size: 28px; padding: 15px 0; top:-80px;}
#chap09 h2 span.conj { font-size: 23px;}
}

a.recrt { display: table; width: 100%; background: url(../images/bg_list.png) repeat-x bottom left; border-radius: 6px; padding: 0; margin-bottom: 30px; cursor: pointer; box-shadow: 0 0 10px #333;}
a.recrt .recinfo { display: table-cell; vertical-align: middle; width: 90% !important; height: 100%;}
a.recrt .recbtn { display: table-cell; width: 10%; height: 100%; border-radius: 0 6px 6px 0; background: #FFFFFF; vertical-align: middle; text-align: center;}
a.recrt .recbtn img { width: 50%; height: auto;}

a.recrt .recinfo h3 { font-size: 16px; margin: 0; padding: 0; line-height: 1.4em; color: #e2e2e2; font-weight: bold; padding: 20px;}
a.recrt .recinfo p { font-size: 12px; margin: 0; color: #333; padding: 10px 0 10px 20px;}
a.recrt .recinfo p span { color: #F44368;}

a.recrt:link { color: #333; text-decoration: none;}
a.recrt:hover { color: #333; text-decoration: none;}
a.recrt:visited { color: #333; text-decoration: none;}
a.recrt:active { color: #333; text-decoration: none;}

/* 求人掲載数 */
.container_wrap.resume { background: url(../images/bg_chap13.jpg) no-repeat; background-size: cover; background-position: center center;}
#chap13 h2 { font-size: 36px; line-height: 1.3em; text-align: center; color: #FFF; font-weight: bold; margin-bottom: 50px;}
#chap13 h2 span.conj { font-size: 28px;}
#chap13 h2 span.strg { color: #f8ff36;}
#chap13 p { font-size: 16px; color: #FFF; text-align: center; margin-bottom: 50px;}

@media screen and (max-width: 768px) {
#foot p img { margin-bottom: 5px;}
#foot p { text-align: center !important;}
}

@media screen and (max-width: 1199px) {
#chap12 h2 { width: 97.0%;}
}

@media screen and (max-width: 991px) {
#chap12 h2 { width: 96.0%;}
}

@media screen and (max-width: 768px) {
#chap13 h2 { font-size: 29px; margin-bottom: 20px;}
#chap13 h2 span.conj { font-size: 22px;}
#chap13 p { font-size: 14px; margin-bottom: 25px;}
#chap12 h2 { width: 94.0%;}
}

@media screen and (max-width: 320px) {
#chap13 h2 { font-size: 24px;}
}








/*石橋追加修正文*/




/* 求人一覧表示 */

.is-work-list:nth-last-child(1){
	display: none;	
}
@media screen and (max-width: 768px) and (min-width: 590px){
.is-work-list{
	width: 50%!important;
}
}

.pcphlo img{
	margin-left: auto;
	margin-right: auto;
}


/* コンサル紹介 */

.is-bg-move{
    background: url(../images/is_top_bn.png) repeat-x;
    height: 152px;
}
.is-bg-move-text{
    padding-top: 48px;
    text-align: center; 
    color: #fff; 
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; 
    font-size: 32px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    letter-spacing: 0px;
}
.is-bg-move-text>span{
    font-size: 25px;
}



.is-work-list-form{
	margin-top: 34px;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

.is-bg-move{
    background: url(../images/is_top_bn.png) repeat-x 0 0 / cover;
    height: 100px;
}
.is-bg-move-text{
    padding-top: 30px;
    text-align: center; 
    color: #fff; 
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; 
    font-size: 24px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    letter-spacing: 0px;
}
.is-bg-move-text>span{
    font-size: 18px;
}
}


@media screen and (max-width: 540px) {
.is-bg-move{
    background: url(../images/is_top_bn.png) repeat-x 0 0 / cover;
    height: 100px;
}
.is-bg-move-text{
    padding-top: 0px;
    text-align: center; 
    color: #fff; 
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; 
    font-size: 18px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    letter-spacing: 0px;
    line-height: 1.3;

    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Safari用 */
  transform: translateY(-50%);
    }
.is-bg-move-text>span{
    font-size: 18px;
}

}


