@charset "utf-8";

#interviewIndex.box{
border-top: none;
}

#interviewIndex.box h1{
	margin: 0px;
	padding: 0px;
	border-style: none;

}
#interviewIndex.box h1 img,
#interviewIndex.box ul li img{
width: 100%;
}


#interviewIndex.box ul li {
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #D3D6D8;
	background-color: #F2F3F4;
}
#interviewIndex.box ul li.odd {
	background-color:#E6E7E8;
}
#interviewIndex.box ul li .btnBox {
	margin: 0px;
	padding: 10px;
}
#interviewIndex.box ul li .btnBox ul {
	margin: 0px;
	padding: 0px;
}
#interviewIndex.box ul li .btnBox ul li {
	margin: 0 0 5px 0;
	padding: 0px;
    background-color: #FFF;
width:100%;
border-color:#313131;
border-width:2px;
border-radius:6px;
border-style:solid;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}
#interviewIndex.box ul li .btnBox ul li:last-child {
	margin-bottom: 0;
}
#interviewIndex.box ul li .btnBox ul li a {
    margin: 0px;
    padding: 6px 0;
    text-decoration: none;
    display: block;
    color: #000;
    text-align: center;
    background-image: url(../interview/img/ico_link.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 14px 14px;
}
#interviewIndex.box ul li .btnBox ul li a .sub{
    color: #313131;
    font-weight: 900;
}




/* ----------- page ------------- */

#interviewPage h1{
border-top: 3px solid #CB3636;
	background: url(../interview/img/ico.gif) no-repeat 8px center;
	background-size: 50px;
	padding: 12px 0px 12px 70px;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 900;
	border-bottom: 1px solid #D9D9D9;
}
#interviewPage p {
	font-size: 12px;
	line-height: 1.5;
	margin-top: 0px;
	margin-bottom: 15px;
}

#interviewPage h2{
margin-bottom: 20px;
}
#interviewPage h2 img{
	width: 100%;
	margin-bottom: 15px;
}

#interviewPage h3{
	color: #CB3636;
	font-size: 15px;
	line-height: 150%;
	margin: 15px 0px 10px;
	padding: 0px;
}
#interviewPage .Inner{
padding: 10px;
}



#interviewPage .name01 p,
#interviewPage .name02 p,
#interviewPage .name03 p,
#interviewPage .name04 p,
#interviewPage .name05 p {
	font-size: 12px;
	line-height: 1.5;
	margin-top: 0px;
	margin-bottom: 15px;
	padding-left: 3.5em;
		line-height: 150%;
}

#interviewPage .name01 p.name,
#interviewPage .name02 p.name,
#interviewPage .name03 p.name,
#interviewPage .name04 p.name,
#interviewPage .name05 p.name{
	float: left;
	font-weight: 900;
	padding-left: 0em;
	width: 3em;
	text-align: right;
}

#interviewPage.nameNarrow .name01 p.name,
#interviewPage.nameNarrow .name02 p.name,
#interviewPage.nameNarrow .name03 p.name,
#interviewPage.nameNarrow .name04 p.name,
#interviewPage.nameNarrow .name05 p.name{
	padding-left: 0em;
	width: 3.6em;
}

#interviewPage.nameNarrow .name01 p,
#interviewPage.nameNarrow .name02 p,
#interviewPage.nameNarrow .name03 p,
#interviewPage.nameNarrow .name04 p,
#interviewPage.nameNarrow .name05 p {
	padding-left: 4.2em;
}


#interviewPage .name01 .photoBox,
#interviewPage .name02 .photoBox,
#interviewPage .name03 .photoBox,
#interviewPage .name04 .photoBox,
#interviewPage .name05 .photoBox  {
	float: right;
	width: 40%;
	margin-left: 8px;
	text-align: center;
}
#interviewPage .name01 .photoBox p,
#interviewPage .name02 .photoBox p,
#interviewPage .name03 .photoBox p,
#interviewPage .name04 .photoBox p,
#interviewPage .name05 .photoBox p {
	padding: 0px;
	font-size: 10px;
	line-height: 110%;
}


#interviewPage .name01 .photoBox img,
#interviewPage .name02 .photoBox img,
#interviewPage .name03 .photoBox img,
#interviewPage .name04 .photoBox img,
#interviewPage .name05 .photoBox img {
width: 100%;
margin-bottom: 5px;
}


#interviewPage p.subTitle{
	font-weight: 900;
	text-indent: -1.2em;
	padding-left: 2em;
}





#interviewPage p.btnLink {
	margin: 0 20px 15px 20px;
	padding: 0px;
    background-image:-moz-linear-gradient(49% 38% -90deg,rgb(255,255,255) 0%,rgb(239,239,239) 100%); 
background-image:-webkit-gradient(linear,49% 38%,49% 98%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(239,239,239)));
background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(239,239,239) 100%);
background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(239,239,239) 100%);
background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(239,239,239) 100%);
background-image:linear-gradient(180deg,rgb(255,255,255) 0%,rgb(239,239,239) 100%);
border-color:rgb(200,0,0);
border-width:2px;
border-radius:6px;
border-style:solid;
-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.28);
-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.28);
box-shadow:1px 1px 2px rgba(0,0,0,0.28);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffefefef,GradientType=0)
	progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#47000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffefefef,GradientType=0)
	progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#47000000,Positive=true);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
#interviewPage p.btnLink a {
    margin: 0px;
    padding: 6px 0;
    text-decoration: none;
    display: block;
    color: #C80000;
    text-align: center;
    background-image: url(../interview/img/ico_link.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px 14px;
    font-weight: 900;
}


/* ----------- prof -------------- */


#interviewPage .profileBox {
	padding: 10px 0px;
	text-align: center;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #C60000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin: 15px 0px;
}
#interviewPage .profileBox .profileBoxSub {
	background-color: #FFFFFF;
	padding: 0px;
}
#interviewPage .profileBox .profileBoxDetail {
	padding: 0px;
	margin: 0px 12px;
	text-align: left;
}
#interviewPage .profileBox .txt {
	padding: 0px;
	margin: 0px;
	width: 690px;
}
#interviewPage .profileBox h4 {
	font-size: 13px;
	line-height: 120%;
	font-weight: 900;
	background-image: none;
	margin: 0px 0px 10px;
	padding: 0px;
	border-style: none;
}

#interviewPage .profileBox h4 .ss {
	font-size: 10px;
}
#interviewPage .profileBox  p  {
	margin: 0px;
}


#interviewPage p.summaryTxt{
	font-size: 10px;
}


a.btnBack{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 3px #808080;
	-moz-box-shadow: 0px 0px 3px #808080;
	box-shadow: 0px 0px 3px #808080;
	background-image: -moz-linear-gradient(top, #FFFFFF 30%, #f2f2f2 79%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FFFFFF), color-stop(0.79, #f2f2f2));
	padding: 10px 0px;
	font-size: 12px;
	color: #222222;
	text-align: center;
	display: block;
	margin: 5px 15px;
	text-decoration: none;
	font-weight: 900;
}


/* ------------- resume ------------------ */


#resumePage .box h3{
	font-size: 14px;
	line-height: 1.4;
	font-weight: 900;
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
	margin: 0px;
	background-image: none;
}


#resumePage .box h4{
	font-size: 12px;
	line-height: 1.4;
	font-weight: 900;
	margin: 30px 0px 10px;
	padding: 0px 0px 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
}

#resumePage .box h4:first-child{
margin-top: 0px;
}

#resumePage .box h5{

}

.bbRed{
	color: #C70000;
	font-weight: 900;
}


p.txtMore{
	text-align: center;
	margin-top: 15px;
}

p.txtMore a{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 3px #808080;
	-moz-box-shadow: 0px 0px 3px #808080;
	box-shadow: 0px 0px 3px #808080;
	background-image: -moz-linear-gradient(top, #FFFFFF 30%, #f2f2f2 79%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FFFFFF), color-stop(0.79, #f2f2f2));
	padding: 10px 0px;
	font-size: 12px;
	color: #222222;
	text-align: center;
	display: block;
	margin: 5px 15px;
	text-decoration: none;
	font-weight: 900;
}

#resumePage ul li{
	font-size: 12px;
	line-height: 140%;
	background: url(../images/point_05.gif) no-repeat 0px 8px;
	padding: 4px 0px 4px 10px;
}

#resumePage .box h4.q,
#tenshokuPage .box h4.q{
	background-image: -moz-linear-gradient(top, #FFFFFF 30%, #f2f2f2 79%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FFFFFF), color-stop(0.79, #f2f2f2));
	padding: 5px 8px 5px 2em;
	color: #222222;
	font-weight: 900;
	border-top: 3px solid #CB3636;
	margin: 0px;
	border-right: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	border-bottom-style: none;
	text-indent: -1.2em;
}
#resumePage .box h4.q img,
#tenshokuPage .box h4.q img{
width: 100%;
}




.hrCLEAR{
clear: both;
visibility:hidden;
}

#privatePage img.pctL{
width: 30%;
}

#privatePage p{
overflow: hidden;
}

ul.list01 {
	margin: 0px 0px 15px;
	padding: 0px;
}
ul.list01 li {
	font-size: 12px;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
.box .boxSub .qaInner{
	margin: 0px;
}
.box .boxSub .qaInner h4{
margin: 0px;
}

.qaInner img{
width: 100%;
}
