.adop-a{
    background: #c70000;
    padding: 11px 7px;
    font-size: 11px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    width: 43%;
    text-decoration: none;
    text-align: center;
    margin: 3px 0;
    box-shadow: 0 2px 0 #810202;
}
.adop-a:hover{
    background: rgba(129,2,2,1.0)
}

.adop-box{
    text-align: center;
}

.normal.recruit th{
    width: 48px;
    text-align: center!important;
}
.normal.recruit td{
    padding: 15px!important;
    line-height: 1.7!important;
    font-size: 13px!important;
    
}




