.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto!important;
}

/* ++++++++++++++++++++++++++++++++ menu ++++++++++++++++++++++++++++++++ */


#menu {
	margin: 0px;
	padding: 0px;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 9999;
	position: relative;
	background-color:#000000;
}
#menu #slidebtn {
	margin: 0px;
	padding: 0px;
	height: 30px;
	background-size: 12px 30px;
	box-sizing: border-box;
}
#menu #slidebtn a {
	margin: 0px;
	display: block;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
#menu #slidebtn a img {
	vertical-align:middle;
}
#menu #menuSub {
	margin: 0px;
	padding: 0px 10px 10px 10px;
	background-color: #000000;
	position: absolute;
	top: 30px;
	width: 100%;
	box-sizing: border-box;
	display:none;
}
#menu #menuSub p.btnClose {
	margin: 10px 0px 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.5;
	color: #FFF;
	text-align: center;
}
#menu #menuSub p.btnClose a {
	margin: 0px;
	padding: 0px;
	color: #FFF;
	text-decoration: none;
}
#menu #menuSub ul {
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	box-sizing:border-box;
}
#menu #menuSub ul li {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4F4F4F;
	box-sizing:border-box;
}
#menu #menuSub ul li a,
#menu #menuSub ul li strong {
	margin: 0px;
	padding: 10px;
	display: block;
	background-image: url(../images/point_03.png);
	background-repeat: no-repeat;
	color: #333333;
	text-decoration: none;
	background-position: right center;
	background-size: 18px 12px;
}
#menu #menuSub ul li.login a {
	margin: 0px;
	padding: 10px;
	display: block;
	background-image: url(../images/ico_login.png);
	background-repeat: no-repeat;
	color: #288EDA;
	text-decoration: none;
	background-position: right 10px center;
	background-size: 11px 12px;
    font-weight: 900;
}
#menu #menuSub ul li ul {
	margin: 0px;
	padding: 0px 10px 10px;
	box-sizing: border-box;
}
#menu #menuSub ul li ul li {
	margin: 5px 2% 0px 0%;
	padding: 0px;
	float: left;
	width: 49%;
	box-sizing: border-box;
	border: 1px solid #E1E1E1;
}
#menu #menuSub ul li ul li:nth-child(even) {
	margin-right: 0px;
}
#menu #menuSub ul li ul li.wide {
	float: none;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
#menu #menuSub ul li ul li.wide:nth-child(even)  {
	margin-right: 0px;
	margin-left: 0px;
	
}
#menu #menuSub ul li ul li a {
	margin: 0px;
	padding: 5px 10px;
	display: block;
}




/* ++++++++++++++++++++++++++++++++ header ++++++++++++++++++++++++++++++++ */

header,
footer {
	margin: 0px;
	padding: 10px;
}
header{
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #C60000;
}
header p.logo,
footer p.logo {
	margin: 0px;
	padding: 0px;
	float: left;
}
header p.btnLogin,
footer p.btnLogin {
	margin: 0;
	padding: 0px;
	float: right;
}
header h1.txt,
footer p.txt {
	margin: 8px 0px 0px 0px;
	padding: 0px;
	font-size: 10px;
	line-height: 1.5;
    clear: both;
    font-weight: 500;
}
footer p.txt {
	margin-bottom: 10px;
}
footer p#copy {
	margin: 0px;
	padding: 10px 0px 0px;
	clear: both;
	font-size: 10px;
	color: #A7A7A7;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EAEAEA;
}


/* ++++++++++++++++++++++++++++++++ contents ++++++++++++++++++++++++++++++++ */


#co {
	margin: 10px 10px 0px;
	padding: 0px;
}
#co p {
	padding: 0px;
	font-size: 12px;
	line-height: 1.4;
	margin-top: 0px;
	margin-bottom: 15px;
}
#co h2{
	margin: 0px 0px 10px;
	padding: 12px 12px 12px 35px;
	background-color: #343434;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 900;
	color: #FFF;
	background-image: url(../images/point_01.png);
	background-repeat: no-repeat;
	background-position: 12px 12px;
	background-size: 15px 15px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #C60000;
}


/* ++++++++++++++++++++++++++++++++ main ++++++++++++++++++++++++++++++++ */


#main {
	margin: 0px;
	padding: 0px;
}
#main p {
	margin: 0px;
	padding: 0px;
}
#mainCommon {
	margin: 0px;
	padding: 15px 0px 15px 18px;
	background-color: #272727;
}
#mainCommon h2 {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 900;
	color: #FFF;
}


/* ++++++++++++++++++++++++++++++++ co ++++++++++++++++++++++++++++++++ */


#co .bnrBox {
	margin: 0px;
	padding: 0px;
}
#co .bnrBox p {
	margin: 0px 0px 6px;
	padding: 0px;
}
#co .bnrBox ul {
	margin: 0px;
	padding: 0px;
}
#co .bnrBox ul li {
	margin: 0px 2% 10px 0px;
	padding: 0px;
	float: left;
	width: 48%;
}
#co .bnrBox ul li:nth-child(even) {
	margin: 0px 0px 10px 2%;
	padding: 0px;
	float: left;
	width: 48%;
}
#co #deirukotoBox {
	margin: 0px 0px 10px;
	padding: 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #D33333;
}
#co #dekirukotoBox h2 {
	margin: 0px;
	padding: 12px 0px;
	text-align: center;
	background-color: transparent;
	background-image: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#co #dekirukotoBox p {
	margin: 0px 0px 15px;
	padding: 0px;
}
#co #dekirukotoBox ul {
	margin: 0px;
	padding: 0px;
}
#co #dekirukotoBox ul li {
	margin: 0px 0px 5px;
	padding: 0px;
}
#co #soudankaiBox {
	margin: 0px 0px 10px;
	padding: 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #D33333;
}
#co #soudankaiBox h2 {
	margin: 0px;
	padding: 12px 0px;
	text-align: center;
	background-color: transparent;
	background-image: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#co #soudankaiBox p {
	margin: 0px 0px 15px;
	padding: 0px;
}
#co #soudankaiBox ul {
	margin: 0px;
	padding: 0px;
}
#co #soudankaiBox ul li {
	margin: 0px 0px 5px;
	padding: 0px;
}
#co #newsBox{
	margin: 0px 0px 10px;
	padding: 0px;
	position: relative;
}
#co #newsBox h2{
	margin: 0px;
}
#co #newsBox .btn{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 12px;
	right: 15px;
	width: 96px;
}
#co #newsBox .btn ul{
	margin: 0px;
	padding: 0px;
}
#co #newsBox .btn ul li{
	margin: 0px;
	padding: 0px;
	float: left;
	background-color: transparent;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#co #newsBox .btn ul li:nth-child(odd){
	background-color: transparent;
}

#co #newsBox .btn ul li a{
	margin: 0px;
	padding: 0px;
}
#co #newsBox ul,
ul#newsBox{
	margin: 0px;
	padding: 0px;
}
#co #newsBox ul li,
ul#newsBox li{
	margin: 0px;
	padding: 0px;
	background-color: #F5F5F5;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D0D0D0;
}
#co #newsBox ul li:nth-child(odd),
ul#newsBox li:nth-child(odd){
	background-color: #FFFFFF;
}
ul#newsBox li:first-child{
	border-top-width: 0px;
	border-top-style: none;
}
#co #newsBox ul li a,
ul#newsBox li a{
	margin: 0px;
	padding: 10px 30px 10px 10px;
	text-decoration: none;
	color: #343434;
	display: block;
	background-image: url(../images/point_03.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 18px 12px;
}
#co #newsBox ul li h3,
ul#newsBox li h3{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: 100;
	color: #26739E;
	text-decoration: underline;
	line-height: 1.4;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image:none;
}
#co #newsBox ul li p,
ul#newsBox li p{
	margin: 0px 0px 5px;
	padding: 0px;
	font-weight: 900;
}
#co #menuBox{
	margin: 0px 0px 15px;
	padding: 0px;
}
#co #menuBox h2{
	margin: 0px 0px 10px;
	padding: 0px 0px 0px 20px;
	background-color: #FFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-position: 0px 2px;
	color: #333333;
}
#co #menuBox ul{
	margin: 0px;
	padding: 0px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D33333;
	border-right-color: #D0D0D0;
	border-bottom-color: #D0D0D0;
	border-left-color: #D0D0D0;
	box-sizing:border-box;
}
#co #menuBox ul li {
	margin: 0px;
	padding: 0px;
	background-image: -moz-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	background-image: -webkit-gradient(linear,color-stop(0, rgb(255,255,255)),color-stop(0.53, rgb(255,255,255)),color-stop(1, rgb(225,226,227)));
	background-image: -webkit-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	background-image: -o-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	background-image: -ms-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	background-image: linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffe1e2e3)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffe1e2e3);
	font-size: 12px;
	font-weight: 900;
	line-height: 1.6;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #D0D0D0;
	border-bottom-color: #FFF;
}
#co #menuBox ul li a {
	margin: 0px;
	padding: 10px 10px 10px 15px;
	display: block;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/point_03.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 18px 12px;
}
#co #footLink{
	margin: 0px;
	padding: 10px 0px 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #D33333;
}
#co #footLink ul{
	margin: 0px;
	padding: 0px;
}
#co #footLink ul li {
	margin: 0px 2% 10px 0px;
	padding: 0px;
	float: left;
	width: 48%;
	background-image: -moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(0.45, rgb(255,255,255)),color-stop(1, rgb(242,242,243)));
	background-image: -webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: linear-gradient(180deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	border-color: rgb(208,208,208);
	border-width: 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6x;
	border-style: solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff2f2f3,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff2f2f3,GradientType=0);
	box-sizing: border-box;
	font-size: 11px;
	line-height: 1.6;
}
#co #footLink ul li:nth-child(even) {
	margin: 0px 0px 10px 2%;
	padding: 0px;
	float: left;
	width: 48%;
}
#co #footLink ul li a{
	margin: 0px;
	padding: 8px 10px 8px 25px;
	display: block;
	background-image: url(../images/point_02.png);
	background-repeat: no-repeat;
	background-position: 12px 10px;
	color: #333333;
	text-decoration: none;
	background-size: 8px 12px;
}




/* ++++++++++++++++++++++++++++++++ box ++++++++++++++++++++++++++++++++ */



.box {
	margin: 10px 10px 0px;
	padding: 0px;
	border-top: 3px solid #CB3636;
	border-right: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	text-align: left;
}
p#rinenBox {
	margin: 0 0 17px 0;
	padding: 0;
}
p#rinenBox img {
	width: 100%;
    height: auto;
}
.soudanBox{
	margin: 10px 10px 0 10px;
	padding: 0px;
}
.box.noline {
	border: 0px none;
}
.box.noline.fixed {
	border: 0px none;
	padding-top: 51px;
}
.box.normal {
	margin: 10px 10px 0px;
	padding: 0px;
	border-top: 1px solid #D9D9D9;;
}
.box h1 {
	font-size: 14px;
	line-height: 1.4;
	font-weight: 900;
	padding: 10px 10px 10px 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
}
.box h1#searchBtn {
	padding: 0px 0px 0px 15px;
	line-height: 40px;
	position: relative;
}
.box h1#searchBtn img {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#co #searchBox li#searchBtn{
font-size: 16px;
line-height: 1.0;
	padding: 0px;
	margin: 3px 0 20px 0;
  border-width: 1px;
  border-color: rgb(211, 211, 211);
  border-style: solid;
  border-radius: 8px;
  background-image: -moz-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(255,255,255) 74%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(255,255,255) 74%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(255,255,255) 74%);
}
#co #searchBox li#searchBtn a{
	display: block;
	padding: 23px 15px;
	text-decoration: none;
	color: #191919;
	background-size: 20px auto;
}
#co #searchBox li#searchBtn a span:before{
	margin:0 8px 0 0;
    content:" ";
    display:inline-block;
     width:18px;
    height:18px;
    background:url(../images/ico_search_s.png);
    background-size:contain;
    vertical-align:middle;	
}


.box #searchBtnWrapper{
	margin: 0px;
	padding: 0px;
}
.box h1#searchBtn.new {
	font-size: 12px;
	line-height: 1.0;
	padding: 0px;
	margin-bottom: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 3px #969696;
	-moz-box-shadow: 0 3px #969696;
	box-shadow: 0 3px #969696;
	background: rgb(249,249,249);
background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(233,233,233,1) 49%, rgba(219,219,219,1) 49%, rgba(207,207,207,1) 100%);
background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(233,233,233,1) 49%,rgba(219,219,219,1) 49%,rgba(207,207,207,1) 100%);
background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(233,233,233,1) 49%,rgba(219,219,219,1) 49%,rgba(207,207,207,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cfcfcf',GradientType=0 );
	text-align: center;
	border: 0px none;
}
.box h1#searchBtn.new a {
	display: block;
	padding: 10px 0px;
	text-decoration: none;
	color: #191919;
}
.box h1#searchBtn.new a span:before {
	margin:0 7px 0 0;
    content:" ";
    display:inline-block;
    width:12px;
    height:12px;
    background:url(../images/ico_search_s.png);
    background-size:contain;
    vertical-align:middle;	
}

/* +++++++++++++++++++++++ fix +++++++++++++++++++++++ */

* html .box #searchBtnWrapper.fixed {
    background: url(null) fixed;
}
.box #searchBtnWrapper.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 8000;
	margin: 0px;
	text-align: left;
}
.box #searchBtnWrapper.fixed .inner {
	background-color: rgba(0,0,0,0.3);
	padding: 7px 15px 10px 15px;
	text-align: center;
}
.box #searchBtnWrapper.fixed h1#searchBtn.new {
width: auto;
margin: 0px auto;
}


.box p {
	font-size: 12px;
	line-height: 1.5;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.box p.headline {
	margin-top: 10px;
	margin-bottom: 0;
}
.btnReentry {
    margin: 0px auto;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(251, 251, 251);
    width: 85%;
    box-sizing: border-box;
    background-image: url(../images/point_11.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 6px auto;
}
.btnReentry p {
margin: 0px;
font-size: 10px;
}
.btnReentry a {
display: block;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    color: #1f232a;
}
.btnReentry a .underline {
text-decoration: underline;
    color: #1181bb;
}
.box p.no {
	margin-bottom: 0px;
}
.box .cautionBox {
	margin: 0px 0px 15px 0px;
	text-align: left;
	border: 2px solid #C60000;
	padding: 10px;
}
.txtRed {
	color: #C60000;
}
.box .cautionBox p {
	margin: 0px;
	font-weight: 900;
}
.box p.catchTxt {
	font-size: 1.2em;
	line-height: 1.6;
	margin-bottom: 25px;
	font-weight: 900;
	margin-top: 0px;
	clear: both;
	padding: 0px;
}
.box p.catchTxt .name {
	font-size: 12px;
	font-weight: 900;
	color: #C60000;
}
.box p.date {
	font-size: 12px;
	line-height: 1.5;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight:900;
}
.box p.catch {
	font-size: 16px;
	line-height: 1.5;
	font-weight:900;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.box p:last-child,
.box table.normal:last-child {
	margin-bottom: 0px;
}
.box p .ss {
	font-size: 10px;
}
.box .point {
	color:#C60000;
	font-weight:900;
}
.box .underline {
	text-decoration:underline;
}
.box ul.notes {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
.box ul.notes li {
	font-size: 0.63em;
	line-height: 1.6;
	margin-bottom: 5px;
	color: #747474;
	background-image: url(../images/point_notes.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 12px;
}
.box .boxSub {
	margin: 0px;
	padding: 15px;
	text-align: left;
}
.box .boxSub.no {
	padding: 0px;
}
.box .entry {
	margin: 10px 0px 0px;
	padding: 10px 0px 0px;
	border-top: 1px solid #D9D9D9;
}
.box .entry:first-child {
	margin: 0px;
	padding: 0px;
	border-top: 0px none;
}
.box .moreBox .entry:first-child {
	margin: 10px 0px 0px;
	padding: 10px 0px 0px;
	border-top: 1px solid #D9D9D9;
}
.box .entry p {
	font-size: 11px;
	margin: 0px;
}
.box .entry h2 {
	font-size: 12px;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	background-image: none;
}
.box p.more {
	border: 1px solid #C70000;
	margin: 10px 0px 0px;
	padding: 0px;
	text-align: center;
	line-height: 1.2;
}
.box p.more a {
	display: block;
	margin: 0px;
	padding: 2px 0px;
	color: #2E2E2E;
	text-decoration: none;
}
.box h1 .btn {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 6px;
	right: 10px;
}
.box h1 .btn ul li {
	margin: 0px;
	padding: 0px;
	float:left;
}
.box h1 p.txt {
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 11px;
	right: 10px;
	font-weight: 100;
}
.box .pageNavi {
	text-align: left;
	clear: both;
	margin: 0px 0px 15px;
}
.box .pageNavi:last-child {
	margin: 0px;
}
.box .pageNavi ul {
	margin: 0px;
}
.box .pageNavi li a {
	float: left;
	border: 1px solid #CCCCCC;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	margin-right: 10px;
	font-size: 0.75em;
	line-height: 1;
	background-color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.box .pageNavi li span {
	float: left;
	border: 1px solid #CCCCCC;
	font-size: 0.75em;
	line-height: 1;
	background-color: #333333;
	display: block;
	font-weight: 900;
	color: #FFF;
	padding: 6px 8px;
	margin-right: 10px;
}

.box table.normal {
	margin: 0px 0px 10px;
	padding: 0px;
	width: 100%;
}
.box table.normal.cost {
	width: 500px;
}
.box table.normal th,
.box table.normal td {
	border: 1px solid #D9D9D9;
	padding: 5px;
	font-size: 12px;
	line-height: 1.3;
	background-color: #FFF;
    word-break: break-all;
}
.box table.normal th {
	background-color: #F5F5F5;
	text-align: left;
}
.box table.normal th.title {
	background-color: #343434;
	color: #FFF;
	text-align: center;
	font-size: 14px;
}
.scroll_x {
  position: relative;
  padding: 0 0 15px;
}
.box table.normal.wrap th {
	white-space:nowrap;

}
.box table.normal th.sub {
	white-space:nowrap;
}
.box table.normal th.center {
	text-align:center;
}
.box table.normal th.chsBtn {
	background-color: #FFFFFF;
	text-align: center;
	border: 1px solid #FFF;
	padding: 10px 20px 0px;
}
.box table.normal th.chsBtn a {
	margin: 0px;
	padding: 7px 10px;
	font-size: 12px;
	line-height: 1.1;
	display: block;
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(254,199,51) 0%,rgb(238,97,2) 67%,rgb(238,97,2) 100%); 
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(254,199,51)),color-stop(0.67, rgb(238,97,2)),color-stop(1, rgb(238,97,2)));
background-image:-webkit-linear-gradient(-90deg,rgb(254,199,51) 0%,rgb(238,97,2) 67%,rgb(238,97,2) 100%);
background-image:-o-linear-gradient(-90deg,rgb(254,199,51) 0%,rgb(238,97,2) 67%,rgb(238,97,2) 100%);
background-image:-ms-linear-gradient(-90deg,rgb(254,199,51) 0%,rgb(238,97,2) 67%,rgb(238,97,2) 100%);
background-image:linear-gradient(180deg,rgb(254,199,51) 0%,rgb(238,97,2) 67%,rgb(238,97,2) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffec733,endColorstr=#ffee6102,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffec733,endColorstr=#ffee6102,GradientType=0);
	-webkit-border-radius: 200px;
	border-radius: 200px;
	-webkit-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	-moz-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	border: 2px solid #EF6403;
	color: #FFFFFF;
	text-decoration: none;
}
.box table.normal th.chsBtn a .point {
	display:none;
}
.box table.normal td table {
	margin: 0px;
}
.box table.normal td table th,
.box table.normal td table td {
	border: none;
	font-size: 1em;
	padding: 5px 5px 0px;
	vertical-align: top;
	font-weight: 100;
	background-color: #FFF;
}
.box table.normal td table th {
	white-space:normal;
}
.box h2 {
	font-size: 14px;
	line-height: 1.4;
	font-weight: 900;
	margin: 30px 0px 10px;
	padding: 0px 0px 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
}
.box h2.q {
	margin: 0px;
	padding: 0px 0px 10px 24px;
	text-align: left;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #D9D9D9;
	background-image: url(../images/q.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	background-size:19px 15px;
}
.box .qaBox {
	padding: 0px 0px 0px 38px;
	margin-bottom: 20px;
	background-image: url(../images/a.gif);
	background-repeat: no-repeat;
	background-position: 15px 3px;
	background-size:18px 14px;
}
.box .qaBox p{
	margin: 8px 0px;
}
.box h2:first-child {
	margin-top: 0px;
}
.box h2.no {
	margin-top: 0px;
}
.box h3 {
	font-size: 0.75em;
	line-height: 1.5;
	border-bottom: 1px solid #C70000;
	font-weight: 900;
	margin: 25px 0px 20px;
	padding: 0px 0px 10px 15px;
	background: url(../images/point_04.gif) no-repeat left 4px;
}
.box p.date+h3 {
	margin: 5px 0px 20px;
}
.box ol {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 25px;
}
.box ol li {
    font-size: 0.75em;
    line-height: 1.4;
    margin-bottom: 8px;
    list-style-type: decimal;
}
.box ol.type01 {
	margin-left: 0;
}
.box ol.type01 li {
	list-style-type:none;
  counter-increment: cnt;
    text-indent: -0.85rem;
    margin-left: 0.85rem;
}
.box ol.type01 li:before{
  display: marker;
  content: '' counter(cnt) ')';
}
.box ul.alpha{
    margin: 0 0 15px 20px;
    padding: 0;
}
.box ul.alpha li{
    margin: 0 0 5px 0;
    list-style-type: lower-alpha;
    padding: 0;
  font-size: 0.75em;
  line-height: 1.4;
}
.box p.btnLink,
.box p.txtMoreBtn {
	padding: 0px;
	font-size: 12px;
	line-height: 1.1;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(18%, rgba(255,255,255,1)), color-stop(100%, rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 );
	-webkit-border-radius: 200px;
	border-radius: 200px;
	-webkit-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	-moz-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
	border: 1px solid #ECECEC;
	text-align: center;
	clear: both;
	margin-right: 20px;
	margin-left: 20px;
}
.box p.btnLink a,
.box p.txtMoreBtn a {
	margin: 0px;
	padding: 7px 10px;
	display: block;
	color: #333333;
	text-decoration: none;
}
.box p.top {
	text-align: right;
	margin: 0px 0px 15px;
	padding: 10px 0px 0px;
	border-top: 1px dotted #D9D9D9;
}








#ankerBox{
	margin: 10px 10px 0px;
	padding: 0px;
}
#ankerBox ul{
	margin: 0px;
	padding: 0px;
}
#ankerBox ul li {
	margin: 0px 2% 10px 0px;
	padding: 0px;
	float: left;
	width: 48%;
	background-image: -moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(0.45, rgb(255,255,255)),color-stop(1, rgb(242,242,243)));
	background-image: -webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: linear-gradient(180deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	border-color: rgb(208,208,208);
	border-width: 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6x;
	border-style: solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff2f2f3,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff2f2f3,GradientType=0);
	box-sizing: border-box;
	font-size: 11px;
	line-height: 1.6;
}
#ankerBox ul li:nth-child(even) {
	margin: 0px 0px 10px 2%;
	padding: 0px;
	float: left;
	width: 48%;
}
#ankerBox ul li a{
	margin: 0px;
	padding: 4px 10px 4px 25px;
	display: block;
	background-image: url(../images/point_02.png);
	background-repeat: no-repeat;
	background-position: 12px 6px;
	color: #333333;
	text-decoration: none;
	background-size: 8px 12px;
}



/* ++++++++++++++++++++++++++++++++ consultants ++++++++++++++++++++++++++++++++ */

.box .boxSub .consultantsmember li {
	padding-bottom: 10px;
}

.box .boxSub .consultantsmember li:last-child {
	padding-bottom: 0px;
}

.box .boxSub .consultantsmember li img {
	vertical-align:bottom;
}

.box .boxSub .line {
    border-bottom: 1px solid #DDDDDD;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.box h1 .ss {
	margin-left: 10px;
	font-size: 10px;
	color: #C60000;
}

.box.ProfBox h1 {
	background-image: url(../images/point_01.png);
	background-repeat: no-repeat;
	background-position: 12px 12px;
	padding-left: 33px;
	background-size: 14px;

}

.box.ProfBox h2 {
    border-top: 2px solid #CB3636;
	padding-top: 10px;
}


/* ++++++++++++++++++++++++++++++++ guide ++++++++++++++++++++++++++++++++ */

.box .pointBox {
	background: url(../images/txtbox_bg.gif) repeat;
	padding: 10px;
	margin-bottom: 15px;
}

.box .pointBox .pointBoxSub {
    background-color: #FFFFFF;
    padding: 15px;
}

.box .pointBox .pointBoxSub h3 {
    background-color: #FFFFFF;
    padding: 0px 10px 12px 10px;
    background-image: url(../images/point_04.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
	margin-top: 0px;
	padding-left: 15px
}

.box .pointBox .pointBoxSub ul {
	margin-bottom: 15px;
}
.box .pointBox .pointBoxSub li {
	font-size: 12px;
    line-height: 1.5;
	margin-bottom: 5px;
	background-image: url(../images/point_05.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding-left: 12px;
}


.box .pointBox .pointBoxSub .no li {
	margin-bottom: 5px;
	background :none;
	padding-left: 0px;
	margin-left: 15px;
}


.box .steplist li {
	font-size: 12px;
    line-height: 1.5;
	margin-bottom: 10px;
	margin-left: 20px;
}

.box .steplist li.last {
	margin-bottom:15px;
}

.box .point01 {
	margin-bottom: 15px;
}
.box .point01 li {
	font-size: 12px;
    line-height: 1.5;
	margin-bottom: 5px;
	background-image: url(../images/point_05.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding-left: 12px;
}

ul.notes02 li {
    font-size: 0.63em;
    line-height: 1.6;
    margin-bottom: 5px;
    color: #747474;
    background-image: url(../images/point_notes.gif);
    background-repeat: no-repeat;
    background-position: left 8px;
    padding-left: 12px;
}

.mt15{
	margin-top: 15px !important;
}



/* ++++++++++++++++++++++++++++++++ service-introduction ++++++++++++++++++++++++++++++++ */

#tokuchoBox {
	background: url(../service-introduction/img/btn_tokucho_bg.gif)repeat;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#tokuchoBox p {
    margin-bottom: 0px !important;
}



.box .boxSub h4 {
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 900;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

/* ++++++++++++++++++++++++++++++++ questions ++++++++++++++++++++++++++++++++ */


#resumePage .box .boxSub .qaInner .qaBox ol{
	margin-left: 30px;
}

#resumePage .box .boxSub .qaInner .qaBox ol li {
	font-size: 12px;
    line-height: 1.5;
	margin-bottom: 5px;
}








/* entryPage start */


#entryPage{
padding: 10px;
}
#entryPage .ssl {
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  border-style: solid;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 0px 0px 25px 0px;
  display: table;
  box-sizing: border-box;
}
#entryPage .ssl .seal {
display: table-cell;
width: 50px;
vertical-align: middle;
}
#entryPage .ssl .seal img {
height: auto !important;
width: 100% !important;
}
#entryPage .ssl p {
display: table-cell;
font-size: 11px;
color: #7f7f7f;
margin: 0px;
padding: 0px 0px 0px 20px;
}
#entryPage table {
	margin: 0px 0px 20px;
	padding: 0px;
	width: 100%;
}
#entryPage table th,
#entryPage table td {
	padding: 10px;
	font-size: 0.75em;
	line-height: 1.5;
	background-color: #FFF;
	border-top: 1px dotted #CCCCCC;
	text-align: left;
	border-bottom: 1px dotted #CCCCCC;
}
#entryPage table th {
	background-color: #FFF2F2;
}
#entryPage table th.title {
	font-weight:900;
	background-color: #FFF;
	padding: 10px 10px;
}
#entryPage table td.title {
	font-weight:100;
	padding: 10px 10px;
}
#entryPage table.career td {
	background-color: #F7F7F7;
}
#entryPage table td table {
	margin: 0px;
	padding: 0px;
}
#entryPage table td table th,
#entryPage table td table td {
	padding: 0px 10px 6px 0px;
	font-size: 1em;
	line-height: 1.5;
	background-color: #FFF;
	border-top: 0px none;
	text-align: left;
	border-bottom: 0px none;
	vertical-align: top;
	border-right-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-left-style: none;
	font-weight: 100;
	width: auto;
}
#entryPage table.career td table th,
#entryPage table.career td table td {
	background-color: #F7F7F7;
}
#entryPage table th {
	background-color: #F6F6F3;
	width: 100%;
}
#entryPage table th .ss {
	font-size: 10px;
	font-weight: 100;
}
#entryPage #privacyBox {
	background-image: url(../images/dot_back.gif);
	text-align: center;
	margin: 0px 0px 20px;
	padding: 10px 0px;
}
#entryPage #privacyBox #privacyBoxSub {
	margin: 0px 10px;
	padding: 0px;
	text-align: left;
}
#privacyBox #privacyBoxSub h2 {
	position: static;
	background-color: #FFF;
	margin: 0px 0px 15px;
	padding: 5px 0px 5px 5px;
	font-size: 14px;
	font-weight: 900;
	/*	width: 320px;*/
	height: auto;
}
#privacyBox #privacyBoxSub p {
	padding: 10px 0px 10px 10px;
	font-size: 0.81em;
	font-weight: 100;
	/*	width: 320px;*/
	margin: 0px;
	height: auto;
	line-height: 1.0;
}
#privacyBox #privacyBoxSub p.checkboxrequired div.error {
margin-top: 10px;
}

#privacyBox #privacyBoxSub #poricyBox {
	height: 110px;
	margin: 0px 5%;
	width: 90%;
}
#entryPage input.txtBox {

}
#entryPage input.wide,#entryPage textarea.wide {
	width: 380px;
}
#entryPage .btnSend {
	text-align: center;
	padding: 15px 0px;
	background: url(../entry/img/send_back.gif);
}
#entryPage input.normalTxt,
#entryPage select.normalTxt,
#entryPage textarea.normalTxt,
#inquiryPage input.normalTxt,
#inquiryPage select.normalTxt,
#inquiryPage textarea.normalTxt,
#companyPage input.normalTxt,
#companyPage select.normalTxt,
#companyPage textarea.normalTxt {
	border: 1px solid #A9A9A9;
	padding:10px;
}
#entryPage input.hissu,
#entryPage select.hissu,
#entryPage.new select.hissu,
#entryPage textarea.hissu,
#inquiryPage input.hissu,
#inquiryPage select.hissu,
#inquiryPage textarea.hissu,
#companyPage input.hissu,
#companyPage select.hissu,
#companyPage textarea.hissu {
	background-color: #fffafa !important;
	border: 1px solid #A9A9A9;
	box-sizing:border-box;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}
#entryPage span.hissu,
#inquiryPage span.hissu,
#companyPage span.hissu {
	background-color: #fffafa;
}
.fieldL{
	width: 100%;
}




#sitemapPage ul {
	margin: 0px;
	padding: 0px;
}
#sitemapPage ul li {
	margin: 0px;
	padding: 0px;
	font-size: 0.75em;
	line-height: 1.5;
}
#sitemapPage ul li a,
#sitemapPage ul li span {
	display: block;
	text-decoration: none;
	color: #333;
	margin: 0px;
	padding: 6px 10px 6px 22px;
	background-image: url(../images/point_01.gif);
	background-repeat: no-repeat;
	background-position: 10px 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
}
#sitemapPage ul li ul {
	margin: 0px;
	padding: 0px;
	float: none;
}
#sitemapPage ul li ul li {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	line-height: 1.5;
}
#sitemapPage ul li ul li a {
	background-image: url(../images/point_10.gif);
	background-repeat: no-repeat;
	background-position: 22px 13px;
	padding-left: 32px;
}


ul#commentBox {
	margin: 10px 10px 0px;
	padding: 0px;
	text-align: left;
	box-sizing: border-box;
	width: auto;
}
ul#commentBox li {
	margin: 0px;
	padding: 0px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #053586;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}
ul#commentBox li.w {
	border-top-color: #C60000;
}
ul#commentBox li a {
	margin: 0px;
	padding: 15px 40px 15px 15px;
	display: block;
	color: #272727;
	text-decoration: none;
	background-image: url(../success/img/ico_men.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 35px 35px;
}
ul#commentBox li.w a {
	background-image: url(../success/img/ico_women.png);
}
ul#commentBox li a h2 {
	margin: 0px 0px 5px;
	padding: 0px;
	font-size: 15px;
	line-height: 1.4;
	font-weight: 900;
}
ul#commentBox li a p {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.3;
}




.box#voiceBox {
	border-top-color: #053586;
}
.box#voiceBox.w {
	border-top-color: #C60000;
}
.box#voiceBox p.txt {
	text-align: right;
	font-size: 11px;
	color: #999;
}
.box#voiceBox h1 {
	font-size: 12px;
}
.box#voiceBox h1 strong {
	font-size: 16px;
	color: #053586;
}
.box#voiceBox.w h1 strong {
	color: #C60000;
}
.box .btnContact{
	margin: 20px 25px;
	padding: 0px;
	background-image: -moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(238,238,238)));
	background-image: -webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	background-image: -o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	background-image: -ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	background-image: linear-gradient(180deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	border-color: rgb(255,255,255);
	border-width: 1px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border-style: solid;
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.35);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.35);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.35);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffeeeeee,GradientType=0)
	progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#59000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffeeeeee,GradientType=0)
	progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#59000000,Positive=true);
}
.box .btnContact a {
	display: block;
	font-size: 12px;
	font-weight: 100;
	color: #666666;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
ruby.full rb {
	font-weight: 900;
	color: #CB1010;
	text-decoration: line-through;
    display: inline-block;
    padding: 0 0 10px 0;
}
ruby.full.noline rb {
	text-decoration: none;
}
ruby.full rt {
	font-weight: 900;
	color: #CB1010;
	font-size: 11px;
}
ruby.soon rb {
	font-weight: 900;
	color: #166DC5;
	text-decoration: none;
    display: inline-block;
    padding: 0 0 10px 0;
}
ruby.soon rt {
	font-weight: 900;
	color: #166DC5;
	font-size: 11px;
}
ruby.full,
ruby.soon{

    padding-bottom: 10px;
}



#couseiBox {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#couseiBox .boxCo {
	margin: 0px 0px 15px;
	padding: 0px;
	width: 100%;
}
#couseiBox .boxCo.wide {
	width: 100%;
}
#couseiBox .boxCo p.txt {
	padding: 0px;
	margin: 0px;
}
#couseiBox .boxCo .boxSub p.photo {
	text-align: center;
}
.box h3.touroku {
	font-size: 0.75em;
	line-height: 1.5;
	border-bottom: 0px none;
	font-weight: 900;
	margin: 25px 0px 15px;
	padding: 6px;
	color: #FFF;
	background-color: #2192ae;
	background-image: none;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-radius: 6px;
}
ul.btnBox {
	margin: 0px;
	padding: 0px;
}
ul.btnBox li {
	margin: 0px 4% 10px 0px;
	padding: 0px;
	float: left;
	width: 48%;
}
ul.btnBox li:nth-child(even) {
	margin: 0px 0px 10px 0px;
}










/* +++++++++++++++++++++++ form 170123 +++++++++++++++++++++++ */


.searchBox select,
#indexPage #searchBox select,
#entryPage.new select{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: 1px solid #a6a6a6;
border-radius: 4px;
background-image: url(../images/select_point.png);
background-position: right top;
background-repeat: no-repeat;
background-size: auto 100%;
padding: 10px 30px 10px 12px !important;
/*Firefox用*/
text-indent: .01px;
text-overflow: “”;
background-color: #FFF;
font-size: 14px;
color: #2b2b2b;
}
.searchBox select{
padding: 6px 30px 6px 12px !important;
font-size: 11px;
}
.searchBox select.checked,
#indexPage #searchBox select.checked,
#entryPage.new select.checked{
background-color: #a5f2cf;
}
#indexPage #searchBox select{
background-image: url(../images/select_point_02.png);
background-position: right 15px center;
background-size: 10px auto;
padding: 10px 40px 10px 12px;
box-sizing: border-box;
}
#indexPage #searchBox select.b01{
width: 338px;
}
#indexPage #searchBox select.b02{
width: 152px;
}
/*IE対応*/
select::-ms-expand {
display: none;
}
.searchBox label,
#entryPage.new label{
    display: inline-block;
    margin: 0px 5px 7px 0px;
    padding: 7px 10px 7px 35px;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    cursor: pointer;
	font-size: 14px !important;
	color: #2b2b2b;
}
.searchBox label{
    padding: 6px 15px 6px 25px;
	font-size: 11px !important;
}
.searchBox label.ss{
    padding: 6px 5px 6px 21px;
}
#entryPage.new label.privacy{
    display: inline-block;
    margin: 0px;
    padding: 8px 15px 8px 35px;
    border: 0px none;
    border-radius: 4px;
    cursor: pointer;
	background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 0px 0px rgba(202, 202, 202, 1.0);
}

#entryPage.new span.hissu label{
/*	background-color: #FFDDDD !important;*/
	background-color: #fffafa;
}
.searchBox label:hover,
#entryPage.new label:hover{
    text-decoration: none;
}
.searchBox .checkbox,
.searchBox .radio,
#entryPage.new .checkbox,
#entryPage.new .radio{
    z-index: -1;
    position: absolute;
}
.searchBox label.CheckBoxLabelClass,
#entryPage.new label.CheckBoxLabelClass{
	background-image: url("../images/check_off.png");
	background-repeat: no-repeat;
	background-size: auto 21px;
	background-position: 8px 7px;
}
.searchBox label.CheckBoxLabelClass{
	background-size: 14px 15px;
	background-position: 8px 5px;
}
#entryPage.new label.CheckBoxLabelClass.privacy{
	background-image: url("../images/check_s_off.png");
	background-size: auto 16px;
	background-position: 12px 5px;
}
.searchBox label.radiolabel,
#entryPage.new label.radiolabel{
	background-image: url("../images/radio_off.png");
	background-repeat: no-repeat;
	background-size: 13px 13px;
	background-position: 8px 8px;
}
.searchBox label.radiolabel{
	background-size: 14px 15px;
	background-position: 8px 6px;
}
.searchBox label.radiolabel.ss{
	/*background-size: 14px 15px;*/
	background-position: 4px 6px;
}
.searchBox label.CheckBoxLabelClass.checked,
#entryPage.new label.CheckBoxLabelClass.checked{
	background-color: #a5f2cf;
	background-image: url("../images/check_on.png");
}
.searchBox label.CheckBoxLabelClass.privacy.checked,
#entryPage.new label.CheckBoxLabelClass.privacy.checked{
	background-color: #FFFFFF;
	background-image: url("../images/check_s_on.png");
}
.searchBox label.radiolabel.checked,
#entryPage.new label.radiolabel.checked{
	background-color: #a5f2cf !important;
	background-image: url("../images/radio_on.png");
}
.searchBox input,
#entryPage.new input,
#entryPage.new textarea{
border: 1px solid #a6a6a6;
border-radius: 4px;
padding: 10px;
box-sizing: border-box;
margin: 0px 0px 7px 0px;
font-size: 14px;
}
.searchBox input{
padding: 6px;
font-size: 11px;
}
.searchBox input.image,
#entryPage.new input.image{
border: 0px none;
border-radius: 0px;
padding: 0px;
}
.searchBox input.image.wide,
#entryPage.new input.image.wide{
width: 100% !important;
height: auto !important;
}

.searchBox{
	margin: 0px;
	padding: 0px;
	position: relative;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
}
.searchBox .box{
	background-color: #FFFFFF;
	border-top: 1px solid #e2e2e2;
	margin: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.searchBox .box p:last-child{
margin-bottom: 0px !important;
}
.searchBox .box:first-child{
border-top: none 0px;
}
/*
.searchBox .box:nth-child(even){
background-color: #fafafa;
}
*/
.searchBox .box .inner{
	padding: 10px 0px;
	position: relative;
}
.searchBox .list{
font-size: 12px;
line-height: 1.3;
}
.searchBox .box h4{
font-size: 12px;
line-height: 1.3;
border-left: 3px solid #d97720;
border-bottom: 0px none;
padding: 0px 0px 0px 6px;
font-weight: 900;
margin: 0px 0px 10px 0px;
}
.searchBox .box h4 .ss{
font-size: 9px;
font-weight: 100;
}
.searchBox .box p.send{
text-align: center;
margin-bottom: 17px;
}
.searchBox .box p.send img{
vertical-align: bottom;
}
.searchBox p.close{
	background-color: #cecece;
	border-radius: 15px;
	margin: 0px 0px 0px -39px;
	padding: 0px;
	width: 78px;
	font-size: 11px;
	line-height: 1.2;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	position: relative;
	left: 50%;
	background-size: 13px 13px;
}
.searchBox p.close a{
	display: block;
	padding: 8px 13px 8px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}


/* +++++++++++++++++++++++ remodal +++++++++++++++++++++++ */

.remodal .searchBox{
border: 0px none;
}
.remodal .searchBox p.close{
	margin: 0px;
	position: absolute;
	left: auto;
	right:5px;
	top:5px;
	z-index: 5000;
}
.remodal .searchBox p.close.slide{
position: static;
	background-color: #cecece;
	border-radius: 15px;
	margin: 0px 0px 0px -39px;
	padding: 0px;
	width: 78px;
	font-size: 11px;
	line-height: 1.2;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	position: relative;
	left: 50%;
	background-size: 13px 13px;
	top: 0px;
}
.remodal .searchBox .box.fl .list{
width: auto;
}
.remodal .searchBox h3{
font-size: 15px;
line-height: 1.3;
padding: 10px 10px 10px 28px;
font-weight: 900;
margin: 0px;
background-image: url(../images/ico_search.png);
	background-repeat: no-repeat;
	background-position: 10px 12px;
	background-size: 14px 14px;
}
.remodal .searchBox .box .inner{
	padding: 10px;
}








/* -------------- 170124add ------------------- */

p.flow {
	margin: 10px 10px 0px;
}
#entryPage.new table th {
	width: 200px;
	background-image: url(../images/ico_nini.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 59px 14px;
	padding-right: 70px;
	white-space: inherit;
	font-size: 14px;
}
#entryPage.new table th.kihon {
	width: auto;
	background-image:none;
	background-repeat: no-repeat;
	font-size: 16px;
	background-color: #FFF;
}
#entryPage.new table th.hissu {
	background-image: url(../images/ico_hissu.png);
}
#entryPage.new table th.ok {
	background-image: url(../images/ico_ok.png);
}
#entryPage.new span.hissu {
	background-color: transparent;
}
#entryPage.new #privacyBox #privacyBoxSub p {
	background-color: transparent;
	margin: 0px 0px 12px 0px;
	padding: 0px;
	font-size: 13px;;
	font-weight: 100;
	height: auto;
	line-height: 1.2;
	text-align: center;
}
#entryPage.new #privacyBox #privacyBoxSub p:last-child {
	margin-bottom: 0px;
}
#entryPage.new .btnSend {
	margin: 0px 0px 15px;
}
#entryPage.new .btnSend.check {
    background-image: none;
	text-align: center;
	padding: 0px;
}
#entryPage.new span.txtFinish {
font-size: 19px;
font-weight: 900;
}
#entryPage.new h3.finish {
	padding: 10px 0px 0px 0px;
	border-bottom: 0px none;
	font-size: 14px;
	background-image: none;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 15px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #C60000;
}
#entryPage.new h2 span {
display: inline-block;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 49px 14px;
	padding-right: 55px;
}
#entryPage.new h2 span.nini {
	background-image: url(../images/ico_nini.png);
}
#entryPage.new h2 span.hissu {
	background-image: url(../images/ico_hissu.png);
}
#entryPage.new h2 span.ok {
	background-image: url(../images/ico_ok.png);
}








#searchBoxDetail table {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#searchBoxDetail table th,
#searchBoxDetail table td {
	font-size: 12px;
	line-height: 1.4;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #D9D9D9;
	padding: 10px 0px 10px 0px;
}
#searchBoxDetail table th {
	background-repeat: no-repeat;
	background-position: 10px 15px;
	white-space: nowrap;
	margin: 0px;
	padding-right: 10px;
}
#searchBoxDetail table td {
	margin: 0px;
}
#searchBoxDetail table td p {
	margin: 0px 0px 2px;
	padding: 0px;
}
#searchBoxDetail table td p.aRight {
	margin: 0px;
	padding: 0px;
}
#searchBoxDetail p.aCenter {
	margin: 0px;
	padding: 0px 0px 10px 0px;
}











/* -------------- contents start ------------------- */


.box.jobDetail {
    border-bottom-width: 0px;
    border-bottom-style: none;
}
.detailContents {
	margin: 0px 10px;
	padding: 0px;
	text-align: left;
}
.detailContents p.txtlink {
	margin: 22px 0px;
	padding: 0px;
	text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
}
.detailContents #likeBox {
	margin: 0px;
	padding: 0px;
	position: relative;
	text-align: center;
	width: 100%;
}
.detailContents #likeBox #likeBoxSub {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.detailContents #likeBox #likeBoxAll {
	margin: 0px;
	padding: 0px;
    width: 100%;
}
.detailContents #likeBox .box {
	margin: 0px 4% 14px 0px;
	padding: 0px;
	width: 48%;
	border: 3px solid #EDEEEF;
	box-sizing:border-box;
    float: left;
}
.detailContents #likeBox .box:nth-child(even) {
	margin-right: 0px;
}
.detailContents #likeBox .box .title {
    margin: 0px;
    padding: 10px;
    background-image: url(../images/dot_title.gif);
    border-width: 0px;
    border-style: none;
}
.detailContents #likeBox .box h2 {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    line-height: 1.4;
    color: #000;
    display: table-cell;
    vertical-align: middle;
    border-width: 0px;
    border-style: none;
}
.detailContents #likeBox .box .txt {
	margin: 0px;
	padding: 15px 12px;
}
.detailContents #likeBox .box .txt p {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.5;
}
.detailContents #likeBox .box .txt p.income {
	margin: 0px 0px 15px 0px;
	padding: 0px;
	font-size: 10px;
	font-weight: 900;
}
.detailContents #likeBox .box .txt p.income strong {
	margin: 0px;
	padding: 0px;
    font-size: 12px;
	color: #C60000;
}
.detailContents #likeBox .box .txt p.btn {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.5;
  border-radius: 8px;
  background-image: -moz-linear-gradient( 90deg, rgb(56,148,213) 0%, rgb(89,177,237) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(56,148,213) 0%, rgb(89,177,237) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(56,148,213) 0%, rgb(89,177,237) 100%);
  box-shadow: 0px 1px 0px 0px rgba(26, 76, 111, 1.0);
    text-align: center;
    font-weight: 900;
}
.detailContents #likeBox .box .txt p.btn a {
    display: block;
    color: #FFF;
    padding: 10px 0;
    text-decoration: none;
}
.detailContents table.normal {
    margin: 0px 0px 15px;
    padding: 0px;
    width: 100%;
}
.detailContents table.normal th,
.detailContents table.normal td {
	border: 1px solid #D9D9D9;
	padding: 12px;
	font-size: 13px;
	line-height: 1.4;
	background-color: #FFF;
    word-break: break-all;
}
.detailContents table.normal th {
	background-color: #F5F5F5;
	text-align: center;
    white-space: nowrap;
}
.detailContents table.normal th.title {
	background-color: #e5e5e5;
	text-align: center;
}
.detailContents h2.title {
color: #1c2a41;
font-size: 17px;
font-weight: 900;
border-left: 3px solid #c60000;
border-bottom: 1px solid #c60000;
padding: 4px 0px 8px 10px;
line-height: 1.4;
margin: 0px 0px 15px 0px;
}
.detailContents h2.title.ss {
    font-size: 14px;
}
.detailContents h2.title .sub {
font-size: 12px;
font-weight: 100;
}
.detailContents h2.title .sub strong {
color: #c60000;
font-weight: 100;
}
.detailContents .entryBtnBox+h2.title {
margin-top: 25px;
}
.detailContents .entryBtnBox {
  border-width: 2px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(251, 251, 251);
  box-sizing: border-box;
  padding: 15px 0px;
  margin: 0px 0px 14px 0px;
}
.detailContents .entryBtnBox p {
    font-size: 13px;
    margin: 0px 20px 15px 20px;
    line-height: 1.7;
}
.detailContents .entryBtnBox p.btn {
    margin: 0px;
    text-align: center;
}
.detailContents .entryBtnBox p.btn img {
    width: 85%;
}
p#btn_search_side {
margin: 0px;
padding: 0px;
position: fixed;
bottom: 20px;
right: 0px;
z-index:9999;
}
.detailContents #consultantBox {
    display: table;
  table-layout: fixed;
  width: 100%;
  margin:0px;
  padding: 0px;
}
.detailContents #consultantBox .commentBox {
margin: 0px 0px 15px 0px;
border-bottom: solid 1px #dedede;
}
.detailContents #consultantBox .commentBox:last-child {
margin: 0px;
border-bottom: none 0px;
}
.detailContents #consultantBox .photoBox {
    display: table-cell;
    width: 74px;
    vertical-align: top;
}
.detailContents #consultantBox .photoBox p.photo {
margin: 0px;
padding: 0px;
}
.detailContents #consultantBox .photoBox p.photo img {
    max-width: none;
    width: 74px;
    height: auto;
}
.detailContents #consultantBox .photoBox p.name {
margin: 5px 0px 0px 0px;
padding: 0px;
text-align: center;
color: #e20000;
font-size: 10px;
line-height: 1.6;
}
.detailContents #consultantBox .photoBox p.name strong {
color: #292929;
font-weight: 100;
font-size: 14px;
}
.detailContents #consultantBox .message {
    display: table-cell;
    width: calc(100% - 74px);
    vertical-align: top;
}
.detailContents #consultantBox .message .inner {
padding: 0px 0px 20px 15px;
}
.detailContents #consultantBox .message h3 {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 900;
    color: #2591b5;
}
.detailContents #consultantBox .message p {
    margin: 15px 0px 5px 0px;
    padding: 0px;
    font-size: 13px;
    line-height: 1.8;
}
.detailContents #servicePoint {
	margin: 0px 0px 15px 0px;
	padding: 0px;
	width: 100%;
    text-align: left;
}
.detailContents #servicePoint #servicePointAll {
	margin: 0px;
	padding: 0px;
    width: 100%;
}
.detailContents #servicePoint .box {
    margin: 0px 4% 10px 0px;
    padding: 0px;
    width: 48%;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-width: 0px;
    border-style: none;
    float: left;
}
.detailContents #servicePoint .box:nth-child(even) {
	margin-right: 0px;
}
.detailContents #servicePoint .box p.photo {
	margin: 0px;
	padding: 0px;
}
.detailContents #servicePoint .box .inner {
	margin: 0px;
	padding: 20px 12px 25px 12px;
}
.detailContents #servicePoint .box .inner h2 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 1.4;
    display: table-cell;
    vertical-align: middle;
    border-width: 0px;
    border-style: none;
    color: #007eb3;
}
.detailContents #servicePoint .box .inner p {
	margin: 15px 0px 0px 0px;
	padding: 0px;
	font-size: 13px;
	line-height: 1.5;
}
#btnDetailBox {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 8000;
	margin: 0px;
	text-align: left;
}
#btnDetailBox .inner {
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	text-align: center;
}
#btnDetailBox ul {
    margin: 0;
    padding: 0;
}
#btnDetailBox ul li.btnMore {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 43px;
  border-radius: 8px;
  background-image: -moz-linear-gradient( 90deg, rgb(56,148,213) 0%, rgb(89,177,237) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(56,148,213) 0%, rgb(89,177,237) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(56,148,213) 0%, rgb(89,177,237) 100%);
  box-shadow: 0px 1px 0px 0px rgba(26, 76, 111, 1.0);
    text-align: center;
    font-weight: 900;
    float: left;
    width: calc(100% - 65px);
}
#btnDetailBox ul li.btnMore a {
    display: block;
    color: #FFF;
    padding: 0;
    text-decoration: none;
}
#btnDetailBox ul li.btnSearch {
	margin: 0;
	padding: 0;
    float: right;
}
.detailContents p.bnr {
    margin: 0px 0px 14px;
}



/* +++++++++++++++++++++++ formPage +++++++++++++++++++++++ */

#readBox {
    margin: 20px;
}
p#copyForm {
    margin: 0px;
    padding: 10px;
    background-color: #ebebeb;
    font-size: 11px;
    color: #121212;
    font-family: Arial, Helvetica, "sans-serif";
    text-align: center;
}
#readBox h1 {
    text-align: center;
    margin-bottom: 25px;
}
#readBox h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.4;
}
#readBox p {
	font-size: 12px;
	line-height: 1.5;
	padding: 0px;
	margin: 15px 0 0 0;
}
#entryPage.new .keirekiBox {
    margin: 12px 0px 0px 0px;
    padding: 0px;
}
#entryPage.new .keirekiBox h3 {
    border: none 0px;
    padding: 8px 12px;
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.4;
    background-image: none;
    background-color: #ECECEC;
    border-radius: 6px;
}
#entryPage.new .keirekiBox h4 {
	font-size: 13px;
	line-height: 1.4;
	font-weight: 900;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}
#entryPage.new .keirekiBox select {
    margin-bottom: 5px;
}






/* +++++++++++++++++++++++ jump +++++++++++++++++++++++ */

#jump {
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}
#jump h1 {
    margin: 0 0 15px 0;
    text-align: center;
}
#jump p {
	font-size: 12px;
	line-height: 1.4;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
}
#jump .btn {
    margin: 0;
    padding: 0;
}
#jump .btn ul {
    margin: 0;
}
#jump .btn ul li {
    margin: 0 0 7px 0;
    padding: 0;
}
#jump .btn ul li span {
    margin: 0 0 5px 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 0.85em;
	line-height: 1.5;
    font-weight: 900;
}
#jump p.close{
	background-color: #cecece;
	border-radius: 15px;
	margin: 0px 0px 20px -42px;
	padding: 0px;
	width: 85px;
	font-size: 14px;
	line-height: 1.2;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	position: relative;
	left: 50%;
	background-size: 13px 13px;
}
#jump p.close a{
	display: block;
	padding: 8px 13px 8px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}
#jump p#copy {
	font-size: 10px;
	line-height: 1.5;
	color: #A7A7A7;
	text-align: center;
	margin: 0;
	padding: 12px 0px 25px;
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EAEAEA;
}




.box #secretBox {
    margin: 15px 0 20px 0;
    border: solid 4px #c1c1c1;
    text-align: center;
}
.box #secretBox .inner {
    margin: 0;
    padding: 16px 10px;
}
.box #secretBox p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 900;
    color: #353535;
    line-height: 1.2;
    font-family: '游ゴシック', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
}
.box #secretBox p strong {
    color: #c8383b;
}
.box #secretBox p.btn {
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(67,169,31) 0%, rgb(79,193,36) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(67,169,31) 0%, rgb(79,193,36) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(67,169,31) 0%, rgb(79,193,36) 100%);
  box-shadow: 0px 4px 0px 0px rgba(49, 127, 18, 0.93);
  width: 100%;
  margin: 10px auto 0 auto;
    font-size: 13px;
    text-shadow: 1.721px 2.457px 0px rgba(46, 127, 17, 0.93);
}
.box #secretBox p.btn a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.box #secretBox p.btn span:after {
	margin:0 0 0 8px;
	content:" ";
	display:inline-block;
	width:8px;
	height:12px;
    background:url(../images/point_12.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: 0px;
}


/* 180117add */

#co .moushikomiBox {
    margin: 0 0 12px 0;
    text-align: center;
}
#co .moushikomiBox p {
    margin: 0;
}
#co .moushikomiBox p img {
    width: 100%;
    height: auto;
}
#co #searchBox {
	margin: 0px 0px 15px;
	padding: 15px 15px 5px 15px;
	background-color: #343434;
	border-top: 3px solid #C30000;
}
#co #searchBox h2 {
	margin: 0px;
	position: relative;
	font-size: 21px;
	line-height: 1.3;
	background-position: 12px 18px;
}
#co #searchBox p.comment {
	position: relative;
	background: #e2f8db;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 1.2;
	color: #315e22;
	padding: 10px 15px;
}
#co #searchBox p.comment:after {
	top: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(226, 248, 219, 0);
	border-top-color: #e2f8db;
	border-width: 5px;
	margin-left: -5px;
}
#co #searchBox ul {
	margin: 0px;
	padding: 0px;
	background-color: #343434;
	box-sizing: border-box;
}
#co #searchBox ul li {
	margin: 0;
	padding: 0px;
	background-image: -moz-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	background-image: -webkit-gradient(linear,color-stop(0, rgb(255,255,255)),color-stop(0.53, rgb(255,255,255)),color-stop(1, rgb(225,226,227)));
	background-image: -webkit-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	background-image: -o-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	background-image: -ms-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	background-image: linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 53%,rgb(225,226,227) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffe1e2e3)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffe1e2e3);
	font-size: 12px;
	font-weight: 900;
	line-height: 1.6;
	display: block;
	border-radius: 5px;
}
#co #searchBox ul li a {
	margin: 0px;
	padding: 10px 10px 10px 15px;
	display: block;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/point_03.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 18px 12px;
}
#co #searchBox ul li .sub{
	padding-bottom:8px;
}
#co #searchBox ul li .sub .subBox{
	margin: 0px 10px;
	padding: 0px 10px;
	background-color: #FFF;
-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.22);
-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.22);
box-shadow:1px 1px 2px rgba(0,0,0,0.22);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#38000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#38000000,Positive=true);
}

#co #searchBox ul li .sub ul{
	margin: 0px;
	padding: 0px 0px 5px;
	background-color: #FFF;
}
#co #searchBox ul li .sub ul li {
	margin: 0px 2% 5px 0px;
	padding: 0px;
	float: left;
	width: 48%;
	background-image: -moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(0.45, rgb(255,255,255)),color-stop(1, rgb(242,242,243)));
	background-image: -webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: linear-gradient(180deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	border-color: rgb(208,208,208);
	border-width: 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6x;
	border-style: solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff2f2f3,GradientType=0)";	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff2f2f3,GradientType=0);
	box-sizing: border-box;
	font-size: 11px;
	line-height: 1.6;
}
#co #searchBox ul li .sub ul li:nth-child(even) {
	margin: 0px 0px 5px 2%;
	padding: 0px;
	float: left;
	width: 48%;
}
#co #searchBox ul li .sub ul li.wide,
#co #searchBox ul li .sub ul li.wide:nth-child(even) {
	margin: 0px 0 5px 0px;
	padding: 0px;
	float: none;
	width: 100%;
}
#co #searchBox ul li .sub ul li a{
	margin: 0px;
	padding: 5px 10px 5px 25px;
	display: block;
	background-image: url(../images/point_02.png);
	background-repeat: no-repeat;
	background-position: 12px 7px;
	color: #333333;
	text-decoration: none;
	background-size: 8px 12px;
}
#co #searchBox ul li .sub ul li a .date{
	font-weight: 100;
	font-size: 10px;
	color: #C30000;
}

/* 1802 search new

#searchBox {
	margin: 0px 0px 15px;
	padding: 10px 10px 15px 10px;
  background-color: rgb(221, 221, 221);
  box-shadow: inset 0px 0px 8px 0px rgba(4, 0, 0, 0.3);
}
#searchBox h2 {
    margin: 0;
    padding: 7px 0 0 0;
  font-size: 13px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  line-height: 1.2;
    float: left;
}
#searchBox h2 span:before {
	margin:0 5px 0 0;
	content:" ";
	display:inline-block;
	width:13px;
	height:13px;
    background:url(../images/ico_index_search.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -1px;
}
#searchBox p.btnMore {
    margin: 0 0 10px 0;
    padding: 0;
  font-size: 10px;
    float: right;
  border-radius: 2px;
  background-color: rgb(251, 251, 251);
  box-shadow: 0px 1px 0px 0px rgba(127, 127, 127, 0.93);
    display: inline-block;
    font-weight: 900;
}
#searchBox p.btnMore a {
    margin: 0;
    padding: 7px 10px;
    display: block;
    text-decoration: none;
    color: #3d3d3d;
}
#searchBox p.btnMore a span:after {
	margin:0 0 0 5px;
	content:" ";
	display:inline-block;
	width:4px;
	height:6px;
    background:url(../images/ico_index_search_point02.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: 0px;
}
#searchBox #searchList {
    margin: 0 0 7px 0;
    padding: 0;
    border-top: solid 2px #b5767c;
  background-color: rgb(251, 251, 251);
  box-shadow: 0px 1px 0px 0px rgba(180, 180, 180, 1.0);
    clear: both;
}
#searchBox #searchList .inner {
    margin: 0;
    padding: 16px 10px 20px 10px;
}
#searchBox #searchList #boxSelect {
    margin: 0 0 15px 0;
    padding: 0;
    display: table;
}
#searchBox #searchList #boxSelect #boxJob,
#searchBox #searchList #boxSelect #boxPoint,
#searchBox #searchList #boxSelect #boxLocation{
    display: table-cell;
}
#searchBox #searchList #boxSelect #boxJob{
    width: 45%;
}
#searchBox #searchList #boxSelect #boxPoint{
    width: 10%;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 4px;
}
#searchBox #searchList #boxSelect #boxLocation{
    width: 45%;
}
#searchBox #searchList #boxSelect #boxJob h3,
#searchBox #searchList #boxSelect #boxLocation  h3{
    margin: 0 0 6px 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.2;
}
#searchBox #searchList #boxSelect select{
    font-size: 11px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: 1px solid #a6a6a6;
border-radius: 4px;
background-image: url(../images/select_point.png);
background-position: right top;
background-repeat: no-repeat;
background-size: auto 100%;
padding: 5px 25px 5px 8px !important;
/*Firefox用*/
text-indent: .01px;
text-overflow: “”;
background-color: #FFF;
color: #2b2b2b;
    width: 100%;
}
#searchBox #searchList #btnSearch {
    margin: 0 55px;
}
#searchBox #searchList #btnSearch button {
    margin: 0;
    padding: 12px 0 10px 0;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 900;
  border-radius: 5px;
    display: block;
    width: 100%;
  background-image: -moz-linear-gradient( 90deg, rgb(209,209,209) 0%, rgb(229,229,229) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(209,209,209) 0%, rgb(229,229,229) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(209,209,209) 0%, rgb(229,229,229) 100%);
  box-shadow: 0px 2px 0px 0px rgba(159, 159, 159, 0.93);
    border: 0 none;
}
#searchBox #searchList #btnSearch button span:before {
	margin:0 5px 0 0;
	content:" ";
	display:inline-block;
	width:13px;
	height:13px;
    background:url(../images/ico_index_search02.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -1px;
}

#searchBox .more{
	margin: 0;
	padding: 0;
  border-radius: 5px;
  background-color: rgb(251, 251, 251);
  box-shadow: 0px 1px 0px 0px rgba(143, 143, 143, 0.93);
    font-size: 12px;
    line-height: 1.1;
}
#searchBox .more a.link{
	margin: 0;
	padding: 10px 0;
    display: block;
    text-decoration: none;
    color: #4d4d4d;
    text-align: center;
}
#searchBox .more a.link span:after {
	margin:0 0 0 20px;
	content:" ";
	display:inline-block;
	width:6px;
	height:10px;
    background:url(../images/ico_index_search_point.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -1px;
}
#searchBox .more .sub{
	margin: 0;
	padding: 0 10px 10px 10px;
}
#searchBox .more .sub ul{
	margin: 0;
	padding: 0;
}
#searchBox .more .sub ul li {
	margin: 0 0 5px 0;
	padding: 0px;
	background-image: -moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(0.45, rgb(255,255,255)),color-stop(1, rgb(242,242,243)));
	background-image: -webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: -ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	background-image: linear-gradient(180deg,rgb(255,255,255) 0%,rgb(255,255,255) 45%,rgb(242,242,243) 100%);
	border-color: rgb(208,208,208);
	border-width: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff2f2f3,GradientType=0)";	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff2f2f3,GradientType=0);
	box-sizing: border-box;
	font-size: 12px;
	line-height: 1.6;
}
#searchBox .more .sub ul li a{
	margin: 0px;
	padding: 5px 10px 5px 25px;
	display: block;
	background-image: url(../images/point_02.png);
	background-repeat: no-repeat;
	background-position: 12px 9px;
	color: #333333;
	text-decoration: none;
	background-size: 8px 12px;
}
#searchBox .more .sub ul li a .date{
	font-weight: 500;
	font-size: 11px;
	color: #C30000;
}
#searchBox .more .sub ul li:last-child{
    margin-bottom: 0;
}

1802 search new */

.soudanBox {
    margin: 10px 10px 0 10px;
    padding: 0;
}
.box .soudanBox {
    margin: 10px 0 15px 0;
}
.soudanBox img {
    width: 100%;
    height: auto;
}

/*
.soudanBox .inner {
    margin: 0;
    padding: 10px;
}
.soudanBox p {
    margin: 0 0 10px 0;
    padding: 0;
  font-size: 11px;
  color: rgb(53, 53, 53);
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}
.soudanBox p strong {
    color: #c30014;
}
.soudanBox p.btn {
    margin: 0;
    padding: 0;
}
.soudanBox p.btn img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
*/





#co #searchBox #popularityBox h2 {
	margin: 0px;
	position: static;
	font-size: 11px;
	line-height: 1.3;
    background: none;
    padding: 0;
    border: none;
    font-weight: 900;
    float: left;
    white-space: normal;
    box-sizing: border-box;
    width: 75px;
}
#co #searchBox #popularityBox ul {
	margin: 0px;
	padding: 0px;
	background-color: #343434;
	box-sizing: border-box;
    float: left;
    width: calc(100% - 75px)
}
#co #searchBox #popularityBox ul li {
	margin: 0 15px 10px 0;
	padding: 0;
	background: none;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.3;
	display: block;
	border-radius: 0;
    float: left;
}
#co #searchBox #popularityBox ul li a {
	margin: 0px;
	padding: 0;
	display: inline;
	color: #69b9f6;
	text-decoration: underline;
	background: none;
}


#co .secondBox {
    margin: 0 0 30px 0;
    padding: 0;
}
#co .secondBox ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 100%;
}
#co .secondBox ul li {
    margin: 0 2% 15px 0;
    padding: 0;
    display: inline-block;
    font-size: 11px;
    line-height: 1.3;
    vertical-align: top;
    width: 49%;
}
#co .secondBox ul li:nth-child(even) {
    margin-right: 0;
}
#co .secondBox ul li p {
    margin: 0;
    text-align: center;
}
#co .secondBox ul li a {
    color: #26729d;
}
#co .secondBox ul li p.photo {
    margin: 0 0 5px 0;
}
#co .secondBox ul li p.txt {
    background: url(../images/point_15.png) no-repeat right 5px center;
    background-size: 6px 9px;
}




/* +++++++++++++++++++++++ infoBox +++++++++++++++++++++++ */

#infoTxtBox {
    margin: 0 0 14px 0;
    border: solid 1px rgb(150, 21, 21);
    border-radius: 5px;
    background: url("../images/info_back.png") rgb(200, 58, 58);
}
#infoTxtBox p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 900;
}
#infoTxtBox p a {
    margin: 0;
    padding: 14px 30px 14px 10px;
    text-decoration: none;
    color: #FFF;
    display: block;
    background: url("../images/point_info.png") no-repeat right 10px center;
    background-size: 12px 12px;
}