@charset "utf-8";

/*----------------------------------------------------
 elements
----------------------------------------------------*/

a {
	-webkit-tap-highlight-color: rgba(200, 200, 555, .6);
	color: #26739E;
}
img:not([width]) {
 zoom: .5; 
}

/*----------------------------------------------------
@media all and (orientation:landscape) {
#page {
 width: 480px;
}
}
----------------------------------------------------*/

/*----------------------------------------------------
common style
----------------------------------------------------*/

.aCenter {
	text-align: center;
}
.aRight{
text-align: right;
}
.pctL{
	float: left;
	margin-right: 5px;
}
.pctR{
	float: right;
	margin-left: 5px;
}
.centered {
	position: relative;  overflow: hidden;
}
.centered ul {
  position: relative;  left: 50%;  float: left;
}
.centered ul li {
  position: relative;  left: -50%;  float: left;
}
