/* blog start */

#blogPage ul.list01 {
	margin: 0px;
	padding: 0px;
}
#blogPage ul.list01 li {
	margin: 0px 0px 15px;
	clear: both;
	padding: 0px 0px 14px;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
}
#blogPage .list01 li p.photo {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	float: right;
}
#blogPage .list01 li .photo img {
	float: right;
	height: auto;
	width: 150px;
}
#blogPage ul.list01 strong {
	font-size: 14px;
}
#primary-sidebar {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
#primary-sidebar #calendar-2 {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #calendar-2 table#wp-calendar {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#primary-sidebar #calendar-2 table#wp-calendar th,
#primary-sidebar #calendar-2 table#wp-calendar td {
	padding: 5px;
	font-size: 0.75em;
	text-align: center;
	border: 1px solid #CCC;
}
#primary-sidebar #calendar-2 table#wp-calendar th{
	color: #FFFFFF;
	background-color: #000;
}
#primary-sidebar #calendar-2 caption {
	font-size: 12px;
	text-align: center;
	font-weight: 900;
	padding-bottom: 5px;
	margin: 0px;
}
#primary-sidebar #categories-2 .widget-title {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#primary-sidebar #categories-2 ul {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #categories-2 ul li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
#primary-sidebar #archives-2 .widget-title {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#primary-sidebar #archives-2 ul {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #archives-2 ul li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
#primary-sidebar #recent-posts-2 .widget-title {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#primary-sidebar #recent-posts-2 ul {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #recent-posts-2 ul:last-child {
	margin: 0px;
}
#primary-sidebar #recent-posts-2 ul li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
.article p {
	margin-bottom:0px;
}

/* blog end */


/* 160613add start */

#articlePage ul.list01 {
	margin: 0px;
	padding: 0px;
}
#articlePage ul.list01 li {
	margin: 0px;
	padding: 10px 0px;
	background-image: none;
	border-top: 1px solid #E7E7E7;
}
#articlePage ul.list01 li:first-child {
	border-top: 0px none;
	padding-top: 0px;
}
#articlePage ul.list01 li p.photo {
	margin: 0px 0px 10px 15px;
	padding: 0px;
	float: right;
}
#articlePage ul.list01 li p.photo img {
	width:100px !important;
	height:auto !important;
}
#articlePage img {
	max-width:100% !important;
	height:auto !important;
}
#articlePage ul.list01 li strong {
	font-size: 14px;
	font-weight: 900;
}
#articlePage .list01 li .category,
#articlePage p.date .category {
	position: relative;
	font-weight: 100;
	color: #272727;
	background-color: #EEEEEE;
	display: inline-block;
	padding: 2px 10px;
	margin-bottom: 5px;
	font-size: 11px;
	border-radius:3px;
}
#articlePage .list01 li .category:after,
#articlePage p.date .category:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #EEEEEE;
	border-width: 5px;
	margin-left: -5px;
}

/* 160613add end */

