﻿@charset "UTF-8";
@import url('normalize.css');

/* CSS Document */
/*---------------共通レイアウト-----------------*/
body{
	background: #F2F2F2;
	width:100%;
	min-width:980px;
	margin:auto;
	color:#373737;
	font-size: 16px;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
a{
	color: #fff;
}
a:hover{
	filter: alpha(opacity=40);
	-moz-opacity:0.40;
	opacity:0.40;
}
img{
	-webkit-backface-visibility: hidden
}
button{
	background: none;
	border: none;
	padding: 0;
}
input,select,textarea {
   -webkit-appearance: none;
}
input, optgroup, select, textarea {
	padding: 15px;
	border: none;
	line-height: 1.4;
	background: #fff;
}
input::-webkit-input-placeholder {
    color: #DCDCDC;
}
input:-ms-input-placeholder {
    color: #DCDCDC;
}
input::-moz-placeholder {
    color: #DCDCDC;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/arr_d.png) no-repeat #fff;
    background-position: right 10px center;
    background-size: 9 auto;
    box-sizing: border-box;
	display: inline-block;
	border: none;
	padding-right: 30px;
}
select::-ms-expand {
  display: none;
}
textarea{
	width: 95%;
}
strong{
	font-weight: bold;
}
h1 {
    font-size: 0;
    margin: 0;
}
h2 {
	margin:0;
	position: relative;
}
h3{
	color: #34326f;
	font-size: 20px;
	margin-bottom: 20px;
}
p{
	line-height: 1.8;
	margin: 0 0 20px;
}

/* header */
header{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	background: url(../img/bg01.jpg) no-repeat center center;
	background-size: cover;
}
.header_wrap{
	width: 980px;
	margin: auto;
}
h1{
	margin: 17px 0;
}
.nav_wrap{
	display: block;
}
.header_wrap ul{
	list-style: none;
	padding: 0;
	margin: -50px 0 0;
	float: right;
	display: block;
}
.header_wrap ul li{
	display: inline;
	margin: 0;
	font-size: 13px;
	color: #fff;
}
.header_wrap ul li.link{
	margin-right: 15px;
	padding-bottom: 10px;
}
.header_wrap ul li.link:after{
	content: "/";
	margin-left: 15px;
}
.header_wrap ul li a{
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}
.header_wrap ul li.btn a{
	text-align: center;
	padding: 10px 27px;
}
.header_wrap ul li.btn01 a{
	background: url(../img/head_btn01.png) no-repeat center center;
	letter-spacing: -1px;
	/*margin-right:-14px;*/
}
.header_wrap ul li.btn02 a{
	background: url(../img/head_btn02.png) no-repeat center center;
	color: #B2B1D2;
	letter-spacing: -2px;
}

/* 共通 */
.pc{
	display: block;
}
.sp{
	display: none;
}
.content{
	overflow: hidden;
}
.con_box{
	max-width: 980px;
	margin: auto;
	padding: 120px 0;
	position: relative;
}
h2.title{
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝", serif;
	font-size: 28px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 3px;
	padding: 7px 0;
	margin-bottom: 40px;
	background: url(../img/title.png) no-repeat center center;
}
h2.title_w{
	color: #fff;
}
h2.title span{
	font-family: 'Cinzel', serif;
	color: #001270;
	font-size: 13px;
	display: block;
	margin-top: 5px;
	font-weight: bold;
}
.center{
	text-align: center;
}

/* contents */
.con01{
	background: url(../img/bg02.jpg) no-repeat center bottom;
	background-size: cover;
}
.top_area{
	padding: 140px 60px 0;
	text-align: center;
	position: relative;
}
.top_img{
	margin: 0 -10% 0 10%;
	max-width: 100%;
}
.top_text{
	background: url(../img/top_02.png);
	padding: 3% 4%;
	position: absolute;
	top: 26%;
	left: 8%;
	text-align: left;
	color: #fff;
	min-height: 312px;
}
@media screen and (max-width:1200px) {
.top_text{
	left: 0;
}
}
.top_text h2{
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝", serif;
	color: #fff;
	font-size: 46px;
	font-weight:lighter;
	letter-spacing: 2px;
	line-height: 1.8;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-shadow:2px 2px 0px rgba(0,0,0,0.8);
	background: url(../img/top_03.png) no-repeat left bottom;
}
.top_text h2 span{
	font-size: 37px;
}
.top_text .p01{
	font-size: 23px;
}
.top_text .p02{
	font-size: 18px;
	padding: 5px;
	text-shadow:1px 1px 0px rgba(0,0,0,0.8);
	background: rgba(255,255,255,0.5);
	text-align: center;
}
.con01 .con_box{
	padding:70px 75px;
}
.con01 .con_box h2.center{
	margin-bottom: 70px;
}
.con01 .con_box h3.line_o span{
	letter-spacing: 1.5px;
	padding: 0 5px;
	background: url(../img/line_o.png) repeat-x left bottom;
}
.con01 .con_box p{
	font-size: 16px;
	line-height: 2.2;
	letter-spacing: 1px;
}
.con01 .con_box strong{
	color: #34326f;
}
.con01 .con_box p span{
	font-size: 12px;
	color: #868686;
}
.task{
	background: url(../img/con01_02.png) no-repeat;
	background-size: 100% 100%;
	padding: 50px 100px;
	margin: 70px 0;
	box-shadow:0px 25px 2px -1px rgba(0,0,0,0.05);
	-moz-box-shadow:0px 25px 2px -1px rgba(0,0,0,0.05);
	-webkit-box-shadow:0px 25px 2px -1px rgba(0,0,0,0.05);
}
.task h3{
	color: #fff;
	margin: 0 0 30px;
	font-size: 26px;
	letter-spacing: 2px;
}
.task h3 span{
	padding: 0 5px;
	color: #fff;
	background: url(../img/line_b.png) repeat-x left bottom;
}
.task ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.task ul li{
	display: table;
	margin-top:10px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 2px;
}
.task ul li:before{
	display: table-cell;
	content: "";
	background: url(../img/con01_03.png) no-repeat;
	width: 33px;
	height: 30px;
	padding-right: 10px;
}
.task ul li strong{
	color: #ffa200 !important;
}
.con01 .con_box .p03 {
    font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #00144c;
    margin:0 auto 10px;
	position: relative;
	width: 650px;
}
.con01 .con_box .p03:before {
    content: "";
    background: url(../img/chance_l.png) no-repeat;
    background-size: 28px 32px;
    width: 28px;
    height: 32px;
    position: absolute;
    top: 3px;
    left: -5%;
}
.con01 .con_box .p03:after {
    content: "";
    background: url(../img/chance_r.png) no-repeat;
    background-size: 28px 32px;
    width: 28px;
    height: 32px;
    position: absolute;
    top: 3px;
    right: -5%;
}
.con01 .con_box .p04 {
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝", serif;
    font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: #181818;
	position: relative;
	letter-spacing: 2px;
	margin: 0;
	line-height: 1.6;
}
.con01 .con_box .p04 span.small {
    font-size: 27px;
	color: #181818;
}
.con01 .con_box .p04 strong,
.con01 .con_box .p04 strong span.small{
	color: #0059b4;
}

.con02{
	background: url(../img/bg03.jpg) no-repeat center center;
}
.con02 .arr{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -42px;
}
.con02 h2{
	margin-bottom: 50px;
}
.con02 h2 img{
	margin: auto;
}
.con02 ul{
	list-style: none;
	padding: 0;
	margin: 0 -55px 0 0;
}
.con02 ul li{
	float: left;
	width: 290px;
	margin:0 55px 55px 0;
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
}
.con02 ul li:nth-child(4){
	clear: both;
}
.con02 ul li h3{
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝", serif;
	text-align: center;
	font-size: 16px;
	color: #fff;
	letter-spacing: 0;
	margin: 15px 0;
}
.con02 ul li h3 span{
	background: url(../img/line_y.png) repeat-x left bottom;
	padding:0 5px 8px;
}
.con02 ul li strong{
	color: #ffe400;
}
.btn_entry{
	display: block;
	margin: 0 auto -165px;
	position: relative;
	z-index: 50;
	border-radius: 5px;
	clear: both;
	width: 580px;
	transition-property: opacity;
	transition-duration:0.2s;
	background: #fff;
}
.btn_entry img{
	transition-property: opacity;
	transition-duration:0.2s;
	box-shadow:0px 0px 19px -2px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 0px 19px -2px rgba(0,0,0,0.3);
	-webkit-box-shadow:0px 0px 19px -2px rgba(0,0,0,0.3);
}
.btn_entry:hover{
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.btn_entry img:hover{
	opacity: 0.5;
}

.con03{
	background: url(../img/bg04.jpg) no-repeat center center;
	background-size: cover;
}
.con03 .con_box ul{
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow:0px 0px 17px -10px rgba(0,0,0,0.83);
	-moz-box-shadow:0px 0px 17px -10px rgba(0,0,0,0.83);
	-webkit-box-shadow:0px 0px 17px -10px rgba(0,0,0,0.83);
}
.con03 .con_box ul li{
	background: url(../img/top_02.png);
}
.con03 .con_box ul .img{
	width: 490px;
	height: 100%;
	min-height: 340px;
	float: left;
	position: relative;
	background:url(../img/con03_bg01.jpg) no-repeat center center;
	background-size: cover;
}
.con03 .con_box ul .img .arr{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -16px;
}
.con03 .con_box ul li:nth-child(2) .img{
	background-image:url(../img/con03_bg02.jpg);
	float: right;
	clear: both;
}
.con03 .con_box ul li:nth-child(2) .img .arr{
	position: absolute;
	top: 50%;
	right: auto;
	left: 0;
	margin-top: -16px;
}
.con03 .con_box ul .text{
	color: #fff;
	font-size: 14px;
	margin-left:490px;
	padding: 30px;
	min-height: 280px;
}
.con03 .con_box ul li:nth-child(2) .text{
	margin:0 490px 0 0;
}
.con03 .con_box ul .text table{
	margin-bottom: 20px;
	color: #000;
	width: 100%;
}
.con03 .con_box ul .text table th,
.con03 .con_box ul .text table td{
	background: #DCDCDC;
	padding: 10px;
}
.con03 .con_box ul .text table .before th{
	background: url(../img/con04_th01.png) no-repeat center center;
	background-size: cover;
	color: #fff;
	text-align: center;
	font-weight: normal;
	white-space: nowrap;
}
.con03 .con_box ul .text table .after th{
	background: url(../img/con04_th02.png) no-repeat center center;
	background-size: cover;
	color: #fff;
	text-align: center;
	font-weight: normal;
}
.con03 .con_box ul .text table .after td{
	background: #fff5e4;
	font-weight: bold;
}
.con03 .con_box ul .text p{
	margin: 0;
}

.con04 ul{
	list-style: none;
	padding: 0;
	margin: 0 -50px 0 0;
	counter-reset: number;
}
.con04 ul:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.con04 ul li{
	width:425px;
	float: left;
	padding: 20px;
	margin: 0 50px 85px 0;
	background: url(../img/con04_01.png);
	position: relative;
	box-shadow:20px 20px 0px -2px rgba(0,119,220,0.09);
	-moz-box-shadow:20px 20px 0px -2px rgba(0,119,220,0.09);
	-webkit-box-shadow:20px 20px 0px -2px rgba(0,119,220,0.09);
}
.con04 ul li:before{
	content: "";
	height: 352px;
	width: 140px;
	position: absolute;
	top: 0;
	left: 0;
    z-index: 0;
	background: url(../img/con04_02.png) no-repeat left top;
	
}
.con04 ul li:after {
    color: #fff;
    content: counter(number);
    counter-increment: number;
    font-family: 'Cinzel', serif;
    font-weight: lighter;
    font-size: 120px;
    font-style: italic;
    position: absolute;
    top: -16px;
    left: 20px;
    z-index: 0;
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}
.con04 ul li h3{
	margin: 0 0 5px;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-align: right;
}
.con04 ul li .income{
	display: table;
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝", serif;
	font-size: 30px;
	text-align: right;
	background: #ffa200;
	color: #fff;
	padding: 0 20px 0 75px;
	margin: 0 -20px 20px 0;
	float: right;
	font-weight:lighter;
	position: relative;
    z-index: 1;
	box-shadow:0px 10px 14px -10px rgba(18,18,18,0.17);
	-moz-box-shadow:0px 10px 14px -10px rgba(18,18,18,0.17);
	-webkit-box-shadow:0px 10px 14px -10px rgba(18,18,18,0.17);
}
.con04 ul li .income span{
	font-size: 24px;
}
.con04 ul li .income:before{
	content: "年収";
	padding: 11px 20px;
	font-size: 18px;
	position: absolute;
	top: 0;
	left: -14px;
	background: url(../img/con04_03.png) no-repeat center center;
	background-size: 100% 100%;
}
.con04 ul li table{
	clear: both;
	font-size: 13px;
	border-bottom: 1px solid #91A5BB;
	width: 100%;
	position: relative;
	z-index: 1;
}
.con04 ul li table th,
.con04 ul li table td{
	padding: 12px;
	border-top: 1px solid #91A5BB;
}
.con04 ul li table th{
	color: #fff;
	font-weight: bold;
	white-space: nowrap;
	background: #0068b7;
}
.con04 ul li table .pm th{
	background: #00387e;
}
.con04 ul li table .pm td{
	background: rgba(0,56,126,0.1);
}
.con04 ul li .btn{
	display: block;
	margin:25px auto -50px;
	position: relative;
	z-index: 50;
	border-radius: 5px;
	clear: both;
	width: 359px;
	background: #fff;
}
.con04 ul li .btn img{
	transition-property: opacity;
	transition-duration:0.2s;
}
.con04 ul li .btn:hover,
.con04 ul li .btn a:hover{
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.con04 ul li .btn img:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}


.con05{
	background: url(../img/bg05.jpg) no-repeat center bottom #fdfdff;
}
.con05 .img{
	position: relative;
	text-align: center;
	margin: 80px 0 100px;
}
.con05 .img img{
	margin: auto;
}
.con05 .img p{
	position: absolute;
	top: 115px;
	right: 75px;
	font-size: 12px;
}
.con05 ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.con05 ul:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.con05 ul li{
	width: 400px;
	padding: 0 45px;
	margin: 0;
	float: left;
}
.con05 ul li h2{
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝", serif;
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: lighter;
	line-height: 1.6;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #00b7ee;
}
.con05 ul li p{
	font-size: 14px;
	text-shadow:0px 0px 2px #ffffff,0px 0px 2px #ffffff,0px 0px 2px #ffffff,0px 0px 2px #ffffff,0px 0px 2px #ffffff;
}

.con06{
	background: url(../img/bg06.jpg) no-repeat center center;
	background-size: cover;
}
.con06 h2.title{
	background: url(../img/title_w.png) no-repeat center center;
}
.con06 h2.title span{
	color: #ADBAFE;
}
.con06 ul{
	list-style: none;
	margin: 0 -30px 0 0;
	padding: 0;
}
.con06 ul li{
	list-style: none;
	margin: 0 26px 0 0;
	padding: 0;
	display: inline-block;
}
.con06 ul li h4{
	text-align: center;
	font-size: 17px;
	margin: 10px 0 20px;
}
.con06 ul li h4 span{
	padding: 0 5px;
	color: #fff;
	background: url(../img/line_lb.png) repeat-x left bottom;
}
.con06 ul li li{
	margin: 0 1px 0 0;
	float:left;
}
.con06 ul li li a{
	transition-property: opacity;
	transition-duration:0.2s;
}
.con06 ul li li img{
	display: block;
	transition-property: opacity;
	transition-duration:0.2s;
}
.con06 ul li li a:hover{
	background: #fff;
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.con06 ul li li a img:hover{
	opacity: 0.5;
}



.con07{
	background: #E5E5E5;
}
.form{
	max-width: 980px;
	margin: 20px auto 80px;
	color: #333;
}
.form.confilm,
.form.comp{
	max-width: 640px;
}
.comp{
	text-align: center;
	padding: 150px 30px;
	margin: 100px auto 150px;
}
.form_err{
	background: #E50024;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	margin-bottom: 1px;
}
.p1{
	margin: 0 0 5px;
}
.form table{
	width: 100%;
}
.form th,.form  td{
	padding: 15px 0;
	line-height: 1.4;
	font-size: 14px;
}
.form th{
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	color: #00194c;
	width: 200px;
}
input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder{
    color: #ccc;
}
#name,
#namekana,
#mail{
    width: 95%;
}
#birthyear,
#birthmonth{
	margin-right: 10px;
}
.mark {
    background: #FFA200;
    font-size: 10px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: -2px;
    display: inline-block;
}
.mark.gray {
    background: #898989;
}
.submit{
	display: block;
	max-width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
	transition-property: opacity;
	transition-duration:0.2s;
	margin-top: 50px;
	box-shadow:20px 20px 0px -2px rgba(0,119,220,0.2);
	-moz-box-shadow:20px 20px 0px -2px rgba(0,119,220,0.2);
	-webkit-box-shadow:20px 20px 0px -2px rgba(0,119,220,0.2);
}
.submit:hover{
	opacity: 0.5;
}
.submit img{
	max-width: 100%;
}
.confilm .submit{
	margin-top: 30px;
	margin-bottom: -10px;
}

.confilm{
	background: #D4E8F8;
	padding: 50px;
}
.confilm_h2{
	font-size: 20px;
	margin:80px 0 50px;
}
.confilm table{
	border-top: 1px solid #91A5BB;
}
.confilm th,.confilm td{
	border-bottom: 1px solid #91A5BB;
	padding: 25px;
}
.confilm th{
	font-weight: bold;
}
.comp{
	text-align: center;
	padding: 150px 30px;
	margin: 100px auto 150px;
}
.confilm a,
.comp a{
	color: #0055A5;
}

footer{
	background: url(../img/bg07.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	padding: 80px 0; 
}

@media screen and (max-width:640px) {
	/* 共通 */
	body{
		min-width: 320px;
	}
	.pc{
		display: none;
	}
	.sp{
		display: block;
		font-size: 14px;
	}
	img{
		max-width: 100%;
		position: relative;
		z-index: 0;
	}
	.con_box{
		padding: 120px 20px;
	}
	
	/* header */
	.header_wrap {
		width: 100%;
	}
	.menu{
		position: absolute;
		top: 20px;
		right: 20px;
		width: 30px;
	}
	h1 {
		margin: 20px;
	}
	h1 img {
		height: 25px;
	}
	.nav_wrap{
		display: none;
		background: url(../img/menu_bg.png);
		padding: 100px 0 150px;
		position: fixed;
		width: 100%;
		z-index: 200;
		top: 0;
		left: 0;
		height: 100%;
	}
	.header_wrap ul {
		padding: 0 20px;
		margin: 0;
		float: none;
	}
	.header_wrap ul li {
		display: block;
		margin: 20px 0;
		text-align: center;
	}
	.header_wrap ul li a{
		font-size: 18px;
	}
	.header_wrap ul li.link:after {
		display: none;
	}
	.header_wrap ul li.btn a {
		display: block;
		padding: 10px;
	}
	.header_wrap ul li.btn01 a {
		background: url(../img/arr_w.png) no-repeat 95% center #F28900;
		background-size: 5px auto;
		letter-spacing: 0;
		margin-right: 0;
	}
	.header_wrap ul li.btn02 a {
		background: url(../img/arr_rb.png) no-repeat 95% center;
		background-size: 5px auto;
		letter-spacing: 0;
		margin-right: 0;
		color: #ADBAFE;
		border:1px solid #ADBAFE;
	}
	
	/* content */
	.con01{
		background: url(../img/bg_sp01.jpg) no-repeat left top #fff;
		background-size: 100% auto;
	}
	.top_area {
		padding: 0;
		margin-top: 65px;
	}
	.top_img {
		margin: 0 0 0 -40%;
		width: 140% !important;
		max-width: 140%;
	}
	.top_text {
		padding: 5%;
		margin: -20% 5% 0;
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		min-height: auto;
	}
	.top_text h2 {
		line-height: 1.4;
		font-size: 35px;
		letter-spacing: 0.5px;
		background-position: center bottom;
	}
	.top_text h2 span {
		font-size: 20px;
	}
	.top_text .p01,
	.top_text .p02{
		font-size: 16px;
	}
	.con01 .con_box{
		background: url(../img/bg_sp02.jpg) no-repeat left bottom;
		background-size: 100% auto;
    	padding: 70px 20px;
	}
	.con01 .con_box p {
		line-height: 1.8;
		letter-spacing: 0px;
	}
	.task {
		padding: 20px;
		margin: 50px 0;
	}
	.task ul li {
		font-size: 16px;
	}
	.con01 .con_box .p03 {
		width: 100%;
		line-height: 1.4;
		font-size: 16px;
	}
	.con01 .con_box .p04 {
		letter-spacing: 1px;
		font-size: 22px;
		margin-top: 30px;
	}
	.con01 .con_box .p04 span.small {
		font-size: 16px;
	}
	
	.con02 {
		background-image: url(../img/bg03sp.jpg);
		background-size: cover;
	}
	.con02 .con_box{
		padding: 80px 20px 120px;
	}
	.con02 .arr {
		margin-left: -24px;
		width: 48px;
	}
	.con02 ul {
		list-style: none;
		padding: 0;
		margin: 0 -5% 50px 0;
	}
	.con02 ul:after {
		content: "";
		clear: both;
		height: 0;
		display: block;
		visibility: hidden;
	}
	.con02 ul li {
		width: 45%;
		margin: 0 5% 55px 0;
		letter-spacing: 0;
	}
	.con02 ul li:nth-child(4) {
		clear: none;
	}
	.con02 ul li:nth-child(odd) {
		clear: both;
	}
	.con02 ul li h3{
		line-height: 1.8;
	}
	.btn_entry {
		margin:0 auto -160px;
		width: 100%;
	}
	
	.con03 .con_box ul .img {
		width: 100%;
		min-height: 200px;
		float: none;
	}
	.con03 .con_box ul .text {
		margin-left: 0;
		min-height: 280px;
		padding: 20px;
	}
	.con03 .con_box ul .img .arr {
		position: absolute;
		top:auto;
		bottom: -10px;
		right: 50%;
		margin-top: 0;
		margin-right: -10px;
		transform: rotate(90deg);
    	-webkit-transform: rotate(90deg);
	}
	.con03 .con_box ul li:nth-child(2) .img .arr {
		position: absolute;
		top:auto;
		bottom: -10px;
		left: 50%;
		margin-top: 0;
		margin-left: -10px;
		transform: rotate(-90deg);
    	-webkit-transform: rotate(-90deg);
	}
	.con03 .con_box ul li:nth-child(2) .img {
		float: none;
	}
	.con03 .con_box ul li:nth-child(2) .text {
		margin: 0;
	}
	
	.con04 .con_box{
		padding: 120px 0;
	}
	.con04 ul {
		margin: 0;
	}
	.con04 ul li {
		width: 90%;
		float: none;
		padding: 5%;
		margin: 0 0 85px 0;
	}
	.con04 ul li:after {
		left: 5%;
	}
	.con04 ul li .income {
		margin: 0 -5.5% 20px 0;
		padding: 0 20px 0 65px;
		font-size: 27px;
	}
	.con04 ul li .income span {
		font-size: 18px;
	}
	.con04 ul li .income:before {
		font-size: 14px;
	}
	.con04 ul li table th,
	.con04 ul li table td {
		padding: 10px 5px;
	}
	.con04 ul li .btn{
		width: 100%;
		background: none;
		text-align: center;
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
		-moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
		-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
	.con04 ul li .btn:hover{
		background: none;
	}
	.con04 ul li .btn img{
		margin: auto;
	}
	
	.con05 .img {
		margin: 0 0 100px;
	}
	.con05 ul li h2 {
		font-size: 24px;
	}
	.con05 .img p {
		position: static;
	}
	.con05 ul li {
		width: 90%;
		padding: 0 5% 30px;
	}
	
	.con06 {
		background: url(../img/bg06_sp.jpg) no-repeat;
		background-size: cover;
	}
	.con06 ul {
		margin: 0;
		text-align: center;
	}
	.con06 ul li {
		margin: 0 auto 50px;
	}
	.con06 ul li h4 {
		margin: 10px 0 20px;
	}
	.con06 ul li li {
		width: 49.5%;
	}

	
	.form th,.form td{
		display: list-item;
		list-style: none;
		margin: 0;
	}
	.form th {
    	white-space: inherit;
		border-bottom: none;
		padding-bottom: 0;
		font-weight: bold;
	}
	.form td{
		padding-top: 15px;
		max-width: 100%;
	}
	select{
		max-width: 88%;
	}
	textarea {
		max-width: 94%;
		padding: 3%
	}
	input#name,
	input#namekana,
	input#mail{
		width: 90%;
		padding: 5%;
	}
	.confilm {
		padding: 50px 20px;
	}
	.confilm th,.confilm td{
		padding: 15px 0;
	}
	.cancel{
		width: 50%;
	}
}


/* ishibashi */

h1>em{
	display: none;
}