
p.dt{ 
  font-size: 17px;
  font-family: "Meiryo";
  color: rgb(80, 0, 0);
  font-weight: bold;
  margin-bottom: 2px;
}

span.must{ 
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(208, 0, 0);
  width: 67px;
  height: 21px;
  vertical-align: middle;
  padding: 2px 5px;
  margin: 0 0 0 10px;
}


div.wrappp{
  width: 563px;
  margin: 0 auto;
  box-sizing: border-box;
  padding:700px 0 0;
}

p.dd>input{
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  border-radius: 7px;
}
p.dd>input::placeholder{
  font-size: 17px;
  font-weight: bold;
  color: #bfbfbf;
}

.submit{
  text-align: center;
}
.submit > input {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(255, 104, 3);
  box-shadow: 0px 6px 0px 0px rgba(176, 88, 2, 0.96);
  width: 327px;
  height: 67px;
  border: none;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}








