@charset "UTF-8";
/*----------------------------------------

		$[normalize]

----------------------------------------*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*----------------------------------------

        $[reset]

----------------------------------------*/
html {
  min-width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.8;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div,
span,
p,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
th,
td,
a,
img,
*:after,
*:before {
  box-sizing: border-box;
}

p,
li,
dl,
table {
  margin: 0;
  line-break: strict;
  word-break: break-strict;
  word-wrap: break-word;
  line-height: 1.8;
  font-size: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
  line-height: 1.8;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

/*----------------------------------------

            $[helper]

----------------------------------------*/
.Lct {
  float: left;
}

.Rct {
  float: right;
}

.clear {
  clear: both;
}

.cfx {
  display: inline-block;
}

* html .cfx {
  height: 1%;
}

.cfx {
  display: block;
}

.cfx:after {
  content: "";
  display: block;
  clear: both;
}

.cfxo {
  overflow: hidden;
}

.nw {
  white-space: nowrap;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.br-sp {
  display: none;
}

@media screen and (max-width: 480px) {
  .br-sp {
    display: block;
  }
}

.br-pc {
  display: block;
}

@media screen and (max-width: 480px) {
  .br-pc {
    display: none;
  }
}

/*----------------------------------------

            $[basic]

----------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #313131;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
  line-height: 1.8;
  text-align: justify;
}

a {
  cursor: pointer;
  background: transparent;
  color: #313131;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  color: #999;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

::selection {
  background: #999;
  color: #fff;
}

ul li {
  list-style: none;
  list-style-position: outside;
}

ol li {
  list-style-type: decimal;
  list-style-position: outside;
}

sup {
  font-size: 10px;
  font-size: 1rem;
  vertical-align: text-bottom;
}

sub {
  font-size: 10px;
  font-size: 1rem;
  vertical-align: text-top;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
  background: #fff;
}

.noscript {
  position: relative;
  padding: 20px 0;
  background: #fff;
  text-align: center;
  z-index: 99999;
}

.noscript span {
  color: red;
}

#wrapper {
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media print {
  #wrapper {
    width: 960px;
    overflow: hidden;
    border: none;
  }
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 94%;
    min-width: 94%;
  }
}

/*----------------------------------------

            $[header]

----------------------------------------*/
header {
  width: 100%;
  min-width: 1000px;
  background-color: #fff;
  border-bottom: solid 2px #0a781f;
  padding: 5px 5px 5px 15px;
  z-index: 50;
}

@media screen and (max-width: 480px) {
  header {
    min-width: 100%;
    padding: 10px 15px;
  }
}

header.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.header__logo {
  float: left;
  padding: 10px 0 0;
}

@media screen and (max-width: 480px) {
  .header__logo {
    float: none;
    padding: 0 60px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
  }
}

.header__logo a {
  display: block;
  line-height: 1;
}

@media screen and (max-width: 480px) {
  .header__logo img {
    width: auto !important;
    height: 30px;
  }
}

.header__gnav {
  float: right;
}

@media screen and (max-width: 480px) {
  .header__gnav {
    float: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 50;
  }
}

.header__nav {
  float: left;
  padding: 18px 10px 0 0;
}

@media screen and (max-width: 480px) {
  .header__nav {
    display: none;
    float: none;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0;
  }
}

.header__cta {
  float: right;
  vertical-align: top;
}

@media screen and (max-width: 480px) {
  .header__cta {
    display: none;
  }
}

/*----------------------------------------

            $[footer]

----------------------------------------*/
footer {
  padding: 40px 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  footer img {
    width: 80%;
  }
}

address {
  margin: 40px 0 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: #999;
  font-family: "Arial", sans-serif;
}

/*----------------------------------------

            $[navigation]

----------------------------------------*/
.header__nav li {
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .header__nav li {
    display: block;
    padding: 0;
    border-bottom: solid 1px #fff;
  }
}

.header__nav li.cta_link {
  display: none;
}

@media screen and (max-width: 480px) {
  .header__nav li.cta_link {
    display: block;
  }
  .header__nav li.cta_link a {
    color: #0ffff0;
  }
}

.header__nav a {
  display: block;
}

@media screen and (max-width: 480px) {
  .header__nav a {
    padding: 20px 0;
    font-size: 18px;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
  }
}

/*  btn_sdnav
----------------------------------------*/
.btn_sdnav {
  display: none;
}

@media screen and (max-width: 480px) {
  .btn_sdnav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #0a781f;
  }
}

.btn_sdnav_icon {
  display: none;
}

@media screen and (max-width: 480px) {
  .btn_sdnav_icon {
    display: block;
    width: 50px;
    height: 50px;
    z-index: 3;
  }
  .btn_sdnav_icon span {
    display: block;
    background: #fff;
    width: 24px;
    height: 2px;
    position: absolute;
    left: 13px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .btn_sdnav_icon span:first-child {
    top: 15px;
  }
  .btn_sdnav_icon span:nth-child(2) {
    margin-top: -1px;
    top: 50%;
  }
  .btn_sdnav_icon span:last-child {
    bottom: 15px;
  }
}

.btn_sdnav_icon.active span:first-child {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.btn_sdnav_icon.active span:nth-child(2) {
  opacity: 0;
}

.btn_sdnav_icon.active span:last-child {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

/*----------------------------------------

            $[heading]

----------------------------------------*/
[class^="ttl-"] {
  position: relative;
  margin: 0 0 20px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
}

@media screen and (max-width: 480px) {
  [class^="ttl-"] {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.8;
  }
}

.ttl-a {
  font-size: 28px;
  font-size: 2.8rem;
  color: #0a781f;
}

@media screen and (max-width: 480px) {
  .ttl-a {
    margin: 0 0 10px;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.4;
  }
}

.ttl-b {
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.3em;
}

@media screen and (max-width: 480px) {
  .ttl-b {
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
  }
}

.ttl-b span {
  display: inline-block;
  margin: 10px 0 20px;
  padding: 15px 30px;
  background-image: url(../images/bg_stripe.png);
  background-repeat: repeat;
  border: solid 4px #313131;
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 0;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .ttl-b span {
    width: 100%;
    margin: 10px 0;
    padding: 10px 3%;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.4;
  }
}

.ttl-b strong {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: solid 4px #313131;
  padding: 5px 30px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .ttl-b strong {
    padding: 5px 20px;
  }
}

.ttl-c {
  position: relative;
  background-color: #fff;
  border: solid 4px #313131;
  padding: 15px 30px;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 480px) {
  .ttl-c {
    padding: 15px 5%;
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.ttl-c:before, .ttl-c:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 1;
}

.ttl-c:before {
  left: 0;
  top: 0;
  border-width: 50px 90px 0 0;
  border-color: #32b16c transparent transparent transparent;
}

@media screen and (max-width: 480px) {
  .ttl-c:before {
    border-width: 25px 45px 0 0;
  }
}

.ttl-c:after {
  right: 0;
  bottom: 0;
  border-width: 0 0 50px 90px;
  border-color: transparent transparent #32b16c transparent;
}

@media screen and (max-width: 480px) {
  .ttl-c:after {
    border-width: 0 0 25px 45px;
  }
}

.ttl-c span {
  display: inline-block;
  background-color: #e84700;
  border-radius: 12px;
  padding: 0 30px;
  color: #fff;
  line-height: 24px;
  z-index: 3;
}

.ttl-c strong {
  display: block;
  padding: 5px 0;
  font-size: 32px;
  font-size: 3.2rem;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .ttl-c strong {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.4;
  }
}

/*----------------------------------------

            $[text]

----------------------------------------*/
.cl-a {
  color: #fff;
}

.cl-b {
  color: #313131;
}

.cl-c {
  color: #999;
}

.cl-d {
  color: #0a781f;
}

.font-en {
  font-family: "Arial", sans-serif;
}

/*----------------------------------------

            $[CTA]

----------------------------------------*/
.cta {
  padding: 40px 0;
  border-top: solid 2px #0a781f;
  border-bottom: solid 2px #0a781f;
}

@media screen and (max-width: 480px) {
  .cta {
    padding: 30px 2%;
  }
}

.cta__txt {
  float: left;
  width: 450px;
  padding: 0 0 0 50px;
}

@media screen and (max-width: 480px) {
  .cta__txt {
    display: none;
  }
}

.cta__txt h3 {
  margin: 15px 0;
}

.cta__btn {
  float: right;
  width: 460px;
  margin: 10px 0 0 0;
}

@media screen and (max-width: 480px) {
  .cta__btn {
    float: none;
    width: 100%;
  }
}

.cta__btn .btn {
  margin: 20px 0;
}

@media screen and (max-width: 480px) {
  .cta__btn .btn {
    margin: 8px 0;
  }
}

.cta__btn .logo {
  margin: 0;
}

.cta__btn .caption {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .cta-sp {
    border-top: none;
    border-bottom: none;
  }
}

.cta .info {
  display: none;
}

@media screen and (max-width: 480px) {
  .cta .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    background-color: #eee;
    border-radius: 6px;
    padding: 10px 3%;
    margin: 30px auto 0;
  }
  .cta .info dt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    margin-right: 3%;
  }
  .cta .info dd {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
            flex: 3;
    margin: 0;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.4;
  }
}

/*----------------------------------------

            $[voc]

----------------------------------------*/
.voc {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.voc dt {
  width: 120px;
  color: #0a781f;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.voc dt img {
  width: 30px;
}

.voc dd {
  position: relative;
  margin: 0;
}

.voc dd span {
  display: block;
  background-color: #0a781f;
  border-radius: 6px;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.voc dd span::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  margin: -10px 0 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/*----------------------------------------

            $[mordal]

----------------------------------------*/
#mordal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 90;
}

#mordal__inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -200px 0 0;
  text-align: center;
}

#mordal__close {
  width: 150px;
  margin: 30px auto 0;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #fff;
  cursor: pointer;
}

#mordal__switch {
  width: 100vw;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/*----------------------------------------

            $[main]

----------------------------------------*/
.main {
  position: relative;
  overflow: hidden;
}

.main .loop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main .loop__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main .loop:after {
  content: "";
  display: none;
  clear: none;
}

.main .loop ul {
  float: left;
  height: 100%;
}

.main .loop li {
  float: left;
  position: relative;
  display: block;
  width: 800px;
}

@media screen and (max-width: 480px) {
  .main .loop li {
    background-image: url(../images/main_slide.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: 100% !important;
  }
  .main .loop li img {
    opacity: 0;
  }
}

.main .bg {
  min-height: 700px;
  position: relative;
  background-image: url(../images/main_bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding: 60px 0 40px;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .main .bg {
    min-height: auto;
    background-position: 120px center;
    background-size: cover;
    padding: 40px 6% 40px;
  }
}

.main .title {
  margin: 0 0 30px;
}

.main .txt {
  width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .main .txt {
    display: none;
  }
}

.main .info {
  padding: 6px 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .main .info {
    display: none;
  }
}

.main .info dt {
  float: left;
  width: 120px;
  border-right: solid 1px #909090;
  padding: 5px 20px 5px 0;
  box-sizing: border-box;
}

.main .info dd {
  padding: 0 0 0 94px;
  font-size: 13px;
  font-weight: bold;
  line-height: 40px;
}

/*----------------------------------------

            $[faq]

----------------------------------------*/
#faq {
  background-image: url(../images/faq_bg.png);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

@media screen and (max-width: 480px) {
  #faq {
    background-attachment: scroll;
    background-position: top left;
  }
}

.faq__box {
  background-color: #fff;
  border: solid 4px #0a781f;
  border-radius: 10px;
  box-shadow: 7px 7px 10px #999;
  margin: 0 0 40px;
}

.faq__box dl {
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .faq__box dl {
    padding: 10px 3%;
  }
}

.faq__box dt {
  float: left;
  width: 2em;
  font-size: 22px;
  font-size: 2.2rem;
  font-style: italic;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .faq__box dt {
    width: 1em;
    font-size: 18px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .faq__box dd {
    margin-left: 1.5em;
  }
}

.faq__box .q {
  background-color: #f3f3f3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.faq__box .q dt {
  color: #237ac3;
}

.faq__box .q dd {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .faq__box .q dd {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.faq__box .a {
  padding-right: 40px;
}

@media screen and (max-width: 480px) {
  .faq__box .a {
    padding-right: 3%;
  }
}

.faq__box .a dt {
  color: #d11c82;
}

.faq__box .a dd {
  color: #0a781f;
  font-size: 16px;
  font-size: 1.6rem;
}

.faq__box .a dd strong {
  display: block;
}

@media screen and (max-width: 480px) {
  .faq__box .a dd strong {
    margin-left: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .faq__box .a dd {
    margin: 0;
  }
}

.faq__support {
  border-top: solid 2px #0a781f;
  text-align: center;
}

.faq__support h4 {
  float: left;
  width: 200px;
  border-right: solid 2px #0a781f;
  padding: 20px 0;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 26px;
}

@media screen and (max-width: 480px) {
  .faq__support h4 {
    float: none;
    width: 100%;
    border-right: none;
    border-bottom: solid 2px #0a781f;
    padding: 10px 0;
  }
}

.faq__support ul {
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .faq__support ul {
    padding: 10px 6%;
  }
}

.faq__support ul li {
  display: inline-block;
  margin: 0 6px;
}

@media screen and (max-width: 480px) {
  .faq__support ul li {
    display: block;
    margin: 6px;
  }
}

.faq__support ul img {
  width: auto;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .faq__support ul img {
    height: 40px;
  }
}

.faq__voc {
  width: 760px;
  margin: 0 0 40px;
}

@media screen and (max-width: 480px) {
  .faq__voc {
    width: 100%;
    margin: 0 0 20px;
  }
}

.faq__voc dd {
  width: 640px;
}

@media screen and (max-width: 480px) {
  .faq__voc dd {
    width: 100%;
  }
}

.faq__voc dd span::before {
  left: -10px;
  border-right: 10px solid #0a781f;
}

.faq__point {
  position: relative;
  background-color: #ffff55;
  border: solid 4px #0a781f;
  border-radius: 10px;
  box-shadow: 7px 7px 10px #999;
  margin: 0 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .faq__point {
    display: block;
    margin: 40px 3%;
  }
}

.faq__point h3 {
  float: left;
  width: 210px;
  padding: 60px 20px 50px;
  background-color: #0a781f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media screen and (max-width: 480px) {
  .faq__point h3 {
    float: none;
    width: 100%;
    padding: 20px 14% 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
}

.faq__point h3 span {
  position: absolute;
  top: -15px;
  left: -15px;
}

.faq__point h3 span img {
  width: auto;
  height: 40px;
}

@media screen and (max-width: 480px) {
  .faq__point h3 span img {
    height: 30px;
  }
}

.faq__point p {
  padding: 0 30px;
  color: #0a781f;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .faq__point p {
    padding: 20px 6%;
  }
}

.faq__point p strong {
  padding: 0 0 3px;
  border-bottom: solid 1px #0a781f;
}

.faq__menu {
  background-color: rgba(255, 255, 255, 0.74);
  padding: 60px 0;
  margin: 0 0 30px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .faq__menu {
    padding: 30px 0;
    margin: 0;
  }
}

.faq__menu h3 {
  margin: 0 0 40px;
}

@media screen and (max-width: 480px) {
  .faq__menu h3 {
    margin: 0 0 30px;
  }
}

.faq__menu ul li {
  display: inline-block;
  margin: 0 15px 15px;
}

.faq__menu ul li span {
  display: block;
  margin: 0 0 5px;
  font-weight: bold;
}

.faq__menu ul img {
  width: auto;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .faq__menu ul img {
    height: 40px;
  }
}

/*----------------------------------------

            $[data]

----------------------------------------*/
#data {
  padding: 40px 0 0;
}

#data .ttl-b span {
  margin: -20px 0 0;
  padding: 25px 30px 15px;
}

@media screen and (max-width: 480px) {
  #data .ttl-b span {
    padding: 25px 3% 15px;
  }
}

.data__want {
  margin: 60px 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .data__want {
    margin: 40px 0;
  }
}

.data__want li {
  display: inline-block;
  margin: 0 30px;
}

@media screen and (max-width: 480px) {
  .data__want li {
    width: 30%;
    margin: 0 1%;
  }
}

.data__happy .txt {
  float: left;
  width: 480px;
}

@media screen and (max-width: 480px) {
  .data__happy .txt {
    float: none;
    width: 100%;
    margin: 0 0 30px;
  }
}

.data__happy .txt h4 {
  font-size: 25px;
  font-size: 2.5rem;
}

@media screen and (max-width: 480px) {
  .data__happy .txt h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}

.data__happy .graf {
  float: right;
  width: 440px;
}

@media screen and (max-width: 480px) {
  .data__happy .graf {
    float: none;
    width: 100%;
  }
}

.data__happy .graf span {
  display: block;
  margin: 10px 0 0;
  font-size: 11px;
  font-size: 1.1rem;
  text-align: right;
}

.data__wrap {
  background-color: #eee;
  margin: 120px 0 0;
  padding: 40px 0;
}

@media screen and (max-width: 480px) {
  .data__wrap {
    margin: 80px 0 0;
    padding: 40px 0 20px;
  }
}

.data__wrap .ttl-c {
  margin: -100px 100px 60px;
}

@media screen and (max-width: 480px) {
  .data__wrap .ttl-c {
    margin: -100px 0 30px;
  }
}

.data__sendai {
  margin: 0 0 40px;
}

@media screen and (max-width: 480px) {
  .data__sendai {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 0 20px;
    padding: 0 0 30px;
  }
}

.data__sendai .txt {
  float: right;
  width: 520px;
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 10px;
  margin: 50px 0 0 -20px;
  padding: 50px 40px;
}

@media screen and (max-width: 480px) {
  .data__sendai .txt {
    float: none;
    width: 100%;
    margin: 0;
    padding: 30px 6%;
    background-size: 140px auto;
  }
}

.data__sendai .txt h4 {
  margin: 0 auto 20px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .data__sendai .txt .voc {
    display: none;
  }
}

.data__sendai .graf {
  float: left;
  width: 460px;
}

@media screen and (max-width: 480px) {
  .data__sendai .graf {
    float: none;
    width: 100%;
  }
}

.data__sendai .graf img {
  padding: 20px 60px 20px 20px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .data__sendai .graf img {
    padding: 0 6%;
  }
}

.data__sendai .graf span {
  display: block;
  margin: 10px 0 0;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 0 40px 0 20px;
}

@media screen and (max-width: 480px) {
  .data__sendai .graf span {
    padding: 0 6%;
  }
}

.data__sendai.data01 .txt {
  background-image: url(../images/data_point01.png);
}

.data__sendai.data02 .txt {
  background-image: url(../images/data_point02.png);
}

.data__sendai.data02 .graf img {
  padding: 40px 60px 40px 20px;
}

@media screen and (max-width: 480px) {
  .data__sendai.data02 .graf img {
    padding: 0 6%;
  }
}

.data__sendai.data03 .txt {
  background-image: url(../images/data_point03.png);
}

.data__sendai .voc-sp {
  display: none;
}

@media screen and (max-width: 480px) {
  .data__sendai .voc-sp {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}

.data__voc {
  margin: 20px 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 480px) {
  .data__voc {
    margin: 20px 3% 0 6%;
  }
}

.data__voc dd {
  width: 320px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .data__voc dd {
    width: 100%;
  }
}

.data__voc dd span::before {
  right: -10px;
  border-left: 10px solid #0a781f;
}

/*----------------------------------------

            $[about]

----------------------------------------*/
#about {
  background-image: url(../images/about_bg.png);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 50px 0;
}

@media screen and (max-width: 480px) {
  #about {
    padding: 20px 0;
    background-attachment: scroll;
  }
}

#about h3 {
  background-color: #fff;
  border-bottom: solid 4px #a49b95;
  padding: 30px 0;
  margin: 0 0 50px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #about h3 {
    padding: 17px 6% 7px;
    margin: 0 0 20px;
  }
}

.about__point {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background-color: #fff;
  margin: 0 0 20px;
}

@media screen and (max-width: 480px) {
  .about__point {
    display: block;
  }
}

.about__point .photo {
  width: 474px;
}

@media screen and (max-width: 480px) {
  .about__point .photo {
    width: 100%;
  }
}

.about__point .txt {
  width: 486px;
  padding: 0 0 0 80px;
}

@media screen and (max-width: 480px) {
  .about__point .txt {
    width: 100%;
    padding: 30px 6%;
  }
}

.about__point .txt h4 {
  margin: 0 0 20px;
  font-size: 30px;
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  .about__point .txt h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}

.about__hurex {
  background-color: #fff;
  border-radius: 10px;
  margin: 60px 0 0;
  padding: 40px;
}

@media screen and (max-width: 480px) {
  .about__hurex {
    margin: 20px 0 0;
    padding: 20px 6%;
  }
}

.about__hurex h4 {
  margin: 0 0 40px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .about__hurex h4 {
    margin: 0 6% 20px;
  }
}

.about__hurex h4 img {
  height: 40px;
}

@media screen and (max-width: 480px) {
  .about__hurex h4 img {
    height: 25px;
  }
}

.about__hurex .photo {
  float: left;
  width: 280px;
}

@media screen and (max-width: 480px) {
  .about__hurex .photo {
    float: none;
    width: 100%;
  }
}

.about__hurex .txt {
  float: right;
  width: 600px;
  padding: 20px 0 0 50px;
  line-height: 2;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 480px) {
  .about__hurex .txt {
    float: none;
    width: 100%;
    padding: 20px 0;
    line-height: 1.8;
    letter-spacing: normal;
  }
}

/*----------------------------------------

            $[job]

----------------------------------------*/
#job {
  background-color: #eee;
  padding: 60px 0;
}

@media screen and (max-width: 480px) {
  #job {
    padding: 40px 0;
  }
}

#job .ttl-b {
  margin: 0;
}

#job .ttl-b span {
  padding: 15px 120px;
}

@media screen and (max-width: 480px) {
  #job .ttl-b span {
    padding: 10px 0;
  }
}

#job .ttl-b + p {
  margin: 0 0 40px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #job .ttl-b + p {
    margin: 0 0 20px;
  }
}

#job .ttl-b + p span {
  display: inline-block;
  background-color: #fff;
  padding: 10px 60px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  #job .ttl-b + p span {
    padding: 6px 5%;
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.job__list {
  float: left;
  width: 465px;
  background-image: url(../images/job_bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 30px 30px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .job__list {
    float: none;
    width: 100%;
    margin: 0 0 15px;
  }
}

.job__list:nth-child(2n) {
  margin-right: 0;
}

.job__list a {
  display: block;
  padding: 40px 40px 30px;
}

@media screen and (max-width: 480px) {
  .job__list a {
    padding: 20px 5%;
  }
}

.job__list a:hover {
  opacity: 0.8;
}

.job__list .genre {
  margin: 0 0 15px;
  text-align: center;
}

.job__list .genre span {
  background-color: #0a781f;
  padding: 5px 20px;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.job__list h4 {
  color: #0a781f;
  font-size: 18px;
  font-size: 1.8rem;
}

@media screen and (max-width: 480px) {
  .job__list h4 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.job__list .price {
  margin: 15px 0;
  color: #e84700;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .job__list .price {
    margin: 0 0 5px;
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.job__list .price strong {
  font-size: 28px;
  font-size: 2.8rem;
  padding: 0 3px 3px;
  border-bottom: solid 1px #e84700;
  font-family: "Century Gothic", Arial;
}

.job__list .btn {
  text-align: center;
}

.job__btn {
  clear: both;
  text-align: center;
}

.job__btn + p {
  color: #555;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
}

.job__btn a {
  display: block;
  background-color: #338cca;
  box-shadow: 0 6px 0 #0072c2;
  border-radius: 10px;
  width: 386px;
  height: 80px;
  margin: 60px auto 10px;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 80px;
}

@media screen and (max-width: 480px) {
  .job__btn a {
    width: 92%;
    height: 70px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 70px;
    margin: 30px auto 10px;
  }
}

.job__btn a:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px 0 0;
  background-image: url(../images/job_btn_icon.png);
  background-size: cover;
  vertical-align: middle;
}

.job__btn a:hover {
  opacity: 0.8;
}

/*----------------------------------------

            $[consultant]

----------------------------------------*/
#consultant {
  background-image: url(../images/consultant_bg.png);
  background-position: top center;
  background-repeat: repeat-x;
  padding: 80px 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #consultant {
    padding: 40px 0;
    background-size: contain;
  }
}

#consultant h3 {
  margin: 0 0 30px;
}

@media screen and (max-width: 480px) {
  #consultant h3 {
    margin: 0 20px 20px;
  }
  #consultant h3 img {
    height: 32px;
  }
}

#consultant h3 + p {
  margin: 0 0 70px;
  color: #575757;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  #consultant h3 + p {
    margin: 0 0 40px;
  }
}

#consultant h3 + p strong {
  font-size: 25px;
  font-size: 2.5rem;
  font-family: "Arial", sans-serif;
}

#consultant ul {
  text-align: left;
}

#consultant ul li {
  display: inline-block;
  margin: 0 8px 30px;
}

@media screen and (max-width: 480px) {
  #consultant ul li {
    width: 28%;
    margin: 0 2% 20px;
  }
}

/*----------------------------------------

            $[access]

----------------------------------------*/
#access {
  background-color: #eee;
  padding: 40px 0 60px;
}

.access__box {
  background-color: #fff;
  padding: 30px 0;
  margin: 0 0 30px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .access__box {
    padding: 30px 20px;
  }
}

.access__box h3 + p {
  margin: 10px 0 15px;
}

@media screen and (max-width: 480px) {
  .access__box p img {
    width: auto;
    height: 18px;
  }
}

.access__office {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background-color: #fff;
  margin: 0 0 10px;
}

@media screen and (max-width: 480px) {
  .access__office {
    position: relative;
    display: block;
    padding: 20px;
  }
}

.access__office .photo {
  width: 354px;
}

@media screen and (max-width: 480px) {
  .access__office .photo {
    width: 100%;
    margin: 0 0 20px;
  }
  .access__office .photo img {
    width: 100%;
    height: auto;
  }
}

.access__office .txt {
  width: 486px;
  padding: 0 0 0 80px;
}

@media screen and (max-width: 480px) {
  .access__office .txt {
    width: 100%;
    padding: 0;
  }
}

.access__office .txt h4 {
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 1;
}

@media screen and (max-width: 480px) {
  .access__office .txt h4 {
    font-size: 30px;
    font-size: 3rem;
  }
}

.access__office .txt h4 span {
  color: #0a781f;
}

.access__office .txt .logo {
  margin: 10px 0;
  line-height: 1;
}

.access__office .txt .address {
  margin: 0 0 15px;
  color: #777;
  font-weight: bold;
  line-height: 1.4;
}

@media screen and (max-width: 480px) {
  .access__office .txt .address {
    padding: 0 90px 0 0;
    font-size: 12px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .access__office .txt .tel {
    padding: 0 70px 0 0;
  }
}

.access__office .txt .tel img {
  height: 26px;
}

@media screen and (max-width: 480px) {
  .access__office .txt .tel img {
    height: 22px;
  }
}

.access__office .link {
  padding: 0 40px 0 0;
}

@media screen and (max-width: 480px) {
  .access__office .link {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    padding: 0;
  }
}

/*# sourceMappingURL=common.css.map */
