<!-- ankerBox start -->
<div id="ankerBox">
<ul class="clearfix">
<li><a href="<?php print $Path; ?>company/summary/">会社概要</a></li>
<li><a href="<?php print $Path; ?>company/">代表挨拶</a></li>
<li><a href="<?php print $Path; ?>company/history/">沿革</a></li>
<li><a href="<?php print $Path; ?>company/access-map/">アクセスマップ</a></li>
<li><a href="<?php print $Path; ?>company/voices/">社員の声</a></li>
<li><a href="<?php print $Path; ?>company/adoption/">採用情報</a></li>
</ul>
</div>
<!-- ankerBox end -->