<!-- ankerBox start -->
<div id="ankerBox">
<ul class="clearfix">
<li><a href="<?php print $Path; ?>guide/">転職成功ガイド</a></li>
<li><a href="<?php print $Path; ?>guide/step1/">STEP1 事前準備</a></li>
<li><a href="<?php print $Path; ?>guide/step2/">STEP2 応募する</a></li>
<li><a href="<?php print $Path; ?>guide/step3/">STEP3 面接の極意</a></li>
<li><a href="<?php print $Path; ?>guide/step4/">STEP4 内定後の行動</a></li>
<li><a href="<?php print $Path; ?>guide/step5/">STEP5 円満退社へ</a></li>
<li><a href="<?php print $Path; ?>guide/success-story/">転職成功例</a></li>
</ul>
</div>
<!-- ankerBox end -->