<!-- ankerBox start -->
<div id="ankerBox">
<ul class="clearfix">
<li><a href="<?php print $Path; ?>column/resume-adviser/">レジュメアドバイザー</a></li>
<li><a href="<?php print $Path; ?>column/resume-adviser/first.html">まずは何をしたらいいの？</a></li>
<li><a href="<?php print $Path; ?>column/resume-adviser/writing.html">職務経歴書の書き方</a></li>
<li><a href="<?php print $Path; ?>column/resume-adviser/calender.html">西暦・和暦対応表</a></li>
<li><a href="<?php print $Path; ?>column/resume-adviser/post.html">職種別職務内容一覧</a></li>
<li><a href="<?php print $Path; ?>column/resume-adviser/sample.html">職種別サンプルダウンロード</a></li>
<li><a href="<?php print $Path; ?>column/resume-adviser/faq.html">レジュメアドバイザーQ&amp;A</a></li>
</ul>
</div>
<!-- ankerBox end -->