<!-- ankerBox start -->
<div id="ankerBox">
<ul class="clearfix">
<li><a href="<?php print $Path; ?>service-introduction/">ヒューレックスの転職支援</a></li>
<li><a href="<?php print $Path; ?>service-introduction/feature-of-hurex/">ヒューレックスの特徴</a></li>
<li><a href="<?php print $Path; ?>service-introduction/service-flow/">転職支援サービスの流れ</a></li>
<li><a href="<?php print $Path; ?>service-introduction/policy/">ご利用上の注意</a></li>
</ul>
</div>
<!-- ankerBox end -->