<!-- moushikomiBox start -->
<div class="moushikomiBox">
    <div class="inner">
        <p class="btn"><a href="https://www.hurex.jp/smart/entry/form.php" target="_blank"><img src="<?php print $Path; ?>images/btn_moushikomi.png" alt="各業種･各地域の専属コンサルタントが完全サポート 無料転職支援に申し込む"/></a></p>
    </div>
</div>
<!-- moushikomiBox end -->
<!-- bnrBox start -->
<div class="bnrBox">
<p><a href="tel:0120141150"><img src="<?php print $Path; ?>images/bnr_tel.jpg" alt="無料 転職支援サービス フリーコール（通話無料）0120141150 お電話でのお申し込みはこちら サービスに関するお問合わせも気軽にどうぞ" width="100%"></a></p>
</div>
<!-- bnrBox end -->