<!-- menuBox start -->
<div id="menuBox">
<h2>地域の転職ノウハウがココに！</h2>
<ul>
<li><a href="http://xn--u9j982gypd1o0djcp.com/" target="_blank">仙台の転職.com</a></li>
<li><a href="http://xn--u9jt45kr6reegjot.com/" target="_blank">福島の転職.com</a></li>
<li><a href="http://xn--u9jz83kt3b6r4cjcp.com/" target="_blank">山形の転職.com</a></li>
<li><a href="http://xn--u9j944kvsd1s0bjcp.com/" target="_blank">岩手の転職.com</a></li>
<li><a href="https://www.hurex.jp/ibaraki" target="_blank">茨城の転職.com</a></li>
</ul>
</div>
<!-- menuBox start -->
<!-- footLink start -->
<div id="footLink">
<ul class="clearfix">
<li><a href="<?php print $Path; ?>for-charge/">採用企業の皆様へ</a></li>
<li><a href="https://www.hurex.jp/smart/inquiry/">お問合せ</a></li>
<li><a href="<?php print $Path; ?>company/privacy-policy/">個人情報の取扱い</a></li>
<li><a href="<?php print $Path; ?>company/responsibility/">利用規約/免責事項</a></li>
</ul>
</div>
<!-- footLink end -->