<!-- footer start -->
<footer class="clearfix">
<p class="logo"><img src="<?php print $Path; ?>images/logo.gif" alt="HUREX" width="108" height="32"></p>
<p class="txt">ヒューレックスは東北の企業と人を繋ぐ<br>
東北No.1の転職支援会社です。</p>
<p id="copy">Copyright &copy; HUREX All Right Reserved</p>
</footer>
<!-- footer end -->