<!-- header start -->
<header class="clearfix" id="header">
<p class="btnLogin"><a href="https://www.hurex.jp/mypage/user/login" target="_blank"><img src="<?php print $Path; ?>images/btn_login.png" alt="マイページログイン" width="152" height="32" /></a></p>
<p class="logo"><a href="<?php print $Path; ?>index.html"><img src="<?php print $Path; ?>images/logo.gif" alt="HUREX" width="108" height="32"></a></p>
<h1 class="txt">転職エージェントのヒューレックス｜独占求人・転勤なし求人多数</h1>
</header>
<!-- header end -->