<!-- soudankaiBox start
<div id="soudankaiBox">
<h2><img src="<?php print $Path; ?>images/soudankai_title.gif" alt="HUREX転職相談会" width="199" height="22"></h2>
<ul>
<li><a href="<?php print $Path; ?>gw/"><img src="<?php print $Path; ?>images/bnr_gw.jpg" alt="ゴールデンウィーク転職相談会" width="100%"></a></li>
<li><a href="<?php print $Path; ?>summer/"><img src="<?php print $Path; ?>images/bnr_summer.jpg" alt="お盆休みUターン&地元転職相談会" width="100%"></a></li>
<li><a href="<?php print $Path; ?>nenmatsu/"><img src="<?php print $Path; ?>images/bnr_nenmatsu.jpg" alt="年末年始Uターン&amp;東北転職相談会in仙台" width="100%"></a></li>
<li><a href="<?php print $Path; ?>u-turn/"><img src="<?php print $Path; ?>images/bnr_ui.jpg" alt="東北 U・Iターン出張相談会 in 東京" width="100%"></a></li>
</ul>
</div>
soudankaiBox end -->
<!-- menuBox start -->
<div id="menuBox">
<h2>MENU</h2>
<ul>
<li><a href="<?php print $Path; ?>service-introduction/">サービス紹介</a></li>
<li><a href="<?php print $Path; ?>service-introduction/consultants/">コンサルタント紹介</a></li>
<li><a href="<?php print $Path; ?>success/">成功者インタビュー</a></li>
<li><a href="<?php print $Path; ?>questions/">よくあるご質問</a></li>
<li><a href="<?php print $Path; ?>company/summary/">会社概要</a></li>
</ul>
</div>
<!-- menuBox start -->