<!-- entryBtnBox start -->
<div class="entryBtnBox">
<p>HPに掲載の無い非公開案件も多数ございます。お気軽にお問い合わせください。</p>
<p class="btn"><a href="<?php print $Path; ?>jump/index.php?p=form&detail=button04_entry" class="detail_cv_sp_entry_red" target="_blank"><img src="<?php print $Path; ?>images/btn_entry_private_02.png" alt="かんたん登録 無料転職支援に申込む"/></a></p>
</div>
<!-- entryBtnBox end -->