<h2 class="title">コンサルタント紹介</h2>
<!--  consultantBox start -->
<div id="consultantBox">
    <!-- commentBox start -->
<div class="commentBox">
<div class="photoBox">
<p class="photo"><img src="<?php print $Path; ?>images/colsultant_photo_kamiya.jpg" width="74" height="93" alt=""/></p>
<p class="name">コンサルタント<br>
<strong>神谷 貴宏</strong></p>
</div>
<div class="message">
<div class="inner">
<h3>5年後を一緒に考えることが<br>
「展職」への近道です。</h3>
<p>私のモットーは、「転職した方に後悔させないこと」です。<br>
目に見える部分だけではなく、まだ見出せていない将来の可能性も含めて、探し出すのが私の仕事です。将来のキャリアに悩んでいて解決策が見いだせないのであれば、まずはご相談ください。</p>
</div>
</div>
</div>
<!-- commentBox end -->
<!-- commentBox start -->
    <div class="commentBox">
    <div class="photoBox">
    <p class="photo"><img src="<?php print $Path; ?>images/colsultant_photo_sakamoto.jpg" width="74" height="93" alt=""/></p>
    <p class="name">コンサルタント<br>
<strong>坂本 理沙</strong></p>
    </div>
    <div class="message">
    <div class="inner">
    <h3>まず変わるために<br>
できることをしてみましょう。</h3>
<p>今のご自身が、望んでいる姿と異なっているのであれば、まずは変わるために出来ることをしてみましょう。<br>
どうすることがその方にとって最善なのか、答えを一緒に探していきたいと思います。</p>
    </div>
    </div>
    </div>
<!-- commentBox end --></div>
<!--  consultantBox end -->