<h2 class="title"><span class="sub">ヒューレックスの転職支援は<strong>完全無料!!</strong></span><br>
好評な６つ転職支援サービス</h2>
<!-- servicePoint start -->
<div id="servicePoint">
<div id="servicePointAll" class="clearfix">
<!-- start -->
<div class="box">
<p class="photo"><img src="<?php print $Path; ?>images/service_photo_01.jpg" width="100%" alt=""/></p>
<div class="inner">
<h2>キャリアカウンセリング</h2>
<p class="txt">より「展職」に近づくための具体的かつ計画的に戦略を立てていきますので、転職が初めての方や異業種・職種への転職を希望される方でも安心してご相談いただけます。</p>
</div>
</div>
<!-- end -->
<!-- start -->
<div class="box">
<p class="photo"><img src="<?php print $Path; ?>images/service_photo_02.jpg" width="100%" alt=""/></p>
<div class="inner">
<h2>求人のご紹介</h2>
<p class="txt">ウェブや他の求人メディアにはない非公開求人を数多く所有しております。様々な角度から転職を希望される方にマッチした求人をご案内いたします。</p>
</div>
</div>
<!-- end -->
<!-- start -->
<div class="box">
<p class="photo"><img src="<?php print $Path; ?>images/service_photo_03.jpg" width="100%" alt=""/></p>
<div class="inner">
<h2>職務経歴書<br>
履歴書の添削</h2>
<p class="txt">転職活動の第一関門は書類選考です。ヒューレックスでは、企業経営者や人事担当者の視点で、転職希望者のレジュメを無料で添削いたします。</p>
</div>
</div>
<!-- end -->
<!-- start -->
<div class="box">
<p class="photo"><img src="<?php print $Path; ?>images/service_photo_04.jpg" width="100%" alt=""/></p>
<div class="inner">
<h2>面接の練習</h2>
<p class="txt">面接の予定が決まった方には、実践形式のトレーニングを行います。必要なノウハウを具体的に伝え、企業と転職希望者が「相思相愛」の関係を構築するお手伝いをいたします。</p>
</div>
</div>
<!-- end -->
<!-- start -->
<div class="box">
<p class="photo"><img src="<?php print $Path; ?>images/service_photo_05.jpg" width="100%" alt=""/></p>
<div class="inner">
<h2>入社後のフォロー</h2>
<p class="txt">入社後の悩みなどをお聞きし最適な働き方をサポートしております。またUターン時の転居先探し等、幅広いサポートが可能です。</p>
</div>
</div>
<!-- end -->
<!-- start -->
<div class="box">
<p class="photo"><img src="<?php print $Path; ?>images/service_photo_06.jpg" width="100%" alt=""/></p>
<div class="inner">
<h2>夜間・休日も<br>
ご相談可能</h2>
<p class="txt">弊社では夜間・休日も転職支援を行っております。ぜひお気軽にお問い合わせ、お申込みください。</p>
</div>
</div>
<!-- end -->
</div>
</div>
<!-- servicePoint end -->