<!-- soudanBox start -->
            <div class="soudanBox">
                <a href="<?php print $Path; ?>jump/index.php?p=form" target="_blank"><img src="<?php print $Path; ?>images/btn_consultants.png" alt="転職のご相談や履歴書･職務経歴書の書き方など、
なんでもお応えいたします！コンサルタントに相談する 無料転職支援申し込み"/></a>
            </div>
<!-- soudanBox end -->