.container-fluid.btn-renew{
	background: 
		url(../images/btn_b_up.png) left top repeat-x,
		url(../images/btn_b_down.png) left bottom repeat-x,
		url(../images/btn_b_back.png) left top repeat;
}
.lp_ishi_ga_sp_170321,.lp_ishi_ga_sp_05{
	padding: 20px 0;
	display: block;
}
.lp_ishi_ga_pc_170321{
	padding: 40px 0;
	display: block;
}

@media screen and (max-width: 768px) {
	#chap12 h2 {
		top: -20px!important;
		width: 90%;
	}
	.is-work-list-form2{
		margin: 0!important;		
		padding: 0!important;
	}

	/* 求人一覧体裁変更 */

	.lp_ishi_ver_ai{
		display: block;
		background: #fff;
		border:4px solid rgb(204, 243, 215);
		box-shadow: 0px 3px 6px 0px rgba(160, 160, 160, 1.0);
		padding: 18px 18px;
		margin-bottom: 10px;
	}
	.lp_ishi_ver_ai > h3{
		font-size: 16px;
		line-height: 1.5;
		color: rgb(71, 71, 71);
		font-weight: bold;
		margin: 0px;
	}
	.lp_ishi_ver_ai > p{
		font-size: 14px;
		color: rgb(71, 71, 71);
		font-weight: normal;
		margin: 10px 0;
	}
	.lp_ishi_ver_ai > p > span{
		font-weight: bold;
		color: rgb(255, 36, 0);
	}
	.lp_ishi_ver_ai > p strong{
		font-weight: normal;
	}
	.lp_ishi_ver_ai_btn{
		display: block;
		max-width: 294px;
		margin: 0 auto;
	}
	.lp_ishi_ver_ai_btn>img{
		width: 100%;
		
	}

	/* 求人一覧体裁変更 */

	.lp_ishi_ver_ai{
		display: block;
		background: #fff;
		border:4px solid rgb(204, 243, 215);
		box-shadow: 0px 3px 6px 0px rgba(160, 160, 160, 1.0);
		padding: 18px 18px;
		margin-bottom: 20px;
	}
	.lp_ishi_ver_ai > h3{
		font-size: 16px;
		line-height: 1.5;
		color: rgb(71, 71, 71);
		font-weight: bold;
		margin: 0px;
	}
	.lp_ishi_ver_ai > p{
		font-size: 13px;
		color: rgb(71, 71, 71);
		font-weight: normal;
		margin: 10px 0;
	}
	.lp_ishi_ver_ai > p > span{
		font-weight: bold;
		color: rgb(255, 36, 0);
	}
	.lp_ishi_ver_ai > p strong{
		font-weight: normal;
	}
	.lp_ishi_ver_ai_btn{
		display: block;
		width: 294px;
		margin: 0 auto;
	}
	.lp_ishi_ver_ai_btn>img{
		width: 100%;
		
	}



}

@media screen and (min-width: 769px) {
	#chap12 h2 {
		top: -36px!important;
	}
	/* 求人一覧体裁変更 */

	.lp_ishi_ver_ai{
		display: block;
		background: #fff;
		border:4px solid rgb(204, 243, 215);
		box-shadow: 0px 3px 6px 0px rgba(160, 160, 160, 1.0);
		padding: 18px 18px;
		margin-bottom: 20px;
	}
	.lp_ishi_ver_ai > h3{
		font-size: 16px;
		line-height: 1.5;
		color: rgb(71, 71, 71);
		font-weight: bold;
		margin: 0px;
		height: 72px;
	}
	.lp_ishi_ver_ai > p{
		font-size: 14px;
		color: rgb(71, 71, 71);
		font-weight: normal;
		margin: 10px 0;
	}
	.lp_ishi_ver_ai > p > span{
		font-weight: bold;
		color: rgb(255, 36, 0);
	}
	.lp_ishi_ver_ai > p strong{
		font-weight: normal;
	}
	.lp_ishi_ver_ai_btn{
		display: block;
		width: 294px;
		margin: 0 auto;
	}
	.lp_ishi_ver_ai_btn>img{
		width: 100%;
		
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.lp_ishi_ver_ai_btn{
		display: block;
		width: 250px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 590px) and (max-width: 768px){
	.lp_ishi_ver_ai_btn{
		display: block;
		width: 220px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 589px){}
@media screen and (min-width: 590px) and (max-width: 768px){.lp_ishi_ver_ai{height: 260px}}
@media screen and (min-width: 769px) and (max-width: 991px){.lp_ishi_ver_ai{height: 235px}}
@media screen and (min-width: 992px) and (max-width: 1199px){.lp_ishi_ver_ai{height: 235px}}







