<?php
if(!empty($data['minsalary'])):
if($data['minsalary'] >= 500):
?>
<script type="text/javascript">

    adroll_adv_id = "XIGJNOJE7RFH5J6VWF5F2J";

    adroll_pix_id = "QZIYQPQIARBCRF2LZB2J6V";

    (function () {
        var _onload = function(){

            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}

            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}

            var scr = document.createElement("script");

            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");

            scr.setAttribute('async', 'true');

            scr.type = "text/javascript";

            scr.src = host + "/j/roundtrip.js";

            ((document.getElementsByTagName('head') || [null])[0] ||

                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);

        };

        if (window.addEventListener) {window.addEventListener('load', _onload, false);}

        else {window.attachEvent('onload', _onload)}

    }());

</script>
<script type="text/javascript">
  adroll_segments = "20eb55f8";
</script>
<?php
endif;
endif;
?>