<!-- footer start -->
<div id="footer">
<div id="footerSub">
<h2><img src="<?php print $Path; ?>images/logo.png" alt="HUREX" /></h2>
<p class="btnLogin"><a href="https://www.hurex.jp/mypage/user/login" target="_blank"><img src="<?php print $Path; ?>images/btn_login.png" alt="マイページログイン" /></a></p>
<ul>
<li><a href="<?php print $Path; ?>index.html">TOPページ</a></li>
<li><a href="<?php print $Path; ?>jump/index.php?p=form" target="_blank">無料転職支援（エントリー）</a></li>
<li><a data-remodal-target="modal" href="#modal">求人検索</a></li>
<li><strong>勤務地求人一覧</strong>
<ul>
<li><a href="<?php print $Path; ?>aomori-search/">青森県</a></li>
<li><a href="<?php print $Path; ?>akita-search/">秋田県</a></li>
<li><a href="<?php print $Path; ?>iwate-search/">岩手県</a></li>
<li><a href="<?php print $Path; ?>yamagata-search/">山形県</a></li>
<li><a href="<?php print $Path; ?>miyagi-search/">宮城県</a></li>
<li><a href="<?php print $Path; ?>fukushima-search/">福島県</a></li>
<li><a href="<?php print $Path; ?>ibaraki-search/">茨城県</a></li>
<li><a href="<?php print $Path; ?>nagano-search/">長野県</a></li>
<li><a href="<?php print $Path; ?>okayama-search/">岡山県</a></li>
</ul>
</li>
</ul>

<ul>
<li><strong>人気の職種検索</strong>
<ul>
<li><a href="<?php print $Path; ?>eigyou-search/">営業系</a></li>
<li><a href="<?php print $Path; ?>kenchiku-search/">技術系(建築/土木)</a></li>
<li><a href="<?php print $Path; ?>jimu-search/">管理部門/事務系全般</a></li>
<li><a href="<?php print $Path; ?>denki-search/">技術系(電気/電子/機械)</a></li>
<li><a href="<?php print $Path; ?>it-search/">IT系（SE/インフラエンジニア）</a></li>
<li><a href="<?php print $Path; ?>service-search/">サービス系(人材/小売/フード)</a></li>
<li><a href="<?php print $Path; ?>medical-search/">技術系(メディカル/科学/食品)</a></li>
</ul>
<li><a href="<?php print $Path; ?>column/u-turn/">Uターン転職</a></li>
<li><a href="<?php print $Path; ?>column/i-turn/">Iターン転職</a></li>
<li><a href="<?php print $Path; ?>u-turn/">U・Iターン出張相談会in東京</a></li>
</li>
</ul>

<ul>
<li><a href="<?php print $Path; ?>service-introduction/">サービス紹介</a></li>
<li><a href="<?php print $Path; ?>service-introduction/consultants/">コンサルタント紹介</a></li>
<li><a href="<?php print $Path; ?>interview/">地方創生</a></li>
<li><a href="<?php print $Path; ?>questions/">よくあるご質問</a></li>
<li><a href="<?php print $Path; ?>guide/">転職成功ガイド</a></li>
<li><a href="<?php print $Path; ?>column/resume-adviser/">レジュメアドバイザー</a></li>
<li><a href="<?php print $Path; ?>private/">独占求人とは</a></li>
<li class="mgn"><a href="<?php print $Path; ?>for-charge/">企業のご担当者様へ</a></li>
<li><a href="https://www.hurex.jp/for-charge-form/">求人のご依頼・お問合せ</a></li>
</ul>

<ul>
<li><strong>会社概要</strong>
<ul>
<li><a href="<?php print $Path; ?>company/summary/">会社概要</a></li>
<li><a href="<?php print $Path; ?>company/">代表挨拶</a></li>
<li><a href="<?php print $Path; ?>company/history/">沿革</a></li>
<li><a href="<?php print $Path; ?>company/access-map/">アクセスマップ</a></li>
<li><a href="<?php print $Path; ?>company/voices/">社員の声</a></li>
<li><a href="<?php print $Path; ?>company/privacy-policy/">個人情報の取扱い</a></li>
<li><a href="<?php print $Path; ?>company/responsibility/">利用規約/免責事項</a></li>
<li><a href="<?php print $Path; ?>company/sitemap/">サイトマップ</a></li>
</ul>
</li>
<li class="mgn"><a href="<?php print $Path; ?>company/adoption/">採用情報</a></li>
<li><a href="https://www.hurex.jp/inquiry/">お問い合わせ</a></li>
</ul>

<p id="copy">Copyright &copy; HUREX All Right Reserved.</p>
</div>
</div>
<div id="btnTop">
<p><a href="#header"><img src="<?php print $Path; ?>images/btn_top_off.png" alt="転職サイトページの先頭へ戻る" /></a></p>
</div>
<!-- footer end -->