<div id="headerAll">
<!-- headerLink start -->
<div id="headerLink">
<div id="headerLinkSub" class="clearfix">
<h2><a href="<?php print $Path; ?>for-charge/"><img src="<?php print $Path; ?>images/header_link_title.gif" alt="仙台等で転職や求人を考えている採用企業の皆様へ" /></a></h2>
<ul class="clearfix">
<li><a href="<?php print $Path; ?>company/summary/"><img src="<?php print $Path; ?>images/header_link_01.gif" alt="転職エージェントのヒューレックス会社概要" /></a></li>
<li><a href="https://www.hurex.jp/inquiry/"><img src="<?php print $Path; ?>images/header_link_02.gif" alt="転職や求人支援に関するお問い合わせはこちら" /></a></li>
<li><a href="<?php print $Path; ?>company/privacy-policy/"><img src="<?php print $Path; ?>images/header_link_03.gif" alt="転職や求人支援に関する個人情報の取り扱い" /></a></li>
<li><a href="<?php print $Path; ?>company/sitemap/"><img src="<?php print $Path; ?>images/header_link_04.gif" alt="サイトマップ" /></a></li>
</ul>
</div>
</div>
<!-- headerLink end -->
<p class="logo"><a href="<?php print $Path; ?>"><img src="<?php print $Path; ?>images/logo.png" alt="転職エージェントのHUREXロゴマーク" /></a></p>
<!-- headerContents start -->
<div id="headerContents" class="clearfix">
<p class="btnLogin"><a href="https://www.hurex.jp/mypage/user/login" target="_blank"><img src="<?php print $Path; ?>images/btn_login.png" alt="マイページログイン" /></a></p>
<p class="tel"><img src="<?php print $Path; ?>images/tel.png" alt="無料転職支援サービス フリーダイヤル 0120-14-1150 サービスに関するお問合わせも気軽にどうぞ" /></p>
<div class="btnBox">
<p class="btnEntry01"><a href="<?php print $Path; ?>jump/index.php?p=form" target="_blank"><img src="<?php print $Path; ?>images/btn_entry.png" alt="転職支援に申し込む（無料）" /></a></p>
<!--<p class="btn02"><a href="#"><img src="<?php print $Path; ?>images/btn_mypage.png" /></a></p>
<p class="btn03"><a href="#"><img src="<?php print $Path; ?>images/btn_first.png" /></a></p>-->
</div>
</div>
<!-- headerContents end -->
</div>
