<!-- navi start -->

<div id="navi">
<ul class="clearfix">
<li class="navi01"><a data-remodal-target="modal" href="#modal"><img src="<?php print $Path; ?>images/navi_01_off.gif" alt="仙台等での求人検索" /></a>
<div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking:false">
<!-- searchBox start -->
<div class="searchBox">
<p class="close remodal-close" data-remodal-action="close"><a href="javascript:;">閉じる</a></p>
<form method ="post" name="searchpage" action="<?php print $Path; ?>job-search/index.html">
<h3>求人を探す</h3>
<?php include("search.html");?>
<div class="box">
<div class="inner clearfix">
<p class="send"><input class="image" type="image" src="<?php print $Path; ?>images/btn_search_b.png" alt="" width="402" height="51" value="この条件で求人検索する"></p>
</div>
</div>
</form>
</div>
<!-- searchBox end -->

</div>
</li>
<li class="click navi02"><a href="<?php print $Path; ?>service-introduction/"><img src="<?php print $Path; ?>images/navi_02_off.gif" alt="転職支援サービス紹介" /></a>
<div class="naviSub"><img src="<?php print $Path; ?>images/point_navi.png" alt="" class="img" />
<div class="subArea">
<div class="subAreaBox">
<h2><a href="<?php print $Path; ?>service-introduction/">ヒューレックスの転職支援</a></h2>
<ul class="clearfix">
<li><a href="<?php print $Path; ?>service-introduction/">ヒューレックスの転職支援</a></li>
<li><a href="<?php print $Path; ?>service-introduction/feature-of-hurex/">ヒューレックスの特徴</a></li>
<li><a href="<?php print $Path; ?>service-introduction/service-flow/">転職支援サービスの流れ</a></li>
<li><a href="<?php print $Path; ?>service-introduction/policy/">ご利用上の注意</a></li>
</ul>
</div>
</div>
</div>
</li>
<li><a href="<?php print $Path; ?>service-introduction/consultants/"><img src="<?php print $Path; ?>images/navi_03_off.gif" alt="転職相談できるコンサルタント紹介" /></a></li>
<li><a href="<?php print $Path; ?>success/"><img src="<?php print $Path; ?>images/navi_04_off.gif" alt="仙台等での転職成功者へのインタビュー" /></a></li>
<li><a href="<?php print $Path; ?>questions/"><img src="<?php print $Path; ?>images/navi_05_off.gif" alt="転職や求人支援でのよくあるご質問" /></a></li>
</ul>
</div>
<!-- navi end -->