<!-- bnrBox start -->
<div class="bnrBox">
<!--<p><a href="<?php print $Path; ?>nenmatsu/"><img src="<?php print $Path; ?>images/bnr_nenmatsu.jpg" alt="年末年始Uターン&amp;東北転職相談会in仙台" /></a></p>-->
<!--<p><a href="<?php print $Path; ?>summer/"><img src="<?php print $Path; ?>images/bnr_summer.jpg" alt="お盆休みUターン&地元転職相談会" /></a></p>-->
<p><a href="https://www.hurex.jp/lp/successor/" target="_blank"><img src="<?php print $Path; ?>images/bnr-succesor.jpg" alt="後継者サーチ" /></a></p>
<p><a href="https://www.hurex.jp/lp/nikkin/" target="_blank"><img src="<?php print $Path; ?>images/bnr-jinzaitachiage.jpg" alt="人材紹介業立上げ" /></a></p>
<p><a href="https://www.hurex.jp/lp/jobjapan/" target="_blank"><img src="<?php print $Path; ?>images/bnr_jobjapan.jpg" alt="グローバル人材転職支援サービス" /></a></p>
<p><a href="https://www.hurex.jp/lp/excelletos/" target="_blank"><img src="<?php print $Path; ?>images/bnr_excelletos.jpg" alt="一流の転職をするなら「EXCELLETOS」" /></a></p>
<!--<p><a href="<?php print $Path; ?>gw/"><img src="<?php print $Path; ?>images/bnr_gw.jpg" alt="ゴールデンウィーク転職相談会" /></a></p>-->
<!--<p><a href="<?php print $Path; ?>u-turn/"><img src="<?php print $Path; ?>images/bnr_uturn_b.jpg" alt="東北 U・Iターン出張相談会 in 東京" /></a></p>-->
<!--<p><a href="<?php print $Path; ?>future/"><img src="<?php print $Path; ?>images/bnr_future.jpg" alt="いずれは転職をご検討されている方はこちら" /></a></p>-->
<!--<p><a href="<?php print $Path; ?>campaign/"><img src="<?php print $Path; ?>images/bnr_campaign.jpg" alt="お知り合い紹介キャンペーン" /></a></p>-->
</div>
<!-- bnrBox end -->
<!-- turnBox start -->
<div id="turnBox">
<h2><img src="<?php print $Path; ?>images/side_title_uiturn.gif" alt="U・Iターン転職者向け" /></h2>
<ul>
<li><a href="<?php print $Path; ?>column/u-turn/"><img src="<?php print $Path; ?>images/bnr_uturn.png" alt="Uターン転職 地元に戻って活躍したい" /></a></li>
<li><a href="<?php print $Path; ?>column/i-turn/"><img src="<?php print $Path; ?>images/bnr_iturn.png" alt="Iターン転職 Iターン転職" /></a></li>
</ul>
</div>
<!-- turnBox end -->
<!-- bnrBox start -->
<div class="bnrBox">
<h2 class="title">地域の転職ノウハウ配信中！</h2>
<p><a href="http://xn--u9j982gypd1o0djcp.com/" target="_blank"><img src="<?php print $Path; ?>images/bnr_sendaicom.gif" alt="仙台の転職ノウハウなら仙台の転職.com" /></a></p>
<p><a href="http://xn--u9jt45kr6reegjot.com/" target="_blank"><img src="<?php print $Path; ?>images/bnr_fukushimacom.gif" alt="福島の転職ノウハウなら福島の転職.com" /></a></p>
<p><a href="http://xn--u9jz83kt3b6r4cjcp.com/" target="_blank"><img src="<?php print $Path; ?>images/bnr_yamagatacom.gif" alt="山形の転職ノウハウなら山形の転職.com" /></a></p>
<p><a href="http://xn--u9j944kvsd1s0bjcp.com/" target="_blank"><img src="<?php print $Path; ?>images/bnr_iwatecom.gif" alt="岩手の転職ノウハウなら岩手の転職.com" /></a></p>
<p><a href="https://www.hurex.jp/ibaraki" target="_blank"><img src="<?php print $Path; ?>images/bnr_ibarakicom.gif" alt="茨城の転職ノウハウなら茨城の転職.com" /></a></p>
<p class="tv"><a href="<?php print $Path; ?>article/" target="_blank"><img src="<?php print $Path; ?>images/bnr_blog.gif" alt="HUREX 展職ブログ" /></a></p>
<p><a href="http://goo.gl/fqu6Qo" target="_blank"><img src="<?php print $Path; ?>images/bnr_tv.jpg" alt="宮城の社長TV" /></a></p>
<p><a href="<?php print $Path; ?>company/adoption/"><img src="<?php print $Path; ?>images/bnr_recruit.gif" alt="業務拡大・拠点開設にともない正社員募集中" /></a></p>
<p><a href="https://mpartners.jp/" target="_blank"><img src="<?php print $Path; ?>images/bnr_mp.gif" alt="成婚主義の結婚相談所" /></a></p>
<p><a href="http://aoba-east.jp/" target="_blank"><img src="<?php print $Path; ?>images/bnr_aoba.gif" alt="事業承継推進機構株式会社" /></a></p>
</div>
<!-- bnrBox end -->
<!-- interviewBox start -->
<div id="interviewBox">
<h2><a href="<?php print $Path; ?>interview/"><img src="<?php print $Path; ?>images/bnr_interview.gif" alt="東北の企業経営者たちが語る！地方創生" /></a></h2>
<!-- interviewDetail start -->
<div class="interviewDetail">
    <div class="interviewDetailSub clearfix">
        <h3><a href="<?php print $Path; ?>interview/vol_049/">(株)iOffice 代表取締役 五十棲 剛史氏</a></h3>
        <p class="photo"><img src="<?php print $Path; ?>interview/vol_049/img/thumbnail.jpg" alt="(株)iOffice 代表取締役 五十棲 剛史氏" /></p>
    </div>
</div>
<!-- interviewDetail end -->
<!-- interviewDetail start -->
<div class="interviewDetail">
    <div class="interviewDetailSub clearfix">
        <h3><a href="<?php print $Path; ?>interview/vol_047/">アルマ・クリエイション(株) 代表取締役 神田 昌典氏</a></h3>
        <p class="photo"><img src="<?php print $Path; ?>interview/vol_047/img/thumbnail.jpg" alt="アルマ・クリエイション(株) 代表取締役 神田 昌典氏" /></p>
    </div>
</div>
<!-- interviewDetail end -->
    <!-- interviewDetail start -->
<div class="interviewDetail">
    <div class="interviewDetailSub clearfix">
        <h3><a href="<?php print $Path; ?>interview/vol_045/">仙台市長 郡 和子氏</a></h3>
        <p class="photo"><img src="<?php print $Path; ?>interview/vol_045/img/thumbnail.jpg" alt="仙台市長 郡 和子氏" /></p>
    </div>
</div>
<!-- interviewDetail end -->
<!-- interviewDetail start -->
<div class="interviewDetail">
    <div class="interviewDetailSub clearfix">
        <h3><a href="<?php print $Path; ?>interview/vol_044/">内閣官房 まち・ひと・しごと創生本部事務局次長 田川 和幸氏</a></h3>
        <p class="photo"><img src="<?php print $Path; ?>interview/vol_044/img/thumbnail.jpg" alt="内閣官房 まち・ひと・しごと創生本部事務局次長 田川 和幸氏" /></p>
    </div>
</div>
<!-- interviewDetail end -->
<!-- interviewDetail start -->
<div class="interviewDetail">
    <div class="interviewDetailSub clearfix">
        <h3><a href="<?php print $Path; ?>interview/vol_042/">(株)野村総合研究所 顧問 増田 寛也氏</a></h3>
        <p class="photo"><img src="<?php print $Path; ?>interview/vol_042/img/thumbnail.jpg" alt="(株)野村総合研究所 顧問 増田 寛也氏" /></p>
    </div>
</div>
<!-- interviewDetail end --></div>
<!-- bnrBox start -->
<div class="bnrBox">
<h2 class="title">スポンサーシップ</h2>
<p><a href="http://goo.gl/R6YtDA" target="_blank"><img src="<?php print $Path; ?>images/bnr_kougyou.gif" alt="一般社団法人 みやぎ工業会" /></a></p>
<p><a href="http://goo.gl/I2O1dJ" target="_blank"><img src="<?php print $Path; ?>images/bnr_sendaicci.gif" alt="仙台商工会議所" /></a></p>
</div>
<!-- bnrBox end -->