<!-- soudanBox start -->
            <div class="soudanBox">
                <div class="inner">
                    <p>転職のご相談や履歴書･職務経歴書の書き方など、<strong>なんでもお応えいたします！</strong></p>
                    <p class="btn"><a href="<?php print $Path; ?>jump/index.php?p=form" target="_blank"><img src="<?php print $Path; ?>images/btn_consultants.png" width="464" height="64" alt="コンサルタントに相談する 無料転職支援申し込み"/></a></p>
                </div>
            </div>
<!-- soudanBox end -->