.container-fluid.btn-renew{
	background: 
		url(../images/btn_b_up.png) left top repeat-x,
		url(../images/btn_b_down.png) left bottom repeat-x,
		url(../images/btn_b_back.png) left top repeat;
}
.lp_ishi_ga_sp_170321{
	padding: 40px 0;
	display: block;
}
.lp_ishi_ga_pc_170321{
	padding: 40px 0;
	display: block;
}


@media screen and (max-width: 768px) {
	.visual-class h1{
		font-size: 35px!important;
		line-height: 1.3!important;
		padding-top: 40px!important;
	}
	.visual-class h2{
		font-size: 13px!important;
		line-height: 1.5!important;
		padding: 0 15px;
		text-shadow: 0px 0px 14.4px rgba(0, 0, 0, 1)!important;
	}
	#visual .h3panel {
		height: 150px;
		font-size: 13px!important;
	}
	#visual .h3panel>h3 {
		font-size: 12px!important;
		padding: 0 10px;
		letter-spacing: 1px;
	}
	#chap12 h2 {
		top: -20px!important;
		width: 90%;
	}
	.is-work-list-form2{
		margin: 10px 0!important;		
	}
	.is-work-list-form2 .smpphlo{
		text-align: center!important;
	}
	.is-work-list-form2 .smpphlo img{
		margin: 0 auto;
	}


	/* 求人一覧体裁変更 */

	.lp_ishi_ver_ai{
		display: block;
		background: #fff;
		border:4px solid rgb(204, 243, 215);
		box-shadow: 0px 3px 6px 0px rgba(160, 160, 160, 1.0);
		padding: 18px 18px;
		margin-bottom: 10px;
	}
	.lp_ishi_ver_ai > h3{
		font-size: 16px;
		line-height: 1.5;
		color: rgb(71, 71, 71);
		font-weight: bold;
		margin: 0px;
	}
	.lp_ishi_ver_ai > p{
		font-size: 16px;
		color: rgb(71, 71, 71);
		font-weight: normal;
		margin: 10px 0;
	}
	.lp_ishi_ver_ai > p > span{
		font-weight: bold;
		color: rgb(255, 36, 0);
	}
	.lp_ishi_ver_ai > p strong{
		font-weight: normal;
	}
	.lp_ishi_ver_ai_btn{
		display: block;
		max-width: 294px;
		margin: 0 auto;
	}
	.lp_ishi_ver_ai_btn>img{
		width: 100%;
		
	}




}
@media screen and (min-width: 769px) {
	.visual-class h1{
		font-size: 66px!important;
		line-height: 1.3!important;
		padding-top: 48px!important;
	}
	.visual-class h2{
		font-size: 20px!important;
		line-height: 1.5!important;
		padding: 0 15px;
		letter-spacing: 2px;
		margin-bottom: 12px!important;
		text-shadow: 0px 0px 14.4px rgba(0, 0, 0, 1)!important;
	}
	#visual .h3panel {
		height: 160px;
		font-size: 13px!important;
	}
	#visual .h3panel>h3 {
		font-size: 14px!important;
		padding: 0 10px;
		letter-spacing: 1px;
		margin-top: 9px!important;
	}
	
	.is-work-list-form2{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#chap12 h2 {
		top: -36px!important;
	}


	/* 求人一覧体裁変更 */

	.lp_ishi_ver_ai{
		display: block;
		background: #fff;
		border:4px solid rgb(204, 243, 215);
		box-shadow: 0px 3px 6px 0px rgba(160, 160, 160, 1.0);
		padding: 18px 18px;
		margin-bottom: 20px;
	}
	.lp_ishi_ver_ai > h3{
		font-size: 16px;
		line-height: 1.5;
		color: rgb(71, 71, 71);
		font-weight: bold;
		margin: 0px;
	}
	.lp_ishi_ver_ai > p{
		font-size: 16px;
		color: rgb(71, 71, 71);
		font-weight: normal;
		margin: 10px 0;
	}
	.lp_ishi_ver_ai > p > span{
		font-weight: bold;
		color: rgb(255, 36, 0);
	}
	.lp_ishi_ver_ai > p strong{
		font-weight: normal;
	}
	.lp_ishi_ver_ai_btn{
		display: block;
		width: 294px;
		margin: 0 auto;
	}
	.lp_ishi_ver_ai_btn>img{
		width: 100%;
		
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.lp_ishi_ver_ai_btn{
		display: block;
		width: 250px;
		margin: 0 auto;
	}

}
