body {
margin:0px;
padding:0px;
}
#fbPage {
	margin: 0px auto;
	padding: 0px;
	width: 810px;
	text-align: left;
	background-color: #FFF;
}
#fbPage .titleBox {
	margin: 0px 0px 25px;
	padding: 0px;
	text-align: center;
	background-image: url(../fb/img/box_back.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#fbPage .titleBox .titleBoxSub {
	margin: 0px auto;
	width: 770px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 30px;
}
#fbPage .titleBox h3 {
	font-size: 1.25em;
	font-weight: 900;
	margin-top: 0px;
	margin-bottom: 10px;
}
#fbPage .titleBox .titleBoxSub h3 img {
	vertical-align: middle;
	margin-right: 5px;
}
#fbPage .titleBox .titleBoxSub ul.list01 {
	margin-left: 30px;
}
#fbPage .titleBox .titleBoxSub p.btn {
	margin-bottom: 0px;
}
#fbPage p#mainContents {
	margin-bottom: 5px;
	margin-top: 10px;
}
#fbPage p.line {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}






#fbPage table.normal {
	margin: 0px 0px 20px;
	padding: 0px;
}
#fbPage table.normal th,
#fbPage table.normal td {
	padding: 4px 10px;
	font-size: 0.75em;
	line-height: 1.5;
	background-color: #FFF;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
#fbPage table.normal th {
	background-color: #FFF2F2;
	white-space: nowrap;
}
#fbPage table.normal th.title {
	font-weight:900;
	background-color: #FFF;
	padding: 10px 10px;
}
#fbPage table.normal td.title {
	font-weight:100;
	padding: 10px 10px;
}
#fbPage table.normal.career td {
	background-color: #F7F7F7;
}
#fbPage table.normal td table {
	margin: 0px;
	padding: 0px;
}
#fbPage table.normal td table th,
#fbPage table.normal td table td {
	padding: 0px 10px 6px 0px;
	font-size: 1em;
	line-height: 1.5;
	background-color: #FFF;
	border-top: 0px none;
	text-align: left;
	border-bottom: 0px none;
	vertical-align: top;
	border-right-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-left-style: none;
	font-weight: 100;
	width: auto;
}
#fbPage table.normal.career td table th,
#fbPage table.normal.career td table td {
	background-color: #F7F7F7;
}
#fbPage table.normal th {
	background-color: #FFF2F2;
	white-space: nowrap;
	width: 160px;
}
#fbPage table.normal th .ss {
	font-size: 10px;
	font-weight: 100;
}


#fbPage #privacyBox {
	background-image: url(../images/dot_back.gif);
	text-align: center;
	margin: 0px 0px 20px;
	padding: 15px 0px;
}
#fbPage #privacyBox #privacyBoxSub {
	margin: 0px auto;
	padding: 0px;
	width: 780px;
	text-align: left;
}
#privacyBox #privacyBoxSub h2 {
	position: static;
	background-color: #FFF;
	margin: 0px 0px 15px;
	padding: 10px 0px 10px 10px;
	font-size: 0.81em;
	font-weight: 900;
/*	width: 320px;*/
	height: auto;
}
#privacyBox #privacyBoxSub p {
	background-color: #FFF;
	margin: 15px 0px 0px;
	padding: 10px 0px 10px 10px;
	font-size: 0.81em;
	font-weight: 100;
/*	width: 320px;*/
	height: auto;
	line-height: 1.0;
}
#privacyBox #privacyBoxSub #poricyBox {
	height: 110px;
	width: 780px;
}

#fbPage input.txtBox {
	width: 300px;
}
#fbPage input.wide,#fbPage textarea.wide {
	width: 380px;
}
#fbPage .btnSend {
	background-image: url(../fb/img/send_back.gif);
	text-align: center;
	margin: 0px 0px 50px;
	padding: 15px 0px;
}
#fbPage p.txt {
	margin-left: 30px;
}
