/* +++++++++++++++++++++++ common +++++++++++++++++++++++ */


body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	_font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #343434;
	background-repeat: no-repeat;
	background-position: center top;
    word-break: break-all;
}
#btnTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#rinenBox {
    margin: 0 0 35px 0;
    padding: 0;
    background: url("../company/img/index_rinen_b.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 307px;
}
#rinenBox .inner {
    margin: 0 auto;
    padding: 50px 0 0 0;
    width: 960px;
    position: relative;
}
#rinenBox p {
    margin: 0;
    padding: 0;
}
#pan {
	background-image: url(../images/pan_back.gif);
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px 0px 20px;
	padding: 0px;
	height: 31px;
}
#pan.no {
    margin-bottom: 0;
}
#pan #panSub {
	margin: 0px auto;
	padding: 0px;
	width: 960px;
	text-align: left;
}
#pan #panSub ul {
	margin: 0px;
	padding: 0px;
}
#pan #panSub ul li {
	margin: 0px 5px 0px 0px;
	padding: 0px 20px 0px 0px;
	font-size: 10px;
	line-height: 31px;
	float: left;
	background-image: url(../images/pan_point.png);
	background-repeat: no-repeat;
	background-position: right top;
}
#pan #panSub ul li a {
	margin: 0px;
	padding: 0px;
}
ruby.full rb {
	font-weight: 900;
	color: #CB1010;
	text-decoration: line-through;
}
ruby.full.noline rb {
	text-decoration: none;
}
ruby.full rt {
	font-weight: 900;
	color: #CB1010;
	font-size: 11px;
}
ruby.soon rb {
	font-weight: 900;
	color: #166DC5;
	text-decoration: none;
    display: inline-block;
    padding: 0 0 10px 0;
}
ruby.soon rt {
	font-weight: 900;
	color: #166DC5;
	font-size: 11px;
}
ruby.full,
ruby.soon{
    padding-bottom: 10px;
}


/* +++++++++++++++++++++++ header +++++++++++++++++++++++ */

#header {
	margin: 0px auto 10px;
	padding: 0px;
	width: 960px;
	text-align: left;
}
#header h1 {
	font-size: 11px;
	line-height: 1.5;
	float: left;
	margin: 0px;
	padding: 10px 0px 0px;
    width: 500px;
}
#header #headerLink {
	background-image: url(../images/header_link_back.gif);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px 0px 15px;
	padding: 0px;
	height: 31px;
	width: 450px;
	float: right;
}
#header #headerLinkSub {
	margin: 0px;
	padding: 8px 0px 0px 15px;
}
#header #headerLink h2 {
	margin: 0px;
	padding: 0px;
	float: left;
}
#header #headerLink ul {
	margin: 0px;
	padding: 0px;
	float: left;
	white-space: nowrap;
}
#header #headerLink ul li {
	margin: 0px;
	padding: 0px;
	float: left;
}
#header #headerLink ul li img {
	vertical-align:top;
}
#header p.logo {
	margin: 20px 0px 0px;
	padding: 0px;
	float: left;
}
#header #headerContents {
	margin: 0px;
	padding: 0px;
	float: right;
}
#header #headerContents p.btnLogin {
	margin: 25px 15px 0px 0px;
	padding: 0px;
	float: left;
}
#header #headerContents p.tel {
	margin: 3px 15px 0px 0px;
	padding: 0px;
	float: left;
}
#header #headerContents .btnBox {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 60px;
	/*width: 405px;*/
	width: 225px;
	position: relative;
}
#header #headerContents .btnBox p {
	margin: 0px;
	padding: 0px;
	position: absolute;
}
#header #headerContents .btnBox p.btnEntry01 {
	top:0px;
	right:0px;
}
#header #headerContents .btnBox p.btnEntry02 {
	top:0px;
	right:235px;
}
#header #headerContents .btnBox p.btn02 {
	top:0px;
	left:0px;
}
#header #headerContents .btnBox p.btn03 {
	top:30px;
	left:0px;
}


/* +++++++++++++++++++++++ fix +++++++++++++++++++++++ */

* html #header.fixed {
    background: url(null) fixed;
}
#header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 8000;
	margin: 0px;
	background-image: url(../images/header_back.png);
	padding: 0px;
	background-repeat: repeat-x;
	background-position: top;
	height: 95px;
}
/* IE6用固定 */
* html #header.fixed {
	position:absolute;
	top: expression(eval(document.documentElement.scrollTop));
}
#header.fixed h1,
#header.fixed #headerLink {
	display:none;
}
#header.fixed #headerAll {
	margin: 0px auto;
	padding: 15px 0px 0px;
	width: 960px;
	text-align: left;
}
#header.fixed p.logo {
	margin: 0px;
	padding: 0px;
	float: left;
}



/* +++++++++++++++++++++++ header +++++++++++++++++++++++ */


#navi {
	background-image: url(../images/navi_back.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin: 0px;
	padding: 0px;
	height: 45px;
	clear: both;
}
#navi ul {
	margin: 0px auto;
	padding: 0px;
	width: 960px;
	position: relative;
}
#navi ul li {
	margin: 0px;
	padding: 0px;
	float: left;
}
#navi ul li .naviSub {
	margin: 0px;
	padding: 15px 0px;
	background-color: #C60000;
	width: 930px;
	position: absolute;
	left: 15px;
	top: 41px;
	z-index: 5000;
	overflow: visible !important;
	display: none;
}
#navi ul li.navi01 .naviSub img.img {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 90px;
	top: -6px;
	z-index: 8000;
}
#navi ul li.navi02 .naviSub img.img {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 265px;
	top: -6px;
	z-index: 8000;
}
#navi ul li .naviSub .subArea{
	margin: 0px auto;
	padding: 20px 0px;
	background-color: #FFF;
	background-image: url(../images/sub_back.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	width: 900px;
	display: block;
}
#navi ul li .naviSub .subArea ul{
	margin: 0px;
	padding: 0px;
}
#navi ul li .naviSub .subArea ul li{
	margin: 6px 15px 0px 0px;
	padding: 0px 0px 0px 10px;
	font-size: 0.75em;
	line-height: 1.5;
	background-image: url(../images/point_03.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
	position: static;
}
#navi ul li .naviSub .subArea h2{
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	font-size: 1.0em;
	line-height: 1.5;
	font-weight: 900;
	color: #282828;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}
#navi ul li .naviSub .subArea ul+h2{
	margin-top: 20px;
}
#navi ul li .naviSub .subArea .subAreaBox{
	margin: 0px auto;
	padding: 0px;
	width: 860px;
	text-align: left;
	display: block;
}


/* +++++++++++++++++++++++ main +++++++++++++++++++++++ */

#main {
    background-color: #c93b3b;
}
#main #mainArea {
	margin: 0px auto;
	padding: 0px;
	width: 960px;
	height: 320px;
}
#mainThumbnail {
	background-image: url(../images/main_thumbnail.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 96px;
	width: 100%;
	margin: 0px 0px 20px;
	padding: 0px;
}
#mainThumbnail ul {
	margin: 0px auto;
	padding: 7px 0px 0px;
	width: 966px;
}
#mainThumbnail ul li {
	margin: 0px;
	padding: 0px;
	float: left;
}
#main #mainArea p {
    height: 320px;
}
#main #mainArea p#mainBtn {
	position: absolute;
	left: -14px;
	top: 197px;
	z-index: 100;
}
#main.common {
	background-image: url(../images/main_back.gif);
    background-color: transparent;
}
#main.common #mainArea {
	height: 140px;
    position: relative;
}
#main.common #mainArea p {
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 50px;
	position: absolute;
    height: auto;
}
#main.common.kamiya #mainArea {
	background-image: url(../service-introduction/consultants/kamiya-takahiro/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.sukagawa #mainArea {
	background-image: url(../service-introduction/consultants/sukagawa-toshiya/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.asano #mainArea {
	background-image: url(../service-introduction/consultants/asano-yushi/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#main.common.kamiya #mainArea {
	background-image: url(../service-introduction/consultants/kamiya-takahiro/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.chiba01 #mainArea {
	background-image: url(../service-introduction/consultants/chiba-kosuke/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.kanaya #mainArea {
	background-image: url(../service-introduction/consultants/kanaya-masuo/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.yamagami #mainArea {
	background-image: url(../service-introduction/consultants/yamagami-kouhei/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.osaka #mainArea {
	background-image: url(../service-introduction/consultants/osaka-daisuke/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.sasaki #mainArea {
	background-image: url(../service-introduction/consultants/sasaki-machiko/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.ito #mainArea {
	background-image: url(../service-introduction/consultants/ito-yuki/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.takami #mainArea {
	background-image: url(../service-introduction/consultants/takami-tomoko/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.yamazaki #mainArea {
	background-image: url(../service-introduction/consultants/yamazaki-shinya/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.kamiya #mainArea {
	background-image: url(../service-introduction/consultants/kamiya-takahiro/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.chiba02 #mainArea {
	background-image: url(../service-introduction/consultants/chiba-kouichi/img/main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#main.common.takano #mainArea {
    background-image: url(../service-introduction/consultants/takano-tsubasa/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#main.common.sakamoto #mainArea {
    background-image: url(../service-introduction/consultants/sakamoto-risa/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#main.common.kikuchi #mainArea {
    background-image: url(../service-introduction/consultants/kikuchi-kasumi/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#main.common.onishi #mainArea {
    background-image: url(../service-introduction/consultants/onishi-masaru/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#main.common.marugame #mainArea {
    background-image: url(../service-introduction/consultants/marugame-kenta/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#main.common.ishibashi #mainArea {
    background-image: url(../service-introduction/consultants/ishibashi-ataru/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#main.common.oshikiri #mainArea {
    background-image: url(../service-introduction/consultants/oshikiri-haruka/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#main.common.muroi #mainArea {
    background-image: url(../service-introduction/consultants/muroi-miho/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#main.common.sawada #mainArea {
    background-image: url(../service-introduction/consultants/sawada-souichirou/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.itoh-n #mainArea {
    background-image: url(../service-introduction/consultants/itoh-naoki/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.konno #mainArea {
    background-image: url(../service-introduction/consultants/konno-kouji/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.akama #mainArea {
    background-image: url(../service-introduction/consultants/akama-hiromichi/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.yoshida #mainArea {
    background-image: url(../service-introduction/consultants/yoshida-kousuke/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.matsuzaki #mainArea {
    background-image: url(../service-introduction/consultants/matsuzaki-hiromi/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.nagaushi #mainArea {
    background-image: url(../service-introduction/consultants/nagaushi-youhei/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.hamada #mainArea {
    background-image: url(../service-introduction/consultants/hamada-hiroshi/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.ono #mainArea {
    background-image: url(../service-introduction/consultants/ono-hiroki/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.kawano #mainArea {
    background-image: url(../service-introduction/consultants/kawano-yusuke/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.kamata #mainArea {
    background-image: url(../service-introduction/consultants/kamata-hiromitsu/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.tomosada #mainArea {
    background-image: url(../service-introduction/consultants/tomosada-yousuke/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.ishiyama #mainArea {
    background-image: url(../service-introduction/consultants/ishiyama-misato/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.aita #mainArea {
    background-image: url(../service-introduction/consultants/aita-kaoru/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.honma #mainArea {
    background-image: url(../service-introduction/consultants/honma-nobuhiro/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.t-nao #mainArea {
    background-image: url(../service-introduction/consultants/takahashi-nao/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.nakanishi #mainArea {
    background-image: url("../service-introduction/consultants/nakanishi-satomi/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.terui #mainArea {
    background-image: url("../service-introduction/consultants/terui-mariko/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.fujii #mainArea {
    background-image: url("../service-introduction/consultants/fujii-takeshi/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.andou #mainArea {
    background-image: url("../service-introduction/consultants/andou-toshikazu/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.hachimine #mainArea {
    background-image: url("../service-introduction/consultants/hachimine-motokuni/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.iwaya #mainArea {
    background-image: url("../service-introduction/consultants/iwaya-daisuke/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.kitamura #mainArea {
    background-image: url("../service-introduction/consultants/kitamura-moriyuki/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.kokatsu #mainArea {
    background-image: url("../service-introduction/consultants/kokatsu-syun/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.endou #mainArea {
    background-image: url("../service-introduction/consultants/endou-hiroaki/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.koizumi #mainArea {
    background-image: url("../service-introduction/consultants/koizumi-masaru/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.ide #mainArea {
    background-image: url("../service-introduction/consultants/ide-ayaka/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.honda #mainArea {
    background-image: url("../service-introduction/consultants/honda-yuuko/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.nakamoto #mainArea {
    background-image: url("../service-introduction/consultants/nakamoto-eriko/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.irie #mainArea {
    background-image: url("../service-introduction/consultants/irie-nanako/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.maeda #mainArea {
    background-image: url("../service-introduction/consultants/maeda-hiori/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.kaho #mainArea {
    background-image: url("../service-introduction/consultants/kaho-takuya/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.imai #mainArea {
    background-image: url("../service-introduction/consultants/imai-ikumi/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.yamakawa #mainArea {
    background-image: url("../service-introduction/consultants/yamakawa-yuuri/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.gima #mainArea {
    background-image: url("../service-introduction/consultants/gima-miwa/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.satou-m #mainArea {
    background-image: url("../service-introduction/consultants/satou-masaki/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.saitou-y #mainArea {
    background-image: url("../service-introduction/consultants/saitou-yoshiteru/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#main.common.watanabe-h #mainArea {
    background-image: url("../service-introduction/consultants/watanabe-hidetaka/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}


/* +++++++++++++++++++++++ co +++++++++++++++++++++++ */


#co {
	margin: 0px auto;
	padding: 0px;
	width: 960px;
}
#co #coL {
	margin: 0px;
	padding: 0px 0px 25px;
	float: left;
	width: 730px;
	text-align: left;
}
#co #coL.fixed {
	padding: 60px 0px 25px 0px;
}
#co #coR {
	text-align: left;
	margin: 0px;
	padding: 0px 0px 25px;
	float: right;
	width: 200px;
}
#co #summaryBox {
	text-align: left;
	margin: 0px;
	padding: 0px 0px 30px;
	clear: both;
}
#co #summaryBox h2 {
	margin: 0px 0px 15px;
	padding: 0px;
	font-size: 1.2em;
	line-height: 1.4;
	font-weight: 900;
}
#co #summaryBox p {
	margin: 0px;
	padding: 0px;
	font-size: 0.75em;
	line-height: 1.5;
}


/* +++++++++++++++++++++++ coR +++++++++++++++++++++++ */

#coR #turnBox {
	margin: 0px 0px 13px;
	text-align: center;
	background-color: #EDEEEF;
	padding-bottom: 10px;
}
#coR #turnBox ul {
	margin: 0px;
	padding: 0px;
}
#coR #turnBox ul li {
	margin: 0px;
	padding: 8px 0px 0px;
}
#coR #turnBox h2 {
	margin: 0px 0px 2px;
	padding: 0px;
}
#coR .bnrBox {
	margin: 0 0 30px 0;
	padding: 0px;
}
#coR .bnrBox p {
	margin: 0px 0px 10px;
	padding: 0px;
}
#coR .bnrBox p.tv {
    margin-top: 30px;
}
#coR #interviewBox {
	margin: 0px 0px 30px;
	padding: 0px;
}
#coR #interviewBox .interviewDetail {
	margin: 0px;
	padding: 10px 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #D3D6D8;
	background-color: #F2F3F4;
	background-image: url(../images/point_03.png);
	background-repeat: no-repeat;
	background-position: right center;
	text-align: center;
}
#coR #interviewBox .interviewDetail.odd {
	background-color:#E6E7E8;
}
#coR #interviewBox .interviewDetail .interviewDetailSub {
	width: 170px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
#coR #interviewBox p.photo {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 43px;
}
#coR #interviewBox h3 {
	margin: 0px 10px 0px 0px;
	padding: 0px;
	float: right;
	width: 105px;
	font-size: 12px;
	font-weight: 100;
	line-height: 1.4;
}
#coR #hiketsuBox {
	margin: 0px 0px 10px;
	padding: 0px 0px 10px;
	background-color: #EDEEEF;
}
#coR #hiketsuBox h2 {
	margin: 0px;
	padding: 0px;
}
#coR #hiketsuBox .sideBox .sideBoxSub p {
	font-size: 0.75em;
	line-height: 1.3;
	margin: 10px 0px 0px;
	padding: 0px;
}
#coR #hiketsuBox .sideBox .sideBoxSub p.aCenter {
	margin: 0px;
}
#coR #columnBox {
	margin: 0px 0px 10px;
	padding: 0px 0px 10px;
	background-color: #EDEEEF;
}
#coR #columnBox h2 {
	margin: 0px;
	padding: 0px;
}
#coR .sideBox {
	background-color: rgb(255,255,255);
	-moz-box-shadow: 2px 2px 0px rgb(202,205,208);
	-webkit-box-shadow: 2px 2px 0px rgb(202,205,208);
	box-shadow: 2px 2px 0px rgb(202,205,208);
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#ffcacdd0,Positive=true)";

	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#ffcacdd0,Positive=true);
	margin: 10px auto 0px;
	padding: 0px;
	width: 178px;
}
#coR .sideBox .sideBoxSub {
	margin: 0px;
	padding: 12px;
}
#coR .sideBox p a {
	color:#333333;
	text-decoration:none;
}
.page ul.point01 {
	margin: 0px 0px 25px;
	padding: 0px;
}
.page ul.point01 li {
	margin: 0px 0px 5px;
	padding: 0px 0px 0px 18px;
	font-size: 0.85em;
	line-height: 1.6;
	background-image: url(../images/point_02.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
}
#coR #columnBox ul {
	margin: 0px;
	padding: 0px;
}
#coR #columnBox ul li {
	margin: 0px;
	padding: 0px 0px 0px 12px;
	font-size: 0.75em;
	line-height: 1.5;
	background-image: url(../images/point_01.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
}
#coR .bnrBox h2.title {
	font-size: 0.75em;
	font-weight: 900;
	background-image: url(../images/point_02.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	line-height: 1.4;
	margin: 30px 0 10px 0;
	padding: 0px 0px 0px 16px;
}

/* +++++++++++++++++++++++ page +++++++++++++++++++++++ */


.page h2 {
	margin-top: 0px;
	margin-bottom: 30px;
}
.page p {
	font-size: 0.75em;
	line-height: 2.0;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}
.page .cautionBox {
	margin: 0px 0px 25px 0px;
	text-align: center;
	border: 3px solid #C60000;
	padding: 12px;
}
.page .cautionBox p {
	margin: 0px;
	font-weight: 900;
}
.page p#bnrCommon {
	padding: 0px;
	margin-top: 40px;
	margin-bottom: 25px;
}

.page p.catchTxt {
	font-size: 1.2em;
	line-height: 1.6;
	margin-bottom: 25px;
	font-weight: 900;
	margin-top: 0px;
	clear: both;
	padding: 0px;
}
.page p.catchTxt .name {
	font-size: 12px;
	font-weight: 900;
	color: #C60000;
}
.page .qaBox+p.catchTxt {
	margin-top: 50px;
}
.page p.txtMore {
	text-align:right;
}
.page p.no {
	margin-bottom: 0px;
}
.page .contentsBox h2 {
	margin: 0px;
	padding: 0px;
}
.page .contentsBox .boxBack {
	text-align: center;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
}
.page .contentsBox {
	margin: 0px 0px 25px;
	padding: 0px;
}
.page .contentsBox .boxBack .boxSub {
	margin: 0px auto;
	padding: 8px 0px 10px;
	width: 700px;
	text-align: left;
}
.page .contentsBox .boxBack .boxSub.ss {
	width: 650px;
	padding: 25px 0px 30px;
}
.page .contentsBox .boxBack .boxSub.ss p:last-child {
	margin-bottom:0px;
}
.page .contentsBox .boxBack .boxSub.ss h4 {
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	font-size: 0.85em;
	line-height: 1.5;
	font-weight: 900;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}
.page table.normal {
	margin: 0px 0px 20px;
	padding: 0px;
	width:100% !important;
}
.page table.normal.search {
	margin: 0px 0px 10px;
}
.page table.normal th,
.page table.normal td {
	border: 1px solid #CCCCCC;
	padding: 10px;
	font-size: 0.75em;
	line-height: 1.5;
	background-color: #FFF;
}
.page table.normal td.day {
	padding: 25px 10px 5px 10px;
}
.page table.normal td.nittei {
	padding: 10px 10px 0 10px;
}
.page table.normal td span.nittei {
    display: inline-block;
    padding: 10px 0 0 0;
}
.page table.normal.ss th,
.page table.normal.ss td {
	padding: 6px 10px;
}
.page table.normal.calendar th,
.page table.normal.calendar td {
	white-space:nowrap;
}
.page table.normal.calendar th{
	width:40px;
}
.page table.normal.calendar td{
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}
.page table.normal th {
	background-color: #EAEAEA;
	text-align: left;
}
.page table.normal th.center {
	text-align: center;
}
.page table.normal th.title {
	background-color: #343434;
	color: #FFF;
	text-align: center;
	font-size: 16px;
}
.page table.normal th.sub {
	background-color: #EAEAEA;
}
.page table.normal th.chsBtn {
	background-color: #FFFFFF;
	text-align: center;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #E0E0E0;
	border-left: none;
	padding-bottom: 15px;
}
.page table.normal td table {
	margin: 0px;
}
.page table.normal td table td {
	border: none;
	font-size: 1em;
	padding: 5px 5px 0px;
	vertical-align: top;
}
.page h3 {
	font-size: 1.2em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 25px;
	padding: 10px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #C60000;
}
.page h3.ss {
	font-size: 0.85em;
	margin-bottom: 15px;
}
.page h3#searchBtn {
	padding: 0px;
	line-height:52px;
	position:relative;
}
.page h3#searchBtn img {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.page #searchBtnWrapper{
	margin: 0px;
	padding: 0px;
}
.page h3#searchBtn.new {
	font-size: 14px;
	line-height: 1.0;
	padding: 0px;
	margin-bottom: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 3px #969696;
	-moz-box-shadow: 0 3px #969696;
	box-shadow: 0 3px #969696;
	background: rgb(249,249,249);
background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(233,233,233,1) 49%, rgba(219,219,219,1) 49%, rgba(207,207,207,1) 100%);
background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(233,233,233,1) 49%,rgba(219,219,219,1) 49%,rgba(207,207,207,1) 100%);
background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(233,233,233,1) 49%,rgba(219,219,219,1) 49%,rgba(207,207,207,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cfcfcf',GradientType=0 );
	text-align: center;
	border: 0px none;
}
.page h3#searchBtn.new a {
	display: block;
	padding: 15px 0px;
	text-decoration: none;
	color: #191919;
}
.page h3#searchBtn.new a span:before {
	margin:0 14px 0 0;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/ico_search_s.png);
    background-size:contain;
    vertical-align:middle;	
}

/* +++++++++++++++++++++++ fix +++++++++++++++++++++++ */

* html .page #searchBtnWrapper.fixed {
    background: url(null) fixed;
}
#searchPage{
position: relative;
}
.page #searchBtnWrapper.fixed {
	position: fixed;
	top: 0;
}


.page #searchBtnWrapper.fixed .inner {
	width: 730px;
	background-color: rgba(0,0,0,0.3);
	padding: 5px 0px 9px 0px;
	text-align: center;
}
.page #searchBtnWrapper.fixed h3#searchBtn.new {
width: 582px;
margin: 0px auto;
}
/* IE6用固定 */
* html .page #searchBtnWrapper.fixed {
	position:absolute;
	top: expression(eval(document.documentElement.scrollTop));
}




.page h3 span.date {
	font-size: 10px;
	font-weight: 900;
	color: #C50000;
}
.page .pageNavi {
	text-align: right;
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
}
.page .pageNavi p.Paging {
	margin:0px;
}
.page .pageNavi ul {
	margin: 0px;
}
.page .pageNavi li a {
	float: left;
	border: 1px solid #BBC6AA;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	margin-left: 10px;
	font-size: 0.75em;
	line-height: 1;
	background-color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.page .pageNavi li span {
	float: left;
	border: 1px solid #BBC6AA;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	margin-left: 10px;
	font-size: 0.75em;
	line-height: 1;
	background-color: #657D29;
	display: block;
	font-weight: 900;
	color: #FFF;
}
.page .pageNavi {
	text-align: right;
	clear: both;
	margin-top: 20px;
}
.page .pageNavi a,
.page .pageNavi span {
	float: left;
	border: 1px solid #DBDBDB;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	margin-left: 0px;
	margin-right: 10px;
	font-size: 1.0em;
	line-height: 1.0;
	background-color: #FFFFFF;
}
.pagination li {
    font-size:0.75em;
    display: inline-block;
    padding: 5px 6px;
}
 
.pagination li span {
    display:          inline-block;
    padding:          5px 6px;
    background-color: #EEEEEE;
    border:  1px #CCCCCC solid;
}
 
.pagination li a {
    display: inline-block;
    padding: 5px 6px;
    border:  1px #CCCCCC solid;
}
.pagination li a:hover {
}

.page h4 {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 25px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.page .pointBox {
	padding: 30px;
	margin-bottom: 15px;
	background-color: #F9F9F9;
}
.page .pointBox .pointBoxSub {
	background-color: #FFFFFF;
	padding: 18px 18px 10px;
}
.page .pointBox .pointBoxSub h3 {
	margin-top: 0px;
}
.page ul.list01 {
	margin: 0px 0px 15px;
	padding: 0px;
}
.page ul.list01 li {
	font-size: 0.75em;
	line-height: 1.5;
	padding-left: 12px;
	padding-bottom: 8px;
	background-image: url(../images/point_01.gif);
	background-repeat: no-repeat;
	background-position: left 5px;
}
.page ul.list01 li ul {
	margin-top: 5px;
}
.page ul.list01 li ul li {
	font-size: 1em;
	margin: 0px;
	list-style-type: none;
	background: url(../images/point_08.gif) no-repeat left 5px;
	padding-left: 8px;
}
.page .soudanBox {
  border-width: 4px;
  border-color: rgb(193, 193, 193);
  border-style: solid;
  background-color: rgb(251, 251, 251);
    margin: 25px 0 30px 0;
    padding: 0;
}
.page .soudanBox:first-child {
    margin-top: 0;
}
.page .soudanBox .inner {
    margin: 0;
    padding: 30px;
}
.page .soudanBox p {
    margin: 0 0 15px 0;
    padding: 0;
  font-size: 16px;
  color: rgb(53, 53, 53);
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  font-family: 'Yu Gothic', 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
}
.page .soudanBox p strong {
    color: #c30014;
}
.page .soudanBox p.btn {
    margin: 0;
    padding: 0;
}




/* +++++++++++++++++++++++ indexPage +++++++++++++++++++++++ */

#indexPage {
	margin: 0px;
	padding: 0px;
}
#indexPage #searchPrefBox {
	margin: 0px 0px 20px;
	padding: 0px;
}
#indexPage #searchPrefBox #searchPrefTab {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabAll {
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#indexPage #searchPrefBox h2 {
	margin: 0px;
	padding: 0px;
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi {
	margin: 0px;
	padding: 0px;
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li {
	margin: 0px;
	padding: 0px;
	float: left;
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a span {
	display:none;
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a {
	height: 45px;
	width: 91px;
	background-repeat: no-repeat;
	background-position: left top;
	display:block;
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab01 {
	background-image: url(../images/search_tab_01_off.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab02 {
	background-image: url(../images/search_tab_02_off.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab03 {
	background-image: url(../images/search_tab_03_off.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab04 {
	background-image: url(../images/search_tab_04_off.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab05 {
	background-image: url(../images/search_tab_05_off.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab06 {
	background-image: url(../images/search_tab_06_off.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab07 {
	background-image: url(../images/search_tab_07_off.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab08 {
	background-image: url(../images/search_tab_08_off.gif);
	width:93px;
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab01.selected {
	background-image: url(../images/search_tab_01_on.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab02.selected {
	background-image: url(../images/search_tab_02_on.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab03.selected {
	background-image: url(../images/search_tab_03_on.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab04.selected {
	background-image: url(../images/search_tab_04_on.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab05.selected {
	background-image: url(../images/search_tab_05_on.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab06.selected {
	background-image: url(../images/search_tab_06_on.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab07.selected {
	background-image: url(../images/search_tab_07_on.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabNavi li a#tab08.selected {
	background-image: url(../images/search_tab_08_on.gif);
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabSub {
	margin: 0px auto;
	padding: 0px 0px 25px;
	width: 700px;
	text-align: left;
}
#indexPage #searchPrefBox .entry {
	margin: 0px;
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D0D0D0;
}
#indexPage #searchPrefBox .entry.odd {
	background-color:#F5F5F5;
}
#indexPage #searchPrefBox .entry p.date {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: 900;
	float: left;
	width: 100px;
	line-height: 1.4;
}
#indexPage #searchPrefBox .entry p.title {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.4;
	float: left;
	width: 580px;
}
#indexPage #searchPrefBox .entry p.title img {
	margin: 0px 0px 0px 6px;
	padding: 0px;
	vertical-align: middle;
}
#indexPage #searchPrefBox #searchPrefTab #searchPrefTabSub p.aCenter {
	margin: 15px 0px 0px;
	padding: 0px;
}
#indexPage #searchPrefTab{
	margin:0px;
	padding:0px;
}
#indexPage #searchPrefTab ul#tabNavi{
	margin:0px;
	padding:0px;
}
#indexPage #searchPrefTab ul#tabNavi li {
	float:left;
}
#indexPage #searchPrefTab ul#tabNavi li a {
	padding:0px;
	margin:0px;
	text-decoration:none;
	display:block;
}
#indexPage #searchPrefTab ul#tabNavi li a.selected,
#indexPage #searchPrefTab ul#tabNavi li a:hover {
	background:grey;
	color:#fff;
}
#indexPage #searchPrefTab ul#tabNavi li a:focus {
	outline: none;
}
#indexPage #searchPrefTab ul#tabNavi li span {
	display: none;
}
#indexPage #searchPrefTab .tabSub {
	margin: 0px;
	padding:0px;
}
#indexPage #consultantsBox,
#consultantsPage #consultantsBox {
	margin: 0px 0px 20px;
	padding: 0px;
}
#indexPage #consultantsBox h2,
#consultantsPage #consultantsBox h2 {
	margin: 0px;
	padding: 0px;
}
#indexPage #consultantsBox ul,
#consultantsPage #consultantsBox ul {
	margin: 0px;
	padding: 0px;
}
#indexPage #consultantsBox ul li,
#consultantsPage #consultantsBox ul li {
	margin: 0px;
	padding: 0px;
	float: left;
}
#indexPage #consultantsBox p.aCenter {
	margin: 15px 0px 0px;
	padding: 0px;
}
#indexPage #serviceBox {
	margin: 0px 0px 15px;
	padding: 0px;
	width: 730px;
	overflow: hidden;
}
#indexPage #serviceBox h2 {
	margin: 0;
	padding: 0px;
}
#indexPage #serviceBox .serviceBoxSub {
	margin: 0px;
	padding: 0px;
	width: 750px;
}
#indexPage #serviceBox .serviceBoxSub.b01 .box {
	margin: 0px 20px 20px 0px;
	padding: 0px;
	width: 355px;
	float: left;
}
#indexPage #serviceBox .serviceBoxSub.b02 .box {
	margin: 0px 20px 0px 0px;
	padding: 0px;
	width: 230px;
	float: left;
}
#indexPage #serviceBox .box h3  {
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 0.81em;
	font-weight: 900;
	line-height: 1.5;
}
#indexPage #serviceBox .box p.photo  {
	margin: 0px 0px 10px;
	padding: 0px;
}
#indexPage #serviceBox .box p.txt  {
	margin: 5px 0px 0px;
	padding: 0px;
	font-size: 0.75em;
	font-weight: 100;
	line-height: 1.5;
}
#indexPage #otherSearchBox {
	margin: 0px;
	padding: 0px;
}
#indexPage #searchBox {
	margin: 0 0 35px 0;
	padding: 0px;
    background: #ebebeb;
}
#indexPage #searchBox h2 {
	margin: 0 0 28px 0;
	padding: 0px;
	position: relative;
}
#indexPage #searchBox h2 span.more {
	margin: 0;
	padding: 0;
	position: absolute;
	right:0;
	top: 0;
	font-size: 12px;
	line-height: 1.2;
  border: solid 1px #434343;
  width: 155px;
    text-align: center;
    border-radius: 200px;
}
#indexPage #searchBox h2 span.more a {
    text-decoration: none;
    color: #454545;
    display: block;
    padding: 6px 0;
}
#indexPage #searchBox .inner {
	padding: 25px 30px 30px 30px;
	text-align: left;
}
#indexPage #searchBox select {
display: inline-block;
}
#indexPage #searchBox input {
margin: 0;
display: inline-block;
border-radius: 6px;
  background-color: rgb(69, 69, 69);
    box-shadow: 0px 4px 0px 0px rgba(33, 33, 33, 1.0);
  width: 150px;
  height: 60px;
  font-size: 16px;
  font-weight: 900;
  color: #FFF;
  border: 0px none;
  cursor:pointer;    
}
#indexPage #newsBox {
	position: relative;
	margin: 0px 0px 20px;
	padding: 0px;
}

#indexPage #newsBox .entry {
	margin: 0px;
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D0D0D0;
}
#indexPage #newsBox .entry.odd {
	background-color:#F5F5F5;
}
#indexPage #newsBox .boxBack {
	text-align: center;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
}
#indexPage #newsBox h2 {
	margin: 0px;
	padding: 0px;
}
#indexPage #newsBox .boxBack .boxSub {
	margin: 0px auto;
	padding: 0px 0px 20px;
	width: 700px;
	text-align: left;
}
#indexPage #newsBox .entry p.date {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: 900;
	float: left;
	width: 140px;
	line-height: 1.4;
	background-repeat: no-repeat;
	background-position: right center;
}
#indexPage #newsBox .entry.info p.date {
	background-image: url(../images/ico_info.png);
}
#indexPage #newsBox .entry.event p.date {
	background-image: url(../images/ico_event.png);
}
#indexPage #newsBox .entry p.title {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.4;
	float: left;
	width: 520px;
}
#indexPage #newsBox .btn {
	margin: 0px;
	padding: 0px;
	width: 120px;
	position: absolute;
	top: 10px;
	right: 10px;
}
#indexPage #newsBox .btn li {
	margin: 0px;
	padding: 0px;
	float:left;
}
#indexPage #tokusyuBox {
	margin: 0px 0px 20px;
	padding: 0px;
	clear: both;
}
#indexPage #tokusyuBox h2 {
	margin: 0px;
	padding: 0px;
}
#indexPage #tokusyuBox h2 {
	margin: 0px;
	padding: 0px;
	position: relative;
}
#indexPage #tokusyuBox .boxBack {
	text-align: center;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
}

#indexPage #tokusyuBox .boxBack .boxSub {
	margin: 0px auto;
	padding: 8px 0px 10px;
	width: 700px;
	text-align: left;
}
#indexPage #tokusyuBox ul {
	margin: 0px;
	padding: 0px;
}
#indexPage #tokusyuBox ul li {
	margin: 0px;
	padding: 0px 0px 10px 12px;
	font-size: 0.75em;
	line-height: 1.5;
	background-image: url(../images/point_01.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
}
#indexPage #tokusyuBox h2 .ico {
	position: absolute;
	left: 8px;
	top: -12px;
}
#mailMaganizeBox {
	margin: 0px 0px 20px;
	padding: 20px;
	border: 2px solid #C60000;
}
#mailMaganizeBox h2 {
	margin: 0px;
	padding: 0px 0px 0px 28px;
	font-size: 1em;
	line-height: 1.6;
	font-weight: 900;
	background-image: url(../images/ico_mailmagazine.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
}
#mailMaganizeBox p {
	margin: 5px 0px 0px;
	padding: 0px;
	font-size: 0.81em;
	line-height: 1.5;
}
#indexPage .secondBox {
    margin: 0 0 30px 0;
    padding: 0;
}
#indexPage .secondBox h2 {
    margin: 0;
    padding: 0;
}
#indexPage .secondBox ul {
    margin: 0;
    padding: 0;
}
#indexPage .secondBox ul li {
    margin: 0;
    margin-right: 13px;
    padding: 0;
    font-size: 14px;
    line-height: 1.3;
    vertical-align: top;
    float: left;
    width: 173px;
}
#indexPage .secondBox ul li.ss {
    margin-right: 12px;
}
#indexPage .secondBox ul li.no {
    margin-right: 0;
}
#indexPage .secondBox ul li p {
    margin: 0;
    text-align: center;
}
#indexPage .secondBox ul li a {
    color: #26729d;
}
#indexPage .secondBox ul li p.photo {
    margin: 0 0 5px 0;
}
#indexPage .secondBox ul li p.txt {
    display: table-cell;
    vertical-align: middle;
    width: 173px;
    background: url(../images/point_13.png) no-repeat right 5px center;
}



/* +++++++++++++++++++++++ footer +++++++++++++++++++++++ */

#footer {
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #D33333;
	margin: 0px;
	padding: 20px 0px 0px;
}
#footer #footerSub {
	margin: 0px auto;
	padding: 0px;
	width: 960px;
	text-align: left;
    position: relative;
}
#footer #footerSub p.btnLogin {
    position: absolute;
    top: 74px;
    left: 30px;
}
#footer h2 {
	margin: 0px 50px 0px 0px;
	padding: 0px;
	float: left;
	width: 203px;
}
#footer ul {
	margin: 0px 20px 15px 0px;
	padding: 0px;
	float: left;
}
#footer ul li {
	margin: 0px 0px 3px;
	padding: 0px 0px 0px 10px;
	font-size: 0.75em;
	line-height: 1.5;
	background-image: url(../images/point_01.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
}
#footer ul li ul {
	margin: 5px 0px 5px 0px;
	padding: 0px;
	float: none;
}
#footer ul li ul li {
	margin: 0px 0px 3px;
	padding: 0px 0px 0px 10px;
	font-size: 1em;
	line-height: 1.5;
	background-image: url(../images/point_10.gif);
	background-repeat: no-repeat;
	background-position: left 8px;
}
#footer ul li.mgn {
	margin: 12px 0px 3px;
}
#footer #footerSub p#copy {
	font-size: 10px;
	line-height: 1.5;
	color: #A7A7A7;
	text-align: center;
	margin: 0px;
	padding: 12px 0px 25px;
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EAEAEA;
}



/* +++++++++++++++++++++++ consultantsPage +++++++++++++++++++++++ */


#consultantsPage .commentBox {
	margin: 0px 0px 30px;
	padding: 0px;
}
#consultantsPage .commentBox.line {
	padding: 40px 0px 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DDDDDD;
}
#consultantsPage .commentBox .photo {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 205px;
}
#consultantsPage .commentBox .txt {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 500px;
}
#consultantsPage .commentBox .txt p.catch {
	margin: 0px 0px 30px;
	padding: 0px;
	
}

#consultantsPage .commentBox.b02 .photo {
	float: right;
}
#consultantsPage .commentBox.b02 .txt {
	float: left;
}
#consultantsPage .profile {
	margin: 0px;
	padding: 0px;
}
#consultantsPage .profile .photo {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 145px;
}
#consultantsPage .profile .txt {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 535px;
}
#consultantsPage .profile .txt h3 {
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	font-size: 0.85em;
	line-height: 1.5;
	font-weight: 900;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	border-top-width: 0px;
	border-top-style: none;
}
#consultantsPage .profile .txt p {
	margin: 0px;
	padding: 0px 0px 15px;
}







/* +++++++++++++++++++++++ interviewPage +++++++++++++++++++++++ */

#interviewPage #titleBox {
	background-image: url(../interview/img/frame.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px 0px 20px;
	padding: 0px;
	height: 75px;
	width: 730px;
	position: relative;
}
#interviewPage #titleBox h2 {
	font-size: 27px;
	font-weight: 900;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 95px;
	top: 18px;
}
#interviewPage #titleBox h2.ss {
	font-size: 21px;
	left: 100px;
	top: 23px;
}
#interviewPage p.summaryTxt {
	font-size: 11px;
	text-align: right;
	margin-top: 25px;
}
#interviewPage .commentBox {
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 40px;
	margin-bottom: 15px;
}
#interviewPage .commentBox02 {
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 50px;
	margin-bottom: 15px;
}
#interviewPage .commentBox p ,
#interviewPage .commentBox02 p {
	margin-bottom: 15px;
}
#interviewPage h4 {
	font-size: 1.8em;
	line-height: 1.5;
	font-weight: 900;
	margin: 40px 0px 20px;
	padding: 0px;
	background-image: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #C70100;
}
#interviewPage .profileBox {
	padding: 20px 0px;
	margin-bottom: 35px;
	text-align: center;
	margin-top: 35px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #C60000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#interviewPage .profileBox .profileBoxSub {
	background-color: #FFFFFF;
	padding: 0px;
}
#interviewPage .profileBox .profileBoxDetail {
	padding: 0px;
	margin: 0px auto;
	width: 690px;
	text-align: left;
}
#interviewPage .profileBox .txt {
	padding: 0px;
	margin: 0px;
	width: 690px;
}
#interviewPage .profileBox h3 {
	font-size: 0.85em;
	line-height: 1.1;
	font-weight: 900;
	background-image: none;
	margin: 0px 0px 10px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#interviewPage .profileBox h3 ruby rb {
	font-size: 20px;
}
#interviewPage .profileBox h3 ruby rt {
	font-size: 10px;
}
#interviewPage .profileBox p  {
	margin: 0px;
}
#interviewPage #interviewList li {
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #D3D6D8;
	background-color: #F2F3F4;
}
#interviewPage #interviewList li.odd {
	background-color:#E6E7E8;
}
#interviewPage p#mainImg {
	margin-bottom: 0px;
}

#interviewPage #interviewList li .btnBox {
	margin: 0px;
	padding: 0 20px 20px 20px;
}
#interviewPage #interviewList li .btnBox ul {
	margin: 0px;
	padding: 0px;
}
#interviewPage #interviewList li .btnBox ul li {
	margin: 0 10px 0 0;
	padding: 0px;
    float: left;
    border: 0px none;
}
#interviewPage #interviewList li .btnBox ul li.no {
	margin-right: 0;
	padding: 0px;
}
#interviewPage #interviewList li .btnBox ul li a:hover img{    
    filter:alpha(opacity=70);  /* IE7以下用 */ 
    -ms-filter: "alpha(opacity=70)"; /* IE8用 */ 
    -moz-opacity:0.7; /* Firefox 1.5未満, Netscape用 */ 
    -khtml-opacity: 0.7;  /* Safari 1.x, 他khtmlに対応したブラウザ用  */ 
    opacity: 0.7; /* Firefox 1.5以上, Opera, Safari用 */ 
}


/* +++++++++++++++++++++++ companyPage +++++++++++++++++++++++ */

#companyPage #catch01 {
	margin: 0px 0px 60px;
	padding: 0px;
}
#companyPage #catch03 {
	margin: 0px 0px 70px;
	padding: 0px;
}
#companyPage.summary th {
    width: 90px;
}


/* +++++++++++++++++++++++ searchPage +++++++++++++++++++++++ */

#searchPage .sendBox {
	text-align: center;
    margin: 0 0 30px 0;
}
#searchPage .sendBox table {
	margin: 0px auto;
	padding: 0px;
}
#searchPage #likeBox {
	margin: 0px 0px 20px;
	padding: 0px;
	position: relative;
	text-align: center;
}
#searchPage #likeBox p#btnPrev {
	margin: 0px;
	padding: -17px 0px 0px;
	position: absolute;
	left: 0px;
	top: 50%;
}
#searchPage #likeBox p#btnNext {
	margin: 0px;
	padding: -17px 0px 0px;
	position: absolute;
	right: 0px;
	top: 50%;
}
#searchPage #likeBox #likeBoxSub {
	margin: 0px auto;
	padding: 0px;
	width: 630px;
	text-align: left;
	overflow: hidden;
}
#searchPage #likeBox #likeBoxAll {
	margin: 0px;
	padding: 0px;
	width: 9999px;
}
#searchPage #likeBox .box {
	margin: 0px 15px 0px 0px;
	padding: 0px;
	float: left;
	width: 200px;
	border: 3px solid #EDEEEF;
}
#searchPage #likeBox .box h2 {
	margin: 0px;
	padding: 10px;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	background-image: url(../images/dot_title.gif);
}
#searchPage #likeBox .box .txt {
	margin: 0px;
	padding: 12px;
}
#searchPage #likeBox .box .txt p {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.4;
    word-break: break-all;
}
#searchPage #likeBox .box .txt p.income {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: 900;
}
#searchPage #likeBox .box .txt p.income strong {
	margin: 0px;
	padding: 0px;
	color: #C60000;
}





/* +++++++++++++++++++++++ blog +++++++++++++++++++++++ */

#blogPage ul.list01 {
	margin: 0px;
	padding: 0px;
}
#blogPage ul.list01 li {
	margin: 0px 0px 15px;
	clear: both;
	padding: 0px 0px 14px;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
}
#blogPage .list01 li p.photo {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	float: right;
}
#blogPage .list01 li .photo img {
	float: right;
	height: auto;
	width: 150px;
}
#blogPage ul.list01 strong {
	font-size: 16px;
}
.page h3 .category,
#blogPage ul.list01 li .category {
	position: relative;
	font-weight: 100;
	color: #272727;
	background-color: #EEEEEE;
	display: inline-block;
	padding: 2px 10px;
	margin-bottom: 5px;
	font-size: 11px;
	border-radius:3px;
}
.page h3 .category:after,
#blogPage ul.list01 li .category:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #EEEEEE;
	border-width: 5px;
	margin-left: -5px;
}
#primary-sidebar {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
#primary-sidebar #calendar-2 {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #calendar-2 table#wp-calendar {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#primary-sidebar #calendar-2 table#wp-calendar th,
#primary-sidebar #calendar-2 table#wp-calendar td {
	padding: 5px;
	font-size: 0.75em;
	text-align: center;
	border: 1px solid #CCC;
}
#primary-sidebar #calendar-2 table#wp-calendar th{
	color: #FFFFFF;
	background-color: #000;
}
#primary-sidebar #calendar-2 caption {
	font-size: 12px;
	text-align: center;
	font-weight: 900;
	padding-bottom: 5px;
	margin: 0px;
}
#primary-sidebar #categories-2 .widget-title {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#primary-sidebar #categories-2 ul {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #categories-2 ul li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
#primary-sidebar #archives-2 .widget-title {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#primary-sidebar #archives-2 ul {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #archives-2 ul li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
#primary-sidebar #recent-posts-2 .widget-title {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#primary-sidebar #recent-posts-2 ul {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #recent-posts-2 ul li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
#primary-sidebar #recent-posts-5 .widget-title {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#primary-sidebar #recent-posts-5 ul {
	margin: 0px 0px 15px;
	padding: 0px;
}
#primary-sidebar #recent-posts-5 ul li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
#primary-sidebar #recent-posts-5 .widget-title {
	font-size: 0.91em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.article p {
	margin-bottom:0px;
}







/* +++++++++++++++++++++++ successPage +++++++++++++++++++++++ */


#successPage #commentBox {
	margin: 0px;
	padding: 0px;
	width: 730px;
	overflow: visible;
}
#successPage #commentBox #commentBoxAll {
	margin: 0px;
	padding: 0px;
	width: 745px;
}
#successPage #commentBox #commentBoxAll .box {
	margin: 0px 15px 15px 0px;
	padding: 0px;
	float: left;
	width: 230px;
	border-top-width: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #053586;
	border-right-color: #DDDDDD;
	border-bottom-color: #DDDDDD;
	border-left-color: #DDDDDD;
	background-image: url(../success/img/point_men.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	text-align: center;
}
#successPage #commentBox #commentBoxAll .box.w {
	border-top-color: #C60000;
	background-image: url(../success/img/point_women.gif);
}
#successPage #commentBox #commentBoxAll .box .boxSub {
	text-align: left;
	width: 200px;
	padding-top: 12px;
	padding-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}
#successPage #commentBox .box p.ico {
	background-image: url(../success/img/ico_men.gif);
	background-repeat: repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 47px;
	width: 47px;
	float: left;
}
#successPage #commentBox .box.w p.ico {
	background-image: url(../success/img/ico_women.gif);
}
#successPage #commentBox .txt {
	float: right;
	width: 140px;
	margin: 0px;
	padding: 0px;
}
#successPage #commentBox .txt h2 {
	margin: 0px 0px 5px;
	padding: 0px;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 900;
}
#successPage #commentBox .txt p {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.3;
}
#voiceBox {
	margin: 0px;
	padding: 30px 0px 0px 30px;
	width: 600px;
	text-align: left;
}
#voiceBox h1 {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px;
	padding: 0px 0px 10px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #053586;
}
#voiceBox.w h1 {
	border-bottom-color: #C60000;
}
#voiceBox p {
	font-size: 13px;
	line-height: 1.7;
	margin: 20px 0px 0px;
	padding: 0px;
}
#voiceBox p.txt {
	text-align: right;
	font-size: 11px;
	color: #999;
}
#voiceBox h1 strong {
	font-size: 20px;
	color: #053586;
}
#voiceBox.w h1 strong {
	color: #C60000;
}





/* +++++++++++++++++++++++ campaignPage +++++++++++++++++++++++ */


#campaignPage p.catch {
	font-size: 24px;
	font-weight: 900;
	color: #C60000;
	text-align: center;
	margin-bottom: 15px;
}
#campaignPage #btnBox {
	margin: 0px 0px 30px;
	padding: 0px;
}
#campaignPage #btnBox ul {
	margin: 0px;
	padding: 0px;
}
#campaignPage #btnBox ul li {
	margin: 0px 5px;
	padding: 0px;
	float: left;
	width: 350px;
}
#campaignPage #btnBox ul li p {
	margin: 5px 0px 0px;
	line-height: 1.4;
	padding: 0px;
	font-weight: 900;
}
#campaignPage p.btnCatch {
	margin: 0px 0px 5px;
	padding: 0px;
}





/* +++++++++++++++++++++++ entryPage +++++++++++++++++++++++ */


#entryPage #jissekiBox {
	background-color: #074ABA;
	background-image: url(../campaign/img/jisseki_back.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 30px 0px;
	text-align: center;
}
#entryPage #jissekiBox h2 {
	margin: 0px 0px 30px;
	padding: 0px;
	font-size: 20px;
	font-weight: 900;
	color: #FFF;
}
#entryPage #jissekiBox #jissekiBoxSub {
	margin: 0px auto;
	padding: 0px;
	width: 670px;
}
#entryPage #jissekiBox #jissekiBoxAll {
	margin: 0px;
	padding: 0px;
	width: 690px;
	text-align: left;
}
#entryPage #jissekiBox .box {
	margin: 0px 20px 0px 0px;
	padding: 0px;
	float: left;
	width: 210px;
	background-color: #FFF;
}
#entryPage #jissekiBox .box p.img {
	margin: 0px;
	padding: 0px;
}
#entryPage #jissekiBox .box .txt {
	margin: 0px;
	padding: 20px;
}
#entryPage #jissekiBox .box .txt h3 {
	margin: 0px;
	padding: 5px 0px;
	font-size: 13px;
	text-align: center;
}
#entryPage #jissekiBox .box .txt p {
	margin: 10px 0px 0px;
	padding: 0px;
	line-height: 1.5;
}
#entryPage #jissekiBox .box .txt p strong {
	font-weight: 900;
	font-size: 24px;
	color: #C60000;
}
#entryPage #jissekiBox .box .txt p strong .ss {
	font-size: 16px;
}
#entryPage h2.titleImg {
	margin-top: 35px;
	margin-bottom: 20px;
}




/* +++++++++++++++++++++++ chargePage +++++++++++++++++++++++ */

#chargePage #couseiBox {
	margin: 0px 0px 35px;
	padding: 0px;
	width: 730px;
	background-image: url(../for-charge/img/kousei_back.gif);
	background-repeat: repeat-y;
	background-position: center;
}
#chargePage #couseiBox .box {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 235px;
}
#chargePage #couseiBox .box.wide {
	width: 260px;
}
#chargePage #couseiBox .box p.txt {
	padding: 0px 15px;
	margin: 0px;
}
#chargePage #couseiBox .box .boxSub p.photo {
	text-align: center;
}








/* +++++++++++++++++++++++ form 170123 +++++++++++++++++++++++ */


.searchBox select,
#indexPage #searchBox select,
#entryPage.new select{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: 1px solid #a6a6a6;
border-radius: 4px;
background-image: url(../images/select_point.png);
background-position: right top;
background-repeat: no-repeat;
background-size: auto 100%;
padding: 10px 30px 10px 12px !important;
box-sizing: border-box;
font-size: 14px;
color: #2b2b2b;
/*Firefox用*/
text-indent: .01px;
text-overflow: “”;
}
#indexPage #searchBox select{
background-image: url(../images/select_point_03.png);
background-position: right 10px center;
padding: 0 40px 0 20px;
  border-width: 3px;
  border-color: rgb(69, 69, 69);
  border-style: solid;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 0px 0px rgba(69, 69, 69, 1.0);
    background-size: 15px 13px;
    box-sizing: border-box;
    height: 60px;
    font-size: 16px;
}
.searchBox select.checked,
#indexPage #searchBox select.checked,
#entryPage.new select.checked{
background-color: #a5f2cf;
}
#indexPage #searchBox select.b01{
width: 160px;
    margin:0 5px 0 0;
}
#indexPage #searchBox select.b02{
width: 335px;
    margin:0 5px 0 0;
}
/*IE対応*/
select::-ms-expand {
display: none;
}
.searchBox label,
#entryPage.new label{
    display: inline-block;
    margin: 0px 5px 7px 0px;
    border: 1px solid #b1b1b1;
    cursor: pointer;
	font-size: 14px;
	color: #2b2b2b;
}
#entryPage.new label.privacy{
    display: inline-block;
    margin: 0px;
    padding: 8px 15px 8px 35px;
    border: 0px none;
    border-radius: 4px;
    cursor: pointer;
	background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 0px 0px rgba(202, 202, 202, 1.0);
}

#entryPage.new span.hissu label{
/*
	background-color: #FFDDDD !important;
*/
	background-color: #fffafa;
}
.searchBox label:hover,
#entryPage.new label:hover{
    text-decoration: none;
}
.searchBox .checkbox,
.searchBox .radio,
#entryPage.new .checkbox,
#entryPage.new .radio{
    z-index: -1;
    position: absolute;
}
.searchBox label.CheckBoxLabelClass,
#entryPage.new label.CheckBoxLabelClass{
	background-image: url("../images/check_off.png");
	background-repeat: no-repeat;
	background-size: auto 21px;
	background-position: 15px 7px;
	border-radius: 6px;
	padding: 8px 15px 8px 45px;
}
#entryPage.new label.CheckBoxLabelClass.privacy{
	background-image: url("../images/check_s_off.png");
	background-size: auto 16px;
	background-position: 12px 5px;
}
.searchBox label.radiolabel,
#entryPage.new label.radiolabel{
	background-image: url("../images/radio_off.png");
	background-repeat: no-repeat;
	background-size: auto 18px;
	background-position: 8px 10px;
	border-radius: 4px;
	padding: 8px 15px 8px 35px;
}
.searchBox label.CheckBoxLabelClass.checked,
#entryPage.new label.CheckBoxLabelClass.checked{
	background-color: #a5f2cf;
	background-image: url("../images/check_on.png");
}
.searchBox label.CheckBoxLabelClass.privacy.checked,
#entryPage.new label.CheckBoxLabelClass.privacy.checked{
	background-color: #FFFFFF;
	background-image: url("../images/check_s_on.png");
}
.searchBox label.radiolabel.checked,
#entryPage.new label.radiolabel.checked{
	background-color: #a5f2cf !important;
	background-image: url("../images/radio_on.png");
}
.searchBox input,
#entryPage.new input,
#entryPage.new textarea{
border: 1px solid #a6a6a6;
border-radius: 6px;
padding: 10px;
box-sizing: border-box;
margin: 0px 0px 7px 0px;
}
.searchBox input.image,
#entryPage.new input.image{
border: 0px none;
border-radius: 0px;
padding: 0px;
}

.searchBox{
margin: 0px;
padding: 0px;
border: 3px solid #d3d3d3;
position: relative;
}
.searchBox .box{
background-color: #FFFFFF;
border-top: solid 1px #e2e2e2;
}
.searchBox .box p:last-child{
margin-bottom: 0px !important;
}
.searchBox .box:first-child{
border-top: none 0px;
}
.searchBox .box:nth-child(even){
background-color: #fafafa;
}
.searchBox .box .inner{
	padding: 20px;
	position: relative;
}
.searchBox .box h4{
font-size: 16px;
line-height: 1.3;
border-left: 6px solid #d97720;
border-bottom: 0px none;
padding: 0px 0px 0px 10px;
font-weight: 900;
margin: 0px 0px 25px 0px;
}
.searchBox .box h4 .ss{
font-size: 14px;
font-weight: 100;
}
.searchBox .box .list{
font-size: 16px;
line-height: 1.5;
}
.searchBox .box.fl h4{
width: 160px;
box-sizing: border-box;
float: left;
margin: 0px;
position: relative;
top: 10px;
}
.searchBox .box.fl .list{
width: 520px;
box-sizing: border-box;
float: left;
margin: 0px;
}
.searchBox .box p.send{
text-align: center;
margin-bottom: 17px;
}
.searchBox p.close{
	background-color: #cecece;
	border-radius: 15px;
	margin: 0px 0px 0px -42px;
	padding: 0px;
	width: 85px;
	font-size: 14px;
	line-height: 1.2;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	position: relative;
	left: 50%;
	background-size: 13px 13px;
}
.searchBox p.close a{
	display: block;
	padding: 8px 13px 8px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}


/* +++++++++++++++++++++++ remodal +++++++++++++++++++++++ */

.remodal .searchBox{
border: 0px none;
}
.remodal .searchBox p.close{
	margin: 0px;
	position: absolute;
	left: auto;
	right:20px;
	top:15px;
	z-index: 5000;
}
.remodal .searchBox .box.fl .list{
width: 720px;
}
.remodal .searchBox h3{
font-size: 20px;
line-height: 1.3;
padding: 20px 20px 16px 50px;
font-weight: 900;
margin: 0px;
background-image: url(../images/ico_search.png);
	background-repeat: no-repeat;
	background-position: 20px 20px;
	background-size: 23px 23px;
}


/* +++++++++++++++++++++++ formPage +++++++++++++++++++++++ */

#formPage {
	margin: 0px auto;
	padding: 50px 0px 0px 0px;
	width: 730px;
	text-align: left;
}
#formPage #readBox {
    width: 605px;
    margin: 0 auto 45px;
}
p#copyForm {
    margin: 0px;
    padding: 10px;
    background-color: #ebebeb;
    font-size: 11px;
    color: #121212;
    font-family: Arial, Helvetica, "sans-serif";
}

#formPage #readBox h1 {
    text-align: center;
    margin-bottom: 50px;
}
#formPage #readBox h2 {
    margin: 0;
    font-size: 27px;
    font-weight: 900;
    line-height: 1.4;
}
#formPage #readBox p {
    margin: 30px 0 0 0;
}
#formPage #readBox h2.center,
#formPage #readBox p.center{
    text-align: center;
}



/* +++++++++++++++++++++++ jump +++++++++++++++++++++++ */

#jump {
    margin: 25px auto;
    width: 650px;
    text-align: center;
    position: relative;
}
#jump h1 {
    margin: 0 0 15px 0;
}
#jump p {
	font-size: 0.75em;
	line-height: 2.0;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}
#jump .btn {
    margin: 0 0 25px 0;
    padding: 0;
}
#jump .btn ul {
    margin: 0;
}
#jump .btn ul li {
    margin: 0 10px;
    padding: 0;
    float: left;
}
#jump .btn ul li span {
    margin: 0 0 5px 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 0.85em;
	line-height: 1.5;
    font-weight: 900;
}
#jump p.close{
	background-color: #cecece;
	border-radius: 15px;
	margin: 0px 0px 30px -42px;
	padding: 0px;
	width: 85px;
	font-size: 14px;
	line-height: 1.2;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	position: relative;
	left: 50%;
	background-size: 13px 13px;
}
#jump p.close a{
	display: block;
	padding: 8px 13px 8px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}
#jump p#copy {
	font-size: 10px;
	line-height: 1.5;
	color: #A7A7A7;
	text-align: center;
	margin: 0;
	padding: 12px 0px 25px;
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EAEAEA;
}


/* +++++++++++++++++++++++ searchPage +++++++++++++++++++++++ */

#searchPage #secretBox {
    margin: 20px 0 20px 0;
    border: solid 4px #c1c1c1;
    text-align: center;
}
#searchPage #secretBox .inner {
    margin: 0;
    padding: 30px;
}
#searchPage #secretBox p {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: 900;
    color: #353535;
    line-height: 1.2;
    font-family: '游ゴシック', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
}
#searchPage #secretBox p strong {
    color: #c8383b;
}
#searchPage #secretBox p.btn {
  border-radius: 10px;
  background-image: -moz-linear-gradient( 90deg, rgb(67,169,31) 0%, rgb(79,193,36) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(67,169,31) 0%, rgb(79,193,36) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(67,169,31) 0%, rgb(79,193,36) 100%);
  box-shadow: 0px 4px 0px 0px rgba(49, 127, 18, 0.93);
  width: 388px;
  margin: 15px auto 0 auto;
    font-size: 20px;
    text-shadow: 1.721px 2.457px 0px rgba(46, 127, 17, 0.93);
}
#searchPage #secretBox p.btn a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 18px 0;
}
#searchPage #secretBox p.btn span:after {
	margin:0 0 0 15px;
	content:" ";
	display:inline-block;
	width:13px;
	height:21px;
    background:url(../images/point_12.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -1px;
}


/* +++++++++++++++++++++++ infoBox +++++++++++++++++++++++ */

#infoBox {
    margin: 0 0 30px 0;
    border: solid 2px rgb(150, 21, 21);
  background-color: rgb(200, 58, 58);
}
#infoBox .inner {
    margin: 0;
    padding: 17px 17px 14px 17px;
}
#infoBox h2 {
    margin: 0 40px 0 0;
    padding: 0;
    float: left;
    width: 95px;
}
#infoBox h2 img {
    vertical-align: bottom;
}
#infoBox p {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 14px;
    line-height: 1.3;
    width: calc(100% - 135px);
}
#infoBox p a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: #FFF;
}

