.page p.txtMore {
	font-size: 0.75em;
	line-height: 1.6;
	margin-bottom: 15px;
	text-align:right;
}
.page p.txtMoreBtn {
	font-size: 0.75em;
	line-height: 1.6;
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid #CCC;
	border-radius: 6px;
	background-image: url(../images/shadow.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.page p.txtMore a {
	padding-left: 14px;
	background: url(../images/point_04.gif) no-repeat left 5px;
}
.page p.txtMoreBtn a {
	background-repeat: no-repeat;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}
.page p.txtMoreBtn a img {
	vertical-align:middle;
	margin-right:5px;
}

.page ol {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 25px;
}
.page ol li {
	font-size: 0.75em;
	line-height: 1.4;
	margin-bottom: 8px;
	list-style-type: decimal;
}
.page ol.type01 {
	margin-left: 0;
}
.page ol.type01 li {
	list-style-type:none;
  counter-increment: cnt;
    text-indent: -0.85rem;
    margin-left: 0.85rem;
}
.page ol.type01 li:before{
  display: marker;
  content: '' counter(cnt) ')';
}

.page ol li ul.enList {
	margin-top: 5px;
}
.page ol li ul.enList li {
	font-size: 1em;
	margin: 0px;
	list-style-type: none;
	background: url(../images/point_08.gif) no-repeat left 5px;
	padding-left: 8px;
}
.page ul.alpha{
    margin: 0 0 25px 20px;
    padding: 0;
}
.page ul.alpha li{
    margin: 0 0 5px 0;
    list-style-type: lower-alpha;
    padding: 0;
  font-size: 0.75em;
  line-height: 1.4;
}



.page .tokuchoBox {
	background: url(../images/btn_tokucho_bg.gif) repeat;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
#servicePage.page h5, #guidePage.page h5, #resumePage.page h5 {
	font-size: 0.75em;
	line-height: 1.5;
	font-weight: 900;
	margin: 0px 0px 15px;
	padding: 0px;
}


.page ul.notes {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
.page ul.notes li {
	font-size: 0.63em;
	line-height: 1.6;
	margin-bottom: 5px;
	color: #747474;
	background-image: url(../images/point_notes.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 12px;
}

/* privatePage start */

#privatePage table {
	margin: 0px 0px 10px;
	padding: 0px;
}
#privatePage table th,
#privatePage table td {
	padding: 10px;
	font-size: 0.75em;
	line-height: 1.5;
	background-color: #FFF;
}

/* privatePage end */
.page .qaBox {
	padding: 0px 0px 0px 38px;
	margin-bottom: 20px;
	background-image: url(../images/a.gif);
	background-repeat: no-repeat;
	background-position: 15px 3px;
}
.page .qaBox p{
	margin: 8px 0px;
}
.page h4.q {
	margin: 0px;
	padding: 0px 0px 10px 24px;
	text-align: left;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #D9D9D9;
	background-image: url(../images/q.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
}
.page .pointBox {
	background: url(../images/txtbox_bg.gif) repeat;
	padding: 30px;
	margin-bottom: 15px;
}


.page .pointBox .pointBoxSub {
	background-color: #FFFFFF;
	padding: 18px 18px 10px;
}
.page .pointBox .pointBoxSub h3 {
	margin-top: 0px;
	font-size: 0.94em;
	line-height: 1.5;
	border-bottom: 1px solid #C70000;
	font-weight: 900;
	background-image: url(../images/point_06.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px 0px 10px 20px;
	border-top-style: none;
}
.qaInner{
width: 650px;
margin: 0px auto;
}


/* --------------- resume ------------- */

#resumePage.page table.normal{
width: 100%;
}



#resumePage.page .calendar th,
.page table.normal.calendar td {
	white-space:nowrap;
}
#resumePage.page .calendar th{
	width:40px;
}
#resumePage.page .calendar td{
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}



#resumePage.page ul {
	margin: 0px 0px 15px;
	padding: 0px;
}
#resumePage.page ul  li {
	font-size: 0.75em;
	line-height: 1.5;
	padding-left: 12px;
	padding-bottom: 8px;
	background-image: url(../images/point_01.gif);
	background-repeat: no-repeat;
	background-position: left 5px;
}

#resumePage.page .qaBox{

}


/* ------------ form --------------- */

form table{
width: 100%;
}

.page .point {
	color: #C70000;
	font-weight: 900;
}
.page .underline {
	text-decoration:underline;
}

/* index end */


/* entryPage start */

#entryPage .point {
color: #c60000;
font-weight: 100;
}
#entryPage .ssl {
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  border-style: solid;
  border-radius: 6px;
  padding: 10px 20px;
  display: inline-block;
  margin: 0px 0px 25px 0px;
}
#entryPage .ssl .seal {
float: left;
margin-right: 20px;
width: 50px;
display: block;
}
#entryPage .ssl .seal img {
height: 36px !important;
width: auto !important;
}
#entryPage .ssl p {
line-height: 36px;
font-size: 11px;
color: #7f7f7f;
margin: 0px;
white-space: nowrap;
float: left;
}

#entryPage table {
	margin: 0px 0px 20px;
	padding: 0px;
}
#entryPage table th,
#entryPage table td {
	padding: 4px 10px;
	font-size: 12px;
	line-height: 1.5;
	background-color: #FFF;
	border-top: 1px dotted #CCCCCC;
	text-align: left;
	border-bottom: 1px dotted #CCCCCC;
}
#entryPage table th {
	background-color: #FFF2F2;
	white-space: nowrap;
}
#entryPage table th.title {
	font-weight:900;
	background-color: #FFF;
	padding: 10px 10px;
}
#entryPage table td.title {
	font-weight:100;
	padding: 10px 10px;
}
#entryPage table.career td {
	background-color: #F7F7F7;
}
#entryPage table td table {
	margin: 0px;
	padding: 0px;
}
#entryPage table td table th,
#entryPage table td table td {
	padding: 0px 10px 6px 0px;
	font-size: 1em;
	line-height: 1.5;
	background-color: #FFF;
	border-top: 0px none;
	text-align: left;
	border-bottom: 0px none;
	vertical-align: top;
	border-right-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-left-style: none;
	font-weight: 100;
	width: auto;
}
#entryPage table.campaignTable td,
#entryPage table.campaignTable th {
	padding: 15px;
	border: 1px solid #CCC;
}
#entryPage table.campaignTable th {
	color: #FFF;
	background-color: #074ABA;
	text-align: center;
}
#entryPage table.career td table th,
#entryPage table.career td table td {
	background-color: #F7F7F7;
}
#entryPage table th {
	background-color: #F6F6F3;
	white-space: nowrap;
	width: 160px;
}
#entryPage table th .ss {
	font-size: 10px;
	font-weight: 100;
}
#entryPage #privacyBox {
	background-image: url(../images/dot_back.gif);
	text-align: center;
	margin: 0px 0px 20px;
	padding: 15px 0px;
}
#entryPage #privacyBox #privacyBoxSub {
	margin: 0px auto;
	padding: 0px;
	text-align: left;
	width: 700px;
}
#privacyBox #privacyBoxSub h2 {
	position: static;
	background-color: #FFF;
	margin: 0px 0px 15px;
	padding: 10px 0px 10px 10px;
	font-size: 0.81em;
	font-weight: 900;
	height: auto;
}
#privacyBox #privacyBoxSub p.checkboxrequired div.error {
margin-top: 10px;
}
#privacyBox #privacyBoxSub p {
	background-color: #FFF;
	margin: 15px 0px 0px;
	padding: 10px 0px 10px 10px;
	font-size: 0.81em;
	font-weight: 100;
	height: auto;
	line-height: 1.0;
}
#privacyBox #privacyBoxSub #poricyBox {
	height: 110px;
	width: 670px;
	margin: 0px 15px;
}
#entryPage input.txtBox {
	width: 300px;
}
#entryPage input.wide,#entryPage textarea.wide {
	width: 380px;
}
#entryPage .btnSend {
	background-image: url(../entry/img/send_back.gif);
	text-align: center;
	margin: 0px 0px 50px;
	padding: 15px 0px;
}
#entryPage input.normalTxt,
#entryPage select.normalTxt,
#entryPage textarea.normalTxt,
#inquiryPage input.normalTxt,
#inquiryPage select.normalTxt,
#inquiryPage textarea.normalTxt,
#companyPage input.normalTxt,
#companyPage select.normalTxt,
#companyPage textarea.normalTxt {
	border: 1px solid #A9A9A9;
	padding:10px;
}
#entryPage input.hissu,
#entryPage select.hissu,
#entryPage textarea.hissu,
#inquiryPage input.hissu,
#inquiryPage select.hissu,
#inquiryPage textarea.hissu,
#companyPage input.hissu,
#companyPage select.hissu,
#companyPage textarea.hissu {
	background-color: #fffafa;
	border: 1px solid #A9A9A9;
	padding:10px;
}
#entryPage span.hissu,
#inquiryPage span.hissu,
#companyPage span.hissu {
	background-color: #fffafa;
}



/* consultantsList start */

#consultantsList {
	margin: 0px auto;
	padding: 17px 0px 8px 0px;
	width: 698px;
	text-align: left;
}
#consultantsList #consultantsListL {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 344px;
}
#consultantsList #consultantsListR {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 344px;
}
#consultantsList .detailBox {
	text-align: center;
	margin-bottom: 10px;
	background-color: #FFF;
}
#consultantsList .detailBox .detailBoxTop {
	margin: 0px;
	padding: 0px;
}
#consultantsList .detailBox .detailBoxTop .detailBoxSub {
	margin: 0px auto;
	padding: 10px 0px;
	width: 324px;
}
#consultantsList .detailBox .detailBoxTop .detailBoxSub .photoBox {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 74px;
}
#consultantsList .detailBox .detailBoxTop .detailBoxSub .txtBox {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 235px;
	text-align: left;
}
#consultantsList .detailBox h2 {
	margin: 0px;
	padding: 0px;
	position: static;
	height: auto;
}
#consultantsList .detailBox h2 img {
	margin: 0px;
	padding: 0px;
	position: static;
}
#consultantsList h3 {
	font-size: 0.69em;
	line-height: 1.3;
	border-bottom: 0px none;
	font-weight: 100;
	background-image: none;
	margin: 10px 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 30px;
}
#consultantsList h3.l3 {
	height: 45px;
}
#consultantsList p.more {
	margin: 0px;
	padding: 0px;
}
#consultantsList .photoBox p {
	margin: 0px;
	padding: 0px;
}
#consultantsList .detailBox .detailBoxTop .detailBoxSub .txtBox .moreBox {
	background-image: url(../service-introduction/consultants/img/more_box_line.gif);
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px;
	padding: 15px 0px;
}
#consultantsList .detailBox .detailBoxTop .detailBoxSub .txtBox .moreBox p {
	margin: 0px 0px 15px;
	padding: 0px;
	font-size: 11px;
	line-height: 1.5;
}

.page .box.b02 {
	background-image: url(../images/box_back_02.gif);
	clear: both;
}
#consulPage.page .box {
	margin: 0px;
	background-color: #5A5A5A;
	clear: both;
}
#consulPage.page .boxTop {
	margin: 0px;
	padding: 0px;
}

/* -------------- sitemap ------------------- */

.page .sitemapBox .sitemapBoxL {
	float: left;
	width: 360px;
}
.page .sitemapBox .sitemapBoxR {
	float: right;
	width: 360px;
}

.page ul.list01 {
	margin: 0px 0px 15px;
	padding: 0px;
}
.page ul.list01 li {
	font-size: 0.75em;
	line-height: 1.5;
	background: url(../images/point_03.gif) no-repeat left 5px;
	padding-left: 12px;
	padding-bottom: 8px;
}
.page ul.list01 li ul {
	margin-top: 5px;
}
.page ul.list01 li ul li {
	font-size: 1em;
	margin: 0px;
	list-style-type: none;
	background: url(../images/point_08.gif) no-repeat left 5px;
	padding-left: 8px;
}




/* -------------- 170124add ------------------- */



#entryPage.new span.hissu {
	background-color: transparent;
}
#entryPage.new #privacyBox #privacyBoxSub p {
	background-color: transparent;
	margin: 0px 0px 12px 0px;
	padding: 0px;
	font-size: 13px;;
	font-weight: 100;
	height: auto;
	line-height: 1.2;
	text-align: center;
}
#entryPage.new #privacyBox #privacyBoxSub p:last-child {
	margin-bottom: 0px;
}
#entryPage.new .btnSend {
	margin: 0px 0px 15px;
}
#entryPage.new .btnSend.check {
	background-image: none;
	text-align: center;
	margin: 0px 0px 15px;
	padding: 0px;
}
#entryPage.new span.txtFinish {
font-size: 19px;
font-weight: 900;
}
#entryPage.new h3.finish {
	padding: 15px 0px 0px 0px;
	margin-bottom: 15px;
	border-bottom: 0px none;
	font-size: 14px;
}
#entryPage.new h3.finish.first {
	padding: 30px 0px 0px 0px;
	margin-bottom: 10px;
	font-size: 16px;
}
#entryPage.new p.read {
font-size: 14px;
line-height: 1.643;
}
#entryPage.new table th,
#entryPage.new table td {
	padding: 16px 10px 9px 10px;
}
#entryPage.new table th {
	width: 200px;
	background-image: url(../images/ico_nini.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 59px 14px;
	padding-right: 70px;
	white-space: inherit;
	font-size: 14px;
}
#entryPage.new table th.no {
	background-image: none;
}
#entryPage.new table th.kihon {
	width: auto;
	background-image:none;
	background-repeat: no-repeat;
	font-size: 16px;
	background-color: #FFF;
}
#entryPage.new table th.hissu {
	background-image: url(../images/ico_hissu.png);
}
#entryPage.new table th.ok {
	background-image: url(../images/ico_ok.png);
}



/* -------------- 170307add ------------------- */

#entryPage.new table td p {
    font-size: 1.0em;
    margin-bottom: 12px;
}
#entryPage.new table td table {
    margin: 0px;
}
#entryPage.new table td table th,
#entryPage.new table td table td {
	padding: 10px 0px 0px 0px;
    border: none 0px;
}
#entryPage.new table td table th {
	width: auto;
	background-image: none;
	padding: 20px 10px 0px 0px;
	white-space: nowrap;
    font-weight: 900;
}
#entryPage.new table td table td input.txtBox {
	width:360px;
}
#entryPage.new table td table td textarea {
	width: 360px;
}
#entryPage.new table td .keirekiBox {
    margin: 12px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
    border-top: dotted 1px #C9C9C9;
}
#entryPage.new table td .keirekiBox:first-child {
    margin: 0px;
    padding: 0px;
    border-top: none 0px;
}
#entryPage.new table td .keirekiBox h3 {
    border: none 0px;
    padding: 0px 0px 0px 8px;
    margin: 0px;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.2;
    border-left:  solid 3px #CB3636;
}