@charset "UTF-8";

html {
	font-family:sans-serif;
	line-height:1.15;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	}

body{
	margin:0;
	}

article,aside,footer,header,nav,section{
	display:block;
	}

h1{
	font-size:2em;
	margin:.67em 0;
	}

h2 span.red{
	color:#da1c24;
	font-size: 5rem;
}

figcaption,figure,main{
	display:block;
	}

figure{
	margin:1em 40px;
}

hr{
	box-sizing:content-box;
	height:0;
	overflow:visible;
	}

pre{
	font-family:monospace,monospace;
	font-size:1em
	}

a{
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
	}

a:active,a:hover{
	outline-width:0
}

abbr[title]{
	border-bottom:none;
	text-decoration:underline;
	-webkit-text-decoration:underline dotted;
	text-decoration:underline dotted;
	}

b,strong{
	font-weight:inherit
	}

b,strong{
	font-weight:bolder
	}

code,kbd,samp{
	font-family:monospace,monospace;
	font-size:1em;
	}

dfn{
	font-style:italic;
	}

mark{
	background-color:#ff0;
	color:#000;
	}

small{
	font-size:80%;
	}

sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
	}

sub{
	bottom:-.25em;
	}

sup{
	top:-.5em;
	}

audio,video{
	display:inline-block;
	}

audio:not([controls]){
	display:none;
	height:0
	}

img{
	border-style:none;
	}

svg:not(:root){
	overflow:hidden;
	}

button,input,optgroup,select,textarea{
	font-family:sans-serif;
	font-size:100%;
	line-height:1.15;
	margin:0;
	}

button,input{
	overflow:visible;
}

button,select{
	text-transform:none;
	}

[type=reset],[type=submit],button,html [type=button]{
	-webkit-appearance:button;
	}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
	border-style:none;padding:0
	}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
	outline:1px dotted ButtonText
	}

fieldset{
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em;
	}

legend{
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal;
	}

progress{
	display:inline-block;
	vertical-align:baseline;
	}

textarea{
	overflow:auto;
	}

[type=checkbox],[type=radio]{
	box-sizing:border-box;padding:0
	}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
	height:auto
}

[type=search]{
	-webkit-appearance:textfield;
	outline-offset:-2px;
	}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
	-webkit-appearance:none;
	}

::-webkit-file-upload-button{
	-webkit-appearance:button;
	font:inherit
	}

details,menu{
	display:block;
	}

summary{
	display:list-item;
	}

canvas{
	display:inline-block;
	}

template{
	display:none;
	}

[hidden]{
	display:none;
	}

html{
	min-width:100%;
	min-height:100%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	}


body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}


h1,h2,h3,h4,h5,h6{
	line-height:1.8;
	margin:0;
}

:after,:before,a,article,aside,dd,details,div,dl,dt,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,img,li,main,menu,nav,ol,p,section,span,summary,table,td,th,tr,ul{
	box-sizing:border-box;
}

dl,li,p,table{
	margin:0;
	line-break:strict;
	word-break:break-strict;
	word-wrap:break-word;
	line-height:1.8;
	font-size:100%;
}

figure{
	margin:0;
	padding:0;
}

img{
	max-width:100%;
	vertical-align:top;
}

ol,ul{
	margin:0;
	padding:0;
}

address{
	font-style:normal;
	line-height:1.8;
}

button,input,select,textarea{
	margin:0;padding:0;
	background:0 0;
	border:none;
	border-radius:0;
	outline:0;
	-webkit-appearance:none;
	appearance:none;
}

.Lct{
	float:left;
}

.Rct{
	float:right;
}

.clear{
	clear:both;
}

.cfx{
	display:inline-block;
}

* html .cfx{
	height:1%;
}

.cfx{
	display:block;
}

.cfx:after{
	content:"";
	display:block;
	clear:both;
}

.cfxo{
	overflow:hidden;
}

.nw{
	white-space:nowrap
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.center{
	text-align:center;
}

.br-sp{
	display:none;
}

@media screen and (max-width:480px){
.br-sp{display:block}}

.br-tb{display:none}

@media screen and (max-width:800px){
.br-tb{display:block}
}

.br-pc{
	display:none
}

@media screen and (min-width:1000px){
.br-pc{
	isplay:block}
}

html{
	box-sizing:border-box;
	font-size:62.5%;
}

body{
	color:#333;
	font-size:14px;
	font-size:1.4rem;
	font-weight:500;
	font-family:"Noto Sans Japanese",メイリオ,sans-serif;
	line-height:1.8;
	text-align:justify;
	letter-spacing:.06em;
}

div.wrap{
	overflow: hidden;
	min-width: 1000px;
}

@media screen and (max-width:480px){
	div.wrap{
	overflow: hidden;
	min-width: 100%;
}
}

a{
	cursor:pointer;
	background:0 0;
	color:#333;
	text-decoration:none;
}

a:focus{
	outline:0;
}

a:active,a:hover{
	color:#141b38;
	-webkit-transition:.4s ease-in-out;
	transition:.4s ease-in-out;
}

::selection{
	background:#333;
	color:#fff;
}

ul li{
	list-style:none;
	list-style-position:outside;
}

ol li{
	list-style-type:decimal;
	list-style-position:outside;
}

sup{
	font-size:10px;
	font-size:1rem;
	vertical-align:text-bottom;
}

sub{
	font-size:10px;
	font-size:1rem;
	vertical-align:text-top;
}

hr{
	width:100%;
	height:1px;
	border:none;
	margin:0;
	background:#fff;
}

.noscript{
	position:relative;
	padding:20px 0;
	background:#fff;
	text-align:center;
	z-index:99999;
}

.noscript span{
	color:red;
}

#wrapper{
	margin:0;
	padding:0;
	text-align:left;
	position:relative;
	overflow:hidden;
}

@media print{
	#wrapper{
	width:1000px;
	overflow:hidden;
	border:none;
	}
}

.container{
	width:1000px;
	position:relative;
	margin:0 auto;
}

@media screen and (max-width:480px){
	.container{
	width:90%;
	min-width:90%
	}
	}

header{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	width:100%;
	position:absolute;
	top:40px;
	left:0;
}

@media screen and (max-width:480px){
	header{
	display:block;
	top:40px;
	z-index: 4;
	}
	}

@media screen and (max-width:480px){
	header{
	display:block;
	top:20px;
	z-index: 4;
	}
	}


.header__logo{
	width:90px;
	margin:0 0 0 50px;
	z-index: 100;
	position: relative;
	}


@media screen and (max-width:480px){
	.header__logo{
	margin:0 0 0 5%;
	z-index: 100;
	width: 20%;
	}
	}

.header__btn{
	position:fixed;
	top:35px;
	right:0;
	width:220px;
	background-color:#3fa9f5;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	padding:10px 20px 15px;
	text-align:center;
	z-index: 5;
	}

@media screen and (max-width:480px){
	.header__btn{
	width:100%;
	position:fixed;
	top:auto;bottom:0;
	border-radius:0;
	padding:20px;
	}
	}

.header__btn a{
	display:block;
	padding:0 0 0 30px;
	color:#fff;
	font-size:20px;
	font-size:2rem;
	font-weight:700;
	font-family:Muli,sans-serif;
	line-height:28px;
	text-decoration: none;
	}

@media screen and (max-width:480px){
	.header__btn a{
	font-size:24px;
	font-size:2.4rem;
	padding:0;
	}
	}

.header__btn a span{
	display:block;
	font-size:11px;
	font-size:1.1rem;
	font-weight:400;
	font-family:"Noto Sans Japanese",メイリオ,sans-serif;
	line-height:12px;
	}

@media screen and (max-width:480px){
	.header__btn a span{
	line-height:16px
	}
}

.header__btn a:hover{
	opacity:.8;
}

.header__btn .free{
	width:50px;
	height:50px;
	position:absolute;
	top:-10px;
	left:10px;
	padding:10px 0;
	background-color:#da1c24;
	border-radius:50%;
	color:#fff;
	font-size:11px;
	font-size:1.1rem;
	line-height:15px;
	text-align:center;
}

.header__btn .free:before{
	content:'FREE';
	display:block;
	font-size:12px;
	font-size:1.2rem;
	font-family:Muli,sans-serif;
}

address{
	padding:40px 0;
	color:#0098e2;
	font-size:14px;
	font-size:1.4rem;
	font-family:Muli,sans-serif;
	text-align:center;
}

@media screen and (max-width:480px){
	address{
	padding:20px 0;
	}
	}

.header__gnav{
	display:block;
	margin-right:260px;
	z-index: 4;
	}

@media screen and (max-width:480px){
	.header__gnav{
		display:none;
		margin:0;
		width:100%;
		height:100vh;
		background-color:#fff;
		position:absolute;
		left:0;
		top:-20px;
		z-index:99;
		}
		}

@media screen and (max-width:480px){
	.header__nav{
		width:100%;
		padding:30% 0 0;
		}
		}

.header__nav li{
	display:inline-block;
	margin:0 15px;
	list-style: none;
	text-decoration: none;
	}

@media screen and (max-width:480px){
	.header__nav li{
		display:block;
		margin:0;
		}
		}

.header__nav a{
	display:block;
	color:#141b38;
	font-size:18px;
	font-size:1.8rem;
	font-weight:700;
	font-family:Muli,sans-serif;
	text-align:center;
	text-decoration: none;
	}

@media screen and (max-width:480px){
	.header__nav a{
		padding:15px 0;
		}
		}

.header__nav a:hover{
	opacity:.8;
}

.header__nav span{
	display:block;
	color:#666;
	font-size:12px;
	font-size:1.2rem;
	font-family:"Noto Sans Japanese",メイリオ,sans-serif;
	border-top: 2px solid #da1c24;
	padding-top: 3px;
}

@media screen and (max-width:480px){
	.header__nav span{
	border-top: none;
	}
}

.btn_sdnav{
	display:none;
}

@media screen and (max-width:480px){
	.btn_sdnav{
		display:block;
		position:absolute;
		top:0;
		right:5%;
		width:42px;
		height:42px;
		cursor:pointer;
		z-index:100
		}
		}

.btn_sdnav_icon{
	display:none
}

@media screen and (max-width:480px){
	.btn_sdnav_icon{
		display:block;
		width:42px;
		height:42px;
		background:#141b38;
		border-radius:50%;
	}

.btn_sdnav_icon span{
	display:block;
	background:#fff;
	width:24px;
	height:2px;
	position:absolute;
	left:9px;
	-webkit-transition:all .4s;
	transition:all .4s;
}

.btn_sdnav_icon span:first-child{
	top:12px;
}

.btn_sdnav_icon span:nth-child(2){
	margin-top:-1px;
	top:50%;
	}

.btn_sdnav_icon span:last-child{
	bottom:12px;
	}
	}

.btn_sdnav_icon.active span:first-child{
-webkit-transform:translateY(8px) rotate(45deg);
transform:translateY(8px) rotate(45deg);
}

.btn_sdnav_icon.active span:nth-child(2){
	opacity:0;
}

.btn_sdnav_icon.active span:last-child{
	-webkit-transform:translateY(-8px) rotate(-45deg);
	transform:translateY(-8px) rotate(-45deg);
}section{padding:60px 0}

@media screen and (max-width:480px){
	section{padding:30px 0;
	}
}

section p{margin:0 0 40px}.bdbox{
	border:solid 20px #fff
	}

@media screen and (max-width:480px){
	.bdbox{
		border:solid 10px #fff
		}
		}

.nomgb{
	margin:0;
}

.closing{
	position:relative;
	background-color:rgba(0,152,226,0.1);
	color:rgba(0,157,231,0.8)
}

@media screen and (max-width:480px){
	.closing{padding-bottom:60px;
		}
		}

.closing:after{
	content:'';
	width:50%;
	height:170px;
	position:absolute;
	bottom:-15%;
	right:5%;
	background-image:url(../images/script01@2x.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:bottom right;
	z-index:1;
	}

@media screen and (max-width:480px){
	.closing:after{
		width:50%;
		height:25%;
		bottom:-10%;
}
}

.closing .container{
	width:800px;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	}

@media screen and (max-width:480px){
	.closing .container{
		width:80%;min-width:80%;
		margin:0 auto;
		display:block;
	}
	}

.closing .container h3{
	margin:0 60px 0 0;
	color:#0098e2;
	}


@media screen and (max-width:480px){
	.closing .container h3{
		margin:0 0 30px
		}
	}

.closing .container h3 span{
	display:block;
	color:#0098e2;
}

.closing .container p{
	font-size:12px;
	font-size:1.2rem;
}

span.description{
	color:#666666;
}

@media screen and (max-width:480px){
	.closing .container p br{
		display:none
		}
	}

.closing .container p strong{
	display:block;
	margin:0 0 15px;
	font-size:20px;
	font-size:2rem;
	font-weight:700;
	}

@media screen and (max-width:480px){
	.closing .container p strong{
		font-size:16px;
		font-size:1.6rem;
		}

.closing .container p strong br{
	display:none;
	}
}

.section__title{
	color:#0098e2;
	font-size:50px;
	font-size:5rem;
	font-family:Muli,sans-serif;
	font-weight:800;
	line-height:60px;
	letter-spacing:.1em;
}

@media screen and (max-width:480px){
	.section__title{
		font-size:36px;
		font-size:3.6rem;
		line-height:50px;
		text-align:center
		}
		}

@media screen and (max-width:480px){
	.section__title span.red{
	font-size:36px;
	font-size:3.6rem;
	text-align:center;
	display: inline-block;
	}
}

.section__title span{
	display:inline-block;
	color:#666;
	font-size:14px;
	font-size:1.4rem;
	font-family:Muli,sans-serif;
	line-height:30px;
	letter-spacing:.05em;
	}

@media screen and (max-width:480px){
	.section__title span{
		display:block;
		font-size:12px;
		font-size:1.2rem;
		}
	}

.btn{
display:inline-block;
margin:20px 0;
cursor:pointer;
text-align:center;
z-index:10;
}

.btn:hover{
	-webkit-transition:.4s ease-in-out;
	transition:.4s ease-in-out;
	}

.btn-entry{
	position:relative;
	width:800px;
	padding:20px;
	background-color:#3fa9f5;
	border-radius:10px;
	border-bottom:solid 6px #406ff4;
	color:#fff;
	font-size:24px;
	font-size:2.4rem;
	line-height:50px;
	text-align:center;
	text-decoration: none;
	z-index: 1;
	}


@media screen and (max-width:480px){
	.btn-entry{
		width:80%;
		margin:0 auto;
		padding:10px;
		font-size:20px;
		font-size:2rem;
		}
		}

.btn-entry:before{
	content:'完全無料';
	width:90px;
	height:90px;
	position:absolute;
	top:-20px;
	left:20px;
	background-color:#da1c24;
	border-radius:50%;
	padding:35px 0;
	color:#fff;
	font-size:16px;
	font-size:1.6rem;
	line-height:20px;
	text-align:center;
	}

@media screen and (max-width:480px){
	.btn-entry:before{
		width:50px;
		height:50px;
		top:-20px;
		left:-20px;
		padding:11px 8px;
		font-size:11px;
		font-size:1.1rem;
		line-height:14px;
	}
}

.btn-entry:after{
	content:'\f101';
	float:right;font-size:26px;
	font-size:2.6rem;font-family:FontAwesome;
}

.btn-entry:hover{
	border-top:solid 3px #e2f6fd;
	border-bottom:solid 3px #406ff4;
	color:#fff}

[class^=btn-link]{
	width:200px;
	border-radius:15px;
	margin:0;font-size:12px;
	font-size:1.2rem;
	line-height:30px
}

[class^=btn-link]:after{
	content:'\f101';
	display:inline-block;
	padding:0 0 0 10px;
	font-size:14px;
	font-size:1.4rem;
	font-family:FontAwesome;
	}

.btn-link-a{
	background:rgba(0,157,231,0.6);
	color:#FFF;
	}

.btn-link-a:hover{
	background:#0098e2;
	color:#fff;
	}

.btn-link-b{
	background:#999999;
	color:#fff;
	}

.btn-link-b:hover{
	background:#0098e2;
	color:#fff;
}

.cl-a{
	color:#fff;
}

.cl-b{color:#333}

.cl-c{color:#141b38}

.font-en{font-family:Muli,sans-serif}

.caption{
	display:inline-block;
	font-size:12px;
	font-size:1.2rem;
	line-height:20px;
	letter-spacing:normal
}

.attention{
	font-size:18px;
	font-size:1.8rem;
	font-weight:700
}

@media screen and (max-width:480px){
	.attention{
	font-size:16px;
	font-size:1.6rem;
	}
	}

.main{
	width:100%;
	height:100vh;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center;
	box-sizing:border-box;
	background-image:url(../images/main_bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center bottom;
	position: relative;
	}


@media screen and (max-width:480px){
	.main{
	width:100%;
	height:100vh;
	background-position:70% bottom;
	position: relative;
	}
}

.main__title{
	top:150px;
	left:90px;
	position: absolute;
	position: relative;
	width: 900px;
	height: 300px;
}

@media screen and (max-width:480px){
	.main__title{
	width:95%;
	margin:0 auto;
	height: auto;
	position: absolute;
	position: relative;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	}
	}

.header_circle{
    max-width: 300px;
    margin: -31% 0 0 2%;
    z-index: 1;
    position: relative;
}

@media screen and (max-width:480px){
	.header_circle{
	z-index: 1;
	max-width: 300px;
    margin: -31% 0 0 2%;
	position: relative;
	top:-100px;
}
}

@media screen and (max-width:480px){
	.header_circle{
	z-index: 1;
	margin: 0 auto;
	position: relative;
	top:-100px;
}
}

.main__logo{
	width: 60%;
    max-width: 500px;
    margin: -10% 0 0 10%;
    z-index: 2;
    position: relative;
}

@media screen and (max-width:480px){
	.main__logo{
	width:95%;
	margin:0 auto;
	z-index: 2;
	position: relative;
	top:150px;
	}
	}

.main__logo span{
	display:block;
	margin:30px 0;
	color:#666;
	font-size:16px;
	font-size:1.6rem;
}

@media screen and (max-width:480px){
.main__logo span{
	margin:20px 0;
	font-size:11px;
	font-size:1.1rem;
	text-align:center
	}
}

.service{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	}

.service__txt{
	width:35%;
}

@media screen and (max-width:480px){
	.service__txt{
		width:100%
		}
	}

.service__txt h2{
	margin:0 0 30px;
}


.service__txt h2 span.sub{
	display:block;
}

.service__txt h2+p{
	margin:0 0 10px;
	font-size:18px;
	font-size:1.7rem;
	font-weight:700;
	line-height:2.2;
}

@media screen and (max-width:480px){
	.service__txt h2+p{
		margin:0 0 30px;
		font-size:14px;
		font-size:1.4rem;
		}

.service__txt h2+p br{
	display:none;
	}
}

.service__menu{
	width:65%;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	background-color:#e4e4e4;
	}


@media screen and (max-width:480px){
	.service__menu{
		width:100%
		}
	}

.service__menu li{
	width:25%;
	padding:20px 0;
	text-align:center;
}

@media screen and (max-width:480px){
	.service__menu li{
		width:50%
		}
	}

@media screen and (min-width:480px){
	.service__menu li:nth-child(2),.service__menu li:nth-child(4),.service__menu li:nth-child(5),.service__menu li:nth-child(7){
		background-color:#eee;
		}
	}

@media screen and (max-width:480px){
	.service__menu li:nth-child(2),.service__menu li:nth-child(3),.service__menu li:nth-child(6),.service__menu li:nth-child(7){
		background-color:#eee;
		}
	}

.service__menu img{
	width:30%;
	margin:10px auto;
	}

.service__menu strong{
	display:block;
	font-size:14px;
	font-size:1.4rem;
	font-weight:700;
}

.service__menu span{
	display:block;
	font-size:11px;
	font-size:1.1rem;
	line-height:12px;
	}

.gokai{
	position:relative;
}


.gokai_container{
	width: 1000px;
    margin: 0 auto;
    text-align: center;
}


@media screen and (max-width:480px){
	.gokai_container{
	width: 100%;
    margin: 0 auto;
    text-align: center;
}
}

.gokai__title{
	position:absolute;
	width:260px;
	top:60px;
	left:0;
}


@media screen and (max-width:480px){
	.gokai__title{
		position:static;
		width:160px;
		margin:0;
		}
	}

.gokai h2{
	margin:0 0 20px;
	color:#4d4d4d;
	font-size:28px;
	font-size:2.8rem;
	font-weight:700;
	line-height:40px;
	text-align:center;
	}

@media screen and (max-width:480px){
	.gokai h2{
		font-size:18px;
		font-size:1.8rem;
		}
	}

.gokai h2 strong{
	display:block;
	padding-right:10px;
	font-size:50px;
	font-size:5rem;
	line-height:60px;
}

@media screen and (max-width:480px){
	.gokai h2 strong{
		font-size:32px;
		font-size:3.2rem;
		line-height:40px;}
	}

.gokai__item{
	display:inline-block;
	vertical-align:top;
	width:310px;
	margin-right:20px;
	background-color:#f2f2f2;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}


@media screen and (max-width:480px){
	.gokai__item{
		width:100%;
		margin-right:0;
		margin-bottom:20px;
	}
	}

.gokai__item h3{
	position:relative;
	background-color:#808080;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	padding:30px 0 15px;color:#fff;
	font-size:16px;font-size:1.6rem;
	text-align:center;
	}

.gokai__item h3:after{
	content:'';position:absolute;
	left:0;
	bottom:-20px;
	width:0;
	height:0;
	border-style:solid;
	border-width:20px 150px 0 150px;
	border-color:#808080 transparent transparent transparent;
	}


@media screen and (max-width:480px){
	.gokai__item h3:after{
		left:50%;
		margin-left:-150px;
		}
	}

.gokai__item.item01{
	margin-top:100px;
	margin-bottom:80px;
}


@media screen and (max-width:480px){
	.gokai__item.item01{
		margin-top:0;
		margin-bottom:30px;
		}
	}

	.gokai__item.item02{
		margin-top:50px;
	}

@media screen and (max-width:480px){
	.gokai__item.item02{
		margin-top:0;
		}
	}

.gokai__item.item03{
	margin-right:0;
}

.gokai__icon{
	margin:30px 0 20px;
	text-align:center;
}

.gokai__icon img{width:100px}

.gokai__icon:before{
	content:'NO!';
	display:block;
	color:#da1c24;
	font-size:40px;
	font-size:4rem;
	font-family:Muli,sans-serif;
	font-weight:900;
	line-height:60px;
}

.gokai__txt{
	margin:0;
	padding:0 20px 30px;
	font-size:14px;
	font-size:1.4rem;
	letter-spacing:none;
	text-align: left;
}

@media screen and (max-width:480px){
	.gokai__txt{
		font-size:12px;
		font-size:1.2rem;
	}
}

.house{
	position:relative;
	width:800px;
	margin:0 auto;
	padding:40px 40px 30px;
	border:solid 2px #4d4d4d;
	border-radius:10px;
}


@media screen and (max-width:480px){
	.house{
		width:100%;
		margin:20px auto 0;
		padding:40px 5% 50px;
	}
}

.house:after{
	content:'';
	width:70px;
	height:70px;
	position:absolute;
	top:-65px;
	right:30px;
	background-image:url(../images/icon_service06@2x.png);
	background-size:cover;
	background-position:right bottom;
	}

@media screen and (max-width:480px){
	.house:after{top:auto;bottom:-7px;
		}
	}

.house h3{
	width:300px;
	margin:-70px 0 10px;
}

@media screen and (max-width:480px){
	.house h3{
		width:100%;
		}
	}

.house p{
	margin:0;
}

.problem{
	background:url(../images/problem_back.png);
}


.problem h2{
	margin:0 0 60px;
}

@media screen and (max-width:480px){
	.problem h2{
		margin:0 0 30px;
		}
	}

.problem h2 span.sub{
	margin-left:20px;
}

@media screen and (max-width:480px){
	.problem h2 span{margin:0;
	}
}

.problem h2:after{
	content:'';
	width:50%;
	height:20%;
	position:absolute;
	top:-5%;right:0;
	background-image:url(../images/script02@2x.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:bottom right;
	z-index:1
}

@media screen and (max-width:480px){
	.problem h2:after{
		display: none;
	}
}

.problem__qa{
	margin:0 0 -30px;
}

.problem__qa dd,.problem__qa dt{
	position:relative;
	padding:20px 30px;
	border-radius:5px;
}

.problem__qa dd:before,
.problem__qa dt:before{
	content:'';
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	top:10px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center
}

.problem__qa dd:after,.problem__qa dt:after{
	content:"";
	position:absolute;
	top:20px;
	border:5px solid transparent;
}


p.icon1{
	content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top:10px;
}

div.dt1{
	position: relative;
	width: 1000px;
}

p.icon2{
	width: 30px;
	height: 30px;
	content: "";
    position: absolute;
    top:25%;
}

div.dt2{
	position: relative;
	width: 1000px;
	height: 65px;
    float: left;
}

p.icon3{
	width: 30px;
	height: 30px;
	content: "";
    position: absolute;
    top:25%;
}

div.dt3{
	position: relative;
	width: 1000px;
	height: 65px;
    float: left;
}

.problem__qa dt{
	clear:both;
	width:40%;
	background-color:#FFF;
	border:solid 2px #808080;
	margin:0 0 0 60px;
	color:#333333;
}

.problem__qa dd:before, .problem__qa dt:before {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.problem__qa dt:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -29px;
	margin-top: -14px;
	border: 9px solid transparent;
	border-right: 9px solid #FFF;
	z-index: 2;
	height: auto;
}

.problem__qa dt:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -20px;
	margin-top: -14px;
	border: 9px solid transparent;
	border-right: 9px solid #808080;
	z-index: 1;
}

@media screen and (max-width:480px){
	.problem__qa dt{
		width:80%;
		}

	.problem__qa div{
		width:100%;
		height: 110px;
		}
}

.problem__qa dd{
	width:55%;
	float:right;
	background-color:#3fa9f5;
	color:#FFF;
	margin:-10px 60px 40px 0;
	}


@media screen and (max-width:480px){
	.problem__qa dd{
		width:80%;
		margin:20px 60px 40px 0;
		}
	}

.problem__qa dd:before{
	right:-60px;
	background-image:url(../images/icon_face02@2x.png);
}

.problem__qa dd:after{
	right:-15px;
	border-left:10px solid #3fa9f5;
}

.data{
	background-color:#f2f2f2;
}

.data .container{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}

.data__txt{
	width:50%;
	padding:0 50px 0 0;
}

@media screen and (max-width:480px){
	.data__txt{
		width:100%;
		padding:0;
	}
}

.data__txt h3{
	margin:0 0 30px;
	color:#1a1a1a;
	font-size:32px;
	font-size:3.2rem;
}


@media screen and (max-width:480px){
	.data__txt h3{
		font-size:24px;
		font-size:2.4rem;
		text-align:center;
	}
}

.data__txt h3 span{
	color:#da1c24;
}

.data__txt p{
	font-size:16px;
	font-size:1.6rem;
	line-height:2;
}

@media screen and (max-width:480px){
	.data__txt p{
		font-size:14px;
		font-size:1.4rem;
	}
}

.data__graf{
	width:50%;
	margin:0;
}


@media screen and (max-width:480px){
	.data__graf{
		width:100%;
	}
}


.recruit h2{
	margin:0 0 60px;
}

@media screen and (max-width:480px){
	.recruit h2{
		margin:0 0 30px;
	}
}

.recruit h2 span.sub{
	margin-left:20px;
}

@media screen and (max-width:480px){
	.recruit h2 span{
		margin:0;
	}
}

.recruit__item{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}

.recruit__box{
	width:32%;
	border:solid 1px #808080;
	border-radius:3px;
	padding:30px 30px;
	margin:0 0 20px;
}


@media screen and (max-width:480px){
	.recruit__box{
		width:100%;
		padding:30px 20px;
	}
}

.recruit__cat{
	width:130px;
	margin:0 auto 15px;
	background-color:#808080;
	border-radius:3px;
	padding:0 20px;
	color:#fff;
	font-size:12px;
	font-size:1.2rem;
	line-height:22px;
	text-align:center;
}

.recruit__title{font-size:14px;font-size:1.4rem}

.recruit__price{margin:10px 0 15px;color:#da1c24;font-size:14px;font-size:1.4rem;font-weight:700;text-align:center}

.recruit__price strong{
	display:inline-block;
	padding:0 3px;
	font-size:24px;
	font-size:2.4rem;
	font-weight:800;
	font-family:Muli,sans-serif;
}

@media screen and (max-width:480px){
	.recruit__price strong{font-size:22px;font-size:2.2rem}}

.recruit__link{margin:0 auto 0;text-align:center}

.wecan{
	position:relative;
}


.wecan h3{float:left;color:#0098e2;font-size:28px;font-size:2.8rem}

.wecan h3 span.red{color:#da1c24;}

@media screen and (max-width:480px){.wecan h3{float:none;margin:0 0 30px;font-size:20px;font-size:2rem;text-align:center}}

.wecan__photo{float:right;position:relative}

@media screen and (max-width:480px){.wecan__photo{float:none;margin:0}}

.wecan__photo:after{
	content:'';
	width:50%;
	height:40%;
	position:absolute;
	bottom:-15%;
	right:-5%;
	background-image:url(../images/script03@2x.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:bottom right;
	z-index:1
}

.wecan__txt{
	position:absolute;
	left:0;
	bottom:30px;
	background-color:rgba(0,152,226,0.9);
	padding:60px 80px;
	color:#fff;
}

@media screen and (max-width:480px){
	.wecan__txt{
		position:static;
		padding:30px 20px;
	}
}

.wecan__txt h4{
	font-size:24px;font-size:2.4rem}

@media screen and (max-width:480px){
	.wecan__txt h4{font-size:18px;font-size:1.8rem}}

	.wecan__txt p{margin:20px 0 0}

@media screen and (max-width:480px){
	.wecan__txt p{font-size:12px;font-size:1.2rem}}



.consultant h2{margin:0 0 20px;text-align:center}

.consultant h2+p{text-align:center}

.consultant__list{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}

@media screen and (max-width:480px){
.consultant__list{
	width: 90%;
	margin: 0 auto;
}
}

.consultant__list li{
	width:18%;
}

@media screen and (min-width:480px){
	.consultant__list li:nth-child(2),
	.consultant__list li:nth-child(4),
	.consultant__list li:nth-child(7),
	.consultant__list li:nth-child(9){
		margin-top:40px}
}

@media screen and (max-width:480px){
.consultant__list li{
	width:46%;
}

.consultant__list li:nth-child(2n){
	margin-top:30px
}
}

@media screen and (max-width:480px){
	.consultant__list li{
		width:46%;
}

	.consultant__list li:nth-child(2n){
	margin-top:20px
}
}

.access{
	background-color:#f2f2f2;
}


.access .container{
	background-image:url(../images/access_bg@2x.png);
	background-size:420px;
	background-repeat:no-repeat;
	background-position:top right;
}



@media screen and (max-width:480px){
	.access .container{
		background-size:250px;
		background-position:top 2% center;
	}
}

.access h2{
	margin:0 0 60px;
}


@media screen and (max-width:480px){
	.access h2{
		margin:0 0 30px;
	}
}

	.access h2 span.sub{margin-left:20px}

	@media screen and (max-width:480px){
		.access h2 span{margin:0
	}
}

.access__info{
	margin:0 0 160px;
}

@media screen and (max-width:480px){
	.access__info{
		margin:140px 0 40px;
		text-align:center;
	}
}

.access__info h3{
	margin:15px 0;
	font-size:24px;
	font-size:2.4rem;
	color:#4d4d4d;
}

@media screen and (max-width:480px){
	.access__info h3{
		margin:15px 0 10px;
		font-size:20px;
		font-size:2rem}
}

.access__info h3+p{
	color:#666;
}

.access__icon{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
}

@media screen and (max-width:480px){
	.access__icon{
		-webkit-box-pack:justify;
		-webkit-justify-content:space-between;
		justify-content:space-between;
	}
}

.access__icon li{
	background-color:#808080;
	border-radius:3px;
	margin:0 10px 0 0;
	padding:3px 20px;
	color:#fff;
	font-size:12px;font-size:1.2rem;
}

@media screen and (max-width:480px){
	.access__icon li{
		width:48%;
		padding:3px 0;
		margin:0;
		margin-top:7em;
		text-align:center;
		}
	}

.office{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-align:start;
	-webkit-align-items:flex-start;
	align-items:flex-start;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}

.office__item{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	position:relative;width:48%;
	background-color:#fff;
	border-radius:3px;
	padding:40px 30px;
	margin:0 0 30px;
}

@media screen and (max-width:480px){
	.office__item{
		display:block;
		width:100%;
		padding:30px 20px;
		}
	}

.office__item:before{
	position:absolute;
	top:-20px;
	left:30px;
	color:#009de7;
	font-size:36px;
	font-size:3.6rem;
	font-family:Muli,sans-serif;
	font-weight:800;
	line-height:40px;
	letter-spacing:.1em;
}

@media screen and (max-width:480px){
	.office__item:before{
		width:100%;
		left:0;
		font-size:30px;
		font-size:3rem;
		text-align:center;
	}
}

.office__item.office01{
	margin-top:-60px;
}

@media screen and (max-width:480px){
	.office__item.office01{
		margin-top:0;
	}
}

.office__item.office01:before{
	content:'TOKYO';
}

.office__item.office02:before{
	content:'SENDAI'
}

.office__item.office03{
	margin-top:-60px;
}

@media screen and (max-width:480px){
	.office__item.office03{
		margin-top:0;
	}
}

.office__item.office03:before{
	content:'NAGOYA';
}

.office__item.office04:before{
	content:'OSAKA';
}

.office__item.office05{
	margin-top:-60px;
}


@media screen and (max-width:480px){
	.office__item.office05{
		margin-top:0;
	}
}

.office__item.office05:before{
	content:'FUKUOKA';
}

.office__item.office06{
	margin-left: auto;
}

.office__item.office06:before{
	content:'OKINAWA';
}

.office__photo{
	width:40%;
}


@media screen and (max-width:480px){
	.office__photo{
		width:60%;
		margin:0 auto 20px;
	}
}

.office__txt{
	width:55%;
}

@media screen and (max-width:480px){
	.office__txt{
		width:100%;
		}
	}

.office__txt h3{
	font-size:18px;
	font-size:1.8rem;
}

.office__txt .ad{
	margin:10px 0;
	color:#666;
	font-size:12px;
	font-size:1.2rem;
}

.office__txt .tel,.office__txt .tel-last{
	margin:0 0 10px;
	font-size:24px;
	font-size:2.4rem;
	color:#0098e2;
	font-family:Muli,sans-serif;
	font-weight:800;
}


.office__txt .tel:before{
	content:'';
	display:inline-block;
	width:35px;
	height:20px;
	margin:0 5px 0 0;
	background-image:url(../images/freeedial@2x.png);
	background-size:cover;
	background-repeat:no-repeat;
}

.office__txt .tel-last:before{
	content:'';
	display:inline-block;
	margin:0;
	background-image:none;
}

.office__txt .tel span,.office__txt .tel-last span{
	color:#da1c24;
}

.office__txt .btn-link-b{
	width:100%;
}

div.overview{
	background-color: #FFF;
	padding:2em;
	color: #333;
	display: flex;
}

div.overview_title{
	width: 20%;
	text-align: center;
	position: relative;
}

div.overview_title p{
	position: absolute;
	top:45%;
	left: 23%;
	font-size: 1.8rem;
}

.overview table{
	width: 80%;
	border-collapse:collapse;
}

.overview table tr{
	border-bottom: solid 1px #666;
}

.overview table th{
	width: 20%;
	padding: 0.5em 0;
}

.overview table td{
	padding: 0.5em 0;
}

.overview table td div{
	display: flex;
}

.overview table td div p.title{
	width: 10%;
}

.overview table td div p{
	margin-bottom: 0;
}

.overview table td a{
	text-decoration: underline;
}

.overview table td a:hover{
	opacity:.8;
}


@media screen and (max-width:480px){
	div.overview{
		display: block;
	}

.overview table{
	width: 100%;
	border-collapse:collapse;
}

	div.overview_title{
	width: 100%;
	text-align: left;
	position: unset;
}

	div.overview_title p{
	margin: 0;
	font-size: 1.8rem;
	position: unset;
}

.overview table th{
	width: 100%;
	display: block;
	padding: 0.5em 0 0;
}

.overview table td{
	width: 100%;
	display: block;
	padding: 0 0 0.5em 0;
}

.overview table td div{
	width: 100%;
	display: block;
}

.overview table td div p.title{
width: 100%;
padding-top: 0.5em;
}

.overview table td div p.business{
width: 100%;
line-height: 1.5em;
}
}

.entry{
	background-color:rgba(0,152,226,0.1);
	color:#3fa9f5;
}

.entry p{
	color:#666;
	font-size: 1.8rem;
}

.entry .container{
	width:800px;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:reverse;
	-webkit-flex-direction:row-reverse;
	flex-direction:row-reverse;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}

@media screen and (max-width:480px){
	.entry .container{
		width:90%;
		min-width:90%;
		margin:0 auto;
		display:block;
		}
}

.entry .container:before{
	content:'';
	width:50%;
	height:170px;
	position:absolute;
	top:-80px;
	right:0;
	background-image:url(../images/script04@2x.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:40px top;
}


@media screen and (max-width:480px){
	.entry .container:before{
		width:60%;
		height:25%;
		top:-16%;
		left:0;
		background-position:right top;
	}
}

.entry__txt{
	width:50%;
	padding:110px 0 0 40px;
	}

@media screen and (max-width:480px){
	.entry__txt{
		width:100%;
		padding:15% 0 0 0;
	}
}

.entry__txt h3{
	margin:0 0 20px;
	font-size:24px;
	font-size:2.4rem;
}


@media screen and (max-width:480px){
	.entry__txt h3{
		font-size:18px;
		font-size:1.8rem;
	}
}

.entry__txt p{
	font-size:12px;
	font-size:1.2rem;
}


@media screen and (max-width:480px){
	.entry__txt p br{
		display:none;
	}
}

.entry__photo{
	width:50%;
}

@media screen and (max-width:480px){
	.entry__photo{
		width:100%;
	}
}

.entry__photo img{
	border-radius:3px;
}



