@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
 
.cf:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}



.hover-trans:hover{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
	opacity: 0.4;
}
.hover-fade:hover{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}





#co #coL{
    width: auto!important;
}


.page#recruitPage{
      font-family: "Noto Sans CJK JP"!important;
}
.rPt-img{
    background: #c9c9c9;
    margin-bottom: 30px!important
}
.rPt-h2{
  font-size: 28px;
  color: rgb(75, 119, 196);
  line-height: 1.227;
    margin-bottom: 24px!important;
}
.rPt-p{
  font-size: 17px!important;
  color: rgb(89, 89, 89);
  line-height: 2.2!important;
    margin-bottom: 60px!important;

}
.rPt-presi{
    background: url(../img-i/rpt-doubule-line.png) 0px 0px repeat-x;
    margin-bottom: 50px;
}

.rPt-presi-text{
  font-size: 15px;
  color: rgb(89, 89, 89);
  line-height: 2;
}
.rPt-presi{
    padding-top: 40px;
}
.rPt-presi-h2{
  font-size: 22px;
  color: rgb(85, 85, 85);
  line-height: 1.227;
    font-weight: bold;
    margin-bottom: 28px;
}
.rPt-presi-text>img{
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}
.rPt-bn>p{
	border-bottom: 2px double #949494;
	font-size: 24px;
}
.rPt-bn>a{
    display:block;
    margin-bottom: 18px;
    float: left;
}
.rPt-bn>a.right{
    margin-left: 18px;
}









.rPs-ul{
    margin-top: 10px;;
    margin-bottom: 30px
}

.rPs-li{
    background: url(../img-i/rps-anker-icon.png) left center no-repeat;
    padding-left: 32px;
    float: left;
    margin-right: 36px;
}
.rPs-titleImg{
    padding-top: 100px!important;
    margin-top: -100px!important;
}

.rPs-img{
    background: #c9c9c9;
    margin-bottom: 30px!important
}
.rPs-h2{
  font-size: 28px;
  color: rgb(75, 119, 196);
  line-height: 1.227;
    margin-bottom: 28px!important;
}
.rPs-p{
  font-size: 15px!important;
  color: rgb(89, 89, 89);
  line-height: 2!important;
    margin-bottom: 60px!important;
}
.rPs-p>img.r{
	float: right;
	margin: 0 0 40px 50px;
}
.rPs-p>img.l{
	float: left;
	margin: 0 50px 40px 0;
}
.rPs-req{
    padding-top: 100px;
    margin-top: -100px;
    
}
.rPs-req-h2{
    background-image: url(../img-i/rpt-doubule-line.png),
                                 url(../img-i/rpt-doubule-line.png);
    background-position: 0 0, 0 bottom;
    background-repeat: repeat-x, repeat-x;
    padding: 17px 0 19px;
      font-size: 22px;
      color: rgb(83, 83, 83);
    text-align: center;
    font-weight: bold;
}


.rPs-req>table tr{
    border-bottom: #cbcbcb solid 1px;
}
.rPs-req>table tr>th{
  font-size: 20px;
  color: rgb(7, 126, 130);
    text-align: center;
    width: 180px;
    padding: 40px 0;
}
.rPs-req>table tr>td{
  font-size: 14px;
  color: rgb(111, 111, 111);
  line-height: 1.714;
  text-align: left;
    padding: 40px 0;
}

.rPs-req>table tr:nth-of-type(odd) th,
.rPs-req>table tr:nth-of-type(odd) td{
    background: #f3f9f9;
}




.rPs-req-btn {
    display: block;
    box-sizing: border-box;
    padding-top: 14px;
  border-radius: 8px;
  background-color: rgb(9, 161, 166);
  box-shadow: 0px 6px 0px 0px rgba(4, 79, 82, 1);
  width: 405px;
  height: 63px;
    
  font-size: 22px;
  color: rgb(255, 255, 255)!important;
  text-align: center;
    text-decoration: none!important;
    font-weight: bold;
    margin: 20px auto !important;
}





















