/* [Pz-LkC][2.1.9.1] CSS */
.linkcard {
	margin-top: 4px;
	margin-bottom: 16px;
	margin-left: 4px;
	margin-right: 16px;
}
.linkcard:hover{
	/*OPACITY*/
}
.linkcard img {
	margin: 0 !important; padding: 0; border: none;
}
.lkc-link {
	text-decoration: none !important;
}
.lkc-internal-wrap {
	position:	relative;
	margin: 0;
	border: 1px solid #888888;
	padding: 0;
	
	/*SHADOW*/
	/*HEIGHT*/
	max-width: 500px;
	background-color: #f8f8f8;
	/*IN-IMAGE*/
	/*WRAP*/
}
.lkc-internal-wrap::after {
	/*WRAP-AFTER*/
}
.lkc-internal-wrap::before {
	/*WRAP-BEFORE*/
}
.lkc-external-wrap {
	position:	relative;
	margin: 0;
	border: 1px solid #888888;
	padding: 0;
	
	/*SHADOW*/
	/*HEIGHT*/
	max-width: 500px;
	background-color: #ffffff;
	/*EX-IMAGE*/
	/*WRAP*/
}
.lkc-external-wrap::after {
	/*WRAP-AFTER*/
}
.lkc-external-wrap::before {
	/*WRAP-BEFORE*/
}
.lkc-this-wrap {
	position:	relative;
	margin: 0;
	border: 1px solid #888888;
	padding: 0;
	
	/*SHADOW*/
	/*HEIGHT*/
	max-width: 500px;
	background-color: #eeeeee;
	/*TH-IMAGE*/
	/*WRAP*/
}
.lkc-this-wrap::after {
	/*WRAP-AFTER*/
}
.lkc-this-wrap::before {
	/*WRAP-BEFORE*/
}
.lkc-card {
	margin-top: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-left: 7px;
}
.lkc-content {
	/*CONTENT-PADDING*/
	/*CONTENT-INSET*/
	/*CONTENT-BGCOLOR*/
	height: 108px;
	margin-top: 6px;
	word-break: break-all;
	white-space: normal;
	overflow: hidden;
	/*SEPARATOR*/
}
.lkc-title-text {
	color: #111111;
	/*OUTCOLOR-TITLE*/
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	overflow: hidden;
	word-break: break-all;
}
.lkc-title-text:hover {
	text-decoration: underline;
}
.lkc-url {
	color: #4466ff;
	/*OUTCOLOR-URL*/
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	text-decoration: underline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.lkc-url-info {
	color: #4466ff;
	/*OUTCOLOR-URL*/
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	text-decoration: underline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline;
}
.lkc-added {
	color: #222222;
	/*OUTCOLOR-ADDED*/
	font-size: 12px;
	line-height: 12px;
	/*HEADING*/
}
.lkc-excerpt {
	color: #333333;
	/*OUTCOLOR-EXCERPT*/
	font-size: 11px;
	line-height: 17px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	/*NONE-EXCERPT*/
}
.lkc-more-text {
	color: #444444;
	/*OUTCOLOR-MORE*/
	font-size: 12px;
	line-height: 40px;
	/*STYLE-MORE*/
}
.lkc-thumbnail {
	max-width: 100px;
	max-height: 108px;
	padding: 0;
	margin: 0 6px 4px 4px;
	float: left;
}
.lkc-thumbnail-img {
	width: 100px;
	max-height: 108px;
	border: 1px solid #222;
	
	/*THUMBNAIL-SHADOW*/
}
.lkc-info {
	padding: 0;
	color: #222222;
	/*OUTCOLOR-INFO*/
	font-size: 12px;
	line-height: 12px;
	white-space: nowrap;
	overflow: hidden;
	display: block !important;
	/*NONE-INFO*/
}
.lkc-infotext {
	/*INFO-TEXT*/
}
.lkc-domain {
	color: #222222;
	/*OUTCOLOR-INFO*/
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
	display: inline !important;
}
.lkc-domain:hover {
	color: #222222;
	/*OUTCOLOR-INFO*/
	font-size: 12px;
	line-height: 12px;
	text-decoration: underline;
	display: inline !important;
}
.lkc-favicon {
	height: 16px;
	width: 16px;
	margin: 0 4px  !important;
	border: none;
	vertical-align: text-bottom;
	display: inline !important;
}
.lkc-name a {
	margin: 0;
	padding: 0;
	float: right;
	color: #888888;
	/*OUTCOLOR-PLUGIN*/
	font-size: 10px;
	line-height: 10px;
	opacity: 0.5;
	text-decoration: none;
	display: none;
}
.lkc-share {
	text-shadow: none;
}
.lkc-sns-tw {
	margin: 0;
	padding: 0 1px;
	color: #5ea9dd !important;
	background-color: #f5f8fa !important;
	font-size: 9px;
	text-decoration: underline !important;
	font-weight: bold !important;
	white-space: nowrap;
}
.lkc-sns-fb {
	margin: 0;
	padding: 0 1px;
	color: #ffffff !important;
	background-color: #3864a3 !important;
	font-size: 9px;
	text-decoration: underline !important;
	font-weight: bold !important;
	white-space: nowrap;
}
.lkc-sns-hb {
	margin: 0;
	padding: 0 1px;
	color: #ff6464 !important;
	background-color: #ffefef !important;
	font-size: 9px;
	text-decoration: underline	!important;
	font-weight: bold !important;
	white-space: nowrap;
}
.lkc-sns-gp {
	margin: 0;
	padding: 0 1px;
	color: #dd4e42 !important;
	background-color: #ffffff !important;
	font-size: 9px;
	text-decoration: underline !important;
	font-weight: bold !important;
	white-space: nowrap;
}
.lkc-sns-po {
	margin: 0;
	padding: 0 1px;
	color: #eeeeee !important;
	background-color: #ee4055 !important;
	font-size: 9px;
	text-decoration: underline !important;
	font-weight: bold !important;
	white-space: nowrap;
}
.clear {
	clear: both;
}

blockquote.lkc-quote {
	background-color: transparent;
	background-image: none;
	padding: 0;
	margin: 0;
	border: none;
}

.lkc-iframe-wrap {
	margin: 0;
	max-width: 500px;
}
.lkc-iframe {
	padding: 0;
	margin: 0;
	width: 100%;
}
/*OPTION*/

@media screen and (max-width: 600px)  {
 .lkc-title { font-size: 14px; line-height: 21px; }
 .lkc-excerpt { font-size: 10px; }
 .lkc-thumbnail { max-width: 90px; }
 .lkc-thumbnail-img { max-width: 90px; }
}
@media screen and (max-width: 480px)  {
 .lkc-title { font-size: 12px; line-height: 19px; }
 .lkc-excerpt { font-size: 8px; }
 .lkc-thumbnail { max-width: 70px; }
 .lkc-thumbnail-img { max-width: 70px; }
}
@media screen and (max-width: 320px)  {
 .lkc-title { font-size: 11px; line-height: 16px; }
 .lkc-excerpt { font-size: 6px; }
 .lkc-thumbnail { max-width: 50px; }
 .lkc-thumbnail-img { max-width: 50px; }
}