@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
 
.cf:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}



.hover-trans:hover{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
	opacity: 0.4;
}
.hover-fade:hover{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}





section.box{
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

.rPt-img{
    margin-bottom: 10px!important
}
.rPt-img>img{
    width: 100%;
}
.rPt-h2{
  font-size: 20px!important;
  color: rgb(75, 119, 196);
  line-height: 1.227;
    border: none!important;
    margin-bottom: 16px!important;
}
.rPt-p{
  font-size: 17px!important;
  color: rgb(89, 89, 89);
  line-height: 1.8!important;
    margin-bottom: 40px!important;

}
.rPt-presi{
    background: url(../img-i/rpt-doubule-line.png) 0px 0px repeat-x;
    margin-bottom: 50px;
}

.rPt-presi-text{
  font-size: 14px!important;
  color: rgb(89, 89, 89);
  line-height: 1.9;
}
.rPt-presi{
    padding-top: 40px;
}
.rPt-presi-h2{
  font-size: 22px;
  color: rgb(85, 85, 85);
  line-height: 1.227;
    font-weight: bold;
    margin-bottom: 28px;
}
.rPt-bn>p{
	border-bottom: 2px double #949494;
	font-size: 24px;
	font-weight: bold;
}
.rPt-bn>a{
    display:block;
    margin-bottom: 5px;
}
.rPt-bn>a>img{
    width: 100%;
}
.rPt-bn>a.right{
    margin-left: 18px;
}







.rPs-titleImg{
    width: 240px;
}
.rPs-titleImg img{
    width: 100%;
}

.rPs-ul{
    margin-top: 14px;
    margin-bottom: 20px
}

.rPs-li{
    background: url(../img-i/rps-anker-icon.png) left center no-repeat / contain;
    padding-left: 28px;
    margin-right: 36px;
    margin-bottom: 10px;
    font-size: 14px;
    
}

.rPs-img img{
    width: 100%;
}
.rPs-h2{
  font-size: 20px!important;
  color: rgb(75, 119, 196);
  line-height: 1.227;
    border: none!important;
    margin-bottom: 16px!important;
}
.rPs-p{
  font-size: 17px!important;
  color: rgb(89, 89, 89);
  line-height: 1.8!important;
    margin-bottom: 40px!important;
}
.rPs-req-h2{
    background-image: url(../img-i/rpt-doubule-line.png),
                                 url(../img-i/rpt-doubule-line.png);
    background-position: 0 0, 0 bottom;
    background-repeat: repeat-x, repeat-x;
    padding: 17px 0 19px;
      font-size: 22px;
      color: rgb(83, 83, 83);
    text-align: center;
    font-weight: bold;
}


.rPs-req>table tr{
    border-bottom: #cbcbcb solid 1px;
}
.rPs-req>table tr>th{
    display: block;
    padding: 14px;
  font-size: 16px;
  color: rgb(7, 126, 130);
    text-align: center;
    background: #f3f9f9;
}
.rPs-req>table tr>td{
    display: block;
    padding: 20px 0;
  font-size: 14px;
  color: rgb(111, 111, 111);
  line-height: 1.714;
  text-align: left;
}




.rPs-req-btn {
    display: block;
    box-sizing: border-box;
    padding-top: 14px;
  border-radius: 8px;
  background-color: rgb(9, 161, 166);
  box-shadow: 0px 6px 0px 0px rgba(4, 79, 82, 1);
  height: 48px;
    
  font-size: 20px;
  color: rgb(255, 255, 255)!important;
  text-align: center;
    text-decoration: none!important;
    font-weight: bold;
    margin: 20px auto !important;
}





















