/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Body - not related to megamenu
–––––––––––––––––––––––––––––––––––––––––––––––––– */



* {
    box-sizing: border-box;
}


.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}




.hd{
    padding: 10px;
}






.hd-logo{
    float: left;
}
.hd-logo img{
    width: 120px;
}

.header-right{
    float: right;
}
.header-right-mypage, .header-right-entry{
    color: cadetblue;
    border: 1px solid  cadetblue;
    border-radius: 4px;
    display: inline-block;
    padding: 7px 10px 6px;
    font-weight: bold;
}


.container{
    background: url(../img/b.jpg) no-repeat center top fixed / cover;
    padding: 30px 2% 0;
}


.container-wrap{
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(255,255,255,0.85);
    box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
    padding: 40px 6% 60px;
}


.container-h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: #008ebd;
}
.container-text{
    font-size: 15px;
    line-height: 1.8;
    color: #111;
    margin-bottom: 40px;
}
.container-text>img{
    width: 450px;
    margin-bottom: 30px;
}
.container-text>img.right{
    float: right;
    margin-left: 30px;
}
.container-text>img.left{
    float: left;
    margin-right: 30px;
}

.container-img{
    width: 620px;
    margin: 20px auto 10px;
    background: #333;
}
.container-img>img{
    width: 100%;
}
.container-img-cap{
    text-align: center;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


.recruite-dt{
    background:  rgba(255,255,255,0.65);
    padding: 10px 0 10px 20px;
    letter-spacing: 2px;
    font-weight: bold;
}
.recruite-dd{
    padding: 20px;
}



.cta{
    display: block;
    width: 50%;
    background: #ff8831;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 5px 0 #ba5409;
    text-decoration: none;
    margin: 0 auto;
}



.ft-logo {
    text-align: center;
    display: block;
    padding: 30px 0;
    
}

.ft-logo img{
    width: 130px;
}















