@charset "utf-8";



.indexCo #menuL{
width: 220px;
padding-bottom: 10px;
}

.indexCo #menuL h4{
	padding: 16px 0px 5px 23px;
	background: url(../images/li.gif) no-repeat 10px 20px;
	color: #666600;
}


.indexCo #rightCo p, .indexCo #rightCo li{
	line-height: 1.5em;
	font-size: 0.84em;
}
.indexCo p{
margin-bottom: 1em;
}
.indexCo .boxL, .indexCo .boxR{
	width: 355px;
}


.indexCo .boxR ul{

}

.indexCo .boxR li{
	background:url(../images/point.gif) no-repeat 0px 2px;
	padding-bottom: 8px;
	padding-left: 22px;
}

.indexCo .boxR h3, .indexCo .boxL h3{
	border-bottom: 3px solid #CC0000;
	padding: 30px 0px 30px 20px;
	margin-bottom: 16px;
	line-height: 1em;
	font-size: 1.1em;
	color: #000000;

}

.indexCo .boxLine p, .indexCo .boxLine ul{
padding: 0px 12px;
}

.indexCo .boxR h3{
	background: url(../images/tab_02.jpg) no-repeat right top;
}

.indexCo .boxL h3{
	background: url(../images/tab_01.jpg) no-repeat right top;

}

/* ---------------------------------- { MAIN } ---------------------------------- */

#mainIndex{
	margin: 10px auto 0px auto;
	clear: both;
	padding-bottom: 10px;
}



/* ---------------------------------- { NEWS } ---------------------------------- */



.indexCo #rightCo #newsCo{
	clear: both;
	margin-bottom: 15px;
	border: 1px solid #D6D6D6;
	background: #F9F9F4;

}


.indexCo #rightCo #newsCo h3{
	font-size: 0.9em;
	color: #FFFFFF;
	background: #E48080 url(../images/bg_r.jpg) repeat-x bottom;
	padding: 8px 10px;
	line-height: 1.4em;
	border-bottom: 1px solid #D6D6D6;


}
.indexCo #rightCo #newsCo h3  img{
float: right;
}


.indexCo #rightCo #newsCo ul{
	padding: 5px 15px;

}

.indexCo #rightCo #newsCo ul li{
	line-height: 1.5em;
	font-size: 0.86em;
	background: url(../images/li.gif) no-repeat 2px 14px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	border-top: 1px dotted #D6D6D6;
}

.indexCo #rightCo #newsCo ul li:first-child{
border: none;
}
