@charset "utf-8";
/* ---------------------------------- contents ---------------------------------- */ 
#container {
	margin: 0px auto;
	border-top: 3px solid #CC0000;
	clear: both;
}
#container:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#container {
	display: inline-block;
}
/* Holly Hack Targets IE Win only \*/
    * html #container {
	height: 1%;
}
#container {
	display: block;
}
/* End Holly Hack */

#contents {
	margin: 0px auto;
	padding: 0px;
	width: 960px;
}



/* ---------------------------------- header ------------------------------------- */ 

#headCo{
	background: url(../images/bg_g.jpg) repeat-x bottom;
}
#headCo:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#headCo {
	display: inline-block;
}
/* Holly Hack Targets IE Win only \*/
    * html #headCo {
	height: 1%;
}
#headCo {
	display: block;
}
    /* End Holly Hack */

 
#Header {
	margin: 0px auto;
	padding: 0px;
	text-align:left;
	width: 960px;
	clear: both;

}

#Header p{
	float: left;
	padding: 15px 10px 5px 0px;
}
#Header #headL{
float: left;
width: 600px;
}


#Header #headR{
	text-align: right;
	float: right;
	width: 300px;
	padding-top: 50px;
}

#Header #headR p{
	padding-bottom: 8px;
	float: none;
	padding-right: 0px;


}
#Header #headR ul{
	float: right;
	padding-bottom: 10px;

}

#Header #headR ul li{
	float: left;
	font-size: 11px;
	line-height: 1.4em;
}


#panKuzu {
	text-align: left;
	font-size: 0.72em;
	clear: both;
	padding: 8px 0px;
	line-height: 1.4em;
}
/* ---------------------------------- copyright ------------------------------------- */ 
#copy {
	clear: both;
	text-align: center;
	font-size: 0.72em;
	color: #FFFFFF;
	margin: 0px auto;
	background: #E68483 url(../images/bg_r.jpg) repeat-x bottom;
	padding-top: 6px;
}
/* ---------------------------------- FOOTER ------------------------------------- */ 

#footer{
	width: 960px;
	margin: 0px auto;
	padding: 15px 0px;
}
#footer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#footer {
	display: inline-block;
}
/* Holly Hack Targets IE Win only \*/
    * html #footer {
	height: 1%;
}
#footer {
	display: block;
}
    /* End Holly Hack */
	
	#footer .boxL{
	float: left;
	width: 500px;
	font-size: 0.7em;
	line-height: 1.3em;
	text-align: left;
}
#footer address img{
	float: left;
	margin-right: 10px;
	margin-top: -5px;
}

.up {
	font-size: 0.68em;
	line-height: 1.5em;
	clear: both;
	text-align: right;
	margin: 25px 0px;
}

#footer ul{
	float: right;
	padding-top: 10px;

}

#footer ul li{
	float: left;
	font-size: 11px;
	line-height: 1.4em;
}
