@charset "utf-8";
/* ---------------------------------- { navigation } ---------------------------------- */ 

#menuL{
	text-align: left;
	width: 210px;
	margin: 0px auto;
	background: #EBEAE0;
	padding-bottom: 5px;
}


/* -------------------- HX tag ------------------- */


#menuL h3{
	font-size: 0.9em;
	color: #FFFFFF;
	background: #E48080 url(../images/bg_r.jpg) repeat-x bottom;
	padding: 5px 10px;
	line-height: 1.4em;
	border: 1px solid #C8C8C8;

}



#menuL h4{
	font-size: 0.86em;
	line-height: 1.4em;
	padding: 16px 0px 5px 18px;
	background: url(../images/li.gif) no-repeat 5px 20px;
	color: #666600;
}


/* -------------------- menu list ------------------- */



#menuL ul{
	width: 200px;
	margin: 0px auto;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;

}


#menuL ul.menuMain{
border-bottom: none;
}



#menuL ul li{
	background: #FFFFFF url(../images/bg_menu.jpg) repeat-x bottom;
	border-bottom: 1px solid #D6D6D6;
	font-weight: 900;


}
#menuL ul li a:link, #menuL ul li a:visited{
	display: block;
	font-size: 0.86em;
	line-height: 1.5em;
	background: url(../images/menu.gif) no-repeat 5px 10px;
	padding: 10px 0px 10px 20px;
	text-decoration: none;
	color: #000000;
}


#menuL ul ul{
	border: none;
	padding-bottom: 10px;
}

#menuL ul ul li{
	border: none;
	background: url(../images/spacer.gif) no-repeat;
	font-weight: 100;
}


#menuL ul li a:hover{
	background: #FFFFCC url(../images/menu.gif) no-repeat 5px 10px;

}



#menuL ul ul li a:link, #menuL ul ul li a:visited{
	background: url(../images/menu_li.gif) no-repeat 15px 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 0.70em;
	padding-left: 24px;
	text-decoration: underline;
}

#menuL ul ul li a:hover{
	background: #FFFFFF url(../images/menu_li.gif) no-repeat 15px 10px;
	text-decoration: none;
	color: #777777;
}
