.b-title > h3{
	font-size: 20px;
	line-height: 1.4;
	border-bottom: 1px solid #C70000;
	font-weight: 900;
	margin: 10px 0px 20px;
	padding: 0px 0px 10px 0;
	background: url(../images/point_04.gif) no-repeat left 4px;
}


.b-detail > h2{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 0;
	color: #3F3F3F!important;
	border-left: #C60000 solid 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
}
.b-detail > p+h2{
	margin-top: 36px;
}
.b-detail > h2+p{
	margin-top: 14px;
}
.b-detail > h3{
	margin: 22px 0 22px;
	border: none;
	font-size: 15px;
	color: #3F3F3F!important;
	padding: 0 0 0 18px;
	background: url(../images/h3.png) no-repeat 0px 4px / 8px 10px;
}
.article > .b-detail > h4{
	font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    margin: 0px;
    padding: 16px 0;
	border: 0px;
}
.b-detail > p{
	font-size: 15px;
	margin-bottom: 0;
	line-height: 1.8;
}
.b-detail > ul{
	background: #f8f4f4;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	margin-bottom: 20px;
}
.b-detail > ul > li{
	position: relative;
	padding-left: 20px;
	font-size: 15px;
	margin-bottom: 10px;
	line-height: 1.8;
}
.b-detail > ul > li:nth-last-child(1){
	margin-bottom: 0px;
}
.b-detail > ul > li::before{
	content: "・";
	position: absolute;
	left: 0px;
	top: 0px;
}
.b-detail > ol{
	background: #f8f4f4;
	padding: 20px;
	border-radius: 10px;
	margin: 0;
	margin-bottom: 20px;
	list-style-position: inside;
	box-sizing: border-box;
}
.b-detail > ol > li{
	position: relative;
	font-size: 15px;
	margin-bottom: 10px;
	line-height: 1.8;
}
.b-detail > ol > li:nth-last-child(1){
	margin-bottom: 0px;
}

.b-detail > p > a.link{
	display: inline-block;
	background: #ffecec;
	padding: 15px 30px;
	border-radius: 10px;
	font-weight: bold;
	margin: 10px 0;
}












