/*
Theme Name: hurexsub_ibaraki
Theme URI: https://wordpress.org/themes/twentyfifteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/**
 * Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
:focus {
    outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

fieldset {
	min-width: inherit;
}
input,
select{
	font-size: 18px;
	transform: scale(1);
}
a img {
	border: 0;
}

/**
 * Typography
 */

body {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	color: #000;
	background:#fff;
    font-size: 16px;
	line-height: 2;
	min-width: 350px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
#page{
	overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
}
p {
	margin-bottom: 10px;
}
b,
strong {
	font-weight: 700;
	color: #cd8724;
}

/**
 * Elements
 */

hr {
	background-color: #eaeaea;
	background-color: rgba(51, 51, 51, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 1.6em;
}
ul,
ol {
	margin: 0 0 1.6em 1.3333em;
}
ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
}
dl {
	margin-bottom: 1.6em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.6em;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}
td {
	border-width: 0 1px 1px 0;
}
th, td {
	padding: 0.4em;
}
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
}
figure {
	margin: 0;
}
del {
	opacity: 0.8;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
}


/**
 *  Alignments
 */

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


/**
 * Contents
 */
/* 共通 */
.sp{
	display: block;
}
.pc{
	display: none;
}
.inner{
	padding: 30px 20px;
	margin: auto;
}
.sub_title{
	font-family: 'Hind', sans-serif;
	color: #0241A0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}
.date{
	font-size: 11px;
	margin-bottom: 10px;
	height: 28px;
	position: relative;
	padding: 5px 0;
}
.recruit_lists_li_inner .date{
	text-align: right;
	height: 35px;
	overflow: hidden;
}
.new_mark{
	background: #F9EDDF;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 9px;
	display: inline-block;
	border-radius: 3px;
	margin:-5px 0;
	color: #9e681c;
	z-index: 1;
	float: left;
}
.update {
    width: 80px;
    overflow: hidden;
    display: inline-block;
    height: 16px;
	margin-bottom: -1px;
}
.more_btn{
	background: url(img/arr_r_m.png) no-repeat right 15px center;    background-size:9px auto;
	border-radius: 5px;
	display: block;
	color: #0040a1;
	box-sizing: border-box;
	border:1px solid #0040a1;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 15px 0;
}
h2.title{
	font-family: 'Times New Roman';
	font-weight: normal;
	color: rgba(0,64,161,0.1);
	font-size: 42px;
	line-height: 0;
	margin: 10px 0 35px;
}
h2.title span{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size: 18px;
	font-weight: bold;
	color: #000;
	display: block;
	margin: 0 auto;
}

/* 背景･色 */
.bg_main{
	background: url(img/top_sp_bg02.png) no-repeat center top #fafafe;
	background-size: 100% auto;
}
.bg_sub01{
	background: url(img/top_sp_bg01.png) no-repeat center top #EDF1FA;
	background-size: 100% 100%;
}
.bg_sub02{
	background: url(img/top_bg03.png) no-repeat center top #edf1f9;
	background-size: 100% auto;
}
.bg_sub03{
	background: url(img/top_sp_bg04.png) no-repeat center top #d5e7f6;
}
.flow_box_wrap{
	background: url(img/top_sp_bg05_1.png?v2) no-repeat center top #eceef3;
	background-size: 100% auto;
}
.flow_box{
	background: url(img/top_sp_bg05_2.png) no-repeat center bottom;
	background-size: 100% auto;
}
.con08{
	background: url(img/top_bg06.png) no-repeat center top #d5e7f6;
}
.bg_white{
	background: #f6f6f6;
}
.title{
	font-size: 20px;
	text-align: center;
}
h2.title.white {
    color: rgba(255,255,255,0.3);
}
h2.title.white span{
	color: #fff;
}
.white{
	color: #fff;
}
.lg{
	color: #63c99d;
}
.gray{
	color: #777;
}


/**
 *  Header
 */

.drawer_header{
	height: 60px;
}
.site-header {
	background-color: #fff;
	height: 59px;
}
.drawer_header_wrap{
	height: 59px;
	text-align: left;
	padding: 0;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	box-shadow: 10px 0 30px rgba(0,0,0,0.1);
}
.drawer_header{
	max-width: 980px;
	margin: auto;
	position: relative;
}
.drawer-nav{
	margin-top: 59px;
}
.drawer-nav .h_btn{
	display: none;
}
.site_title {
	line-height: 1;
	padding: 21px 10px;
}
.site_title_img{
	height: 18px;
}
.menu_btn{
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.menu_btn_li{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
.drawer_header .menu_btn_li img{
	max-height: 36px;
    margin: 12px 6px 0 0;
	display: inline-block !important;
	border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.drawer--navbarTopGutter {
    padding-top: 0;
}
.menu{
	border: none;
	background: url(img/menu.png) no-repeat center center;
	background-size: 59px 59px;
	width: 59px;
	height: 59px;
	position: static;
}
.menu_close{
	background-image: url(img/menu_close.png);
	background-size: 59px 59px;
	width: 59px;
	height: 59px;
	position: fixed;
	top:0;
	right: 0;
	z-index: 100;
	display: none;
	border: none;
}
.overray{
	display: none;
	background: url(img/bg_hb.png);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.drawer-nav {
    width: 320px;
    color: #000;
	padding:0 15px;
	background: #FAFAFE;
	background-size: 50px auto;
	position: fixed;
    z-index: 100;
    top: 0;
	right: -320px;
    height: 100%;
	padding-top: 10px;
}
.menu_lists{
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu_lists li{
	padding: 5px 0;
	border-bottom: 1px solid #8FAAD7;
}
.menu_lists li:last-child{
	border: none;
}
.menu_lists li a{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.6;
	display: block;
	padding: 5px 0;
}
.menu_lists li a span{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 9px;
	color: #0040a1;
	display: block;
}
.menu_li{
	border-bottom: 1px solid #E5E5E5;
}
.menu_a{
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0;
	display: block;
}
.h_icon{
	width: 29px;
	margin: -5px 15px 0 0;
}
.drawer-nav .add .icon_tel{
	margin-top: -20px;
    width: 44px;
}
.drawer-nav .add strong {
    display: block;
    margin-bottom: -50px;
    color: #000;
}
.drawer-nav .add .tel,
.drawer-nav .add .tel a{
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	font-weight: bold;
	color: #0040a1;
	text-decoration: none;
}
.drawer-nav .add .small{
	margin-top: -15px;
	display: block;
	font-size: 13px;
}
.drawer-nav .add{
	border:2px solid #0040a1;
	text-align: center;
	padding-bottom: 5px;
}

.know_wrap{
	position: relative;
	z-index: 50;
}
.know_menu_btn_wrap{
	background: url(img/h_sub_bg.png) repeat-x;
	background-size: auto 100%;
	border-bottom: 1px solid #C4C5C0;
}
.know_menu_btn_inner {
	padding: 0;
	max-width: 980px;
	margin: auto;
	text-align: right;
}
.know_menu_btn_inner:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.know_menu_btn{
	background: url(img/h_sub_menu.png) no-repeat center bottom;
	background-size: 100% auto;
	width: 158px;
	height: 36px;
	display: block;
	float: right;
}
.know_menu_btn.active{
	background: url(img/h_sub_close.png) no-repeat center bottom;
	background-size: 100% auto;
}
.know_menu_wrap{
	background: url(img/menu_bg.png);
	background-size: 50px auto;
	position: absolute;
	top: 31px;
	left: 0;
	border-top: 2px solid #313131;
	display: none;
	width: 100%;
}
.know_menu{
	max-width: 980px;
	padding: 0 20px;
	margin: auto;
}
.know_menu_title{
	margin: 0 -20px;
	color: #fff;
	font-size: 16px;
	padding: 20px;
}
.know_cat_lists{
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}
.know_cat_lists > .cat-item a{
	color: #0241A0;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding: 15px 40px 15px 0;
	background: url(img/arr_r_m.png) no-repeat;
    background-position: right 15px center;
    background-size: 15px auto;
	border-bottom: 1px solid #D9D9D9;
	position: relative;
}
.know_cat_lists > .cat-item .cat_btn{
	background: none;
}
.know_cat_lists > .cat-item .cat_btn:after{
	content: "";
	background: url(img/btn_open.png) no-repeat;
    background-size: 15px auto;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top:-7px;
	z-index: 99;
}
.know_cat_lists > .cat-item .cat_btn.active:after{
	background: url(img/btn_close.png) no-repeat;
    background-size: 15px auto;
}
.know_cat_lists .children{
	padding-left: 20px;
	list-style: none;
	display: none;
}
.know_cat_lists .children a{
	pointer-events: auto;
	font-weight: normal;
	color: #000;
	background: url(img/arr_r_g.png) no-repeat;
    background-position: right 15px center;
    background-size: 15px auto;
}
.know_tag{
	padding: 20px 0;
}
.know_menu_close{
	background: url(img/btn_close02.png) no-repeat #444;
    background-position: right 15px center;
    background-size: 20px auto;
	box-shadow:0px 5px 0px 0px #000;
	-moz-box-shadow:0px 5px 0px 0px #000;
	-webkit-box-shadow:0px 5px 0px 0px #000;
	border-radius: 0;
}
.know_menu_btn:hover,
.know_menu_close:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
	cursor: pointer;
}

/* パンくず */
.breadcrumbs_wrap{
	border-bottom: 1px solid #026D37;
}
.breadcrumbs{
	max-width: 1100px;
	margin: auto;
	padding: 10px 20px;
	color: #999;
	font-size:10px;
}
.icon_home{
	width: 12px;
}
.breadcrumbs span{
	font-size:10px;
	color: #000;
}
.breadcrumbs a span{
	color: #026D37;
	text-decoration: underline;
}


/**
 * TOP
 */
.top_con{
	padding: 0;
}
.con01{
	position: relative;
}
.con01 .top_btn img{
	width: 60%;
	position: absolute;
	bottom:9%;
	left: 20%;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.con02 h2.title{
	margin: 5px 0 30px;
}
.con02 h2.title span{
	letter-spacing: 1px;
}
.con03 h2.title span{
	letter-spacing: 2.5px;
}
.con03 .recruit_lists_li.cid_4,
.con03 .recruit_lists_li.cid_5,
.con03 .recruit_lists_li.cid_6{
	display: none;
}
.con06 h2.title span,
.con09 h2.title span{
	letter-spacing: 1.5px;
}
.ser_box{
	padding: 0 0 30px;
}
.ser_box .ser_text{
	background: url(img/ser_bg.png) no-repeat right top #fff;
	background-size: 60px 60px;
	padding: 20px;
	box-sizing: border-box;
	margin: -25% 20px 0;
	position: relative;
	z-index: 10;
}
.ser_box .ser_text .ser_logo{
	margin: auto;
	display: block;
}
.ser_box .ser_text h3{
	border: 1px solid #cd8724;
	color: #cd8724;
	font-size: 15px;
	text-align: center;
	padding: 15px;
	margin: 30px 0 20px;
	line-height: 1.5;
	letter-spacing: 1px;
}
.ser_box .ser_text p{
	font-size: 14px;
	line-height: 2;
}
.ser_box .ser_text .more_btn{
	background: url(img/arr_r_w.png) no-repeat right 15px center #3265b4;    background-size: 8px auto;
	border-radius: 5px;
	color: #fff;
	border: none;
	margin-top: 15px;
}
.flow_box{
	padding-bottom: 60px;
}
.flow_box h2.title,
.point_box h2.title,
.consul_box h2.title{
	margin: 20px 0 40px;
}
.flow_box .flow_img{
	display: none;
}
.flow_box dl{
	background: none;
	margin: 0;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
}
.flow_box dl dt{
	background: url(img/flow_dt_bg.png) repeat-x;
	background-size: auto 100%;
	color: #0040a1;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	line-height: 1.3;
	letter-spacing: 1px;
	position: relative;
	padding: 25px 0 25px 55px;
	box-sizing: border-box;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
}
.flow_box dl dd{
	background: rgba(255,255,255,0.9);
	font-size: 14px;
	line-height: 1.8;
	box-sizing: border-box;
	padding:15px;
	margin: 0;
}
.flow_box dl dt.fl02 + dd{
	padding-top:20px;
}
.flow_box dl dt span{
	font-family: 'Times New Roman';
	font-size: 50px;
    font-weight: lighter;
    position: absolute;
    top: 0px;
    left: 20px;
}
.flow_box dl a{
	font-weight: bold;
	color: #008dfa;
	text-decoration: underline;
}

.point_box ol{
	margin: 0 0 30px;
	padding: 0;
	list-style: none;
}
.point_box ol:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.point_box ol li{
	box-sizing: border-box;
	margin-bottom: 25px;
}
.point_box ol li:last-child{
	margin-bottom: 0;
}
.point_box ol li div{
	background: rgba(255,255,255,0.94);
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	margin: -265px 20px 0;
	padding: 40px 20px 25px;
	position: relative;
	box-sizing: border-box;
}
.point_box ol li div .number{
	font-family: 'Times New Roman';
	font-size: 60px;
	font-weight: lighter;
	font-style: italic;
	color: #0040a1;
	position: absolute;
	top: -51px;
	left: 50%;
	margin-left: -30px;
	letter-spacing: -2px;
}
.point_box ol li div h3{
	color: #0040a1;
	font-size: 15px;
	font-style: italic;
	text-align: center;
	margin: 0 0 20px;
}
.point_box ol li div p{
	font-size: 14px;
	line-height: 1.8;
}

/* スライド */
.slick-slider{
	margin: 0;
	padding: 0;
	list-style: none;
}
.slides_li{
	position: relative;
	filter: alpha(opacity=30);
	-moz-opacity:0.30;
	opacity:0.30;
	pointer-events: none;
}
.slick-active.slides_li,
.slides_a:hover,
.slides_a:hover{
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
	pointer-events: all;
}
.slick-active.slides_li .slides_a:hover,
.slick-active.slides_li .slides_a:hover .slides_img{
	filter: alpha(opacity=85);
	-moz-opacity:0.85;
	opacity:0.85;
}
.slids_cat .post_lists_cat{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 5px 10px;
	background: #088C53;
	color: #fff;
	font-size: 12px;
	z-index: 10;
}
.slides_img{
	background-size: cover;
    background-position: center center;
	min-height: 300px;
}
.slides_text{
	background: url(img/slide_bg.png) repeat-x;
	background-size: auto 100%;
	position: absolute;
	bottom:0;
	left: 0;
	padding: 0 20px 50px;
	width: 100%;
}
.slides_title{
	color: #fff;
	height: 60px;
	overflow: hidden;
	font-size: 20px;
	margin: 0 0 15px;
	text-shadow: 0px 1px 6px rgba(150, 150, 150, 1);
}
.slides_p{
	color: #fff;
	height: 46px;
	overflow: hidden;
	margin: 0;
	font-size: 15px;
	text-shadow: 0px 1px 6px rgba(150, 150, 150, 1);
}
.slides_p a{
	color: #fff;
}
.slick-dots{
	bottom: 15px;
    left: 50%;
    margin: 0 0 0 -40px;
    position: absolute;
    width: 80px;
	pointer-events: none;
}
.slick-dots li{
	width: 15px;
	height: 15px;
	pointer-events: all;
}
.slick-dots li:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
}
.slick-dots li button{
	background: #CECECE;
	color: #CECECE;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}
.slick-dots .slick-active button{
	background: #006E3F;
	color: #006E3F;
}
.slick-dots li button:before{
	content: "";
}
.more-link{
	display: none;
}

/* 簡易求人検索*/
.search_box{
	text-align: center;
	padding: 30px 20px;
}
.search_input,
.postform{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(img/arr_d_g.png) no-repeat #fff;
    background-position: right 15px center;
    background-size: 15px auto;
	width: 47.5%;
    padding: 3% 5% 3% 3%;
    box-sizing: border-box;
    border-radius: 3px;
	display: inline-block;
	border: none;
	border:1px solid #DCDEDD;
}
.search_input:hover,
.postform:hover{
	cursor: pointer;
}
select::-ms-expand {
    display: none;
}
.search_input.b01{
	margin-right: 3%;
}
.search_submit{
	background: url(img/search.png) no-repeat #3063B4;
    background-position: right 15px center;
	background-size: 22px 22px;
    padding: 15px;
	color: #fff;
    box-sizing: border-box;
	border: none;
    border-radius: 3px;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	width: 99%;
	margin-top: 15px;
}
.search_submit:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
	cursor: pointer;
}
.search_more_btn{
	background: url(img/arr_r_w.png) no-repeat right 15px center #0241A0;    background-size: 8px auto;
	margin: 20px -20px -30px;
	border-radius: 0;
	color: #fff;
}

/* 新着求人*/
.page-search-job h2.title.search_job_title span,
.search .page-header h2.title span{
    line-height: 1.6;
	margin: -15px 0;
}
.recruit_lists{
	padding: 0;
	margin: 0;
	list-style: none;
}
.recruit_lists_li{
	margin: 0 0 25px;
	display: inline-block;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.recruit_lists_li_inner{
	padding: 20px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
}
.recruit_lists_title a{
	color: #0040a1;
	font-size: 16px;
	margin-bottom: 15px;
	line-height: 1.6;
	display: block;
	text-decoration: underline;
}
.recruit_lists_title a:hover{
	text-decoration: underline;
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.recruit_lists_table{
	font-size: 12px;
}
.recruit_lists_th,
.recruit_lists_td{
	border-top: 1px solid #dcdcdc;
	padding: 8px 0;
	font-weight: normal;
}
.recruit_lists_th{
	color: #777;
	white-space: nowrap;
}
.recruit_lists_p{
	height: 18px;
	overflow: hidden;
	margin: auto;
	line-height: 1.4;
}
.recruit_lists_exp{
	font-size: 12px;
	margin: 10px 0;
	line-height: 1.4;
}
.recruit_lists_btn{
	color:#0040a1;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding: 11px 0;
	text-align: center;
	background: url(img/arr_r_m.png) no-repeat right 15px center #DAE3F2;    background-size:9px auto;
	border: 1px solid #7F9FD0;
	border-radius: 5px;
}
.p_offer{
	font-size: 10px;
	text-align: right;
	margin: 5px 0 0;
}
.recruit_lists_li_inner.pickup{
	border: 1px solid #C8C9C4;
	background: #FFF7F5;
}
.pickup .recruit_lists_title{
	color: #f1642c;
}
.pickup .recruit_lists_btn{
	color:#f1642c;
	background: url(img/arr_r_p.png) no-repeat right 15px center #FFF0EB;
	background-size: 15px auto;
	border: 1px solid #f1642c;
	box-shadow:0px 2px 0px 0px #f1642c;
	-moz-box-shadow:0px 2px 0px 0px #f1642c;
	-webkit-box-shadow:0px 2px 0px 0px #f1642c;
}

/* コンサルタント紹介 */
.consul_box ul{
	list-style: none;
	margin: 0 -3%;
	padding: 0;
	text-align: center;
}
.consul_box ul:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.consul_box ul li{
	margin: 0 3% 5%;
    max-width: 44%;
    float: left;
}
.consul_box ul li img{
	box-shadow: 0 0 15px rgba(0,0,0,0.05);
}
.consul_box ul li p{
	background: url(img/arr_r_m.png) no-repeat right center;    background-size:9px auto;
	letter-spacing: 2px;
	margin: 11px 0 0;
	font-weight: bold;
	line-height: 1.6;
	font-size: 16px;
}
.consul_box ul li p span{
	display: block;
	color: #0040a1;
	font-size: 12px;
	letter-spacing: 0;
}
.profile_left{
	text-align: center;
}
.profile_left img{
	max-width: 50%;
}

/* 無料転職支援に申し込む */
.btn_box{
	text-align: center;
}
.btn_box img{
	width: 90%;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

/* 新着記事 */
.post_lists{
	padding: 0;
	margin: 0;
	list-style: none;
}
.post_lists_li{
	margin: 0 0 25px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.new_post{
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0;
	margin: 0;
}
.post_lists_img{
	height: 280px;
	background-size: cover;
	background-position: center center;
	position:relative;
}
a .post_lists_img:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
}
.post_lists_text{
	padding: 15px;
}
.post_lists_text .date{
	padding: 0;
	height: auto;
}
.post_lists_cat{
	color: #008DF7;
	font-weight: bold;
}
.post_li_title{
	height: 72px;
	overflow: hidden;
	margin-bottom: 10px;
	line-height: 1.6;
}
.post_p{
	font-size: 12px;
	color: #777;
	line-height: 1.4;
	height: 34px;
	overflow: hidden;
}
.tag_box a,
.know_tag a,
.tag-cloud-link{
	display: inline-block;
	font-size: 10px;
	color: #0040A1;
	background: #E1E7F5;
	border-radius: 30px;
	padding: 5px;
	margin-bottom: 5px;
}
.post_lists_li.second {
	padding: 15px;
	position: relative;
}
.post_lists_li.second .post_lists_img{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 15px;
	left: 15px;
}
.post_lists_li.second .post_lists_text{
	padding: 0 0 0 70px;
}
.post_lists_li.second .post_p{
	display: none;
}


/* 目的別で記事を探す */
.cat_lists{
	padding: 0;
	margin: 0 -2% 0 0;
	list-style: none;
}
.cat_lists:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.cat_lists .cat-item{
	margin: 0 2% 2% 0;
	float: left;
	width: 48%;
	color: #088b53;
	font-size: 14px;
	border-bottom: 1px solid #ADB8B4;
	display: table;
}
.cat_lists .cat-item a{
	color: #088b53;
	font-size: 14px;
	line-height: 1.2;
	padding: 20px 30px 20px 20px;
	display: table-cell;
	vertical-align: middle;
	background: url(img/arr_r_m.png) no-repeat right 10px center #fff;    background-size:9px auto;
	background-size: 15px auto;
}

/* 最新の求人や役立つ情報が手に入る！今すぐフォローしよう！ */
.sns_con_title{
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-bottom: 25px;
	line-height: 1.6;
}
.sns_con_title:before{
	content: "";
	background: url(img/sns_l.png) no-repeat;
	background-size: 21px 50px;
	width: 21px;
	height: 50px;
	position: absolute;
	top: -5px;
    left: 3%;
}
.sns_con_title:after{
	content: "";
	background: url(img/sns_r.png) no-repeat;
	background-size: 21px 50px;
	width: 21px;
	height: 50px;
	position: absolute;
	top: -5px;
    right: 3%;
}
.sns_con_lists{
	padding: 0;
	margin: 0;
	list-style: none;
}
.sns_con_li{
	padding: 0;
	margin:10px 0 0;
	text-align: center;
}

/**
 * Archive
 */
.arc_title_wrap{
    background-size: cover;
    background-position: center center;
    position: relative;
}
.arc_title{
	background: url(img/bg_hb.png);
	padding: 55px 0 35px;
}
.paged .new_post{
	display: none;
}

/* 記事を絞り込む */
.search_arc_wrap {
    background: url(img/ft_bg.jpg) repeat-y center center;
}
.search_arc{
	padding: 0 20px;
}
.search_arc_btn{
	background: url(img/btn_open_w.png) no-repeat right center;
	background-size: 20px auto;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border-radius: 0;
	padding: 20px 0;
	color: #fff;
	border: none;
}
.search_arc_btn.active{
	background: url(img/btn_close_w.png) no-repeat right center;
	background-size: 20px auto;
}
.search_arc_btn:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
	cursor: pointer;
}
.serach_arc_box{
	display: none;
	padding-bottom: 20px;
}
.postform{
	width: 100%;
	margin-bottom: 10px;
}
.serach_arc_text{
	border: none;
	width: 100%;
	padding: 3% 5% 3% 3%;
	box-sizing: border-box;
}
.search_arc #submit {
    width: 100%;
	background: url(img/search.png) no-repeat #999;
	background-position: right 15px center;
	background-size: 15px 15px;
}

/* pagenavi */
.page_navi{
	position: relative;
	max-width: 980px;
	margin: auto;
}
.wp-pagenavi{
	text-align: center;
	font-family: 'Hind', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	position: relative;
	padding: 20px;
}
.wp-pagenavi a,
.wp-pagenavi span{
	border: none
}
.previouspostslink{
	position: absolute;
	left: 20px;
	top: 10px;
}
.nextpostslink{
	position: absolute;
	right: 20px;
	top: 10px;
}
.page_navi_btn{
	width:70px;
}
.page_navi_bottom_wrap{
	border-top: 1px solid #C1C1C1;
}
.page_navi_bottom .wp-pagenavi{
	min-height: 74px;
}
.page_navi_bottom .pages{
	position: absolute;
    top: -40px;
	left:50%;
    width: 100%;
    text-align: center;
    padding: 0;
    display: block;
	margin-left: -50%;
}
.page_navi_bottom .pagetop02{
	position: absolute;
	top: 30px;
	left: 50%;
	width: 97px;
	margin-left:-48px;
}
.page_navi_bottom .pagetop02:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
	cursor: pointer;
}

/**
 * Single
 */
.entry_wrap{
	padding: 20px;
}
.single_post_lists_img {
    height: 300px;
}
.entry_header .date{
	text-align: center;
	padding: 0;
}
.entry-title{
	font-size: 18px;
	margin-bottom: 20px;
}
.entry_content h1 {
	color: #088b53;
	font-size: 18px;
	margin-bottom: 20px;
}
.entry_content h2 {
	border-bottom: 3px solid #efefef;
	color: #088b53;
	font-size: 26px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.entry_content h3 {
	border-left: 5px solid #088b53;
	font-size: 22px;
	padding-left: 10px;
	margin-bottom: 20px;
}
.entry_content h4 {
	color: #088b53;
	font-size: 18px;
	margin-bottom: 10px;
}
.entry_content h5 {
	font-size: 16px;
	margin-bottom: 5px;
}
.entry_content iframe{
	max-width: 100%;
}
.single_tag{
	margin: 30px 0;
}
.line_more_btn{
	background: url(img/arr_d_m.png) no-repeat right 15px center #fff;
	background-size: 15px auto;
	color: #0040A1;
	border:1px solid #0040A1;
}


/* シェアボタン */
.share_lists{
	list-style: none;
	padding: 0;
	margin: 0 -2% 30px 0;
}
.share_lists_li{
	width: 30%;
	display: inline-block;
	margin: 0 2% 0 0;
	padding: 0;
}
.share_a{
	display: block;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Hind', sans-serif;
	padding: 10px;
}
.share_fb{
	background: url(img/sns_icon01.png) no-repeat right 10px center #2a569c;
	background-size: 17px auto;
}
.share_tw{
	background: url(img/sns_icon02.png) no-repeat right 10px center #30a6df;
	background-size: 17px auto;
}
.share_li{
	background: url(img/sns_icon03.png) no-repeat right 10px center #00c300;
	background-size: 17px auto;
}

/* この記事を書いた人 */
.author_box{
	padding: 20px;
	margin: 0 auto 30px;
	background: #F2F2F2;
	position: relative;
}
.author-head{
	background: #0241A0;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	width: 145px;
	padding: 10px 15px;
	margin: 0 0 15px -20px;
	text-align: center;
}
.author-avatar{
	width: 100px;
	height: 100px;
	overflow: hidden;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #999;
}
.w_kamiya{
	background-image: url(img/w_kamiya.jpg);
}
.w_sukagawa{
	background-image: url(img/w_sukagawa.jpg);
}
.w_asano{
	background-image: url(img/w_asano.jpg);
}
.w_chiba{
	background-image: url(img/w_chiba.jpg);
}
.w_yamagami{
	background-image: url(img/w_yamagami.jpg);
}
.w_osaka{
	background-image: url(img/w_osaka.jpg);
}
.w_yamazaki{
	background-image: url(img/w_yamazaki.jpg);
}
.w_onishi{
	background-image: url(img/w_onishi.jpg);
}
.w_marugame{
	background-image: url(img/w_marugame.jpg);
}
.w_takano{
	background-image: url(img/w_takano.jpg);
}
.w_sakamoto{
	background-image: url(img/w_sakamoto.jpg);
}
.w_kikuchi{
	background-image: url(img/w_kikuchi.jpg);
}
.wp-user-avatar{
	width: auto;
	height: auto;
	max-width: 150%;
}
.author-position{
	font-size: 10px;
	color: #666;
	margin-bottom: 5px;
	padding-right: 120px;
	line-height: 1.6;
}
.author-title{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 1.5;
	padding-right: 120px;
}
.author-bio{
	font-size: 14px;
	margin: 0;
}
a.ditail{
	text-align: center;
	color: #fff;
	padding: 15px 0;
	font-size: 12px;
	font-weight: bold;
	font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	background: url(img/arr_c.png) no-repeat left 96% center #f0930e;
	background-size: 15px auto;
	box-shadow: 0px 3px 0px 0px #ba6d00;
    -moz-box-shadow: 0px 3px 0px 0px #ba6d00;
    -webkit-box-shadow: 0px 3px 0px 0px #ba6d00;
	border-radius: 10px;
	margin: 15px 0 5px;
	display: block;
}
.app_box_content{
	margin: 30px 0 30px;
	line-height: 1.4;
	/*padding:0 20px 20px;*/
}
.app_box_content.app_box_wrap h2 {
    font-size: 14px;
}
.pc.tab{
	display: none;
}
.sp.tab{
	display: block;
}
@media screen and (min-width: 640px) {
	a.ditail.sp{
		display: none;
	}
	a.ditail.pc{
		display: block;
		font-size: 18px;
		background-size: 20px auto;
	}
	.pc.tab{
		display: block;
	}
	.sp.tab{
		display: none;
	}
}
@media screen and (min-width: 768px) {
	a.ditail.pc{
		display: block;
		font-size: 20px;
		padding: 10px 0;
		background-size: 22px auto;
	}
	.pc.tab{
		display: block;
	}
}

/* 新着求人(記事詳細) */
.single_recruit_box{
	padding:30px 20px 0;
	margin: 30px 0;
}
.single_recruit_box li{
	margin: 0 0 25px;
}
.single_recruit_box .cnt_6{
	display: none;
}
.single_recruit_box h2.title,
.related_box h2.title,
.comment_box h2.title {
	font-size: 40px;
	margin: 10px 0 40px;
}
.single_recruit_box h2.title {
	margin: 10px 0 30px;
}
.single_recruit_box h2.title span,
.related_box h2.title span,
.comment_box h2.title span{
	font-size: 16px;
}


/* 関連記事(記事詳細) */
.related_box{
	padding:30px 10px 10px;
	margin-bottom: 30px;
}
.related_box .post_lists_li{
	background: none;
	padding: 0 0 15px;
	margin-bottom: 15px;
	box-shadow: none;
}
.related_box .post_lists_li:last-child{
	border: none;
	margin-bottom: 0;
}
.related_box .post_lists_li.second .post_lists_img {
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
}
.related_box .post_lists_li.second .post_lists_text {
    padding: 0 0 0 110px;
}
.related_box .date{
	margin-bottom: 5px;
}
.related_box .post_li_title{
	margin: 0;
	height: 64px;
	font-size: 14px;
    line-height: 1.5;
}

/* コメント */
.comment_box{
	padding:30px 10px 10px;
	margin-bottom: 30px;
}
.comment_form{
	background: #fff;
	padding: 10px;
}
.coment_att{
	font-size: 12px;
}
.comment_input{
	padding: 10px;
	width: 100%;
	border: 1px solid #c6c6c6;
	margin-bottom: 10px;
	font-family: unset;
}
.submit{
	background: url(img/comment.png) no-repeat #0040A1;
    background-position: right 15px center;
    background-size: 21px auto;
    padding: 15px 5%;
	color: #fff;
    box-sizing: border-box;
	border: none;
    border-radius: 3px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
}
.submit:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
	cursor: pointer;
}
.comment_title{
	text-align: center;
	font-size: 16px;
	margin: 10px 0 20px;
}
.comment_list{
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
	border-top: 1px solid #C6C6C6;
}
.comment_li{
	border-bottom: 1px solid #C6C6C6;
	padding: 30px 0;
}
.comment_date{
	text-align: right;
	font-size: 12px;
	color: #666;
	line-height: 1.6;
	margin: 20px 0 0;
}
.fn{
	display: block;
}

/* メルマガ登録 */
.mail_box{
	background: url(img/mail_bg.png) #fff;
	border: 2.5px solid #5C99AE;
	padding: 0 14.5px 11px;
    text-align: center;
	line-height: 1.3;
	margin: 30px 0 35px;
}
.mail_box h6{
	background:#5C99AE;
	border-bottom: 2px solid #91C6D8;
	padding:10px 0 10.5px;
	margin: -1px -15px 15.5px !important;
	color: #fff ! important;
	font-size: 14px !important;
	letter-spacing: 2px;
	line-height: 1.4;
}
.mail_box h6 span{
	padding-left: 40px; 
	display: inline-flex;
}
.mail_box h6 span:before{
	content: "";
	background: url(img/mail_icon.png) no-repeat;
	background-size: 100% auto;
	width: 32px;
	height: 30px;
	display: inline-block;
	margin-left: -40px;
	margin-right: 12px;
	margin-top: 1px;
}
.mail_box input.add{
	border: 2px solid #B0B0B0;
	border-radius: 5px;
	padding: 4.5px 10px;
	width: 100%;
	max-width: 257px;
	-webkit-appearance: none;
	font-size: 16px;
	height: 31px;
	box-sizing: border-box;
}
.mail_box input.add::-webkit-input-placeholder{
	color: #c3c3c3;
	font-weight: bold;
	letter-spacing: 1px;
}
.mail_box input.add:-ms-input-placeholder{
	color: #c3c3c3;
	font-weight: bold;
	letter-spacing: 1px;
}
.mail_box input.add::-moz-placeholder{
	color: #c3c3c3;
	font-weight: bold;
	letter-spacing: 1px;
}
.mail_box .submit{
	-webkit-appearance: none;
    background: #eb6100;
    box-shadow: 0px 3px 0px 0px #ba540c;
    -moz-box-shadow: 0px 3px 0px 0px #ba540c;
    -webkit-box-shadow: 0px 3px 0px 0px #ba540c;
    border-radius: 5px;
    display: block;
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 9.5px 0;
	font-size: 16px;
	letter-spacing: 2px;
	max-width: 207px;
	margin: 10px auto 5px;
	border: none;
	line-height: 1;
	box-sizing: border-box;
}

/**
 *  求人一覧
 */
.search_job_title{
	padding-top: 30px;
}

/*検索条件*/
.search_job_wrap{
	padding: 40px 20px;
	margin-bottom: -10px;
	background: url(img/ft_bg.jpg) repeat-y center center;
}
.search_job{
	background: #fff;
	border-radius: 3px;
	padding: 0 15px;
	max-width:1180px;
    margin: auto;
}
.search_job_btn{
	background: url(img/btn_open.png) no-repeat right center #fff;
	background-size: 20px auto;
	color: #0040a1;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border-radius: 0;
	padding: 15px 0;
	border: none;
}
.search_job_btn.active{
	background: url(img/btn_close.png) no-repeat right center #fff;
	background-size: 20px auto;
}
.search_job_btn:hover{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
	cursor: pointer;
}
.serach_job_box{
	display: none;
	padding-bottom: 15px;
}
.search_job_table{
	border-top: 1px solid #E8E8E8;
}
.search_job_th,
.search_job_td{
	padding: 15px 0;
	border-bottom: 1px solid #E8E8E8;
}
.search_job_th{
	white-space: nowrap;
	padding-right: 15px;
}
.job_label{
	display: table;
	margin-bottom: 10px;
}
.job_label .chk,
.job_label_p{
	display: table-cell;
}
.search_job .search_input{
	border: 1px solid #CCC;
	width: 75%;
}
.search_job .search_submit{
	width: 100%;
}

/*recruit pagenavi*/
.recruit_lists_box{
	padding-bottom: 0;
}
.recruit_navi{
	margin: 0 -20px 30px;
	background: rgba(0,0,0,0.05);
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
}
.recruit_navi_bottom{
	margin: 30px -20px 0;
}

.paged .new_mark{
	display: none;
}

/* page */
.entry-header {
    padding: 35px 0 10px;
}
.entry-content {
	line-height: 2;
	padding-bottom: 50px;
}
.entry-content h3{
    padding: 15px;
	background: -moz-linear-gradient(left, #3063B4, #A6BCDF); 
	background: -webkit-linear-gradient(left, #3063B4, #A6BCDF); 
	background: linear-gradient(to right, #3063B4, #A6BCDF); 
    font-size: 20px;
    margin: 0 0 20px;
    line-height: 1.6;
    color: #fff;
}
.entry-content h3.sec{
    margin-top:70px;
}
.entry-content h4{
	background: #f6f6f6;
	border-bottom: 1px solid #5F86C5;
	color: #0040a1;
    font-size: 16px;
    padding: 15px;
	line-height: 1.3;
	margin: 20px 0 10px;
}
.entry-content p.right{
	text-align: right;
}
.entry-content ul.line{
	list-style: none;
	padding: 0;
	margin: 0 0 30px;
}
.entry-content ul.line li{
	padding: 5%;
}
.entry-content ul.line li:first-child{
	padding: 5%;
	border-bottom: 1px dotted #ccc;
}
.entry-content ul.line li img{
	margin-bottom: 20px;
}
.entry-content img.center{
	display: block;
	margin: auto;
}
.entry-content p.center{
	text-align: center;
}
.entry-content .unl{
	margin: 0 0 20px;
	list-style: none;
}
.entry-content .unl li{
	display: table;
	padding: 20px 0;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.entry-content .unl li span{
	display: table-cell;
	color: #0040a1;
}
.entry-content ul.add{
	list-style: none;
	width: 100%;
	border: 2px solid #0040a1;
	padding: 0 15px;
	text-align: center;
	margin: 40px 0 0;
	box-sizing: border-box;
}
.entry-content ul.add li{
	box-sizing: border-box;
	padding: 15px 0;
}
.entry-content ul.add li:first-child{
	border-bottom: 1px dotted #0040a1;
}
.entry-content ul.add li strong{
	display: block;
	margin-bottom: -45px;
	color: #000;
}
.entry-content ul.add li:first-child strong{
	margin-bottom: -20px;
}
.entry-content ul.add li .more_btn{
	background: url(img/icon_mail.png) no-repeat right 20px center #3063B4;
	background-size: 25px auto;
	color: #fff;
	border:none;
}
.entry-content ul.add li .icon_tel{
	margin-top: -24px;
	width: 50px;
}
.entry-content ul.add li .tel,
.entry-content ul.add li .tel a{
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #0040a1;
}
.entry-content ul.add li .small{
	margin-top: -20px;
	display: block;
	font-size: 13px;
}
.page-tomorrow .entry-content p.center{
	font-size: 18px;
	font-weight: bold;
	color: #0040a1;
	margin: 50px 0 -10px;
}
.page-faq .entry-content p,
.page-consultants .entry-content p{
	padding: 15px;
}

/**
 *  Footer
 */ 

/*転職支援申込*/
.app_more_btn{
	background: url(img/arr_r_w.png) no-repeat right 15px center #E86423;    background-size: 8px auto;
	color: #fff;
	border:none;
	margin: 3%;
	font-size:16.5px;
}

/* 求人を検索 */
.search_box_side .search_more_btn{
	background: url(img/arr_r_w.png) no-repeat right 15px center #ccc;    background-size: 8px auto;
	border: none;
	padding: 5px 0;
}

/* よく読まれている記事 */
.rank_box{
	position: relative;
}
.rank_lists{
	list-style: none;
	padding: 0;
	margin: 0;
	counter-reset: number;
}
.rank_li{
	clear: both;
	margin:0 0 15px;
	min-height: 100px;
}
.rank_li:last-child{
	margin-bottom:0;
}
.rank_img{
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
    float: left;
}
.wpp-thumbnail {
    display: inline;
    float: none;
    margin: 0;
	position: absolute;
	max-width: 170%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.rank_img:before {
    color:#fff;
    content: counter(number);/*()内はcounter-resetで指定したものをそのまま書く*/
    counter-increment: number;/*ここはcounter-resetで指定したものをそのまま書く*/
    text-align: center;
	background:#E30425;
	font-family: 'Hind', sans-serif;
	font-weight: lighter;
    font-size: 14px;
	font-style:italic;
	padding:3px;
	width:24px;
	height: 24px;
	position:absolute;
	bottom:0;
	left:0;
	z-index: 10;
	line-height: 1.4;
}
.rank_text{
	margin-left: 115px;
}
.rank_text .date{
	padding: 0;
	height: auto;
	margin-bottom: 5px;
}
.wpp-category{
	color: #fff;
}
.wpp-category a{
	color: #008DF7;
}
.rank_title{
	clear: none;
	height: 60px;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.5;
}

/* 人気のタグ */
.tag_box_wrap{
	padding: 20px;
	border-top: 1px solid #f2f2f2;
}
.tag_box{
	background: #fff;
	padding: 20px;
}

/* 新着記事(フッター) */
.ft_post{
	padding-bottom: 40px;
}
.ft_post .post_li_title{
	height: auto;
}

/* SNS */
.sns_ft{
	text-align: center;
}
.fb-page{
	margin: auto;
}
.sns_btn{
	margin: 40px 0 0;
	padding: 0;
	text-align: center;
}
.sns_btn_li{
	list-style: none;
	width: 73px;
	display: inline-block;
	padding: 0;
	margin:0 5px;
}

/* footer */
footer{
	background: url(img/ft_bg.jpg) repeat-y center center;
	border-top: 1px solid #f2da91;
}
.ft_wrap{
	max-width: 1280px;
	margin: auto;
	padding: 45px 0 30px;
	text-align: center;
	position: relative;
}
.pagetop{
	position: absolute;
	top: -40px;
	right: 50%;
	width: 80px;
	margin-right: -40px;
}
.pagetop:hover{
	filter: alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
	cursor: pointer;
}
.ft_menu_lists{
	list-style: none;
	padding: 0;
	margin: 0 auto 30px;
	text-align: center;
}
.ft_menu_li{
	border-right: 1px solid #fff;
	display: inline-block;
	line-height: 1;
}
.ft_menu_li:last-child{
	border-right: none;
}
.ft_menu_a{
	color: #fff;
	font-size: 12px;
	padding: 0 15px;
	line-height: 1;
}
.copy_r{
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin: 0;
	padding: 0;
}
.single .copy_r{
	padding: 20px 0;/*20px 0 18%*/
}

/**
 * PC
 */
@media screen and (min-width: 480px) {
	.slides_img{
		min-height: 450px;
	}
	.post_lists_img {
		height: 380px;
	}
	.single_post_lists_img {
		height: 420px;
	}
	.share_lists {
		margin: 0 -5% 30px 0;
	}
}

@media screen and (min-width: 768px) {
	
	/* 共通 */
	.sp{
		display: none;
	}
	.pc{
		display: inline-block;
	}
	.pc.tab{
		display: block;
	}
	.sp.tab{
		display: none;
	}
	body {
		min-width: 1280px;
		overflow: auto !important;
	}
	.inner{
		max-width: 1180px;
		box-sizing: border-box;
		padding: 40px 0;
		margin: auto;
		position: relative;
	}
	.home .inner{
		max-width: 1280px;
	}
	.pc_min{
		min-height: 2260px;
	}
	.pc_inner{
		max-width: 830px;
		position: relative;
		word-wrap:break-word;
	}
	h2.title{
		font-family: 'Times New Roman';
		font-weight: normal;
		color: rgba(0,64,161,0.1);
		font-size: 80px;
		line-height: 0;
		margin: 30px 0 60px;
	}
	h2.title span{
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
		font-size: 26px;
		font-weight: bold;
		color: #000;
		display: block;
		margin: 0 auto;
	}
	
	/* 背景･色 */
	.bg_main{
		background: url(img/top_bg02.png) no-repeat center top #fafafe;
	}
	.bg_sub01{
		background: url(img/top_bg01.png) no-repeat center top #EDF1FA;
	}
	.bg_sub02{
		background: url(img/top_bg03.png) no-repeat center top #edf1f9;
	}
	.bg_sub03{
		background: url(img/top_bg04.png) no-repeat center top #d5e7f6;
		background-size: cover;
	}
	.flow_box_wrap{
		background: url(img/top_bg05.jpg?v2) no-repeat center top #D5E0F2;
	}
	.con08{
		background: url(img/top_bg06.png) no-repeat center top #d5e7f6;
		background-size: cover;
		background-size: cover;
	}
	
	/* header */
	.site-header{
		position: fixed;
		z-index: 1000;
		background: #fff;
		width: 100%;
		height: 80px;
		padding: 15px 0 15px 20px;
		box-sizing: border-box;
		box-shadow: 10px 0 30px rgba(0,0,0,0.1);
	}
	.site_title_img, .menu_btn_li_img {
		height: auto;
	}
	.site-header h1{
		margin: 0;
		padding: 9px 0 0;
		float: left;
	}
	.drawer_header_wrap{
		display: none;
	}
	.h_wrap{
		width: 1260px;
		margin: auto;
		display: block;
	}
	.drawer-nav {
		width: auto;
		position: static;
		margin: 0 auto;
		padding: 0;
		width: 1280px;
		background: none;
	}
	.overray{
		display: none !important;
	}
	.menu_lists{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.menu_lists li{
		float: left;
		padding: 0;
		margin: 2px 9px 0;
		border: none;
	}
	.menu_lists li:first-child{
		margin-left: 31px;
	}
	.menu_lists li a{
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		display: inline;
	}
	.menu_lists li a span{
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 9px;
		color: #0040a1;
		display: block;
		margin: auto;
	}
	.h_btn{
		list-style: none;
		margin: 0 17px 0 0;
		float: right;
		display: inline-block !important;
	}
	.h_btn li{
		display: inline-block;
		padding: 0;
		margin: 0 0 0 10px;
	}
	.h_btn li:last-child img{
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
	}
	
	/* トップ */
	.home .inner{
		max-width: 1280px;
		box-sizing: border-box;
		padding: 40px 0;
		margin: auto;
		position: relative;
	}
	.top_wrap{
		background: url(img/top_img2.jpg) no-repeat center center;
		min-height: 850px;
		text-align: center;
		margin-top: 80px;
	}
	.top_wrap.wrap1{
		background: url(img/top_img3.jpg) no-repeat center center;
		min-height: 850px;
		text-align: center;
		margin-top: 80px;
	}
	.con01 .top_btn{
		display: block;
		position: relative;
		top: 568px;
    	left: 495px;
		width: 295px;
		border-radius: 5px;
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
	}
	.con01 .top_btn img{
		width: auto;
		position: static;
	}
	.con03 .recruit_lists_li.cid_4,
	.con03 .recruit_lists_li.cid_5,
	.con03 .recruit_lists_li.cid_6{
		display: inline-block;
	}
	.ser_img{
		margin-top: -40px;
		margin-bottom: 20px;
	}
	.ser_box .ser_text{
		background: url(img/ser_bg.png) no-repeat right top #fff;
		background-size: 156px 156px;
		padding: 50px 65px 60px;
		box-sizing: border-box;
		max-width: 750px;
		position: absolute;
		top: 52px;
		right: 0;
		margin: 0;
	}
	.ser_box .ser_text .ser_logo{
		margin: auto;
		display: block;
	}
	.ser_box .ser_text h3{
		border: 1px solid #cd8724;
		color: #cd8724;
		font-size: 20px;
		text-align: center;
		padding: 22px;
		margin: 30px 0 20px;
		line-height: 1.5;
		letter-spacing: 1px;
	}
	.ser_box .ser_text p{
		font-size: 14px;
		line-height: 2;
		margin-bottom: 25px;
	}
	.ser_box .ser_text .more_btn{
		background: url(img/arr_r_w.png) no-repeat right 15px center #3265b4;    background-size: 8px auto;
		border-radius: 5px;
		color: #fff;
		border: none;
		width: 280px;
    	display: inline-block;
		margin: 0 13px;
	}
	.flow_box{
		padding-bottom: 60px;
		background: none;
	}
	.flow_box h2.title,
	.point_box h2.title,
	.consul_box h2.title{
		margin: 50px 0 95px;
	}
	.flow_box .flow_img{
		display: block;
		margin: 30px auto 0;
		box-shadow: 0 0 15px rgba(0,0,0,0.15);
	}
	.flow_box dl{
		background: none;
		position: absolute;
		top: 185px;
		left: 170px;
		box-shadow: none;
	}
	.flow_box dl dt{
		background: none;
		box-shadow: none;
		color: #0040a1;
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		line-height: 1.3;
		letter-spacing: 1px;
		position: relative;
		padding: 55px 0 50px 85px;
		box-sizing: border-box;
		width: 245px;
		float: left;
		clear: both;
		height: 150px;
	}
	.flow_box dl dt.fl02{
		padding-top: 40px;
	}
	.flow_box dl dt.fl04{
		padding-top: 70px;
	}
	.flow_box dl dd{
		background: none;
		box-shadow: none;
		font-size: 14px;
		line-height: 1.8;
		max-width: 700px;
		box-sizing: border-box;
		padding:30px 40px;
		float: left;
		height: 150px;
		margin: 0;
	}
	.flow_box dl dt.fl02 + dd{
		padding-top:20px;
	}
	.flow_box dl dt span{
		font-family: 'Times New Roman';
		font-size: 80px;
		font-weight: lighter;
		position: absolute;
		top: 20px;
    	left: 35px;
	}
	.flow_box dl a{
		font-weight: bold;
		color: #008dfa;
		text-decoration: underline;
	}
	
	.point_box{
		padding-bottom: 60px;
	}
	.point_box ol{
		margin: 0 48px 40px;
		list-style: none;
	}
	.point_box ol:after{
		content: '';
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
	.point_box ol li{
		margin: 0 14px;
		max-width: 366px;
		box-sizing: border-box;
		float: left;
	}
	.point_box ol li div{
		background: rgba(255,255,255,0.94);
		box-shadow: 0 0 10px rgba(0,0,0,0.15);
		margin: -265px 20px 0;
		padding: 50px 30px 35px;
		position: relative;
		height: 404px;
		box-sizing: border-box;
	}
	.point_box ol li div .number{
		font-family: 'Times New Roman';
		font-size: 60px;
		font-weight: lighter;
		font-style: italic;
		color: #0040a1;
		position: absolute;
		top: -51px;
    	left: 50%;
		margin-left: -30px;
		letter-spacing: -2px;
	}
	.point_box ol li div h3{
		color: #0040a1;
		font-size: 16px;
		font-style: italic;
		text-align: center;
		margin: 0 0 20px;
	}
	.point_box ol li div p{
		font-size: 14px;
		line-height: 1.8;
	}
	/* コンサルタント紹介 */
	.consul_box{
		padding-bottom: 130px;
	}
	.con09{
		padding-bottom: 80px;
	}
	.consul_box ul{
		list-style: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
	.consul_box ul li{
		display: inline-block;
		margin: 0 12px;
		float: none;
		width: auto;
	}
	.consul_box ul li img{
		box-shadow: 0 0 15px rgba(0,0,0,0.05);
	}
	.consul_box ul li p{
		background: url(img/arr_r_m.png) no-repeat right center;    background-size:9px auto;
		letter-spacing: 2px;
		margin: 11px 0 0;
		font-weight: bold;
		line-height: 1.6;
		font-size: 16px;
	}
	.consul_box ul li p span{
		display: block;
		color: #0040a1;
		font-size: 12px;
		letter-spacing: 0;
	}
	
	/* 無料転職支援に申し込む */
	.btn_box{
		padding: 59px 0 !important;
	}
	.btn_box img{
		width: auto;
	}

	/* 簡易求人検索*/
	.search_box h2.title{
		font-size: 60px;
		display: inline-block;
		margin: 0 -20px 0 0;
	}
	.sidebar_wrap .search_box{
		max-height: 1000px;
	}
	.sidebar_wrap h2.title{
		font-size: 45px;
		display: block;
		margin: 30px 0 40px;
	}
	.search_box h2.title span,
	.sidebar_wrap h2.title span{
		font-size: 16px;
	}
	.sidebar_wrap .search_box .search_input.b02 {
		max-width: 100%;
	}
	.search_box{
		padding: 44px 0 !important;
		max-height: 140px;
	}
	.search_box .search_input{
		padding: 12px 50px 12px 10px;
		border-radius: 5px;
		border:1px solid #DDD;
		display: inline-block;
		font-size: 14px;
		box-sizing: border-box;
		max-height: 47px;
	}
	.search_box .search_input.b01 {
		margin-right: 18px;
		max-width: 290px;
	}
	.search_box .search_input.b02 {
		margin-right: 16px;
		max-width: 210px;
	}
	.search_box .search_submit{
		background-size: 15px 15px;
		max-width: 145px;
		padding: 13px;
		margin-top: 0;
		font-size: 14px;
		box-sizing: border-box;
	}
	
	/* 新着求人*/
	.recruit_lists{
		margin: 65px 34px 0;
	}
	.page-search-job .recruit_lists{
		margin: 0;
	}
	.recruit_lists_li {
		display: inline-block;
		box-sizing: border-box;
		width: 47.5%;
		margin: 0 2% 25px 0;
	}
	.home .recruit_lists li:nth-child(3n){
		margin-right: 0;
	}
	.home .recruit_lists_li{
		max-width: 384px;
		width: auto;
	}
	.recruit_lists_li_inner{
		padding: 20px 20px 25px;
	}
	.recruit_lists_title{
		height: 75px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	.recruit_lists_table{
		font-size: 12px;
	}
	.recruit_lists_p{
		height: 18px;
		overflow: hidden;
		margin: auto;
		display: block;
	}
	.recruit_lists_exp{
		height: 49px;
		overflow: hidden;
	}
	.more_btn{
		margin:15px auto 0;
		max-width: 335px;
	}
	.recruit_box .more_btn{
		margin-bottom: 20px;
	}
	
	/* 新着記事 */
	.search_arc_btn.more_btn {
		max-width: 100%;
		border: none;
		color: #fff;
		border-radius: 5px;
		margin: 0 -10px;
		max-width: 1180px;
		margin: auto;
	}
	.search_arc.inner{
		max-width: 1180px;
	}
	.post_lists{
		margin: 0 -2% 0 0;
	}
	.post_lists:after{
		content: '';
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
	.post_lists_li{
		margin: 0 2% 15px 0;
		float: left;
		width: 47.8%;
	}
	.home .post_lists_li.cnt_5,
	.home .post_lists_li.cnt_6,
	.home .post_lists_li.cnt_7{
		display: none;
	}
	.post_lists_img{
		height: 225px;
	}
	.post_lists_text{
		padding: 15px;
	}
	.post_lists_text .date{
		padding: 0;
		height: auto;
	}
	.second .post_lists_cat{
		display: block;
	}
	.second .post_lists_sp,
	.rank_box .post_lists_sp{
		display: none;
	}
	.post_li_title{
		height: 72px;
		overflow: hidden;
	}
	.post_p{
		height: 34px;
		overflow: hidden;
	}
	.post_lists_tag{
		height: 61px;
		overflow: hidden;
	}
	.second .post_lists_tag{
		height: 35px;
		overflow: hidden;
	}
	.sns_con_title {
		font-size: 18px;
		margin-bottom: 30px;
	}
	.sns_con_title:before,
	.sns_con_title:after{
		top: -15px;
	}
	.sns_con_lists {
		margin: 0 -1% 0 0;
	}
	.sns_con_li {
		margin: 0 1% 0 0;
		width: 48.5%;
		display: inline-block;
	}
	
	/* page */
	.entry-header{
		padding: 130px 0 15px;
	}
	.entry-content ul.line li{
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	.entry-content ul.line li:first-child{
		border-right: 1px dotted #ccc;
		border-bottom: none;
	}
	.search-no-results .post_box.inner {
		padding: 55px 0;
	}
	.profile_lr_area {
		margin-bottom: 20px;
	}
	.profile_lr_area:after {
		content: "";
		clear: both;
		height: 0;
		display: block;
		visibility: hidden;
	}
	.profile_left {
		float: left;
		width: 186px;
		height: 290px;
		background: #ccc;
	}
	.profile_left img{
		max-width: 100%;
	}
	.profile_right {
		float: right;
		width: 624px;
	}
	.profile_right h4 {
		margin-top: 0 !important;
	}
	.entry-content ul.add{
		list-style: none;
		display: table;
		width: 100%;
		border: 2px solid #0040a1;
		padding: 10px;
		text-align: center;
		margin: 40px 0 0;
		box-sizing: border-box;
	}
	.entry-content ul.add li{
		display: table-cell;
		width: 50%;
		box-sizing: border-box;
	}
	.entry-content ul.add li:first-child{
		border-right: 1px dotted #0040a1;
		border-bottom: none;
		padding: 0 30px;
	}
	.entry-content ul.add li strong{
		display: block;
		margin-bottom: -35px;
		color: #000;
	}
	.entry-content ul.add li:first-child strong {
		margin-bottom: -30px;
	}
	.entry-content ul.add li .more_btn{
		background: url(img/icon_mail.png) no-repeat right 20px center #3063B4;
		background-size: 25px auto;
		color: #fff;
		border:none;
	}
	.entry-content ul.add li .icon_tel{
		margin-top: -24px;
	}
	.entry-content ul.add li .tel,
	.entry-content ul.add li .tel a{
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		font-weight: bold;
		color: #0040a1;
		text-decoration: none;
	}
	.entry-content ul.add li .small{
		margin-top: -20px;
		display: block;
		font-size: 13px;
	}
	
	/* Archive */
	.arc_title{
		padding: 90px 0 58px;
		margin-top: 80px;
	}
	.page_navi_wrap{
		margin-bottom:30px;
	}
	.page_navi_bottom_wrap{
		margin-bottom:0;
	}
	.page_navi_bottom .pages {
		position: static;
		margin-left: 0;
	}
	.pagetop02{
		display: none;
	}
	.search_arc_wrap {
		background: url(img/ft_bg.jpg) repeat-y center center;
		position: absolute;
		top:237px;
		left: 0;
		z-index: 10;
		width: 100%;
	}
	.search_arc_wrap span{
		background:url(img/btn_open_w.png) no-repeat right center;
		background-size: 20px auto;
	}
	.search_arc_wrap .search_arc_btn.active {
		background: url(img/btn_close_w.png) no-repeat right center;
		background-size: 20px auto;
	}
	.search_arc_wrap .search_submit {
    	background: url(img/search.png) no-repeat #999;
		background-position: right 15px center;
		background-size: 15px 15px;
	}
	.search_arc{
		padding: 0;
	}
	.search_input, .postform {
		padding: 2% 5% 2% 3%;
	}
	.serach_arc_text {
		border: none;
		width: 100%;
		padding: 2% 5% 2% 3%;
		box-sizing: border-box;
	}
	
	/* 最新の求人や役立つ情報が手に入る！今すぐフォローしよう！ */
	.sns_con_title:before {
		left: 20%;
	}
	.sns_con_title:after {
		right: 20%;
	}
	
	/* 記事詳細 */
	.share_btn.pc{
		display: block;
	}
	.author_box.pc a.ditail{
		display: block;
	}
	.single_post_img_wrap{
		margin: 110px auto 0;
		max-width: 1180px;
	}
	.single_post_lists_img {
		height: 510px;
    	width: 830px;
	}
	.author-avatar {
		width: 150px;
		height: 150px;
		border-radius: 85px;
		top: 50%;
		margin-top: -100px;
	}
	.author-bio {
		padding-right: 170px;
	}
	a.ditail {
		padding: 13px 0;
		font-size: 16px;
	}
	.single_recruit_box {
    	padding: 30px 15px 0;
	}
	.related_box {
		padding: 30px 15px 0;
	}
	.related_box .post_lists_li:last-child {
		background: none;
		padding: 0 0 15px;
		margin-bottom: 15px;
	}
	.related_box .post_lists_li.cnt_5,
	.related_box .post_lists_li.cnt_6{
		border-bottom: none;
		padding-bottom:0;
		margin-bottom: 0;
	}
	.comment_box {
		padding: 30px;
	}
	.comment_form {
		padding: 30px;
	}
	.no-results  {
		padding-top: 100px;
	}
	/* メルマガ登録 */
	.mail_box{
		padding: 0 15px 19px;
		margin: 30px 0 40px;
	}
	.mail_box h6{
		margin-top: 0 !important;
		padding: 12px 0 13px;
	}
	.mail_box h6 span{
		display: inline-block;
	}
	.mail_box h6 span:before {
		width: 22px;
		height: 21px;
		margin-bottom: -5px;
	}
	.mail_box h6{
		padding:15px 0 13px;
		margin: 0 -15px 17px !important;
		font-size: 16px !important;
		font-weight: normal;
		letter-spacing: 1px;
	}
	.mail_box h6 span:before{
		width: 21px;
		height: 21px;
		display: inline-block;
		margin-left: -40px;
		margin-right: 12px;
	}
	.mail_box input.add{
		border-radius: 5px;
		padding: 10px 13px;
		width: 100%;
		max-width: 412px;
		-webkit-appearance: none;
		font-size: 16px;
	height: 42px;
	}
	.mail_box .submit{
		box-shadow: 0px 4px 0px 0px #ba540c;
		-moz-box-shadow: 0px 4px 0px 0px #ba540c;
		-webkit-box-shadow: 0px 4px 0px 0px #ba540c;
		padding: 11px 0;
		font-size: 16px;
		letter-spacing: 3px;
		margin: 10px auto 5px;
		border: none;
		max-width: 412px;
		line-height: 1;
	}
	
	/* 求人一覧 */
	.page-search-job .site-main {
		margin-top: 80px;
	}
	.search_job_btn.more_btn{
		max-width: 100%;
		border: none;
		color: #0040a1;
		border-radius: 5px;
		margin: 0 -10px;
	}
	.recruit_navi {
		margin-bottom: 25px;
	}
	.recruit_navi.page_navi_bottom_wrap{
		margin-bottom: 0;
		border-bottom: none;
	}
	.search_job_title{
		padding-top: 290px;
		max-width: 1180px;
		margin: 30px auto 60px !important;
	}
	.search_job_wrap {
		background: url(img/ft_bg.jpg) repeat-y center center;
		position: absolute;
		top:0;
		left: 0;
		z-index: 10;
		width: 100%;
	}
	
	/* 新着求人(記事詳細) */
	.single_recruit_box{
		padding:30px 10px 0;
		margin: 30px 0;
	}
	.single_recruit_box li{
		width: 48%;
		margin: 0px 3% 25px 0;
	}
	.single_recruit_box li:nth-child(2n){
		margin-right: 0;
	}
	.single_recruit_box .cnt_6{
		display: none;
	}
	.single_recruit_box h2.title,
	.related_box h2.title,
	.comment_box h2.title {
		font-size: 60px;
		margin: 35px 0 60px;
	}
	.single_recruit_box h2.title {
		margin: 35px 0 -5px;
	}
	.single_recruit_box h2.title span,
	.related_box h2.title span,
	.comment_box h2.title span{
		font-size: 22px;
	}
	
	/* sidebar */
	.site-main{
		position: relative;
	}
	.sidebar_wrap{
		position: absolute;
		top: 276px;
		left: 0;
		width: 100%;
		min-width: 1280px;
		z-index: 0;
		pointer-events: none;
	}
	.page-knowhow .sidebar_wrap,
	.archive .sidebar_wrap,
	.search .sidebar_wrap{
		top: 457px;
	}
	.home .sidebar_wrap {
		top: 1020px;
	}
	.single .sidebar_wrap {
		top: 130px;
	}
	.page-search-job .sidebar_wrap{
		top: 568px;
	}
	.sidebar_inner{
		width: 1180px;
		margin: auto;
	}
	.secondary{
		width: 300px;
		float: right;
		pointer-events: all;
	}
	
	/* 転職支援申込 */
	.app_more_btn{
		margin: 0;
	}
	.app_box{
		padding: 15px;
	}
	.app_box_wrap .inner {
		background-size: auto 190px;
	}
	.app_box_wrap h2 {
		font-size: 20px;
		margin: -15px -15px 20px;
		line-height: 1.3;
	}
	.app_box .text {
		width: 83%;
		margin-left: 10px;
	}
	.app_box ul {
		margin: 20px 0 10px;
	}
	.app_box ul li{
		font-size: 14px;
		line-height: 1.4;
	}
	.app_box p{
		font-size: 13px;
		line-height: 1.3;
	}
	
	/* 簡単求人検索 */
	.home .search_box_side{
		display: none;
	}
	.search_box_side{
		margin-top: 20px;
	}
	.search_box_side .search_box {
		padding:15px !important;
	}
	.search_box_side .search_input{
		display: block;
		width: 98%;
		margin: 0 0 10px;
	}
	.search_box_side .search_submit {
		margin-top: 0;
	}
	.search_box_side .search_more_btn{
		background: url(img/arr_r_w.png) no-repeat right 15px center #ccc;    background-size: 8px auto;
		margin: 20px -15px -15px;
		border: none;
		padding: 5px 0;
	}
	
	/*　よく読まれている記事　*/
	.rank_box_wrap{
		margin: 30px 0;
		background: #f6f6f6;
	}
	.rank_box{
		padding: 15px;
	}
	.wpp-category{
		display: block;
		height: 18px;
		overflow: hidden;
	}
	.wpp-category a{
		display:block;
	}
	
	
	/* 人気のタグ */
	.tag_box{
		padding: 15px;
	}
	
	/* 新着記事 */
	.ft_post{
		margin: 30px 0 0;
		padding-bottom: 0;
	}
	.ft_post .post_box{
		padding: 15px;
	}
	.ft_post .post_lists {
		margin: 0;
	}
	.ft_post .post_lists_li {
		margin: 0 0 10px 0;
		float: none;
		width: 100%;
	}
	.ft_post .post_lists_tag {
		height: auto;
	}
	.ft_post .post_li_title{
		height: 72px;
	}
	.ft_post .more_btn {
		padding: 10px 0;
	}
	.ft_menu_lists{
		max-width: 1280px;
	}
	.ft_menu_li:nth-child(even){
		border-right: 1px solid #fff;
	}
	.ft_menu_a {
		font-size: 14px;
	}
	.pagetop{
		position: absolute;
		top: -79px;
		right: 0;
		width:auto;
	}
	
	.sns_ft_wrap{
		background: none;
	}
	.single .copy_r {
		padding: 20px 0;
	}
}

/********************----********************/
/******************** SP ********************/
/********************----********************/

@media screen and (max-width: 767px){

	/*---- 新規でセレクタを作りプロパティを追加いただくもの ----*/

	/* 目次機能 */
	
	#toc_container{
		margin-top: 3em;
		margin-bottom: 3em;
		padding: 16px 10px;
		border: 1px solid #ccc;
	}
	.toc_list a{
		line-height: 1.7;
		color: #2C52B7;
	}
	.toc_list>li>a{
		font-weight: bold;
	}
	#toc_container .toc_list>li>ul>li:last-child{
		margin-bottom: 16px;
	}

	/* 投稿 */
	
	.entry_content>p{
		font-size: 16px;
		line-height: 29.76px;
		color: #4b4b4b;
	}
	.entry_content p+h2{
		margin-top: 50px;
	}
	.entry_content p+h3{
		margin-top: 50px;
	}
	.entry_content p+h4{
		margin-top: 30px;
	}
	.entry_content blockquote{
		font-size: 10px;
		line-height: 1.6;
		color: #5C5C5C;
		/* text-align: center; */
		margin-bottom: 30px;
	}
	.entry_content p>img{
		margin-bottom: 20px;
		border: 1px solid #ccc;
	}
	.entry_content>p>a{
		color: #1F05CB;
		text-decoration: underline;
	}

	

	
	/*---- 既存にあるセレクタへプロパティを【　追記　】するもの ----*/

	/* 投稿 */

	.entry_content h3 {
		color: #5b99b7;
	}
	

	
	/*---- 既存にあるセレクタのプロパティを【　修正　】するもの ----*/

	/* 投稿 */

	.entry-title {
		font-size: 20px;
	}
	
	.entry_content h2 {
		color: #19474e;
		font-size: 22px;
	}
	.entry_content h3 {
		border-left: 5px solid #5b99b7;
		font-size: 20px;
	}
	.entry_content h4 {
		font-size: 18px;
	}
	
	/* ライター情報 */
	
	.author-title {
		font-size: 16px;
		margin-bottom: 6px;
	}	
	.author-bio {
		font-size: 10px;
		line-height: 1.7;
	}
	
}



/********************----********************/
/******************** PC ********************/
/********************----********************/

@media screen and (min-width: 768px) {


	/*---- 新規でセレクタを作りプロパティを追加いただくもの ----*/

	/* 目次機能 */
	
	#toc_container{
		margin-top: 3em;
		margin-bottom: 3em;
		padding: 30px;
		border: 1px solid #ccc;
	}
	.toc_list a{
		line-height: 1.7;
		color: #2C52B7;
	}
	.toc_list>li>a{
		font-weight: bold;
	}
	#toc_container .toc_list>li>ul>li:last-child{
		margin-bottom: 16px;
	}
	
	/* 投稿 */
	
	.entry_content>p{
		font-size: 16px;
		line-height: 29.76px;
		color: #4b4b4b;
	}
	.entry_content p+h2{
		margin-top: 50px;
	}
	.entry_content p+h3{
		margin-top: 50px;
	}
	.entry_content p+h4{
		margin-top: 30px;
	}
	.entry_content blockquote{
		font-size: 12px;
		line-height: 1.8;
		color: #5C5C5C;
		/* text-align: center; */
		margin-bottom: 30px;
	}
	.entry_content p>img{
		margin-bottom: 20px;
		border: 1px solid #ccc;
	}
	.entry_content>p>a{
		color: #1F05CB;
		text-decoration: underline;
	}
	
	
	/*---- 既存にあるセレクタへプロパティを【　追記　】するもの ----*/

	
	/* 投稿 */
	.entry-title {
		font-size: 26px;
	}
	
	.entry_content h3 {
		color: #5b99b7;
	}
	


	/*---- 既存にあるセレクタのプロパティを【　修正　】するもの ----*/

	
	/* 投稿 */
	
	.entry_content h2 {
		color: #19474e;
		font-size: 28px;
	}
	.entry_content h3 {
		border-left: 5px solid #5b99b7;
	}
	
	/* ライター情報 */
	
	.author-title {
		font-size: 22px;
		margin-bottom: 6px;
	}	
	.author-bio {
			font-size: 12px;
		line-height: 1.9;
	}
}
