@charset "utf-8";

/*------------------------------
common
------------------------------*/

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    color: #545454;
    background: #FFF;
    -webkit-text-size-adjust: 100%;
    word-wrap : break-word;
    overflow-wrap : break-word;
    word-break: break-all;
    font-weight: 600;
    overflow-x: hidden;
}
#wrapper {
    overflow: hidden;
    width:100%;
}
.pc {
    display: none;
}
.error {
    font-size: 11px !important;
    clear: both;
}
select+.error{
    margin-top: 7px !important;
}
.pctL,
.pctR {
    float: none;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}
.wide {
    width: 100% !important;
    height: auto;
}
.pagenation {
	margin: 0 0 20px 0;
	padding: 0;
}
.pagenation:last-child {
	margin-bottom: 0;
}
.pagenation ul {
	margin: 0px;
}
.pagenation li {
	float: left;
	margin: 0 5px 0 0;
	font-size: 13px;
    line-height: 1.0;
}
.pagenation li a,
.pagenation li span{
	padding: 6px 10px;
	display: block;
    box-sizing: border-box;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
}
.pagenation li a {
	background-color: #FFFFFF;
    text-decoration: none;
}
.pagenation li span.current {
	background-color: #52739C;
	font-weight: 900;
	color: #FFF;
    border: 1px solid #52739C;
}
button {
    cursor: pointer;
}
.mt15 {
    margin-top: 15px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt25 {
    margin-top: 25px !important;
}


/* +++++++++++++++++++++++ remodal +++++++++++++++++++++++ */

.searchBox{
border: 0px none;
}
.searchBox .box{
background-color: #FFFFFF;
border-top: solid 1px #e2e2e2;
}
.searchBox .box .inner {
    padding: 10px;
    position: relative;
}
.searchBox p.close{
	background-color: #cecece;
	border-radius: 15px;
	margin: 0;
	padding: 0;
	width: 70px;
	font-size: 12px;
	line-height: 1.2;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
	position: absolute;
	left: auto;
	right: 5px;
    top: 5px;
	z-index: 5000;
	background-size: 10px 10px;
}
.searchBox p.close a{
	display: block;
	padding: 5px 11px 5px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}
.searchBox .box.fl .list{
box-sizing: border-box;
margin: 0;
}
.searchBox h3{
font-size: 15px;
line-height: 1.3;
padding: 8px 0 8px 32px;
font-weight: 900;
margin: 0;
background-image: url(../images/ico_search.png);
	background-repeat: no-repeat;
    background-position: 12px 9px;
    background-size: 16px 16px;
}
.searchBox .box p:last-child{
margin-bottom: 0 !important;
}
.searchBox .box:first-child{
border-top: none 0;
}
.searchBox .box:nth-child(even){
background-color: #fafafa;
}
.searchBox .box h4{
font-size: 13px;
line-height: 1.3;
border-left: 3px solid #33a485;
border-bottom: 0 none;
padding: 0 0 0 7px;
font-weight: 900;
margin: 0 0 8px 0;
}
.searchBox .box h4 .ss{
font-size: 14px;
font-weight: 500;
}
.searchBox .box .list{
font-size: 16px;
line-height: 1.5;
}
.searchBox .box.fl h4{
box-sizing: border-box;
}
.searchBox .box button.btn{
    margin: 0;
    padding: 10px 0;
  border-radius: 6px;
  background-color: rgb(231, 87, 0);
  box-shadow: 0px 4px 0px 0px rgba(155, 58, 0, 1.0);
    text-align: center;
    color: #FFF;
    width: 100%;
    border: none 0;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 300px;
}
.searchBox .box button.btn span:after {
	margin:0 0 0 6px;
	content:" ";
	display:inline-block;
	width:12px;
	height:12px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: 0px;
}
.searchBox .box ul{
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.searchBox .box ul ul{
    margin: 7px 0 0 0;
    padding: 0;
    border-bottom: none 0px;
}
.searchBox .box ul:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none 0px;
}
.searchBox .box ul li{
    margin: 0 0 5px 0;
    padding: 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.searchBox .box ul li label{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.searchBox .box ul li.ss{
    margin-right: 2%;
    padding: 0;
    width: 49%;
}
.searchBox .box ul li.no{
    margin-right: 0;
}
.searchBox .box ul.area li{
    margin: 0 2% 5px 0;
    width: 32%;
}
.searchBox .box ul.area li:nth-child(3n){
    margin-right: 0;
}
.searchBox .box ul.two li{
    margin: 0 2% 5px 0;
    width: 49%;
}
.searchBox .box ul.two li:nth-child(2n){
    margin-right: 0;
}
.searchBox p.clearBtn {
    text-align: center;
}
.searchBox p.clearBtn input {
    -webkit-appearance: none;
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    padding: 6px 20px;
    box-sizing: border-box;
    margin: 0px 0px 10px 0px;
    background-color: #FFF;
    font-size: 12px;
}
.searchBox p.category {
    margin: 0 0 5px 0;
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(236,236,236) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(236,236,236) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(236,236,236) 100%);
  box-shadow: 1.414px 1.414px 1px 0px rgba(146, 146, 146, 1.0);
    font-size: 12px;
    line-height: 1.5;
}
.searchBox p.category a {
    margin: 0;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #2f2f2f;
}
.searchBox p.category a span:before {
	margin:0 15px 0 0;
    content:" ";
    display:inline-block;
    width:10px;
    height:6px;
    background:url(../images/ico_open_02.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
.searchBox .categoryBox {
    display: none;
}



/*------------------------------
header 
------------------------------*/

#header {
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #FFF;
}
#header .inner {
    margin: 0;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
    height: 46px;
}
#header p.logo {
    padding: 0;
    margin: 0;
}
#header p.logo img {
    height: 28px;
    width: auto;
}



/*------------------------------
menuBox
------------------------------*/

p#menuBtn {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
}
p#menuBtn a {
    display: block;
    background-image: url(../images/btn_menu.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
}
p#menuBtn a span {
    display: none;
}
#menuBox {
    display: none;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow-y: auto;
}
#menuBox::-webkit-scrollbar {
 display: none;
}
#menuBox p.btnMenuClose {
    font-size: 13px;
    line-height: 1.3;
    background-color: transparent;
    border-radius: 200px;
    text-align: center;
    margin: 0 20px;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: calc(100% - 40px);
    box-sizing: border-box;
}
#menuBox p.btnMenuClose a {
    padding: 8px 0px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    border-radius: 200px;
    border: solid 2px #FFF;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    box-sizing: border-box;
    cursor: pointer;
}
@media screen and (orientation:landscape) {
#menuBox p.btnMenuClose {
    position: relative;
    bottom: auto;
    margin-top:15px;
    margin-bottom: 15px;
}
}


/*------------------------------
navi
------------------------------*/

#navi {
    margin: 0;
    padding: 0;
}
#navi ul {
    margin: 0;
    width: 100%;
}
#navi ul li {
    width: 100%;
    border-top: solid 1px #979797;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 900;
    text-align: left;
}
#navi ul li a {
    padding: 16px 20px;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#navi ul li.point {
    font-size: 12px;
}
#navi ul li.point a {
    padding: 6px 20px 8px 30px;
}
#navi ul li.point a {
    background: url(../images/point_08.png) no-repeat;
    background-size: 4px 6px;
    background-position: 20px 11px;
}
#navi ul li.point.logout a {
    background: url(../images/ico_logout_02.png) no-repeat;
    background-size: 9px 10px;
    background-position: 20px 9px;
}
#navi ul li a:hover {
    color: #FFF;
}
#navi ul li.navi01,
#navi ul li.navi02,
#navi ul li.navi03,
#navi ul li.navi04,
#navi ul li.navi05,
#navi ul li.navi06{
    text-align: center;
}
#navi ul li.navi01{
    font-size: 16px;
    letter-spacing : 0.26em;
}
#navi ul li.navi02{
    font-size: 16px;
    letter-spacing : 0.28em;
}
#navi ul li.navi03,
#navi ul li.navi04,
#navi ul li.navi05,
#navi ul li.navi06{
    width: 50%;
    float: left;
    box-sizing: border-box;
    font-size: 14px;
}
#navi ul li.navi03{
    letter-spacing : 0.04em;
}
#navi ul li.navi04{
    letter-spacing : 0.2em;
}
#navi ul li.navi05{
    letter-spacing : 0.16em;
}
#navi ul li.navi06{
    letter-spacing : 0.04em;
}
#navi ul li.navi04,
#navi ul li.navi06{
border-left: solid 1px #979797;
}
#navi ul li.sp{
    clear: both;
}
#navi ul li.navi01 span:before {
    margin: 0 8px 0 0;
    content: " ";
    background: url(../images/ico_navi_01.png) no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -3px;
}
#navi ul li.navi02 span:before {
    margin: 0 7px 0 0;
    content: " ";
    display: inline-block;
    background: url(../images/ico_navi_02.png) no-repeat;
    background-position: center center;
    width: 17px;
    height: 17px;
    background-size: contain;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
#navi ul li.navi03 span:before {
    margin: 0 4px 0 0;
    content: " ";
    display: inline-block;
    background: url(../images/ico_navi_03.png) no-repeat;
    background-position: center center;
    width: 17px;
    height: 17px;
    background-size: contain;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
#navi ul li.navi04 span:before {
    margin: 0 4px 0 0;
    content: " ";
    display: inline-block;
    background: url(../images/ico_navi_04.png) no-repeat;
    background-position: center center;
    width: 15px;
    height: 17px;
    background-size: contain;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
#navi ul li.navi05 span:before {
    margin: 0 4px 0 0;
    content: " ";
    display: inline-block;
    background: url(../images/ico_navi_05.png) no-repeat;
    background-position: center center;
    width: 21px;
    height: 20px;
    background-size: contain;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
#navi ul li.navi06 span:before {
    margin: 0 6px 0 0;
    content: " ";
    display: inline-block;
    background: url(../images/ico_navi_06.png) no-repeat;
    background-position: center center;
    width: 13px;
    height: 20px;
    background-size: contain;
    vertical-align: middle;
    position: relative;
    top: -2px;
}


/* +++++++++++++++++++++++ fix +++++++++++++++++++++++ */

* html #floating.fixed {
    background: url(null) fixed;
}
#floating.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 8000;
	margin: 0;
	padding: 0;
}
#floating.fixed #header {
    border-bottom: solid 2px #ee5600;
}


/*------------------------------
h1
------------------------------*/

h1 {
    margin: 0 0 15px 0;
    padding: 10px 0;
    background-color: rgb(85, 84, 84);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    border-top: solid 2px #ee5600;
}
h1.no {
    margin-bottom: 0;
}
h1 img {
    margin: 0 7px 0 0;
    padding: 0;
    vertical-align: middle;
}


/*------------------------------
messageBox
------------------------------*/

#messageBox {
    margin: 0;
    padding: 0;
    background-color: rgb(85, 84, 84);
    text-align: left;
    border-top: solid 2px #ee5600;
}
#messageBox .inner {
    margin: 0;
    padding: 5px 12px;
}
#messageBox p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    color: #FFF;
}



/*------------------------------
profileMessageBox
------------------------------*/

#profileMessageBox {
    margin: 0 0 10px 0;
    padding: 0;
    background-color: #cbf9df;
    text-align: center;
    border-bottom: solid 2px #99c9ad;
}
#profileMessageBox .inner {
    margin: 0;
    padding: 16px 0;
}
#profileMessageBox p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    color: #25593b;
}
#profileMessageBox p span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:20px;
    height:17px;
    background:url(../images/ico_check.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#profileMessageBox.mailerror {
    background-color: #f9e1e1;
    border-bottom: solid 2px #b9b8af;
}
#profileMessageBox.mailerror p {
    color: #e10707;
}
#profileMessageBox.mailerror p span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:21px;
    height:21px;
    background:url(../images/ico_error.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#profileMessageBox.mailsend {
    background-color: #f8efe3;
    border-bottom: solid 2px #dbd3c7;
}
#profileMessageBox.mailsend p {
    color: #941313;
    font-size: 12px;
    line-height: 1.41;
}
#profileMessageBox.mailsend .icoBox {
    text-align: left;
    margin: 0 10px;
    padding: 0 0 0 55px;
    background: url(../images/ico_send.png) no-repeat left 10px center;
    background-size: 35px 20px;
}



/*------------------------------
registPage
------------------------------*/

#registPage {
    margin: 0 10px;
    padding: 0;
    text-align: left;
}
#registPage h2 {
    margin: 0 0 20px 0;
    padding: 0;
  color: #3F3F3F;
  line-height: 1.5;
    font-weight: 900;
}
#registPage p {
    margin: 0 0 15px 0;
    padding: 0;
  font-size: 10px;
  color: #898989;
  line-height: 1.4;
}
#registPage p#summary {
    margin: 0 0 20px 0;
}
#registPage p.txtLogin {
    margin: 0 0 20px 0;
    font-size: 10px;
    text-align: center;
}
#registPage p.txtLogin a {
    color: #1981ca;
}
#registPage button.btnLogin,
#registPage p.btnLogin{
    margin: 20px auto;
    padding: 15px 0;
    border-radius: 6px;
    background-color: rgb(47, 180, 122);
    box-shadow: 0px 5px 0px 0px rgba(19, 126, 79, 1.0);
    width: 100%;
    max-width: 300px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none 0;
    display: inline-block;
}
#registPage button.btnLogin span:after,
#registPage p.btnLogin span:after{
	margin:0 0 0 6px;
	content:" ";
	display:inline-block;
	width:16px;
	height:16px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -2px;
}
#registPage p.btnLogin a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}
#registPage #mailBox input.txt {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border: solid 1px #BEBEBE;
    border-radius: 6px;
    background: #F8F8F8;
    font-size: 14px;
}
#registPage #mailBox input.txt+.error{
    margin-top: 7px !important;
}
#registPage #mailBox {
    margin: 0 0 15px 0;
    width: 100%;
}
#registPage #mailBox p {
    margin: 0 0 10px 0;
    padding: 0;
}
#registPage #mailBox p#txtComplete {
    margin: 0 0 0 5px;
}
#registPage #mailBox p.ex {
    margin: 0;
    font-size: 9px;
}
#registPage #mailBox p.limited {
    margin: 0 0 15px 0;
}
#registPage #mailBox p.limited img {
    width: 100%;
    height: auto;
}
#registPage #mailBox p.txt {
    margin: 0 0 15px 0;
    padding: 0;
  font-size: 10px;
  color: #262626;
  line-height: 1.5;
    text-align: center;
}


/*------------------------------
securityBox
------------------------------*/

#securityBox {
  border-width: 1px;
  border-color: rgb(229, 229, 229);
  border-style: solid;
  border-radius: 5px;
  background-color: #f9f9f9;
    background: url(../images/ico_key.png) no-repeat 15px center;
    background-size: 15px 18px;
    margin: 20px auto 0 auto;
    padding: 6px 15px 6px 40px;
    text-align: left;
    width: 90%;
    max-width: 300px;
    box-sizing: border-box;
}
#securityBox p {
    margin: 0;
    font-size: 8px;
    color: #919191;
}
#securityBox a.link {
    color: #919191;
}


/*------------------------------
co
------------------------------*/

#co {
    margin: 0;
    padding: 0;
    text-align: left;
}
#co #mainCo {
    margin: 0;
    padding: 0;
}
#co #subCo {
    margin: 0;
    padding: 0;
}


/*------------------------------
ouboList
------------------------------*/

.ouboList {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    text-align: left;
}
.ouboList .inner {
    margin: 0;
    padding: 10px 10px 15px 10px;
}
.ouboList h2 {
    margin: 0 0 4px 0;
    padding: 7px 10px;
    background-color: rgb(51, 164, 133);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #FFF;
    border-radius: 6px 6px 0 0;
}
.ouboList h2 span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:17px;
    background:url(../images/ico_oubo.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
.ouboList .entry {
	margin: 0 0 3px 0;
    padding: 0;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.707px 0.707px 2px 0px rgba(0, 0, 0, 0.28);
}
.ouboList .entry a {
	margin: 0;
    padding: 10px 20px 10px 10px;
    display: block;
    text-decoration: none;
    background: url(../images/point_04.png) no-repeat right 10px center;
    background-size: 10px 14px;
}
.ouboList .entry p.category {
	margin: 0 0 8px 0;
    padding: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
}
.ouboList .entry p.category strong {
    color: #e51717;
    font-family: Arial, Helvetica, "sans-serif";
}
.ouboList .entry p.category .ico {
    margin: 0 10px 0 0;
    padding: 0;
    border-radius: 2px;
    background-color: rgb(51, 164, 133);
    display: inline-block;
    color: #FFF;
    width: 90px;
    height: 18px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 0.4em;
    font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", Meiryo, sans-serif;
    line-height: 18px;
}
.ouboList .entry p.name {
	margin: 0 0 4px 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.3;
    font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", Meiryo, sans-serif;
}
.ouboList .entry p.detail {
	margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.3;
    color: #5784df;
    text-decoration: underline;
    width: 97%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.ouboList p.btn {
    margin: 13px 30px 0 30px;
  border-radius: 6px;
  background-color: rgb(51, 164, 133);
  box-shadow: 0px 4px 0px 0px rgba(38, 109, 90, 1.0);
    font-size: 15px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
}
.ouboList p.btn a {
    padding: 12px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
.ouboList p.btn a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
.ouboList .txt {
    margin: 0;
    padding: 12px 0;
  background-color: rgb(255, 255, 255);
    border-radius: 0 0 4px 4px;
    text-align: center;
}
.ouboList .txt p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}
.ouboList .txt p .ss {
    font-size: 10px;
}

.ouboList.unread {
    background: #e7e7e7;
}
.ouboList.unread h2 {
    background-color: #c73a58;
    text-align: center;
    font-size: 12px;
}
.ouboList.unread h2 span:before {
    content: none;
}
.ouboList.unread h2 strong {
    color: #f6ff0a;
    font-weight: 600;
}
.ouboList.unread h2 strong.number {
    font-size: 15px;
}
.ouboList.unread .entry a {
    background: url(../images/point_06.png) no-repeat right 10px center;
    background-size: 10px 14px;
}
.ouboList.unread .entry p.category .ico {
  background-color: #c73a58;
    letter-spacing: 0.1em;
}
.ouboList.unread .entry p.category strong {
    color: #191919;
}
.ouboList.unread .entry p.category .new {
    display: inline-block;
    font-size: 10px;
    font-weight: 900;
    color: #e60012;
    margin: 0 8px 0 0;
    font-family: Arial, Helvetica, "sans-serif";
}
.ouboList.unread p.btn {
  background-color: rgb(199, 58, 88);
  box-shadow: 0px 4px 0px 0px rgba(145, 1, 1, 1.0);
}




/*------------------------------
kibouList
------------------------------*/

#kibouList {
    margin: 0 0 20px 0;
    padding: 0;
    background: #7ca5cb;
    text-align: left;
}
#kibouList .inner {
    margin: 0;
    padding: 13px 10px;
}
#kibouList h2 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    color: #FFF;
}
#kibouList h2 span:before {
	margin:0 5px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:17px;
    background:url(../images/ico_oubo.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#kibouList p.btn {
    margin: 13px 30px 0 30px;
  border-radius: 6px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 4px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    border: 0;
}
#kibouList p.btn a {
    padding: 12px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#kibouList p.btn a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#kibouList p.btn.ss {
    margin: 0 0 12px 0;
    font-size: 12px;
    float: right;
    display: inline-block;
  box-shadow: 0px 2px 0px 0px rgba(25, 49, 73, 1.0);
}
#kibouList p.btn.ss a {
    padding: 7px 10px;
}
#kibouList p.btn.ss a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#kibouList .entry {
    margin: 0 0 1px 0;
    padding: 0;
  background-color: rgb(255, 255, 255);
    clear: both;
}
#kibouList .entry a {
	margin: 0;
    padding: 10px 30px 10px 10px;
    display: block;
    text-decoration: none;
    background: url(../images/point_03.png) no-repeat right 10px center;
    background-size: 10px 14px;
}
#kibouList .entry p.date {
	margin: 0 0 10px 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.4;
}
#kibouList .entry p.detail {
	margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    color: #0363b5;
    text-decoration: underline;
}
#kibouList p.txt {
    margin: 12px 0 0 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    font-weight: 300;
}
#kibouList p.txt a {
    color: #FFF;
}
#kibouList .txtBox {
    margin: 0;
    padding: 15px 0;
  background-color: #C0D9F1;
    text-align: center;
    clear: both;
}
#kibouList .txtBox p {
    margin: 0;
    padding: 0;
  font-size: 12px;
  color: #222222;
  line-height: 1.667;
}
#kibouList .txtBox p a {
  color: #ab6112;
}




/*------------------------------
historyBox
------------------------------*/

#historyBox {
    display: none;
}

/*------------------------------
offerSearch
------------------------------*/

#offerSearch {
    margin: 0 0 40px 0;
    padding: 0;
    background: #cfcfcf;
    text-align: left;
}
#offerSearch.common {
    display: none;
}
#offerSearch .inner {
    margin: 0;
    padding: 24px 10px 18px 10px;
}
#offerSearch h2 {
    margin: 0;
    padding: 12px 18px;
    background: #717171;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    color: #FFF;
}
#offerSearch h2 span:before {
	margin:0 8px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:15px;
    background:url(../images/ico_offer.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#offerSearch #selectList{
    margin: 0;
    padding: 0 10px 20px 10px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
}
#offerSearch #selectList select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #898484;
    border-radius: 5px;
    width: 100%;
    background-color: #FFF;
    background-image: url(../images/select_point.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 6px 25px 6px 10px !important;
    box-sizing: border-box;
    font-size: 12px;
    /*Firefox用*/
    text-indent: .01px;
    text-overflow: “”;
    margin: 0;
    display: table-cell;
    overflow: hidden;
    white-space: nowrap;
}
#offerSearch #selectList .ico {
    display: table-cell;
    padding: 0;
    width: 24px;
    text-align: center;
}
#offerSearch #selectList .ico img {
    vertical-align: middle;
}
#offerSearch #selectCount {
    margin: 0 0 2px 0;
    padding: 10px;
  background-color: rgb(255, 255, 255);
    clear: both;
}
#offerSearch #selectCount p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.3;
    color: #575757;
}
#offerSearch #selectCount p strong {
    font-size: 14px;
    color: #313131;
    font-weight: 900;
}
#offerSearch .entry {
    margin: 0 0 2px 0;
    padding: 0;
  background-color: rgb(255, 255, 255);
    clear: both;
}
#offerSearch .entry a {
	margin: 0;
    padding: 10px 25px 10px 10px;
    display: block;
    text-decoration: none;
    background: url(../images/point_03.png) no-repeat right 10px center;
    background-size: 10px 14px;
}
#offerSearch .entry p.date {
	margin: 0 0 10px 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.4;
}
#offerSearch .entry p.jobs {
	margin: 0;
    padding: 15px;
    font-size: 12px;
    line-height: 1.4;
}
#offerSearch .entry p.detail {
	margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    color: #0363b5;
    text-decoration: underline;
}
#offerSearch p.btn {
    margin: 14px 30px 0 30px;
  border-radius: 6px;
  background-color: rgb(113, 113, 113);
  box-shadow: 0px 4px 0px 0px rgba(79, 77, 77, 1.0);
    font-size: 15px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;  
}
#offerSearch p.btn a {
    padding: 12px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#offerSearch p.btn a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}



/*------------------------------
knowhowBox
------------------------------*/

#knowhowBox {
    margin: 0 10px 10px 10px;
    padding: 0;
}
#knowhowBox h2 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    border-bottom: solid 2px #6db7a3;
}
#knowhowBox h2 span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:14px;
    height:17px;
    background:url(../images/ico_knowhow.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#knowhowBox ul {
    margin: 0;
    padding: 0;
}
#knowhowBox ul li {
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #cbcbcb;
    font-size: 16px;
    font-weight: 600;
}
#knowhowBox ul li p.photo {
    margin: 0 20px 0 0;
    padding: 0;
    width: 80px;
    float: left;
}
#knowhowBox ul li .txt {
    margin: 0;
    padding: 0;
    width: calc(100% - 100px);
    float: left;
}
#knowhowBox ul li span {
    font-size: 11px;
    display: block;
    padding: 5px 0 0 0;
    font-weight: 300;
}
#knowhowBox ul li a {
    margin: 0;
    padding: 7px 40px 7px 10px;
    display: block;
    text-decoration: none;
    background: url(../images/point_05.png) no-repeat right 10px center;
    background-size: 9px 11px;
    color: #555555;
}


/*------------------------------
btnTel
------------------------------*/

.btnTel {
    margin: 0 10px 10px 10px;
    border-radius: 6px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 4px 0px 0px rgba(193, 193, 193, 1.0);
    text-align: center;
}
.btnTel a {
    margin: 0;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    color: #555555;
}
.btnTel p.txt {
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 1.4;
    font-weight: 300;
}
.btnTel p.img {
    margin: 7px 0;
    padding: 0;
}


/*------------------------------
footNavi
------------------------------*/

#footNavi {
    margin: 0 10px;
    padding: 0;
    text-align: left;
}
#footNavi ul {
    margin: 0;
    padding: 0;
    border-top: solid 1px #cbcbcb;
}
#footNavi ul li {
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #cbcbcb;
    font-size: 12px;
}
#footNavi ul li a {
    margin: 0;
    padding: 10px;
    display: block;
    color: #555555;
    text-decoration: none;
}
#footNavi ul li.n01 span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:16px;
    background:url(../images/ico_footer_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#footNavi ul li.n02 span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:16px;
    background:url(../images/ico_footer_02.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#footNavi ul li.n03 span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:16px;
    background:url(../images/ico_footer_03.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#footNavi ul li.n04 span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:16px;
    background:url(../images/ico_footer_04.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#footNavi ul li.n05 span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:16px;
    background:url(../images/ico_footer_05.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}


/*------------------------------
footLinks
------------------------------*/

#footLinks {
    margin: 0;
    padding: 20px 0 13px 0;
    background-color: #efefef;
}
#footLinks.sp {
    padding: 13px 0;
}
#footLinks p {
    margin: 0 0 13px 0;
    padding: 0;
    font-size: 10px;
    line-height: 2.5;
    font-weight: 300;
}
#footLinks .ssl {
    margin: 0 7px;
    padding: 10px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
text-align: left;
}
#footLinks .ssl p {
    margin: 0;
    padding: 0;
    font-size: 9px;
    line-height: 1.4;
    float: left;
    font-weight: 300;
    width: calc(100% - 60px);
}
#footLinks .ssl .seal {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
    width: 50px;
}
#footLinks .ssl .seal img {
    height: 30px !important;
    width: auto !important;
}



/*------------------------------
footer
------------------------------*/

#footer {
    padding: 0 0 60px 0;
    margin: 20px 0 0 0;
}
body#detail #footer{
    padding: 0 0 20px 0;
}
#footer.nologin{
    padding: 0;
}
#footer .inner {
    padding: 0;
    margin: 0 15px 10px 15px;
}
#footer p.logo {
    margin: 0 0 8px 0;
    float: left;
}
#footer p.logo img {
    height: 30px;
    width: auto;
}
#footer p.btn {
    margin: 0;
  border-radius: 4px;
  background-color: rgb(113, 113, 113);
  box-shadow: 0px 2px 0px 0px rgba(79, 77, 77, 1.0);
    font-size: 11px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;  
    width: 172px;
    float: right;
}
#footer p.btn a {
    padding: 5px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#footer p.btn a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#footer p.copy {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
}
#footer.nologin p.logo {
    float: none;
    text-align: center;
}



/*------------------------------
cautuonBox
------------------------------*/

#cautionBox {
    margin: 13px 10px;
    padding: 0;
  border-width: 2px;
  border-color: #D70B20;
  border-style: solid;
  background-color: #F2F2F2;
    text-align: left;
}
#cautionBox .inner {
    margin: 0;
    padding: 10px;
}
#cautionBox h2 {
    margin: 0 0 12px 0;
    padding: 0 0 0 45px;
    font-size: 15px;
    color: rgb(184, 4, 22);
    line-height: 1.267;
    background: url(../images/ico_caution.png) no-repeat left 1px;
    background-size: 35px 35px;
}
#cautionBox p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: rgb(93, 93, 93);
    line-height: 1.455;
}




/*------------------------------
loginPage
------------------------------*/

#loginPage {
    margin: 0 10px 35px 10px;
    padding: 0;
    text-align: center;
}
#loginPage ul.inputBox {
    margin: 0 0 13px 0;
    padding: 0;
}
#loginPage ul.inputBox li {
    margin: 0 0 7px 0;
    padding: 0;
    text-align: center;
}
#loginPage ul.inputBox li:last-child {
    margin-top: 13px;
}
#loginPage ul.inputBox li input.txt {
  border: solid 1px #8F8F8F;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  box-shadow: inset 1.2px 1.2px 3px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
}
#loginPage ul.inputBox li .error {
    margin: 7px auto 0 auto;
    padding: 0;
    width: 100%;
    max-width: 300px;
    text-align: left;
}
#loginPage ul.inputBox li label {
    margin: 0 auto;
  border-radius: 6px;
  background-color: #858585;
    padding: 6px 0;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #FFF;
    line-height: 1.4;
    max-width: 300px;
}
#loginPage p.forget {
    margin: 0 auto 15px auto;
    font-size: 12px;
    line-height: 1.5;
    text-align: right;
    max-width: 300px;
}
#loginPage p.forget a {
    color: #5276d1;
}
#loginPage button.btnLogin {
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 6px;
    background-color: rgb(70, 179, 199);
    box-shadow: 0px 5px 0px 0px rgba(48, 137, 153, 1.0);
    width: 100%;
    max-width: 300px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none 0;
}
#loginPage button.btnLogin span:after {
	margin:0 0 0 6px;
	content:" ";
	display:inline-block;
	width:16px;
	height:16px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -2px;
}






/*------------------------------
registBox
------------------------------*/

#registBox {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e7f3ed;
}
#registBox .inner {
    margin: 0 10px;
    padding: 27px 0;
}
#registBox h2 {
    margin: 0 0 15px 0;
    padding: 0;
  font-size: 16px;
  color: #219361;
  line-height: 1.5;
}
#registBox ul.inputBox {
    margin: 0 0 13px 0;
    padding: 0;
}
#registBox ul.inputBox li {
    margin: 0 0 7px 0;
    padding: 0;
    text-align: center;
}
#registBox ul.inputBox li input.txt {
  border: solid 1px #8F8F8F;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  box-shadow: inset 1.2px 1.2px 3px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
}
#registBox p.merit {
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
    text-align: right;
    max-width: 300px;
}
#registBox p.merit a {
    color: #5276d1;
}
#registBox button.btnRegist {
    margin: 0 auto 20px auto;
    padding: 10px 0;
    border-radius: 6px;
    background-color: rgb(47, 180, 122);
    box-shadow: 0px 5px 0px 0px rgba(19, 126, 79, 1.0);
    width: 100%;
    max-width: 300px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none 0;
}
#registBox button.btnRegist span:after {
	margin:0 0 0 6px;
	content:" ";
	display:inline-block;
	width:16px;
	height:16px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -2px;
}


/*------------------------------
conditionsList
------------------------------*/

#conditionsList {
    margin: 0 10px 20px 10px;
    padding: 0;
    text-align: left;
    border: solid 2px #ababab;
    background-color: #FFF;
}
#conditionsList h2 {
    margin: 5px 0 0 10px;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
}
#conditionsList p.btn {
    margin: 3px 3px 5px 0;
  border-radius: 4px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 2px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 11px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center; 
    float: right;
    display: inline-block;
}
#conditionsList p.btn a {
    padding: 5px 10px 3px 15px;
    color: #FFF;
    text-decoration: none;
    display: block;
}
#conditionsList p.btn a span:after {
	margin:0 0 0 5px;
    content:" ";
    display:inline-block;
    width:10px;
    height:10px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: 0;
}
#conditionsList table {
    margin: 0;
    padding: 0;
    clear: both;
    width: 100%;
}
#conditionsList table th,
#conditionsList table td{
    margin: 0;
    padding: 5px;
    font-size: 10px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}
#conditionsList table th{
    text-align: right;
    white-space: nowrap;
    padding-right: 0;
    width: 80px;
}
#conditionsList table td{
    padding-left: 0;
}
#conditionsList table tr:nth-child(odd){
    background-color: #e7e7e7;
}




/*------------------------------
jobList
------------------------------*/

#jobList {
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
}
#jobList p {
     margin: 0 10px 10px 10px;
    padding: 0;
    font-size: 10px;
    line-height: 1.5;
}
#jobList .pagenation {
    margin: 0 10px 12px 10px;
}
#jobList h2.title {
    margin: 0 0 12px 0;
    padding: 0 0 10px 10px;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    border-bottom: solid 2px #6db7a3;
}
#jobList h2.title span:before {
	margin:0 10px 0 0;
    content:" ";
    display:inline-block;
    width:14px;
    height:17px;
    background:url(../images/ico_knowhow.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#jobList p.resultTxt {
    margin: 0 10px 10px 10px;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
}
#jobList p.resultTxt .point {
    color: #e60012;
    font-weight: 900;
}
#jobList #jobWrapper {
    margin: 0 10px;
    padding: 0;
}
#jobList #jobWrapper #jobInner {
    margin: 0;
    padding: 0;
}
#jobList .jobBox {
    margin: 0 0 12px 0;
    padding: 0;
  border-radius: 4px;
  background-color: #eaf1f7;
  box-shadow: 1.414px 1.414px 3px 0px rgba(45, 90, 131, 1.0);
}
#jobList .jobBox+p.resultTxt {
    margin-bottom: 25px;
}
#jobList .jobBox .inner {
    padding: 15px 10px;
}
#jobList .jobBox h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 900;
}
#jobList .jobBox h2 a {
    color: #176ab9;
    display: block;
}
#jobList .jobBox p.btn {
    margin: 0 20px;
  border-radius: 6px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 2px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;  
}
#jobList .jobBox p.btn a {
    padding: 6px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#jobList .jobBox p.btn a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#jobList .jobBox .tableWrap {
    margin: 0 0 10px 0;
}
#jobList .jobBox table {
    margin: 0;
    padding: 0;
    width: 100%;
}
#jobList .jobBox table th,
#jobList .jobBox table td{
    margin: 0;
    padding: 5px;
    font-size: 12px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
    background-color: #FFF;
    border: solid 1px #7e9fbf;
}
#jobList .jobBox table th{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: 1.1;
    background-color: #7e9fbf;
    color: #FFF;
    font-weight: 900;
    border-bottom: solid 1px #FFF;
    width: 65px;
    box-sizing: border-box;
}
#jobList .jobBox table tr:last-child th{
    border-bottom: solid 1px #7e9fbf;
}
#jobList .jobBox h2 span#status{
    margin: 0 0 5px 0;
    font-size: 12px;
    color: #FFF;
    font-weight: 900;
    line-height: 1.5;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 4px;
}
#jobList .jobBox h2 span#status.type01{
    background-color: #C73A58;
}
#jobList .jobBox h2 span#status.type02{
    background-color: #33a485;
}
#jobList .jobBox h2 span#status.type03{
    background-color: #989898;
}

#jobList .btnBox {
	margin: 0 10px 10px 10px;
}
#jobList button.allclear {
	margin: 0;
	padding: 7px 15px;
  border-radius: 4px;
  background-color: rgb(229, 229, 229);
  box-shadow: 0px 3px 0px 0px rgba(181, 181, 181, 1.0);
    color: #6d6d6d;
    font-size: 12px;
    font-weight: 600;
    border: none;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
#jobList button.allclear span:before {
	margin:0 7px 0 0;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/ico_close_03.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -1px;
}
#jobList .jobBox.checklist .inner {
    padding-left: 50px;
    position: relative;
}
#jobList .jobBox.checklist h2 {
    margin-right: 30px;
}
#jobList .jobBox.checklist ul.btn {
    margin: 0;
    width: 100%;
}
#jobList .jobBox.checklist ul.btn li {
    margin: 0;
  border-radius: 6px;
    font-size: 14px;
    font-weight: 300;
    height: 33px;
    box-sizing: border-box;
    line-height: 33px;
    text-align: center;
    float: left;
}
#jobList .jobBox.checklist ul.btn li.more {
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 2px 0px 0px rgba(25, 49, 73, 1.0);
    width: calc(100% - 95px);
}
#jobList .jobBox.checklist ul.btn li.contact {
    margin-left: 5px;
  background-color: rgb(231, 87, 0);
  box-shadow: 0px 2px 0px 0px rgba(155, 58, 0, 1.0);
    width: 90px;
}
#jobList .jobBox.checklist ul.btn li.more a,
#jobList .jobBox.checklist ul.btn li.contact a{
    padding: 0;
    display: block;
    color: #FFF;
    text-decoration: none;
    height: 33px;
    box-sizing: border-box;
}
#jobList .jobBox.checklist ul.btn li.more a span:after,
#jobList .jobBox.checklist ul.btn li.contact a span:after{
	margin:0 0 0 8px;
    content:" ";
    display:inline-block;
    width:12px;
    height:12px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#jobList .jobBox.checklist .checkbox {
    z-index: -1;
    position: absolute;
    visibility: hidden;
}
#jobList .jobBox.checklist label.CheckBoxLabelClass {
    background-image: url("../images/check_b_off.png");
    background-repeat: no-repeat;
    background-size: auto 22px;
    background-position: left top;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 12px;
    top: calc(50% - 11px);
}
#jobList .jobBox.checklist label.CheckBoxLabelClass.checked {
    background-image: url("../images/check_b_on.png");
}
#jobList .jobBox.checklist p.btnClose {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}
#jobList .jobBox.checklist p.btnClose img {
    vertical-align: top;
}
#jobList #jobWrapper.conditions {
    margin: 0 0 20px 0;
    padding: 10px 0;
    background-color: #7ca5cb;
}
#jobList #jobWrapper.conditions #jobInner {
    margin: 0 10px;
}
#jobList #jobWrapper.conditions #jobInner .jobBox:last-child {
    margin-bottom: 0;
}



/*------------------------------
jobDetail
------------------------------*/

#jobDetail {
    margin: 0;
    padding: 0;
    text-align: left;
    border-top: solid 2px #ee5600;
    position: relative;
}
#co.info #jobDetail {
    border-top: 0;
}
#jobDetail.noline {
    border-top: none 0;
}
#jobDetail .inner {
    margin: 15px 10px 0 10px;
    padding: 0;
}
#jobDetail h1 {
    margin: 0 0 25px 0;
    padding: 0;
    background-color: transparent;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #3b3b3b;
    border-top: none 0;
    line-height: 2.0;
}
#jobDetail h1 .jobID {
    font-size: 11px;
    color: #737373;
    font-weight: 300;
}
#jobDetail table.detail {
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
}
#jobDetail table.detail th,
#jobDetail table.detail td{
    margin: 0;
    padding: 5px;
    display: block;
}
#jobDetail table.detail th{
    text-align: center;
    font-size: 14px;
    color: #FFF;
    line-height: 1.4;
    background-color: #4976a1;
}
#jobDetail table.detail td{
    text-align: left;
    font-size: 14px;
    color: #6b6b6b;
    line-height: 1.8;
    font-weight: 300;
}
#jobDetail table.summary {
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    background-color: #FFF;
}
#jobDetail table.summary tbody{
    border-right: solid 1px #dfdfdf;
    border-bottom: solid 1px #dfdfdf;
    border-left: solid 1px #dfdfdf;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
#jobDetail table.summary tr{
    border-bottom: solid 1px #dfdfdf;
}
#jobDetail table.summary tr:last-child{
    border-bottom: none 0;
}
#jobDetail table.summary th,
#jobDetail table.summary td{
    margin: 0;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.6;
    color: #3d3d3d;
    box-sizing: border-box;
    font-weight: 300;
}
#jobDetail table.summary th{
    background-color: #dfdfdf;
    text-align: center;
    white-space: nowrap;
    border: solid 1px #FFF;
    padding: 5px 15px;
}
#jobDetail table.summary td{
    width: 100%;
}
#jobDetail table.summary th.title{
    background-color: #797a7b;
    font-size: 14px;
    color: #FFF;
    border: none 0;
}
#jobDetail .jobBtnBox{
    margin: 0 0 40px 0;
    padding: 0;
}
#jobDetail span#loading{
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 52px;
}
#jobDetail span#loading img{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#jobDetail .jobBtnBox.fixed{
    width: calc(100% - 20px);
    position: fixed;
    bottom: 10px;
    margin: 0;
}
#jobDetail .jobBtnBox ul{
    margin: 0;
    padding: 0;
}
#jobDetail .jobBtnBox ul li{
    float: left;
}
#jobDetail .jobBtnBox ul li a{
    display: block;
}
#jobDetail .jobBtnBox ul li.more{
    margin: 0;
    padding: 0;
  border-radius: 6px;
  background-color: rgb(231, 87, 0);
  box-shadow: 0px 6px 0px 0px rgba(155, 58, 0, 1.0);
    box-sizing: border-box;
    width: calc(100% - 129px);
    font-size: 14px;
    line-height: 1.6;
}
#jobDetail .jobBtnBox ul li.more span:after {
	margin:0 0 0 5px;
	content:" ";
	display:inline-block;
	width:14px;
	height:14px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;	
    position: relative;
    top: -2px;
}
#jobDetail .jobBtnBox ul li.more a{
    padding: 13px 0 10px 0;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    height: 46px;
    box-sizing: border-box;
}
#jobDetail .jobBtnBox ul li.more a img{
    vertical-align: middle;
}
#jobDetail .jobBtnBox ul li.list{
    margin: 0 0 0 4px;
    padding: 0;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(53, 91, 127);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 0px 0px rgba(25, 49, 73, 1.0);
    box-sizing: border-box;
    width: 125px;
    font-size: 11px;
    line-height: 1.4;
}
#jobDetail .jobBtnBox ul li.list a{
    color: #355b7f;
    text-decoration: none;
    padding: 6px 0 6px 15px;
    text-align: left;
    background: url(../images/ico_plus.png) no-repeat right 12px center;
    background-size: 16px 16px;
    height: 44px;
    box-sizing: border-box;
}
#jobDetail .jobBtnBox ul li.add{
    margin: 0 0 0 4px;
    padding: 0;
  border: 0;
  border-radius: 6px;
  background-color: #d2d4d6;
    box-sizing: border-box;
    width: 125px;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 600;
}
#jobDetail .jobBtnBox ul li.add a{
    color: #4d4d4d;
    text-decoration: none;
    padding: 10px 0 0 0;
    text-align: center;
    height: 52px;
    box-sizing: border-box;
}
#jobDetail .jobBtnBox ul li.add a strong{
    font-size: 13px;
    display: block;
}
#jobDetail .jobBtnBox ul li.jitai{
    margin: 0 0 0 4px;
    padding: 0;
  border-radius: 6px;
  background-color: rgb(135, 135, 135);
  box-shadow: 0px 6px 0px 0px rgba(99, 99, 99, 1.0);
    box-sizing: border-box;
    width: 125px;
    font-size: 14px;
    line-height: 1.6;
}
#jobDetail .jobBtnBox ul li.jitai span:after {
	margin:0 0 0 5px;
	content:" ";
	display:inline-block;
	width:14px;
	height:14px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;	
    position: relative;
    top: 0;
}
#jobDetail .jobBtnBox ul li.jitai a{
    padding: 13px 0 10px 0;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    height: 46px;
    box-sizing: border-box;
}
#jobDetail .jobBtnBox ul li.jitai a img{
    vertical-align: middle;
}
#jobDetail p.entryTxt {
    margin: 0 0 30px 0;
    padding: 18px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #FFF;
    border-top: none 0;
}
#jobDetail p.entryTxt.type01{
    background-color: #C73A58;
}
#jobDetail p.entryTxt.type02{
    background-color: #33a485;
}
#jobDetail p.entryTxt.type03{
    background-color: #989898;
}


/*------------------------------
registInputPage
------------------------------*/

.registInputPage {
    margin: 0 10px;
    padding: 0;
    text-align: left;
}
#mainCo .registInputPage {
    margin: 0 10px 30px 10px;
}
.registInputPage h2.title {
   margin: 0 0 10px 0;
    padding: 0 0 0 10px;
  font-size: 14px;
  line-height: 1.5;
    border-left: solid 3px #000;
}
.registInputPage h2.title.aCenter {
    border-left: 0;
}
.registInputPage p+h2.title,
.registInputPage ul.alpha+h2.title{
    margin-top: 35px;
}
.registInputPage h3 {
   margin: 0 0 10px 0;
    padding: 0;
  font-size: 13px;
  line-height: 1.5;
    font-weight: 900;
}
.registInputPage p {
    margin: 0 0 15px 0;
    padding: 0;
  font-size: 10px;
  color: #898989;
  line-height: 1.5;
}
.registInputPage ul.alpha,
.registInputPage ol.number{
    margin: 0 0 15px 20px;
    padding: 0;
}
.registInputPage ul.alpha li{
    margin: 0 0 5px 0;
    list-style-type: lower-alpha;
    padding: 0;
  font-size: 12px;
  color: #898989;
  line-height: 1.5;
}
.registInputPage ol.number li{
    margin: 0 0 5px 0;
    padding: 0;
  font-size: 10px;
  color: #898989;
  line-height: 1.5;
}
.registInputPage ol.type01 {
    margin: 0 0 15px 0;
}
.registInputPage ol.type01 li {
	list-style-type:none;
  counter-increment: cnt;
    text-indent: -0.85rem;
    margin: 0 0 5px 0.85rem;
    font-size: 12px;
  color: #898989;
  line-height: 1.5;
}
.registInputPage ol.type01 li:before{
  display: marker;
  content: '' counter(cnt) ')';
}
.registInputPage p.finish {
  font-size: 13px;
    text-align: center;
    line-height: 1.8;
}
.registInputPage table{
    margin: 0 0 15px 0;
    padding: 0;
    width: 100%; 
}
.registInputPage table.no{
    margin: 0 !important;
}
.registInputPage table th,
.registInputPage table td{
    margin: 0;
    padding: 0 0 20px 0;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.5;
}
.registInputPage table td table{
    margin: 0; 
}
.registInputPage table td table th,
.registInputPage table td table td{
    padding-bottom: 5px;
}

.registInputPage table th{
    margin: 0;
    padding-top: 6px;
    padding-right: 20px;
    white-space: nowrap;
    vertical-align: top;
    width: 85px;
    text-align: right;
    box-sizing: border-box;
}
.registInputPage table td.kibouarea1,
.registInputPage table td.kibouarea2,
.registInputPage table td.kibouarea3{
    width: 70px;
}
.registInputPage p.btnSend {
    margin: 0 0 20px 0;
}
.registInputPage button.btn,
.registInputPage input{
    margin: 0 0 20px 0;
    padding: 15px 0;
    border-radius: 6px;
    background-color: rgb(47, 180, 122);
    box-shadow: 0px 5px 0px 0px rgba(19, 126, 79, 1.0);
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none 0;
    -webkit-appearance: none;
}
.registInputPage button.btn.b02,
.registInputPage input.b02{
    background-color: rgb(53, 91, 127);
  box-shadow: 0px 4px 0px 0px rgba(25, 49, 73, 1.0);
}
.registInputPage p.btnBack {
    margin: 0;
}
.registInputPage .btnBox.inline button.btn,
.registInputPage .btnBox.inline input{
    margin: 0 0 15px 0;
}
.registInputPage .btnBox.inline p.btnBack {
    display: inline-block;
    width: auto;
}
.registInputPage .btnBox.inline p.btnBack a{
    margin: 0 auto;
    padding: 8px 20px 8px 20px;
    border-radius: 6px;
    background-color: rgb(113, 113, 113);
    box-shadow: 0px 4px 0px 0px rgba(79, 77, 77, 1.0);
    width: auto;
    font-size: 12px;
    color: #FFF;
    font-weight: 900;
    border: 0;
    -webkit-appearance: none;
    display: block;
    text-decoration: none;
    position: relative;
    top: 2px;
}
.registInputPage .btnBox.inline p.btnBack a span:after{
	width:13px;
	height:13px;
}
.registInputPage input.txt{
    margin: 0;
    padding: 15px 0;
    border-radius: none;
    background-color: rgb(47, 180, 122);
    box-shadow: unset;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: normal;
    border: none 0;
}
.registInputPage button.btn span:after,
.registInputPage p.btnBack span:after{
	margin:0 0 0 6px;
	content:" ";
	display:inline-block;
	width:16px;
	height:16px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -2px;
}
.registInputPage .btnFinish {
    margin: 0 auto 20px auto;
    padding: 0;
    text-align: center;
  border-radius: 6px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 4px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 15px;
    width: 100%;
    max-width: 300px;
}
.registInputPage .btnFinish span.ico:after {
	margin:0 0 0 6px;
	content:" ";
	display:inline-block;
	width:14px;
	height:14px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -2px;
}
.registInputPage .btnFinish a {
    display: block;
    padding: 12px 0 8px 0;
    color: #FFF;
    text-decoration: none;
}
.registInputPage .btnFinish a .ss {
    color: #abc6df;
    font-size: 10px;
}
.registInputPage .txtLink {
    text-align: center;
    font-size: 12px;
}
.registInputPage .txtLink a:link {
    color: #1f80db;
}
.registInputPage p.btnBack {
    margin: 0;
    text-align: center;
}
.registInputPage p.btnBack input{
    margin: 0 auto;
    padding: 8px 0;
  border-radius: 6px;
  background-color: rgb(113, 113, 113);
  box-shadow: 0px 4px 0px 0px rgba(79, 77, 77, 1.0);
  width: 242px;
    font-size: 12px;
    color: #FFF;
    font-weight: 900;
    border: 0;
    -webkit-appearance: none;
}
.registInputPage ul.job li{
    margin: 0 0 5px 0;
    padding: 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.registInputPage ul.job li label{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.registInputPage ul.job li.ss{
    margin-right: 2%;
    padding: 0;
    width: 49%;
}
.registInputPage ul.job li.no{
    margin-right: 0;
}
.registInputPage ul.two li{
    margin: 0 2% 5px 0;
    width: 49%;
}
.registInputPage ul.two li:nth-child(2n){
    margin-right: 0;
}
.registInputPage ul.two li label{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.registInputPage .btnBox{
    margin: 0;
    text-align: center;
}


/*------------------------------
profileTxt
------------------------------*/

#profileTxt {
    margin: 20px 10px 15px 10px;
    padding: 0;
}
#profileTxt p {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.5;
}
#profileTxt p.link {
    margin: 0;
    text-align: center;
}
#profileTxt p.link a{
    color: #5086d7;
    text-decoration: none;
}
#profileTxt p.link a img{
    text-decoration: underline;
    vertical-align:middle;
    position: relative;
    top: -2px;
    margin: 0 0 0 5px;
}
#profileTxt p.link a span{
    border-bottom: solid 1px #5086d7;
}


/*------------------------------
passwordBox
------------------------------*/

#passwordBox {
    margin: 0 0 20px 0;
    padding: 0;
    background-color: #efefef;
}
#passwordBox h2 {
    margin: 0;
    padding: 6px 10px;
    background-color: #d1d1d1;
    font-size: 14px;
    font-weight: 600;
}
#passwordBox h2 .ss {
    font-size: 10px;
    display: inline-block;
    margin-left: 10px;
}
#passwordBox .inner{
    margin: 0;
    padding: 10px 10px 0 10px;
    text-align: left;
}
#passwordBox table{
    margin: 0;
    padding: 0;
    width: 100%; 
}
#passwordBox table th,
#passwordBox table td{
    margin: 0;
    padding: 0 0 10px 0;
    vertical-align: middle;
}
#passwordBox table th{
    white-space: nowrap;
    vertical-align: top;
    font-size: 12px;
    line-height: 1.5;
    width: 125px;
}
#passwordBox table input{
    background-color: #FFF;
    width: 100%;
    margin-bottom: 5px;
}
#passwordBox .txtCaution {
    margin: 0;
    padding:0;
  font-size: 11px;
  color: #898989;
  line-height: 1.4;
    display: block;
}

/*------------------------------
kakuninBox
------------------------------*/

#kakuninBox {
    margin: 0 0 20px 0;
    padding: 10px;
    background-color: #efefef;
}
#kakuninBox .inner{
    margin: 0;
    padding: 15px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
}
#kakuninBox h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
}
#kakuninBox p {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.7;
    color: #8a8a8a;
}
#kakuninBox ul li {
    margin: 0 20px 10px 0;
    padding: 0 0 0 8px;
    font-size: 10px;
    line-height: 1.3;
    color: #8a8a8a;
    float: left;
    background: url(../images/point_05.png) no-repeat left 4px;
    background-size: 4px 5px;
}
#kakuninBox ul li a {
    color: #8a8a8a;
}


/*------------------------------
experienceBox
------------------------------*/

#experienceBox {
    margin: 0 0 20px 0;
    padding: 0;
}
#experienceBox h2 {
    margin: 0 0 1px 0;
    padding: 6px 15px;
    background-color: #4e5f6f;
    color: #FFF;
    font-size: 14px;
    line-height: 1.4;
}
#experienceBox .inner+h2 {
    margin-top: 40px;
}
#experienceBox h3 {
    margin: 0 0 1px 0;
    padding: 6px 15px;
    background-color: #a5b5c3;
    color: #FFF;
    font-size: 12px;
    line-height: 1.4;
}
#experienceBox .inner {
    margin: 0;
    padding: 15px;
}
#experienceBox .experienceList .inner {
    border-bottom: solid 1px #d7d7d7;
}
#experienceBox .experienceList .inner:last-child {
    border-bottom: 0;
}
#experienceBox .inner p {
    margin: 0 0 10px 0;
    padding: 0;
  font-size: 13px;
  color: #555454;
  line-height: 1.6;
}
#experienceBox .inner p:last-child {
    margin-bottom: 0;
}
#experienceBox h4 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.4;
}
#experienceBox h5 {
    margin: 0 0 5px 0;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.4;
    background-color: #71ab6b;
    color: #fff;
}
.registInputPage #experienceBox table{
    margin: 0 0 10px 0;
    width: auto;
}
.registInputPage #experienceBox table:last-child{
    margin-bottom: 0;
}
.registInputPage #experienceBox .experienceList table td{
    padding-bottom: 0;
    white-space: nowrap;
}
.registInputPage #experienceBox table td{
    padding: 0;
}
.registInputPage #experienceBox table td.point{
    text-align: center;
    font-size: 14px;
    padding: 0 6px;
}
.registInputPage #experienceBox table th{
    margin: 0;
    padding: 0 0 5px 0;
    width: auto;
    text-align: left;
}
#experienceBox h4 img,
.registInputPage #experienceBox table th img,
#experienceBox h3.other img{
    margin: 0 0 0 5px;
    padding: 0;
}
#experienceBox h3.more {
    margin: 0 0 7px 0;
    padding: 0;
  border-radius: 4px;
  box-shadow: 1.414px 1.414px 1px 0px rgba(17, 43, 66, 0.66);
    background: url(../images/ico_open.png) rgb(165, 181, 195) no-repeat 11px 11px;
    background-size: 18px 18px;
}
#experienceBox h3.more a {
    margin: 0;
    padding: 12px 40px;
    display: block;
    color: #FFF;
    text-decoration: none;
    background: url(../images/ico_nini.png) no-repeat right 10px center;
    background-size: 49px 14px;
}
#experienceBox h3.other {
    margin: 15px 0 10px 0;
    padding: 0;
    background-color: transparent;
    color: #555454;
    font-size: 12px;
    line-height: 1.4;
}
#experienceBox div.other {
    padding: 0 15px;
}
#experienceBox div.other textarea {
    width: 100%;
    height: 123px;
    font-size: 14px;
}
#experienceBox .checkboxrequired+.error{
    margin-top: 7px !important;
}

/*------------------------------
entryTxt
------------------------------*/

p.entryTxt {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    border-top: solid 2px #ee5600;
}
p.entryTxt.type01 {
    background-color: #C73A58;
}
p.entryTxt.type02 {
    background-color: #33a485;
}
p.entryTxt.type03 {
    background-color: #989898;
}



/*------------------------------
conditionList
------------------------------*/

#conditionList {
    margin: 0 0 20px 0;
    padding: 0;
    background: #f3f3f3;
    text-align: left;
}
#conditionList .inner {
    margin: 0;
    padding: 10px 10px 40px 10px;
}
#conditionList h2 {
    margin: 0 0 4px 0;
    padding: 7px 13px;
    background-color: #7ca5cb;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #FFF;
    border-radius: 6px 6px 0 0;
}
#conditionList table.place {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    background-color: #FFF;
}
#conditionList table.place th,
#conditionList table.place td{
    margin: 0;
    padding: 8px 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.6;
    color: #606060;
    background: url(../images/table_border.png) repeat-x left bottom;
    background-size: 2px 3px;
}
#conditionList table.place th{
    background-color: #e3f2ff;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    color: #4e7ba5;
}
#conditionList table.place td{
    width: 100%;
}
#conditionList .txtBox{
    margin: 0 0 5px 0;
    padding: 10px 15px;
    background: url(../images/table_border.png) #FFF repeat-x left bottom;
    background-size: 2px 3px;
}
#conditionList .txtBox p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6;
}
#conditionList p.btn {
    margin: 15px auto 0 auto;
  border-radius: 6px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 2px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 282px;
}
#conditionList p.btn a {
    padding: 10px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#conditionList p.btn a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:17px;
    height:17px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#conditionList.finish {
    margin: 0 10px 40px 10px;
    background: transparent;
}
#conditionList.finish .inner {
    margin: 0;
    padding: 0;
}
#conditionList.finish p.finish {
    margin: 25px 0;
  font-size: 13px;
    text-align: center;
    line-height: 1.8;
}
#conditionList.finish .btnFinish {
    margin: 0 auto 35px auto;
    padding: 0;
    text-align: center;
  border-radius: 6px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 4px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 15px;
    width: 100%;
    max-width: 282px;
    display: inline-block;
}
#conditionList.finish .btnFinish span.ico:after {
	margin:0 0 0 6px;
	content:" ";
	display:inline-block;
	width:14px;
	height:14px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -2px;
}
#conditionList.finish .btnFinish a {
    display: block;
    padding: 20px 0 16px 0;
    color: #FFF;
    text-decoration: none;
}
#conditionList.finish .txtLink {
    text-align: center;
    font-size: 12px;
}
#conditionList.finish .txtLink a:link {
    color: #1f80db;
}




/*------------------------------
profileBox
------------------------------*/

#profileBox {
    margin: 10px 10px 40px 10px;
    padding: 0;
    text-align: left;
}
#profileBox .inner {
    margin: 0;
    padding: 0;
}
#profileBox h2 {
    margin: 0 0 1px 0;
    padding: 7px 13px;
    background-color: #7ca5cb;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #FFF;
    border-radius: 6px 6px 0 0;
}
#profileBox table.profile {
    margin: 0 0 15px 0;
    padding: 0;
    width: 100%;
    background-color: #FFF;
}
#profileBox table.profile th,
#profileBox table.profile td{
    margin: 0;
    padding: 8px 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.6;
    color: #606060;
    background: url(../images/table_border.png) repeat-x left bottom;
    background-size: 2px 3px;
}
#profileBox table.profile th{
    background-color: #e3f2ff;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    color: #4e7ba5;
    width: 130px;
    box-sizing: border-box;
}
#profileBox table.profile td.other{
    font-size: 12px;
}
#profileBox table.company {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFF;
}
#profileBox table.company th,
#profileBox table.company td{
    margin: 0;
    padding: 10px 15px;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.6;
    color: #606060;
    background: url(../images/table_border_02.png) repeat-x left bottom;
    background-size: 2px 3px;
}
#profileBox table.company th{
    background-color: #ededed;
    text-align: center;
    white-space: nowrap;
    padding: 5px 0;
    color: #6f6f6f;
    width: 130px;
    box-sizing: border-box;
}
#profileBox table.company th.title{
    background-color: #a5b5c3;
    font-size: 12px;
    color: #FFF;
    border: none 0;
    text-align: left;
    width: auto;
    padding: 5px 15px;
    background-image: none;
}
#profileBox p.btn {
    margin: 20px 10px 0 10px;
  border-radius: 6px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 2px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;  
}
#profileBox p.btn a {
    padding: 10px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#profileBox p.btn a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:17px;
    height:17px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}



/*------------------------------
applicationList
------------------------------*/

#applicationList {
    margin: 0 10px 40px 10px;
    padding: 0;
    text-align: left;
}
#applicationList p.notes {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
    font-size: 11px;
    line-height: 1.5;
}
#applicationList .btnTel {
    margin: 0;
}
#applicationList .typeBox{
    margin: 0 0 3px 0;
    padding: 0;
}
#applicationList .typeBox.last{
    margin-bottom: 15px;
}
#applicationList .typeBox.type02+.typeBox.type03{
    margin-top: 18px;
}
#applicationList .typeBox h2{
    margin: 0;
    padding: 0;
  border-radius: 2px;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.3;
    box-shadow: 1.414px 1.414px 2px 0px rgba(88, 88, 88, 0.7);
    background-image:url(../images/point_07.png);
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
#applicationList .typeBox h2.active{
    box-shadow: none;
    margin: 0 0 3px 0;
    background-image:url(../images/point_07_open.png);
}
#applicationList .typeBox h2 a{
    margin: 0;
    padding: 12px 12px 12px 42px;
    display: table;
    text-decoration: none;
    color: #FFF;
    width: 100%;
    box-sizing: border-box;
}
#applicationList .typeBox h2 a span.title {
	margin:0;
    padding: 0;
    display: table-cell;
    width: 50%;
}
#applicationList .typeBox h2 a span.number {
	margin:0;
    padding: 0;
    display: table-cell;
    width: 50%;
    text-align: right;
    font-size: 12px;
}
#applicationList .typeBox h2 a span.number strong {
    font-size: 17px;
}
#applicationList .typeBox.type01 h2 a span.number strong {
    color: #f0ff00;
}
#applicationList .type01 h2{
    background-color: #C73A58;
}
#applicationList .type02 h2{
    background-color: #33a485;
}
#applicationList .type03 h2{
    background-color: #989898;
}
#applicationList .jobList {
    margin: 0;
    padding: 0;
    text-align: left;
}
#applicationList .jobList .jobInner {
    margin: 0;
    padding: 0;
}
#applicationList .jobList .jobBox {
    margin: 0 0 12px 0;
    padding: 0;
  border-radius: 4px;
  background-color: #eaf1f7;
  box-shadow: 1.414px 1.414px 3px 0px rgba(45, 90, 131, 1.0);
}
#applicationList .type01 .jobList .jobBox {
  background-color: rgb(255, 232, 232);
  box-shadow: 1.414px 1.414px 3px 0px rgba(97, 97, 97, 1.0);
}
#applicationList .type03 .jobList .jobBox {
  background-color: rgb(241, 241, 241);
  box-shadow: 1.414px 1.414px 3px 0px rgba(157, 157, 157, 1.0);
}
#applicationList .jobList .jobBox .inner {
    padding: 15px 10px;
}
#applicationList .jobList .jobBox h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 900;
}
#applicationList .jobList .jobBox h3 a {
    color: #176ab9;
}
#applicationList .jobList .jobBox p.interview {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.5;
    font-weight: 300;
}
#applicationList .jobList .jobBox p.interview strong {
    font-weight: 900;
    color: #e51717;
    text-decoration: underline;
    font-family: Arial, Helvetica, "sans-serif";
}
#applicationList .jobList .jobBox p.btn {
    margin: 0 20px;
  border-radius: 6px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 2px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;  
}
#applicationList .jobList .jobBox p.finish{
  color:#fff;
  padding:6px 0;
}
#applicationList .jobList .jobBox p.btn a {
    padding: 6px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#applicationList .jobList .jobBox p.btn a span:after,
#applicationList .jobList .jobBox p.btn.reentry button span:after{
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#applicationList .type03 .jobList .jobBox p.btn.finish {
    margin: 0 70px;
  border-radius: 0;
  background-color: #cbcbcb;
  box-shadow: none;
    color: #555555;
    padding: 6px 35px;
}
#applicationList .type01 .jobList .jobBox p.btn {
    background-color: rgb(199, 58, 88);
  box-shadow: 0px 4px 0px 0px rgba(145, 1, 1, 1.0); 
}
#applicationList .type03 .jobList .jobBox p.btn {
    background-color: rgb(135, 135, 135);
  box-shadow: 0px 2px 0px 0px rgba(99, 99, 99, 1.0);
}
#applicationList .jobList .jobBox .btnBox {
    margin: 0;
    font-size: 0;
    text-align: center;
}
#applicationList .jobList .jobBox .btnBox p.btn {
    margin: 0;
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 110px);
}
#applicationList .jobList .jobBox p.btn a {
    padding: 8px 0;
    height: 38px;
    box-sizing: border-box;
}
#applicationList .jobList .jobBox .btnBox p.btn.reentry {
    width: 100px;
    margin-left: 10px;
    text-align: left;
    background-color: rgb(199, 58, 88);
  box-shadow: 0px 2px 0px 0px rgba(147, 21, 48, 1.0);
    box-sizing: border-box;
    height: 38px;
}
#applicationList .jobList .jobBox .btnBox p.btn.reentry button {
    padding: 0 0 0 12px;
    border: 0;
    background: none;
    line-height: 1.1;
    font-size: 12px;
    color: #FFF;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    height: 38px;
}
#applicationList .jobList .jobBox .btnBox p.btn.reentry button span:after {
    top: -6px;
}
#applicationList .jobList .jobBox .btnBox p.btn.reentry button span.ss {
    font-size: 9px;
}
#applicationList .jobList .jobBox .btnBox p.btn.reentry button span.ss:after {
    display: none;
}
#applicationList .jobList .jobBox .tableWrap {
    margin: 0 0 10px 0;
}
#applicationList .jobList .jobBox table {
    margin: 0;
    padding: 0;
    width: 100%;
}
#applicationList .jobList .jobBox table th,
#applicationList .jobList .jobBox table td{
    margin: 0;
    padding: 5px;
    font-size: 12px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
    background-color: #FFF;
    border: solid 1px #7e9fbf;
}
#applicationList .jobList .jobBox table th{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: 1.1;
    background-color: #7e9fbf;
    color: #FFF;
    font-weight: 900;
    border-bottom: solid 1px #FFF;
    width: 80px;
    box-sizing: border-box;
}
#applicationList .jobList .jobBox table tr:last-child th{
    border-bottom: solid 1px #7e9fbf;
}
#applicationList .type01 .jobList .jobBox table th,
#applicationList .type01 .jobList .jobBox table td{
    border: solid 1px #858585;
}
#applicationList .type01 .jobList .jobBox table th{
    background-color: #858585;
    border-bottom: solid 1px #FFF;
}
#applicationList .type01 .jobList .jobBox table tr:last-child th{
    border-bottom: solid 1px #858585;
}
#applicationList .type03 .jobList .jobBox table th,
#applicationList .type03 .jobList .jobBox table td{
    border: solid 1px #878787;
}
#applicationList .type03 .jobList .jobBox table th{
    background-color: #878787;
    border-bottom: solid 1px #FFF;
}
#applicationList .type03 .jobList .jobBox table tr:last-child th{
    border-bottom: solid 1px #878787;
}
#applicationList .type03 form{
    display: inline-block;
    vertical-align: top;
}



/* +++++++++++++++++++++++ manualBox +++++++++++++++++++++++ */

#manualBox{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 9999;
}
#manualBox .box{
    position: absolute;
    top: 50%;
    left:50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
    background-color:#FFF;
border-color:#52739C;
border-width:5px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border-style:solid;
    box-sizing: border-box;
}
#manualBox .box .inner{
    margin: 0;
    padding: 20px;
    text-align: left;
}
#manualBox h2 {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 18px;
    color: #3b3b3b;
    line-height: 1.125;
    text-align: center;
    font-weight: 900;
}
#manualBox h2 .line {
    padding: 0 0 8px 0;
    margin: 0;
    display: inline-block;
    border-bottom: solid 2px #e6e6e6;
}
#manualBox p {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 1.5;
}
#manualBox p:last-child {
    margin-bottom: 0;
}
#manualBox p.close{
	background-color: #cecece;
	border-radius: 15px;
	margin: 0 0 0 -42px;
	padding: 0px;
	width: 85px;
	font-size: 14px;
	line-height: 1.2;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	position: relative;
	left: 50%;
	background-size: 13px 13px;
}
#manualBox p.close a{
	display: block;
	padding: 8px 13px 8px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}
#manualBox p.check {
    text-align: center;
}
#manualBox p.check label {
    display: inline-block;
    margin: 0px 5px 7px 0px;
    border: 1px solid #b1b1b1;
    cursor: pointer;
    color: #2b2b2b;
    background-color: #f8f8f8;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 12px;
}
#manualBox p img {
    width: 100%;
    height: auto;
}




/* +++++++++++++++++++++++ manualPage +++++++++++++++++++++++ */

#manualPage {
    margin: 0;
    padding: 0;
    text-align: left;
}
#manualPage .inner {
    margin: 0 10px;
    padding: 0;
}
#manualPage h2 {
    padding: 0 0 0 10px;
    margin: 0 0 15px 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 900;
    border-left: solid 2px #545454;
}
#manualPage p {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}
#manualPage ul.list {
    padding: 0;
    margin: 0 0 15px 0;
}
#manualPage ul.list.line {
    padding: 15px 0 0 0;
    margin: 0 0 15px 0;
    border-top:solid 1px #DDD;
}
#manualPage ul.list li {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 1.714;
    background-repeat: no-repeat;
}
#manualPage ul.list li strong {
    font-size: 18px;
    font-weight: 900;
}
#manualPage ul.list li.n01,
#manualPage ul.list li.n02,
#manualPage ul.list li.n03,
#manualPage ul.list li.n04,
#manualPage ul.list li.n05{
    padding: 0 0 0 28px;
    background-position: left 5px;
    background-size: 22px 22px;
}
#manualPage ul.list li.na,
#manualPage ul.list li.nb,
#manualPage ul.list li.nc,
#manualPage ul.list li.nd,
#manualPage ul.list li.ne,
#manualPage ul.list li.nf{
    padding: 0 0 0 22px;
    background-position: left 3px;
    background-size: 18px 18px;
}
#manualPage ul.list li.na strong,
#manualPage ul.list li.nb strong,
#manualPage ul.list li.nc strong,
#manualPage ul.list li.nd strong,
#manualPage ul.list li.ne strong,
#manualPage ul.list li.nf strong{
    font-size: 14px;
}
#manualPage ul.list li.n01 {
    background-image: url(../images/manual/no_01.png);
}
#manualPage ul.list li.n02 {
    background-image: url(../images/manual/no_02.png);
}
#manualPage ul.list li.n03 {
    background-image: url(../images/manual/no_03.png);
}
#manualPage ul.list li.n04 {
    background-image: url(../images/manual/no_04.png);
}
#manualPage ul.list li.n05 {
    background-image: url(../images/manual/no_05.png);
}
#manualPage ul.list li.na {
    background-image: url(../images/manual/no_a.png);
}
#manualPage ul.list li.nb {
    background-image: url(../images/manual/no_b.png);
}
#manualPage ul.list li.nc {
    background-image: url(../images/manual/no_c.png);
}
#manualPage ul.list li.nd {
    background-image: url(../images/manual/no_d.png);
}
#manualPage ul.list li.ne {
    background-image: url(../images/manual/no_e.png);
}
#manualPage ul.list li.nf {
    background-image: url(../images/manual/no_f.png);
}
#manualPage ul.btnBox{
    margin: 30px 0 0 0;
    padding: 0;position: relative;
}
#manualPage ul.btnBox li{
	border-radius: 200px;
	padding: 0px;
	width: 85px;
	font-size: 14px;
	line-height: 1.2;
    display: inline;
}
#manualPage ul.btnBox li a{
	display: block;
	padding: 8px 13px 8px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}
#manualPage ul.btnBox li.prev{
    float: left;
    border: solid 2px #52739C;
    background-image: url(../images/manual/ico_prev.png);
	background-repeat: no-repeat;
	background-position: 12px 6px;
    background-size: 15px 15px;
    width: 75px;
    box-sizing: border-box;
}
#manualPage ul.btnBox li.prev a{
    color: #52739C;
    padding-top: 6px;
    padding-bottom: 6px;
}
#manualPage ul.btnBox li.next{
    float: right;
    border: solid 2px #52739C;
    background-image: url(../images/manual/ico_next.png);
	background-repeat: no-repeat;
	background-position: right 12px top 6px;
    background-size: 15px 15px;
    width: 75px;
    box-sizing: border-box;
}
#manualPage ul.btnBox li.next a{
    text-align: left;
    padding: 6px 0px 6px 13px;
    color: #52739C;
}
#manualPage ul.btnBox li.close{
	background-color: #cecece;
	margin: 0 0 0 -42px;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 10px;
    background-size: 13px 13px;
	position: absolute;
	left: 50%;
}
#manualPage h3 {
    padding: 15px 0 0 0;
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 900;
    border-top: solid 2px #52739C;
    color: #52739C;
}
#manualPage p+h3,
#manualPage ul+h3{
    margin-top: 25px;
}
#manualPage form#spMenu {
    margin: 0 0 15px 0;
}
#manualPage form#spMenu select {
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}
#manualPage ul.point01 {
    padding: 0;
    margin: 0 0 15px 0;
}
#manualPage ul.point01 li {
    padding: 0 0 0 10px;
    margin: 0 0 5px 0;
    font-size: 13px;
    line-height: 1.714;
    background-image: url(../images/point_02.png);
    background-repeat: no-repeat;
    background-position: left 9px;
    background-size: 6px 7px;
}
#manualPage ol {
    padding: 0;
    margin: 0 0 15px 17px;
}
#manualPage ol li {
    list-style: decimal;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 13px;
    line-height: 1.5;
}






/* +++++++++++++++++++++++ suspensionlPage +++++++++++++++++++++++ */

#suspensionPage {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
}
#suspensionPage .inner {
    margin: 0 10px;
    padding: 0;
}
#suspensionPage h2 {
    padding: 0 0 0 10px;
    margin: 0 0 15px 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 900;
    border-left: solid 2px #545454;
}
#suspensionPage h2.finish {
    padding: 0;
    font-size: 20px;
    text-align: center;
    border: 0;
}
#suspensionPage p {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}
#suspensionPage .btnBox,
.registInputPage .btnBox.type02{
    margin: 20px 0 30px 0;
    padding: 0;
    text-align: center;
    font-size: 0;
}
#suspensionPage .btnBox ul,
.registInputPage .btnBox.type02 ul
{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    max-width: 282px;
    display: inline-block;
}
#suspensionPage .btnBox ul li,
.registInputPage .btnBox.type02 ul li {
    margin: 0 0 15px 0;
  border-radius: 6px;
  background-color: rgb(53, 91, 127);
  box-shadow: 0px 2px 0px 0px rgba(25, 49, 73, 1.0);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    width: 100%;
}
#suspensionPage .btnBox ul li.home,
.registInputPage .btnBox.type02 ul li.home {
    background-color: rgb(113, 113, 113);
    box-shadow: 0px 2px 0px 0px rgba(79, 77, 77, 1.0);
}
#suspensionPage .btnBox ul li.back,
.registInputPage .btnBox.type02 ul li.back {
    background-color: rgb(113, 113, 113);
    box-shadow: 0px 2px 0px 0px rgba(79, 77, 77, 1.0);
}
#suspensionPage .btnBox ul li.send,
.registInputPage .btnBox.type02 ul li.send {
    background-color: rgb(47, 180, 122);
    box-shadow: 0px 5px 0px 0px rgba(19, 126, 79, 1.0);
}
#suspensionPage .btnBox ul li:last-child,
.registInputPage .btnBox.type02 ul li:last-child {
    margin-bottom: 0;
}
#suspensionPage .btnBox ul li a,
.registInputPage .btnBox.type02 ul li a {
    padding: 10px 0;
    display: block;
    color: #FFF;
    text-decoration: none;
}
#suspensionPage .btnBox ul li.back a,
.registInputPage .btnBox.type02 ul li.back a {
    padding: 10px 20px;
}
#suspensionPage .btnBox ul li a span:after,
.registInputPage .btnBox.type02 ul li a span:after {
	margin:0 0 0 10px;
    content:" ";
    display:inline-block;
    width:17px;
    height:17px;
    background:url(../images/point_01.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#suspensionPage .btnBox ul li button.btn,
#suspensionPage .btnBox ul li input{
    border: none 0;
    background: none;
    -webkit-appearance: none;
    display: block;
	padding: 10px 0;
	text-decoration: none;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}
#suspensionPage .btnBox ul li input.txt{
    margin: 0;
    padding: 15px 0;
    border-radius: none;
    background-color: rgb(47, 180, 122);
    box-shadow: unset;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: normal;
    border: none 0;
}
#suspensionPage .btnBox ul li button.btn span:after {
	margin:0 0 0 6px;
	content:" ";
	display:inline-block;
	width:16px;
	height:16px;
    background:url(../images/point_01.png);
	background-size:contain;
	vertical-align:middle;
    position: relative;
    top: -2px;
}


#suspensionPage ul.btnClose{
    margin: 30px 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 0;
}
#suspensionPage ul.btnClose li{
	border-radius: 200px;
	padding: 0px;
	width: 85px;
	font-size: 14px;
	line-height: 1.2;
    display: inline-block;
    background-color: #cecece;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 10px;
    background-size: 13px 13px;
}
#suspensionPage ul.btnClose li a{
	display: block;
	padding: 8px 13px 8px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}
#suspensionPage .registInputPage{
    margin: 0;
    text-align: left;
}
#suspensionPage .registInputPage table{
    margin: 0;
}
#suspensionPage .registInputPage table th,
#suspensionPage .registInputPage table td{
    padding-bottom: 0;
}
#suspensionPage .registInputPage table th{
    width: auto;
    padding-right: 7px;
}
#suspensionPage ol {
    padding: 0;
    margin: 0 0 30px 17px;
}
#suspensionPage ol li {
    list-style: decimal;
    padding: 0;
    margin: 0 0 8px 0;
    font-size: 13px;
    line-height: 1.7;
}
#suspensionPage ol li span.ind {
    display: inline-block;
    text-indent: -1.0em;
    padding-left: 1.0em;
}
#suspensionPage #douiBox {
	text-align: center;
	margin: 0 0 15px 0;
	padding: 0;
}
#suspensionPage #douiBox p {
	margin: 0;
	padding: 0;
    display: inline-block;
}




/* +++++++++++++++++++++++ jumpPage +++++++++++++++++++++++ */

#jumpPage {
    margin: 0;
    padding: 0;
    text-align: left;
}
#jumpPage .inner {
    margin: 0 10px;
    padding: 0;
}
#jumpPage p {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 13px;
    line-height: 1.714;
}
#jumpPage p.pageTitle {
    font-size: 15px;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    border-radius: 6px;
    line-height: 1.4;
}
#jumpPage p.pageTitle a {
    display: block;
    background: url(../images/point_02.png) no-repeat;
    background-position: right 10px center;
    background-size: 6px 7px;
    padding: 8px 20px 8px 10px;
    text-align: center;
    text-decoration: none;
}
#jumpPage p.close{
	background-color: #cecece;
	border-radius: 15px;
	margin: 30px 0 0 -42px;
	padding: 0px;
	width: 85px;
	font-size: 14px;
	line-height: 1.2;
	background-image: url(../images/ico_close.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	position: relative;
	left: 50%;
	background-size: 13px 13px;
}
#jumpPage p.close a{
	display: block;
	padding: 8px 13px 8px 0px;
	text-align: right;
	color: #2b2b2b;
	text-decoration: none;
}



/*------------------------------
editTxt
------------------------------*/

#editTxt {
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: solid 1px #bebcbc;
}
#editTxt .inner {
    padding: 0 10px 15px 10px;
    margin: 0;
}
#editTxt p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.5;
}

/*------------------------------
jitaiTxt
------------------------------*/

#jitaiTxt p {
     margin: 0 0 15px 0;
    font-size: 10px;
    text-align: center;
}



/*------------------------------
footerNavi
------------------------------*/

#footerNavi {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
}
body#detail #footerNavi {
    display: none;
}
#footerNavi ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}
#footerNavi ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: calc((100% - 50px) / 4);
    font-size: 9px;
    font-weight: 900;
    border-right: solid 1px rgba(0,0,0,0.8);
    border-left: solid 1px rgba(115,115,115,0.8);
    box-sizing: border-box;
}
#footerNavi ul li.navi01 {
    width: 50px;
}
#footerNavi ul li:first-child {
    border-left: solid 1px rgba(0,0,0,0);
}
#footerNavi ul li:last-child {
    border-right: solid 1px rgba(0,0,0,0);
}
#footerNavi ul li a {
    padding: 7px 0;
    margin: 0;
    display: block;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}
#footerNavi ul li.navi01 span:before {
    margin: 0 auto 2px auto;
    content: " ";
    background: url(../images/ico_navi_01.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    vertical-align: middle;
    display: block;
}
#footerNavi ul li.navi02 span:before {
    margin: 0 auto 2px auto;
    content: " ";
    background: url(../images/ico_navi_02.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    vertical-align: middle;
    display: block;
}
#footerNavi ul li.navi03 span:before {
    margin: 0 auto 2px auto;
    content: " ";
    background: url(../images/ico_navi_03.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    vertical-align: middle;
    display: block;
}
#footerNavi ul li.navi04 span:before {
    margin: 0 auto 2px auto;
    content: " ";
    background: url(../images/ico_navi_04.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    vertical-align: middle;
    display: block;
}
#footerNavi ul li.navi05 span:before {
    margin: 0 auto 2px auto;
    content: " ";
    background: url(../images/ico_navi_05.png);
    width: 28px;
    height: 20px;
    background-size: contain;
    vertical-align: middle;
    display: block;
}

