@charset "utf-8";

/*------------------------------
form
------------------------------*/

.form select {
    padding: 0 40px 0 12px !important;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
}
.form label {
    font-size: 14px;
}
.form ul ul label {
    font-size: 12px;
}
.form label.CheckBoxLabelClass {
    background-position: 15px 7px;
    padding: 8px 15px 8px 45px;
    background-size: auto 21px;
}
.form label.CheckBoxLabelClass.privacy {
    background-position: 45px 8px;
}
.form label.radiolabel {
    background-position: 8px 10px;
    padding: 8px 15px 8px 35px;
}
.form input.txt,
.form textarea {
    width: auto;
}

/*------------------------------
form experience
------------------------------*/

.form ul.experience li{
    font-size: 16px;
}