@charset "utf-8";

/*------------------------------
form
------------------------------*/

.form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    background-color: #f8f8f8;
    background-image: url(../images/select_point.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 25px 0 5px !important;
    box-sizing: border-box;
    font-size: 12px;
    color: #2b2b2b;
    overflow: hidden;
    /*Firefox用*/
    text-indent: .01px;
    text-overflow: “”;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 28px;
    height: 28px;
}
.form select.checked {
    background-color: #a5f2cf;
}
/*IE対応*/
    select::-ms-expand {
    display: none;
}
.form ul ul label {
    font-size: 11px;
}
.form label {
    display: inline-block;
    margin: 0px 5px 7px 0px;
    border: 1px solid #b1b1b1;
    cursor: pointer;
    font-size: 11px;
    color: #2b2b2b;
    background-color: #f8f8f8;
    font-weight: 100;
}
.form label.privacy {
    display: inline-block;
    margin: 0px;
    padding: 10px 0 10px 0;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    box-sizing: border-box;
}
.form label:hover {
    text-decoration: none;
}
.form .checkbox, .form .radio {
    z-index: -1;
    position: absolute;
    visibility: hidden;
    width: auto;
}
.form label.CheckBoxLabelClass {
    background-image: url("../images/check_off.png");
    background-repeat: no-repeat;
    background-size: auto 18px;
    background-position: 10px 4px;
    border-radius: 6px;
    padding: 6px 5px 6px 30px;
}
.form label.CheckBoxLabelClass.all {
    background-color: #eeeeee;
    width: 100%;
}
.form ul ul label.CheckBoxLabelClass {
    background-size: auto 16px;
    background-position: 10px 5px;
    padding: 5px 10px 5px 35px;
}
.form label.CheckBoxLabelClass.privacy {
    background-image: url("../images/check_s_off.png");
    background-size: auto 16px;
    background-position: 45px 6px;
}
.form label.radiolabel {
    background-image: url("../images/radio_off.png");
    background-repeat: no-repeat;
    background-size: auto 16px;
    background-position: 6px 6px;
    border-radius: 4px;
    padding: 6px 5px 6px 25px;
}
.form label.CheckBoxLabelClass.checked {
    background-color: #a5f2cf;
    background-image: url("../images/check_on.png");
}
.form label.CheckBoxLabelClass.privacy.checked {
    background-color: #FFFFFF;
    background-image: url("../images/check_s_on.png");
}
.form label.radiolabel.checked {
    background-color: #a5f2cf !important;
    background-image: url("../images/radio_on.png");
}
.form input.txt,
.form textarea {
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px 0px 7px 0px;
    background-color: #f8f8f8;
    width: 100%;
    box-shadow: none;
}
.form input.image {
    border: 0px none;
    border-radius: 0px;
    padding: 0px;
}
.form #privacyBox {
    background-color: #f8f8f8;
    border-radius: 8px;
	text-align: center;
	margin: 0 0 15px 0;
	padding: 20px 0;
}
.form #privacyBox .inner {
	margin: 0px auto;
	padding: 0px;
	text-align: left;
}
.form #privacyBox h2 {
	position: static;
	background-color: #FFF;
	margin: 0px 0px 15px;
	padding: 10px 0px 10px 10px;
	font-size: 0.81em;
	font-weight: 900;
	height: auto;
}
.form #privacyBox p.checkboxrequired div.error {
margin-top: 10px;
}
.form #privacyBox p {
	margin: 0 0 12px 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.4;
    text-align: center;
}
.form #privacyBox p a {
    color: #1674cb;
    text-decoration: underline;
}
.form #privacyBox p:last-child {
	margin-bottom: 0;
}
.form table td ul{
    margin: 0;
    padding: 0;
}
.form table td ul ul{
    margin: 0;
    padding: 0;
    border-bottom: none 0px;
}
.form table td ul li{
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}
.form table td ul.full li{
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.form table td ul.full li label{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.form table td ul.full li.ss{
    margin-right: 2%;
    padding: 0;
    width: 49%;
}
.form table td ul.full li.no{
    margin-right: 0;
}


/*------------------------------
form experience
------------------------------*/

.form ul.experience{
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: none 0;
    background-color: rgb(237, 237, 237);
}
.form ul.experience{
    margin: 0;
    padding: 0;
    border-bottom: none 0px;
    border-radius: 8px;
}
.form ul.experience+.error{
    margin-top: 7px !important;
}
.form ul.experience li{
    margin: 0;
    padding: 0;
    float: none;
    font-size: 12px;
    color: #2b2b2b;
    font-weight: 900;
    border-top: solid 1px #FFF;
    border-bottom: solid 1px #b1b1b1;
}
.form ul.experience li.title{
    background: url(../images/point_select.png) no-repeat left 12px center;
    background-size: 10px 6px;
}
.form ul.experience li:first-child,
.form ul.experience li:first-child a{
    border-radius: 8px 8px 0 0;
    border-top: none 0;
}
.form ul.experience li:last-of-type,
.form ul.experience li:last-of-type a{
    border-radius: 0 0 8px 8px;
}
.form ul.experience li a{
    color: #2b2b2b;
    padding: 8px 45px 8px 35px;
    display: block;
    text-decoration: none;
}
.form ul.experience li.checked a{
    background: url(../images/ico_selected.png) no-repeat right 10px center;
    background-size: 15px 38px;
}
.form ul.experience li span{
    display: block;
    margin: 3px 0 0 0;
    font-size: 10px;
    color: #878787;
    font-weight: 500;
}
.form ul.experience .sub{
    margin: 0;
    padding: 0;
    background-color: #fffef0;
}
.form ul.experience .sub ul{
    margin: 0;
    padding: 0;
}
.form ul.experience .sub ul li{
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #c9c9c9;
    font-weight: 500;
}
.form ul.experience .sub ul li:last-child{
    border-bottom: none 0;
}
.form ul.experience .sub label.CheckBoxLabelClass {
    background-image: url("../images/check_ex_off.png");
    background-repeat: no-repeat;
    background-size: auto 16px;
    background-position: 30px 10px;
    border-radius: 0;
    padding: 10px 10px 10px 50px;
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: none; 
    box-sizing: border-box;
}
.form ul.experience .sub label.CheckBoxLabelClass.checked {
    background-color: transparent;
    background-image: url("../images/check_ex_on.png");
}

