@charset "utf-8";

/*  +++++++++++++++++++++++++ common +++++++++++++++++++++++++ */

.sp {
    display: none;
}
.pc {
    display: block;
}
.pctL {
	float: left;
	margin-right:15px;
	margin-bottom: 15px;
}
.pctR {
	float: right;
	margin-left:15px;
	margin-bottom: 15px;
}


/* +++++++++++++++++++++++ remodal +++++++++++++++++++++++ */

.searchBox .box .inner {
    padding: 20px;
}
.searchBox p.close{
	width: 85px;
	font-size: 14px;
	background-position: 12px 8px;
	right:20px;
	top:15px;
	background-size: 13px 13px;
}
.searchBox p.close a{
	padding: 8px 13px 8px 0;
}
.searchBox .box.fl .list{
width: 720px;
box-sizing: border-box;
float: left;
margin: 0;
}
.searchBox h3{
font-size: 20px;
padding: 20px 20px 16px 50px;
	background-position: 20px 20px;
	background-size: 23px 23px;
}
.searchBox .box h4{
font-size: 16px;
padding: 0 0 0 10px;
margin: 0 0 25px 0;
}
.searchBox .box.fl h4{
width: 160px;
box-sizing: border-box;
float: left;
margin: 0;
position: relative;
top: 10px;
}


/*------------------------------
header 
------------------------------*/

#header {
    margin: 0;
    padding: 0;
    border-top: solid 2px #ee5600;
}
#header .inner {
    margin: 0 auto;
    padding: 10px 0;
    height: auto;
    width: 960px;
}
#header p.logo {
    padding: 0;
    margin: 0;
    float: left;
}
#header p.logo img {
    height: 42px;
    width: auto;
}
#header #headerContents {
    padding: 0;
    margin: 0;
    float: right;
}
#header #headerContents ul {
    padding: 0;
    margin: 0 0 5px 0;
    float: right;
}
#header #headerContents ul li {
    margin: 0 0 0 20px;
    padding: 0 0 0 10px;
  font-size: 12px;
  line-height: 1.4;
    float: left;
    background: url(../images/point_02.png) no-repeat left 5px;
    background-size: 6px 7px;
}
#header #headerContents ul li a {
    color: #193651;
}
#header #headerContents p#txtContact {
    padding: 0;
    margin: 0;
    clear: both;
    font-size: 12px;
    line-height: 1.4;
}
#header #headerContents p#txtContact span.tel {
    margin: 0;
    display: inline-block;
    padding: 0 0 0 10px;
    font-size: 14px;
    font-weight: 900;
}
#header #headerContents p#txtContact span.tel img {
    margin: 0;
    vertical-align: middle;
}


/*------------------------------
menuBox
------------------------------*/

#menuBox {
    display: block;
    background-color: transparent;
    position: static;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
}


/*------------------------------
navi
------------------------------*/

#navi {
    padding: 0;
    margin: 0;
    background: #49759d;
}
#navi ul {
    padding: 0;
    margin: 0 auto;
    width: 960px;
    background: url(../images/navi_line.png) repeat-y left top;
}
#navi ul li {
    padding: 0;
    margin: 0;
    width: 180px !important;
    float: left;
    font-size: 16px !important;
    line-height: 1.3;
    font-weight: 900;
    box-sizing: border-box;
    border: none 0;
    text-align: center;
    letter-spacing: 0 !important;
}
#navi ul li a {
    padding: 15px 0;
    margin: 0;
    display: block;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}
#navi ul li.navi01 {
    width: 60px !important;
    font-size: 9px !important;
}
#navi ul li.navi01 a {
    padding: 7px 0;
}
#navi ul li.navi01 span:before,
#navi ul li.navi02 span:before,
#navi ul li.navi03 span:before,
#navi ul li.navi04 span:before{
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px;
}
#navi ul li.navi01 span:before {
    margin: 0 auto 4px auto;
    display: block;
    top: 0;
}
#navi ul li.navi05 span:before {
    width: 28px;
    height: 20px;
    position: relative;
    top: -2px;
}
#navi ul li.navi06 span:before {
    width: 16px;
    height: 20px;
    position: relative;
    top: -2px;
}
#navi ul li.navi04,
#navi ul li.navi06{
    border-left: 0;
}


/* +++++++++++++++++++++++ fix +++++++++++++++++++++++ */

#floating.fixed #header {
    display: none;
}



/*------------------------------
h1
------------------------------*/

h1 {
    border-top: none 0;
    margin-bottom: 0;
}
h1 img {
    margin: 0 7px 0 0;
    padding: 0;
    vertical-align: middle;
}


/*------------------------------
messageBox
------------------------------*/

#messageBox {
    margin: 0;
    border-top: none 0;
}
#messageBox .inner {
    margin: 0 auto;
    padding: 10px 12px;
    width: 960px;
}


/*------------------------------
registPage
------------------------------*/

#registPage {
    margin:40px auto 0 auto;
    width: 880px;
}
#registPage #mailBox {
    width: 614px;
    padding: 0;
    margin: 0 auto;
}
#registPage #mailBox input.txt {
    padding: 15px;
    font-size: 18px;
}
#registPage #mailBox p.limited {
    margin: 0 0 15px 0;
}
#registPage #mailBox p.limited img {
    width: 100%;
    height: auto;
}
#registPage #mailBox p {
    margin: 0 0 10px 0;
    padding: 0;
}
#registPage #mailBox p#txtComplete {
    margin: 0 0 0 12px;
}
#registPage #mailBox p.ex {
    font-size: 12px;
}
#registPage p.txtLogin {
    font-size: 13px;
}
#registPage #mailBox p.txt {
  font-size: 13px;
}


/*------------------------------
securityBox
------------------------------*/

#securityBox {
    margin: 0 auto;
    background-size: 23px 27px;
    padding: 10px 5px 10px 50px;
    width: 600px;
    max-width: none;
    box-sizing: border-box;
}
#securityBox p {
    font-size: 12px;
}


/*------------------------------
co
------------------------------*/

#co {
    text-align: center;
    padding: 13px 0 0 0;
    background: url(../images/contents_back.gif);
}
#coSub {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 960px;
}
#co #mainCo {
    margin: 0;
    padding: 0 0 50px 0;
    width: 710px;
    float: left;
}
#co #subCo {
    margin: 0;
    padding: 0;
    width: 230px;
    float: right;
}


/*------------------------------
ouboList
------------------------------*/

.ouboList {
    margin: 0 0 30px 0;
    padding: 0;
    background: transparent;
}
.ouboList.unread {
    background: transparent;
}
.ouboList .inner {
    margin: 0;
    padding: 0;
}
.ouboList h2 {
    margin: 0 0 4px 0;
    padding: 5px 10px;
}
.ouboList .entry {
  box-shadow: 1.414px 1.414px 5px 0px rgba(0, 0, 0, 0.48);
}
.ouboList .entry a {
    padding: 13px 20px 13px 15px;
    background: url(../images/point_04.png) no-repeat right 20px center;
    background-size: 10px 14px;
}
.ouboList .entry p.category {
    margin: 0 0 8px 0;
    font-size: 12px;
    float: left;
}
.ouboList .entry p.category strong {
    display: inline-block;
    padding: 0 10px 0 0;
}
.ouboList .entry p.name {
	margin: 0;
    font-size: 12px;
    float: left;
    line-height: 18px;
}
.ouboList .entry p.detail {
	margin: 0;
    padding: 0;
    font-size: 13px;
    clear: both;
}
.ouboList p.btn {
    margin: 15px auto 0 auto;
    width: 282px;
}
.ouboList.unread .entry a {
    background: url(../images/point_06.png) no-repeat right 20px center;
    background-size: 10px 14px;
}

/*------------------------------
kibouList
------------------------------*/

#kibouList {
    text-align: center;
}
#kibouList .inner {
    margin: 0 auto;;
    padding: 16px 0;
    width: 675px;
    text-align: left;
}
#kibouList h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
#kibouList h2 span:before {
	margin:0 8px 0 0;
    top: 0px;
}
#kibouList p.btn {
    margin: 15px auto 0 auto;
    width: 282px;
}
#kibouList p.btn.ss {
    margin: 0 0 16px 0;
    width: auto;
}
#kibouList p.btn.ss a span:after {
	margin:0 0 0 5px;
    width:12px;
    height:12px;
    top: -1px;
}
#kibouList #entryList {
    width: 690px;
    letter-spacing: -.40em;
    clear: both;
}
#kibouList .entry {
    margin: 0 15px 15px 0;
    clear: none;
    width: 330px;
    letter-spacing: normal;
	display: inline-block;
	/display:inline; 
	/zoom:1;
	vertical-align: top;
}
#kibouList .entry a {
    padding: 15px 30px 15px 10px;
}
#kibouList .entry p.date {
	margin: 0 0 13px 0;
}
#kibouList .entry p.detail {
    font-size: 13px;
    line-height: 1.8;
}
#kibouList p.txt {
    margin: 15px 0 0 0;
    font-size: 14px;
}



/*------------------------------
historyBox
------------------------------*/

#historyBox {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    background: #cfcfcf;
    border-radius: 8px 8px 0 0;
}
#historyBox .inner {
    margin: 0;
    padding: 10px;
}
#historyBox h2 {
    margin: 0;
    padding: 12px 18px;
    background: #717171;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    color: #FFF;
    border-radius: 8px 8px 0 0;
}
#historyBox h2 span:before {
	margin:0 8px 0 0;
    content:" ";
    display:inline-block;
    width:15px;
    height:15px;
    background:url(../images/ico_offer.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: -2px;
}
#historyBox .entry {
    margin: 0 0 10px 0;
    padding: 0;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1.414px 1.414px 3px 0px rgba(151, 151, 151, 1.0);
}
#historyBox .entry:last-child {
    margin-bottom: 0;
}
#historyBox .entry a {
	margin: 0;
    padding: 10px 30px 10px 10px;
    display: block;
    text-decoration: none;
    background: url(../images/point_03.png) no-repeat right 10px center;
    background-size: 10px 14px;
    color: #176ab9;
}
#historyBox .entry p {
	margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.8;
    color: #176ab9;
    text-decoration: underline;
}



/*------------------------------
offerSearch
------------------------------*/

#offerSearch {
    margin: 0 0 20px 0;
    border-radius: 8px 8px 0 0;
}
#offerSearch.common {
    display: block;
}
#offerSearch .inner {
    margin: 0;
    padding-top: 10px;
}
#offerSearch h2 {
    border-radius: 8px 8px 0 0;
}
#offerSearch #selectList{
    margin: 0;
    padding: 0;
    display: block;
}
#offerSearch #selectList select {
    font-size: 14px;
    display: cell;
    margin: 0 0 5px 0;
}
#offerSearch #selectList .ico {
    display: none;
}
#offerSearch p.btn {
    margin: 14px 10px 0 10px;
    font-size: 12px;
}
#offerSearch p.btn a {
    padding: 8px 0;
}
#offerSearch p.btn a span:after {
	margin:0 0 0 5px;
}


/*------------------------------
knowhowBox
------------------------------*/

#knowhowBox {
    margin: 0 0 30px 0;
    padding: 0;
    text-align: left;
}
#knowhowBox h2 {
    text-align: left;
    text-indent: -19px;
    padding-left: 19px;
}
#knowhowBox h2 span:before {
	margin:0 5px 0 0;
    content:" ";
    display:inline-block;
    width:14px;
    height:17px;
    background:url(../images/ico_knowhow.png);
    background-size:contain;
    vertical-align:middle;
    position: relative;
    top: 10px;
}
#knowhowBox ul li {
    font-size: 14px;
}
#knowhowBox ul li span {
    font-size: 11px;
    padding: 0;
}
#knowhowBox ul li a {
    margin: 0;
    padding: 10px 10px 10px 0;
}
#knowhowBox ul li p.photo {
    margin: 0 10px 0 0;
    width: 55px;
}
#knowhowBox ul li .txt {
    width: calc(100% - 65px);
}


/*------------------------------
btnTel
------------------------------*/

.btnTel {
    display: none;
}



/*------------------------------
profileBox
------------------------------*/

#profileBox {
    margin: 0 0 40px 0;
}
#profileBox p.btn {
    margin: 20px auto 0 auto;
    width: 350px;
}


/*------------------------------
profileMessageBox
------------------------------*/

#profileMessageBox.mailsend .icoBox {
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
}



/*------------------------------
jitaiTxt
------------------------------*/

#jitaiTxt p {
    font-size: 13px;
}


/*------------------------------
footNavi
------------------------------*/

#footNavi {
    display: none;
}


/*------------------------------
footLinks
------------------------------*/

#footLinks {
    margin: 0;
    padding: 16px 0;
}
#footLinks p {
    margin: 0;
    font-size: 13px;
    line-height: 1.6;
}
#footLinks .ssl {
    display: none;
}
#footLinks .ssl .seal {
    width: 151px;
}


/*------------------------------
footer
------------------------------*/

#footer {
    padding: 0;
}
#footer .inner {
    margin: 0 auto 10px auto;
    width: 960px;
}
#footer p.logo img {
    height: 38px;
    width: auto;
}
#footer p.btn {
    margin: 6px 0 0 40px;
    float: left;
}
#footer #footerCo {
    margin: 0;
    float: left;
    padding: 15px 0 0 0;
}
#footer .ssl {
    margin: 0;
    padding: 0;
    text-align: left;
    float: right;
    width :290px;
}
#footer .ssl p {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 9px;
    line-height: 1.4;
    float: left;
    width: calc(100% - 125px);
}
#footer .ssl .seal {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
}
#footer p.copy {
    margin: 0;
    padding: 10px 0;
    border-top: solid 1px #efefef;
    clear: both;
}



/*------------------------------
cautuonBox
------------------------------*/

#cautionBox {
    margin: 0 0 20px 0;
}
#cautionBox .inner {
    padding: 15px;
}
#cautionBox h2 {
    line-height: 35px;
    background: url(../images/ico_caution.png) no-repeat left top;
    background-size: 35px 35px;
}


/*------------------------------
loginPage
------------------------------*/

#loginPage {
    margin: 40px auto 35px auto;
    width: 960px;
}
#loginPage ul.inputBox li input.txt {
    font-size: 16px;
    padding: 15px;
    max-width: none;
    width: 600px;
}
#loginPage ul.inputBox li .error {
    max-width: none;
    width: 600px;
}
#loginPage p.forget {
    margin: 0 auto 20px auto;
}
#loginPage button.btnLogin {
    padding: 12px 0;
    font-size: 16px;
    display: block;
}



/*------------------------------
registBox
------------------------------*/

#registBox {
    margin: 0 0 30px 0;
}
#registBox .inner {
    margin: 0 auto;
    padding: 40px 0;
    width: 960px;
}
#registBox ul.inputBox li input.txt {
    font-size: 16px;
    padding: 15px;
    max-width: none;
    width: 600px;
}
#registBox button.btnRegist {
    padding: 12px 0;
    font-size: 16px;
    display: block;
}
#registBox h2 {
    margin: 0 0 20px 0;
  font-size: 22px;
}


/*------------------------------
conditionsList
------------------------------*/

#conditionsList {
    margin: 0 0 20px 0;
}
#conditionsList h2 {
    font-size: 14px;
}
#conditionsList p.btn {
    margin: 5px 5px 8px 0;
    font-size: 13px;
    cursor: pointer;
}
#conditionsList p.btn a {
    padding: 3px 10px 3px 15px;
}
#conditionsList p.btn a span:after {
    width:12px;
    height:12px;
}
#conditionsList table th,
#conditionsList table td{
    font-size: 13px;
}
#conditionsList table th{
    width: 120px;
}



/*------------------------------
jobList
------------------------------*/

#jobList {
    margin: 0 0 40px 0;
}
#jobList p {
     margin: 0 0 15px 0;
    font-size: 13px;
}
#jobList .pagenation {
    margin: 0 0 20px 0;
}
#jobList h2.title {
    text-align: left;
    text-indent: -19px;
    padding-left: 19px;
}
#jobList h2.title span:before {
	margin-right:5px;
}
#jobList p.resultTxt {
    margin: 0 0 15px 0;
}
#jobList #jobWrapper {
    margin: 0;
    padding: 0;
    letter-spacing: -.40em;
}
#jobList #jobWrapper h2.title {
    letter-spacing: normal;
}
#jobList .jobBox {
    margin: 0 2% 2% 0;
    letter-spacing: normal;
	display: inline-block;
	/display:inline; 
	/zoom:1;
	vertical-align: top;
    width: 49%;
}
#subCo #jobList .jobBox {
    margin: 0 0 12px 0;
    letter-spacing: normal;
	display: block;
    width: auto;
}
#subCo #jobList .jobBox p.btn {
    margin: 0 10px;
}
#jobList .jobBox:nth-child(2n) {
    margin-right: 0;
}
#jobList .btnBox {
	margin: 0 0 20px 0;
}
#jobList button.allclear {
	margin: 0;
    width: auto;
}
#jobList #jobWrapper.conditions {
    margin: 0 0 20px 0;
    padding: 20px 0;
}
#jobList #jobWrapper.conditions #jobInner {
    margin: 0 auto;
    width: 675px;
}
#jobList #jobWrapper.conditions #jobInner .jobBox:last-child,
#jobList #jobWrapper.conditions #jobInner .jobBox:nth-last-child(2){
    margin-bottom: 0;
}


/*------------------------------
jobDetail
------------------------------*/

#jobDetail {
    border-top: none 0;
}
#jobDetail .inner {
    margin: 0;
}
#jobDetail h1 {
    font-size: 18px;
    line-height: 1.6;
}
#jobDetail h1 .jobID {
    font-size: 13px;
}
#jobDetail table.detail th,
#jobDetail table.detail td{
    padding: 8px 15px;
    display: table-cell;
    border: solid 1px #ccc;
    box-sizing: border-box;
}
#jobDetail table.detail th{
    white-space: nowrap;
    border: solid 1px #4976a1;
    border-bottom: solid 1px #FFF;
    width: 130px;
}
#jobDetail table.detail tr:last-child th{
    border-bottom: solid 1px #4976a1;
}
#jobDetail table.detail td{
    background-color: #FFF;
}
#jobDetail .jobBtnBox{
    margin: 0 80px;
    padding: 0;
}
#jobDetail .jobBtnBox.fixed{
    width: 550px;
    margin: 0 80px;
}
#jobDetail table.summary th{
    width: 130px;
}
#jobDetail table.summary tr{
    width: 100%;
}
#jobDetail table.summary tbody{
    display: table;
}
#jobDetail table.summary th.title{
    width: auto;
}
#jobDetail table.summary td{
    width: calc(100% - 100px);
}

/*------------------------------
registInputPage
------------------------------*/

.registInputPage {
    margin:15px auto 30px auto;
    width: 960px;
}
.registInputPage h2.title {
  font-size: 16px;
}
.registInputPage p {
  font-size: 13px;
}
.registInputPage table th,
.registInputPage table td{
    vertical-align: middle;
    font-size: 14px;
}
.registInputPage table th{
    padding-top: 0;
}
#mainCo .registInputPage {
    margin:0;
    width: 710px;
}
.registInputPage button.btn,
.registInputPage input{
    margin: 0 auto 20px auto;
    width: 350px;
}
.registInputPage .btnBox.inline button.btn,
.registInputPage .btnBox.inline input{
    margin: 0 10px 0 0;
    display: inline-block;
}
.registInputPage .btnBox.inline p.btnBack {
    display: inline-block;
    width: auto;
}
.registInputPage .btnBox.inline p.btnBack a{
    padding: 16px 20px 15px 20px;
    font-size: 16px;
}
.registInputPage .btnBox.inline.ss p.btnBack a{
    padding: 8px 20px 8px 20px;
    font-size: 12px;
}
.registInputPage .btnBox.inline p.btnBack a span:after{
	width:16px;
	height:16px;
}
.registInputPage .btnBox.inline.ss p.btnBack a span:after{
	width:13px;
	height:13px;
}
.registInputPage ol.number li{
  font-size: 12px;
}


/*------------------------------
passwordBox
------------------------------*/

#passwordBox {
    margin:0 auto 20px auto;
    width: 960px;
}
#mainCo #passwordBox {
    margin:0 0 20px 0;
    width: 100%;
}
#passwordBox .inner{
    padding: 10px 15px 0 15px;
}

/*------------------------------
kakuninBox
------------------------------*/

#kakuninBox {
    margin:0 auto 20px auto;
    width: 960px;
    box-sizing: border-box;
}
#kakuninBox .inner{
    padding: 30px;
}
#kakuninBox h2 {
    font-size: 16px;
}
#kakuninBox p {
    font-size: 13px;
}
#kakuninBox ul li {
    font-size: 13px;
}



/*------------------------------
experienceBox
------------------------------*/

.registInputPage #experienceBox table{
    width: auto;
}
.registInputPage #experienceBox table td{
    white-space: nowrap;
}



/*------------------------------
applicationList
------------------------------*/

#applicationList {
    margin: 0;
    padding: 0;
}
#applicationList .jobList .jobInner {
    margin: 0;
    padding: 0;
    letter-spacing: -.40em;
}
#applicationList .jobList .jobBox {
    margin: 0 2% 2% 0;
    letter-spacing: normal;
	display: inline-block;
	/display:inline; 
	/zoom:1;
	vertical-align: top;
    width: 49%;
}
#applicationList .jobList .jobBox:nth-child(even) {
    margin-right: 0;
}




/* +++++++++++++++++++++++ manualBox +++++++++++++++++++++++ */

#manualBox .box{
    width: 750px;
}
#manualBox .box .inner{
    padding: 25px;
    text-align: center;
}
#manualBox h2 {
    margin: 0 0 20px 0;
    font-size: 22px;
}
#manualBox p {
    margin: 0 0 20px 0;
    font-size: 14px;
}
#manualBox p img {
    width: 240px;
}


/* +++++++++++++++++++++++ manualPage +++++++++++++++++++++++ */

#manualPage {
   margin: 20px auto 35px auto;
    width: 960px;
}
#manualPage .inner {
    margin: 0;
}
#manualPage ul#manualNavi{
    margin: 0 0 30px 0;
    padding: 0;
}
#manualPage ul#manualNavi li{
    margin: 0 20px 0 0;
    padding: 0;
    float: left;
    width: 120px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 900;
}
#manualPage ul#manualNavi li:last-child{
    margin-right: 0;
}
#manualPage ul#manualNavi li a{
    display: block;
    text-align: center;
    padding: 6px 0;
    box-sizing: border-box;
    border: solid 2px #52739C;
    border-radius: 6px;
    color: #52739C;
    text-decoration: none;
}
#manualPage ul#manualNavi li.current a{
    background-color: #52739C;
    color: #FFF;
}
#manualPage h2 {
    margin: 0 0 20px 0;
    font-size: 22px;
}
#manualPage p {
    margin: 0 0 15px 0;
    font-size: 14px;
}
#manualPage h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
}
#manualPage p+h3,
#manualPage ul+h3{
    margin-top: 35px;
}
#manualPage ul.point01 {
    margin: 0 0 20px 0;
}
#manualPage ul.point01 li {
    font-size: 14px;
    background-position: left 8px;
}
#manualPage ol {
    padding: 0;
    margin: 0 0 20px 17px;
}
#manualPage ol li {
    font-size: 14px;
}


/*------------------------------
profileTxt
------------------------------*/

#profileTxt {
    margin: 0 0 15px 0;
}
#profileTxt p {
    margin: 0 0 15px 0;
    font-size: 13px;
}


/* +++++++++++++++++++++++ jumpPage +++++++++++++++++++++++ */

#jumpPage {
    margin: 40px auto 35px auto;
    width: 880px;
}
#jumpPage .inner {
    margin: 0;
}
#jumpPage p {
    margin: 0 0 20px 0;
    font-size: 14px;
}
#jumpPage p.pageTitle {
    font-size: 20px;
    border: 0;
}
#jumpPage p.pageTitle a {
    background: none;
    background-position: right 10px center;
    padding: 0;
}



/*------------------------------
editTxt
------------------------------*/

#editTxt .inner {
    padding: 0 0 15px 0;
}
#editTxt p {
    font-size: 13px;
}



/*------------------------------
footerNavi
------------------------------*/

#footerNavi {
    display: none;
}



/* +++++++++++++++++++++++ suspensionPage +++++++++++++++++++++++ */

#suspensionPage {
   margin: 20px auto 35px auto;
    width: 960px;
}
#suspensionPage .inner {
    margin: 0;
}
#suspensionPage p.finish {
    text-align: center;
}
#suspensionPage h2 {
    margin: 0 0 20px 0;
    font-size: 22px;
}
#suspensionPage h2.finish {
    font-size: 26px;
    margin: 0 0 20px 0;
}

#suspensionPage h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
}
#suspensionPage p+h2,
#suspensionPage p+h3,
#suspensionPage ul+h3{
    margin-top: 35px;
}
#suspensionPage .btnBox,
.registInputPage .btnBox.type02{
    display: block;
    max-width: 100%;
    margin: 35px 0 0 0;
}
#suspensionPage .btnBox ul,
.registInputPage .btnBox.type02 ul {
    display: block;
    max-width: 100%;
}
#suspensionPage .btnBox ul li,
.registInputPage .btnBox.type02 ul li {
    display: inline-block;
    margin: 0 5px;
    width: 280px;
}
#suspensionPage .btnBox ul li.back,
.registInputPage .btnBox.type02 ul li.back {
    width: auto;
}
#suspensionPage ul.btnClose{
    margin: 35px 0 0 0;
}
#suspensionPage ol {
    padding: 0;
    margin: 0 0 35px 17px;
}
#suspensionPage ol li {
    font-size: 14px;
}


