@charset "utf-8";
/*  +++++++++++++++++++++++++ common +++++++++++++++++++++++++ */

.pc {
    display: none;
}
.sp {
    display: block;
}
.pctL, .pctR {
    float: none;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}
.wide {
    width: 100% !important;
    height: auto;
}
/* +++++++++++++++++++++++ remodal +++++++++++++++++++++++ */

.searchBox .box .inner {
    padding: 10px;
}
.searchBox p.close {
    width: 70px;
    font-size: 12px;
    background-position: 10px 6px;
    right: 5px;
    top: 5px;
    background-size: 10px 10px;
}
.searchBox p.close a {
    padding: 5px 11px 5px 0px;
}
.searchBox .box.fl .list {
    width: auto;
    float: none;
}
.searchBox h3 {
    font-size: 15px;
    padding: 8px 0 8px 32px;
    background-position: 12px 9px;
    background-size: 16px 16px;
}
.searchBox .box h4 {
    font-size: 13px;
    border-left: 3px solid #d97720;
    border-bottom: 0px none;
    padding: 0px 0px 0px 7px;
    margin: 0 0 10px 0;
}
.searchBox .box h4 .ss {
    font-size: 11px;
}
.searchBox .box .list {
    font-size: 13px;
}
.searchBox .box.fl h4 {
    width: auto;
    float: none;
    position: static;
    top: auto;
    margin: 0 0 8px 0;
}
.searchBox .box p.send input{
    width: 100%;
    height: auto;
}


/*------------------------------
header 
------------------------------*/

#header {
    padding: 0;
}
#header .inner {
    margin: 0;
    padding: 10px;
    width: auto;
    box-sizing: border-box;
    height: 50px;
}
#header p.logo {
    padding: 0;
    margin: 0;
    float: none;
}
#header p.logo img {
    height: 35px !important;
    width: auto !important;
}
#header p.home,
#header p.manual{
    display: none;
}
#header #telBox {
    padding: 0;
    margin: 0;
    float: right;
}
#header #telBox p {
    display: none
}
/*------------------------------
menuBox
------------------------------*/

p#menuBtn {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}
p#menuBtn a {
    display: block;
    background-image: url(../images/btn_menu.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}
p#menuBtn a span {
    display: none;
}
#menuBox {
    display: none;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow-y: scroll;
}
#menuBox::-webkit-scrollbar {
 display: none;
}
#menuBox p.btnClose {
    font-size: 14px;
    line-height: 1.3;
    background-color: transparent;
    border-color: rgb(255,255,255);
    border-width: 2px;
    /* Firefox v1.0+ */
    -moz-border-radius: 8%;
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-border-radius: 7%/50%;
    /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
    border-radius: 200px;
    border-style: solid;
    text-align: center;
    margin: 20px 25px;
}
#menuBox p.btnClose a {
    padding: 12px 0px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}
/*------------------------------
navi
------------------------------*/

#navi {
    margin: 0;
    background-image: none;
}
#navi ul {
    margin: 0;
    width: 100%;
    border-left: 0px none;
}
#navi ul li {
    width: 100%;
    float: none;
    border-right: 0px none;
    border-top: solid 1px #979797;
}
#navi ul li a {
    padding: 15px 20px;
    text-align: left;
}
#navi ul li.point {
    font-size: 13px;
}
#navi ul li.point a {
    padding: 12px 20px 12px 30px;
}
#navi ul li.point a {
    background: url(../images/point_03.png) no-repeat;
    background-size: 4px 6px;
    background-position: 20px center;
}
#navi ul li.point.logout a {
    background: url(../images/ico_logout_02.png) no-repeat;
    background-size: 9px 10px;
    background-position: 20px center;
}
#navi ul li a:hover {
    color: #FFF;
}
#navi ul li.navi01 span:before {
    width: 18px;
    height: 18px;
}
#navi ul li.navi02 span:before {
    width: 18px;
    height: 18px;
}
#navi ul li.navi03 span:before {
    width: 18px;
    height: 12px;
}
#navi ul li.navi04 span:before {
    width: 18px;
    height: 12px;
}
#navi ul li.navi05 span:before {
    width: 18px;
    height: 21px;
}
/*------------------------------
footer
------------------------------*/

#footer .inner {
    padding: 15px 10px;
    margin: 0;
    width: auto;
}
#footer p.logo {
    margin: 0 0 8px 0;
    float: none;
    text-align: center;
}
#footer p.logo img {
    width: 170px !important;
    height: auto !important;
}
#footer p.home {
    margin: 0 0 8px 0;
    text-align: center;
}
#footer p.txt {
    padding: 0;
    margin: 0 0 10px 0;
    float: none;
}
#footer ul {
    display: none;
}
#footer p.tel {
    margin: 0 0 10px 0;
    padding: 0;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    border-radius: 6px;
}
#footer p.tel a {
    display: block;
    background: url(../images/point_02.png) no-repeat;
    background-position: right 10px center;
    background-size: 4px 6px;
    padding: 8px 0;
    text-align: center;
}
#footer #copyBox {
    padding: 10px 0 0 0;
}
#footer .ssl {
    float: none;
}
#footer .ssl .seal {
    margin-right: 2%;
    width: 8%;
}
#footer .ssl .seal img {
    height: auto !important;
    width: 100% !important;
}
#footer .ssl p {
    line-height: 1.5;
    white-space: inherit;
    width: 90%;
}
#footer p.copy {
    float: none;
    line-height: 1.6;
    margin: 10px 0 0 0;
    font-size: 10px;
    text-align: center;
    clear: both;
}
/*------------------------------
co
------------------------------*/

.co {
    margin: 10px 10px 20px 10px;
    width: auto;
}
.co.jump {
    margin: 10px;
    width: auto;
}
.co .inner {
    padding: 15px;
}
.co h1 {
    margin: 0 0 15px 0;
    font-size: 18px;
}
.co h1#registTitle {
    padding: 0;
    margin: 0 0 10px 0;
}
.co h1.ss {
    font-size: 16px;
}
.co h2 {
    padding: 0 0 0 10px;
    margin: 0 0 10px 0;
    font-size: 16px;
}
.co p {
    margin: 0 0 10px 0;
    font-size: 13px;
}
.co p.pageTitle {
    font-size: 15px;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    border-radius: 6px;
    line-height: 1.4;
}
.co p.pageTitle a {
    display: block;
    background: url(../images/point_02.png) no-repeat;
    background-position: right 10px center;
    background-size: 4px 6px;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
}
.co.jump p.close{
	margin: 20px 0 0 -42px;
}
.co p.txtTel {
    margin: 0 0 10px 0;
    font-size: 13px;
}
.co p+h2 {
    margin-top: 30px;
}
.co ul.btn {
    padding: 0;
    margin: 0;
    left: 0;
    float: none;
}
.co ul.btn li {
    margin: 0 0 5px 0;
    float: none;
    font-size: 13px;
    text-align: center;
    width: 100%;
    left: 0;
    box-sizing: border-box;
}
.co ul.btn li a {
    padding: 5px 0;
}
.co .pagenation {
    margin: 0 0 10px 0;
}
.co .pagenation li {
    font-size: 12px;
}


/*------------------------------
login-top
------------------------------*/

#top .co {
    margin: 10px;
    width: auto;
}
#top .co h1 {
    padding: 12px 15px;
    font-size: 15px;
}
#top .searchList .inner {
    padding: 5px 10px 20px 10px;
}
#top .searchList #tab .inner {
    padding: 10px 10px 20px 10px;
}
#top .searchList .entry a {
    display: block;
    padding: 10px 30px 10px 10px;
    background: url(../images/point_01.png) no-repeat;
    background-position: right 10px center;
    background-size: 6px 10px;
}
#top .searchList .entry p.date {
    font-size: 11px;
    margin: 0 0 5px 0;
    float: none;
    width: auto;
}
#top .searchList .entry p.title {
    float: none;
    width: auto;
}
#top .searchList .entry .new.pc {
    display: none;
}
#top .searchList .entry .new.sp {
    display: inline-block;
}
#top .searchList p.btn {
    margin: 15px auto 0 auto;
    font-size: 13px;
    width: 100%;
}
#top .searchList p.btn a {
    padding: 10px 0;
}
#top .searchList .entryList {
    margin-right: 0;
    padding: 0;
}
#top .searchList .entryList p.more,
#top .searchList .entryList p.close{
    margin: 10px 0 0 0;
    padding: 0;
  border-width: 2px;
  border-color: #e3e3e3;
  border-style: solid;
  border-radius: 6px;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.2;
    position: relative;
}
#top .searchList .entryList p.more{
    margin-top: 0;
}
#top .searchList .entryList p.more a,
#top .searchList .entryList p.close a{
    display: block;
    margin: 0;
    padding: 7px;
}
#top .searchList .entryList p.more a span:before {
    margin: 0 4px 0 0;
    content: " ";
    display: inline-block;
    background: url(../images/ico_more.png);
    width: 10px;
    height: 5px;
    background-size: contain;
    vertical-align: middle;
}
#top .searchList .entryList p.close a span:before {
    margin: 0 4px 0 0;
    content: " ";
    display: inline-block;
    background: url(../images/ico_close_02.png);
    width: 8px;
    height: 8px;
    background-size: contain;
    vertical-align: middle;
}
#top .searchList .entryList p.more:before {
    margin: 0;
    content: " ";
    display: inline-block;
    background: url(../images/fade.png);
    width: calc(100% + 4px);
    height: 60px;
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    top: -62px;
    left: -2px;
}
#top .searchList h2 {
    padding: 0 0 0 10px;
    margin: 0 0 8px 0;
    font-size: 16px;
}
#top .searchList h2 span {
    font-size: 13px;
}
#top .searchList #tab #tabNavi li {
    font-size: 12px;
}
#top .searchList #tab #tabNavi li a {
    padding: 12px 0;
}
#top .searchList #tab #tabNavi li strong {
    font-size: 26px;
}
#top .searchList #tab #tabNavi li a#tab01 span:before {
    display: none;
}
#top .searchList #tab #tabNavi li a#tab02 span:before {
    display: none;
}
#top .searchList select {
    width: 100%;
    margin: 6px 0 0 0;
}
#top .searchList #selectList {
    position: relative;
    top: auto;
    right: auto;
}
#top .link .inner {
    padding: 10px;
}
#top .link ul li {
    padding: 0;
    margin: 0 0 10px 0;
    float: none;
    width: 100%;
}
#top .link ul li:last-child {
    margin-bottom: 0;
}
/*------------------------------

form
------------------------------*/

.form input.txt {
    font-size: 11px;
    padding: 10px;
}
.form table {
    margin: 0 0 20px 0;
}
.form table th, .form table td {
    font-size: 13px;
    display: block;
}
.form table th,
.form table.confirm th{
    padding: 10px 0;
    background-position: right 0px top 14px;
    width: auto;
    white-space: inherit;
    font-size: 15px;
}
.form table td {
    padding: 0 0 10px 0;
}
.form select {
    padding: 7px 25px 7px 10px !important;
    font-size: 11px;
}
.form label {
    margin: 0px 5px 5px 0px;
    font-size: 13px;
}
.form  ul ul label {
    font-size: 11px;
}
.form label.privacy {
    padding: 10px 0 10px 0;
    width: 90%;
}
.form label.CheckBoxLabelClass {
    background-position: 10px 4px;
    padding: 6px 15px 6px 35px;
}
.form ul ul label.CheckBoxLabelClass {
    background-position: 10px 4px;
    padding: 5px 15px 6px 28px;
}
.form label.CheckBoxLabelClass.privacy {
    background-position: 20px 5px;
}
.form label.radiolabel {
    background-position: 8px 6px;
    padding: 6px 15px 6px 35px;
}
.form input, .form textarea {
    padding: 8px;
}
.form textarea {
    width: 100%;
    box-sizing: border-box;
}
.form #privacyBox {
    margin: 0 0 10px;
    padding: 15px 0;
}
.form #privacyBox p {
    margin: 0 0 12px 0;
    font-size: 13px;
}
.form p.btnSend input {
    padding: 13px 0;
    width: 100%;
    font-size: 15px;
}
.form .confirmBtnBox .send,
.form .confirmBtnBox .back{
    float: none;
}
.form .confirmBtnBox .send{
    width: 100%;
}
.form .confirmBtnBox .back{
    width: 100%;
}
.form .confirmBtnBox .send p.btnSend {
    text-align: center;
    margin :0 0 10px 0;
}
.form .confirmBtnBox .back p.btnSend {
    text-align: center;
    margin: 0;
}
.form .confirmBtnBox .send p.btnSend input {
    width: 100%;
}
.form .confirmBtnBox .back p.btnSend input {
    width: 100%;
}
.form table td ul {
    margin: 0 0 10px 0;
}


/*------------------------------
form login
------------------------------*/

.login.regist {
    padding: 0 0 15px 0;
}
.co.login.regist .inner {
    padding: 15px;
}
.login p {
    margin: 0 0 10px 0;
}
.login p.txtLogin {
    margin: 0 0 12px 0;
    font-size: 10px;
}
.login p.summary {
    margin: 0;
}
.login #mailBox p.limited {
    margin: 0 0 15px 0;
}
.login #mailBox p.limited img {
    width: 100%;
    height: auto;
}
.login p.caution {
    text-align: left;
    margin: 0 0 20px 0;
}
.login input.txt {
    width: 100%;
    margin: 0;
    padding: 10px 12px;
    box-sizing: border-box;
}
.login .btn {
    width: auto;
    margin: 0 0 12px 0;
}
.login .btn ul li {
    margin: 0 0 10px 0;
    width: 100%;
    float: none;
    line-height: 1.6;
    height: auto;
}
.login .btn ul li.forget {
    width: auto;
    display: inline-block;
    float: right;
}
.login .btn ul li a, .login .btn ul li label {
    padding: 5px;
}
.login .btn ul li.forget a {
    padding: 5px 20px;
}
.login .btn p.btnLogin input {
    margin: 0;
    padding: 12px 0;
    border: 0 none;
    width: 100%;
    font-size: 16px;
}
.login .btn p.registration {
    font-size: 13px;
    margin: 10px 0 0 0;
}
.login p.btnLogin {
    margin: 10px 0 0 0 !important;
}
.login #mailBox p#txtComplete {
    margin: 0 0 0 5px;
}
.login #mailBox input.txt {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 14px;
}
.login #mailBox {
    margin: 0 0 15px 0;
    width: 100%;
}
.login #mailBox p.ex {
    margin: 0;
    font-size: 9px;
}

.login #securityBox {
    background-size: 15px 18px;
    margin: 0 15px;
    padding: 6px 15px 6px 40px;
}
.login #securityBox p {
    margin: 0;
    font-size: 8px;
    color: #919191;
}
.login #securityBox a.link {
    color: #919191;
}




/*------------------------------
form member
------------------------------*/

.member {
    text-align: center;
}
.member .btn p.btnLogin input {
    margin: 0;
    padding: 12px 0;
    border: 0 none;
    width: 100%;
    font-size: 16px;
}
.co.member .btn {
    width: 100%;
    margin: 0;
}
.co.member h1 {
    margin: 0 0 15px 0;
    font-size: 18px;
}



/*------------------------------
searchBtn
------------------------------*/

#searchBtn {
    font-size: 16px;
    width: auto;
    margin: 0 10px 15px 10px;
}
#searchBtn a {
    padding: 10px 0px;
}
#searchBtn a span:before {
    width: 14px;
    height: 14px;
}
/*------------------------------
offerBox
------------------------------*/

#offerBox {
    width: auto;
    margin: 0 10px 10px 10px;
}
#offerBox h2 {
    padding: 6px;
}
#offerBox h2 span {
    display: none;
}
#offerBox p {
    padding: 10px;
    font-size: 12px;
}
#offerBox p .point {
    font-size: 18px;
}
/*------------------------------

profile
------------------------------*/

.profile table {
    margin: 0 0 10px 0;
    padding: 0;
}
.profile table th, .profile table td {
    font-size: 13px;
    display: block;
}
.profile table td {
    padding:0 0 10px 0;
}
.profile table th {
    width: auto;
    white-space: inherit;
    padding:10px 0 10px 0;
     font-size: 15px;
}
.profile p.btnSend input {
    padding: 13px 0;
    width: 100%;
    font-size: 15px;
}
/*------------------------------
jobList
------------------------------*/

.jobList .box {
    margin: 0 0 10px 0;
}
.jobList .box .inner {
    padding: 10px;
}
.jobList .box h2 {
    margin: 0 0 10px 0;
    font-size: 16px;
}
.jobList .box table {
    margin: 0 0 10px 0;
}
.jobList .box table th, .jobList .box table td {
    padding: 5px 8px;
    font-size: 13px;
    line-height: 1.6;
}
.jobList .box table th {
    white-space: nowrap;
    width: 70px;
}
.jobList .btnBox,
.jobDetail .btnBox{
    margin: 0;
    padding: 0;
}
.jobList .btnBox ul,
.jobDetail .btnBox ul{
    float: none;
    left: 0;
}
.jobList .btnBox ul li,
.jobDetail .btnBox ul li{
    margin: 0 0 10px 0;
    width: 100%;
    float: none;
    left: 0;
}
.jobList .btnBox ul li:last-child,
.jobDetail .btnBox ul li:last-child{
    margin-bottom: 0;
}
.jobList .btnBox ul li input.application{
   width: 100%;
    font-size: 14px;
    padding: 7px 0;
}
.jobList .btnBox ul li a,
.jobDetail .btnBox ul li a{
    padding: 8px 0;
    font-size: 14px;
}
.jobList .btnBox ul li.detail.applyDone span,
.jobDetail .btnBox ul li.detail.applyDone span{
    padding: 8px 0;
    font-size: 14px;
}
.jobList .btnBox ul li.preserve span:before {
    width: 14px;
    height: 14px;
}
.jobList .btnBox ul li.preserve span:before {
    width: 14px;
    height: 14px;
}
.jobList #phaseBox {
    margin: 0 0 15px 0;
    float: none;
}
.jobList #phaseBox .inner {
    margin: 0;
    padding: 10px 0;
}
.jobList #phaseBox h2 {
    margin: 0 10px 5px 10px;
    float: none;
    font-size: 13px;
    line-height: auto;
    text-align: center;
}
.jobList #phaseBox p {
    float: none;
    width: auto;
    margin: 0 10px;
    display: block;
}
.jobList #phaseBox select {
    font-size: 12px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
/*------------------------------

jobDetail
------------------------------*/


.jobDetail table {
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%
}
.jobDetail table th, .jobDetail table td {
    font-size: 13px;
    display: block;
}
.jobDetail table td {
    padding:0 0 10px 0;
}
.jobDetail table th {
    font-size: 15px;
    width: auto;
    white-space: inherit;
    font-weight: 900;
    padding:10px 0 10px 0;
}
.jobDetail p.btnSend input {
    padding: 13px 0;
    width: 100%;
    font-size: 15px;
}



/*------------------------------
loginInfo
------------------------------*/

#loginInfo {
    margin: 10px;
    width: auto;
}
#loginInfo .box {
    display: block;
}
#loginInfo .box .list {
    padding: 7px;
    width: 100%;
    display: block;
    border-right: 0px none;
    border-bottom: 1px solid #36bfeb;
}
#loginInfo .box .list p, #loginInfo .box .search ul li {
    font-size: 12px;
}
#loginInfo .box .list p a, #loginInfo .box .search ul li a {
    padding: 5px 0;
}
#loginInfo .box .search {
    padding: 4px 7px 7px 7px;
    display: block;
    width: auto;
}
#loginInfo .box .search h2 {
    margin: 0 0 3px 0;
    font-size: 15px;
    float: none;
    text-align: center;
}
#loginInfo .box .search ul {
    float: none;
}
#loginInfo .box .search ul li {
    margin: 0 2% 0 0;
    width: 49%;
}
/*------------------------------
interestList
------------------------------*/

.interestList .box {
    margin: 0 0 10px 0;
}
.interestList .box .inner {
    padding: 10px;
}
.interestList .box .check {
    width: 40px;
}
.interestList .box .detail {
    width: 100%;
    display: block;
}
.interestList .box h2 {
    margin: 0 0 5px 0;
    font-size: 15px;
    line-height: 1.6;
}
.interestList .box ul.item li {
    margin: 0 0 10px 0;
    padding: 0;
    float: none;
}
.interestList .btnBox {
    width: 100%;
    display: block;
}
.interestList .btnBox ul li {
    width: 100%;
    line-height: 1.4;
}
.interestList .btnBox ul li a {
    font-size: 12px;
}
.interestList .btnBox ul li.application a {
    padding: 10px 0;
}
.interestList .box .detail .inner {
    padding: 10px 10px 0 10px;
}
.interestList .box .btnBox .inner {
    padding: 0 10px 10px 10px;
}





/* +++++++++++++++++++++++ fix +++++++++++++++++++++++ */

#floating.fixed {
	height: 53px;
    background-color: #F8F8F8;
}
#floating.fixed #header {
    display: block;
}
body.fixed {
    padding-top: 53px;
}



/* +++++++++++++++++++++++ manualBox +++++++++++++++++++++++ */

#manualBox .box{
    top: 10px;
    left:50%;
    width: 90%;
    -webkit-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
}
#manualBox .box .inner{
    padding: 20px;
    text-align: left;
}
#manualBox h2 {
    margin: 0 0 15px 0;
    font-size: 18px;
}
#manualBox p {
    margin: 0 0 12px 0;
    font-size: 13px;
}
#manualBox p img {
    width: 100% !important;
    height: auto !important;
}



/*------------------------------
form experience
------------------------------*/

.form table td ul.experience li{
    font-size: 12px;
}
.form table td ul.experience li span{
    font-size: 10px;
}


/* +++++++++++++++++++++++ manualPage +++++++++++++++++++++++ */

.co.manual ul.list {
    margin: 0 0 15px 0;
}
.co.manual ul.list li {
    margin: 0 0 7px 0;
    font-size: 13px;
}
.co.manual ul.list li strong {
    font-size: 16px;
}
.co.manual ul.list li.n01,
.co.manual ul.list li.n02,
.co.manual ul.list li.n03,
.co.manual ul.list li.n04,
.co.manual ul.list li.n05{
    padding: 0 0 0 24px;
    background-position: left 2px;
    background-size: 22px 22px;
}
.co.manual ul.btnBox{
    margin: 20px 0 0 0;
}
.co.manual h3 {
    padding: 10px 0 0 0;
    margin: 0 0 15px 0;
    font-size: 15px;
}
.co.manual p+h3 {
    margin-top: 20px;
}
.co.manual form#spMenu {
    margin: 0 0 15px 0;
}
.co.manual form#spMenu select {
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

