@import "default.css";
a{
color:#3A5436;
}

td{
font-size:12px;
}

#header_system{
width:100%;
border-bottom:5px solid #c0c0c0;
height:70px;
background-color:#000000;
}

#header_system p.title{
color:#FFFFFF;
padding-top:20px;
padding-left:20px;
font-size:24px;
font-weight:bold;
float:left;
}

#header_system p.btn{
float:right;
padding-top:22px;
text-align:right;
}

#header_system p.btn img{
padding-right:8px;
}

#contents,
#contents2{
width:90%;
border:1px solid #CCCCCC;
background-color:#FFFFFF;
margin:0 auto;
margin-top:25px;
}
#contents2{
margin-top:8px;
}


/*---------------------------------------------------------
-------------------------------------------------------------*/
#login{
padding:25px;
}

#login p.title{
color:#333333;
border-bottom:1px dotted #CCCCCC;
padding-bottom:8px;
}

#login p.btn{
text-align:center;
margin-top:12px;
}

#login p.title span{
color:#000000;
font-size:28px;
}

#login table{
margin-top:15px;
margin-left:80px;
}
#login table th,
#login table td{
padding:12px;
}

#login table input{
}

#login table th{
color:#333333;
font-size:18px;
}
#login table th{
color:#666666;
}


/*---------------------------------------------------------
-------------------------------------------------------------*/
#navi{
width:90%;
margin:25px auto 0 auto;
list-style:none;
}

#navi li{
float:left;
margin-right:8px;
}

#navi li a{
display:block;
border:1px solid #CCCCCC;
width:150px;
padding:12px 0px;
text-align:center;
background-color:#FFFFFF;
font-size:15px;
color:#333333;
text-decoration:none;
}
#navi li a.on,
#navi li a:hover{
background-color:#151515;
color:#FFFFFF;
}


/*---------------------------------------------------------
-------------------------------------------------------------*/
.title,
.title2{
padding:25px;
padding-bottom:15px;
clear:both;
}
.title2{
padding-top:0px;
}

.midasi{
float:left;
}

.midasi p.tit{
color:#000000;
font-size:28px;
float:left;
padding-top:15px;
}

p.tit2{
color:#000000;
font-size:28px;
padding-top:0px;
}

.midasi p.btn{
float:left;
padding-top:12px;
padding-left:5px;
}

.sibori{
float:right;
}

.sibori table{
}

.sibori table td{
color:#333333;
font-size:12px;
padding-left:8px;
list-style:10;
padding:3px 8px;
text-align:right;
border-left:1px solid #CCCCCC;
}

.sibori p.page{
text-align:right;
padding:8px;
color:#333333;
}

.sibori p.page a {
	display: inline;
	margin: 0 2px;
	padding: 0;
}

.sibori p.page strong,
.sibori p.page a {
	display: inline-block;
	margin-bottom: 5px;
	padding: 4px 8px;
	background: #fff;
	border: 1px solid #aaa;
	text-decoration: none;
	vertical-align: middle;
}

.sibori p.page strong {
background: #eeeff7;
margin-left:2px;
margin-right:2px;

}

.sibori p.page a:hover {
	background: #eeeff7;
}


.toukou{
padding:25px;
padding-top:15px;
clear:both;
border-top:1px dotted #CCCCCC;
}

.noLine{
padding-bottom:15px;
}

.toukou .status{
float:left;
padding:1px 0px 8px 110px;
color:#333333;
}

.toukou .back{
float:left;
color:#333333;
}

.toukou .btn{
float:right;
}
.toukou .koukai{background:url(../img/ico_koukai.gif) no-repeat;}
.toukou .mikoukai{background:url(../img/ico_mikoukai.gif) no-repeat;}
.toukou .syuryo{background:url(../img/ico_syuuryou.gif) no-repeat;}

.toukou .status img{
padding-right:5px;
position:relative;
top:2px;
}

.toukou .btn img{
padding-left:5px;
}

.naiyo .del{
text-align:right;
margin-top:5px;
}

.naiyo{
margin:25px;
margin-top:10px;
}

.naiyo table{
padding:0px;
margin:0px;
clear:both;
border-collapse:collapse;
width:100%;
}
.naiyo table th,
.naiyo table td{
padding:8px;
border:1px solid #CCCCCC;
}
.naiyo table td{
color:#333333;
}

.naiyo table th{
background-color:#F9F9F9;
margin-top:3px;
color:#333333;
width:100px;
font-size:12px;
}


.naiyoToko{
clear:both;
}


.naiyoToko table{
border-collapse:collapse;
width:100%;
}
.naiyoToko table td,
.naiyoToko table th{
color:#333333;
padding:15px 8px;
border-top:1px solid #CCCCCC;
border-bottom:1px solid #CCCCCC;
}
.naiyoToko table td input.img,
.naiyoToko table th input.img{
	vertical-align: middle;
}
.naiyoToko table th{
	width:120px;
	text-align:left;
	padding-right:50px;
	white-space: nowrap;
}

.naiyoToko table th.hissu{background:url(../img/ico_hissu.gif) no-repeat right center;}
.naiyoToko table th.nini{background:url(../img/ico_nini.gif) no-repeat right center;}
.naiyoToko table td img{
padding-left:3px;
position:relative;
top:-1px;
vertical-align:bottom;
}

.naiyoToko p.txt{
margin-top:18px;
padding-bottom:8px;
color:#333333;
}

.error{
color:#FF0000;
padding:10px 0;
}

.formBtn{
margin:0px auto;
}
.formBtn td{
padding:0px 3px;
}
