body{
  background: #f1f1f1;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"
}

.head{
  background: url(../img/header-b.png) 50% 50% / cover no-repeat;
  text-align: center;
  padding: 30px 0 10px;
}
.head > img{
  width: 96%;
}

.d-even,.d-odd{
  margin: 0 auto;
}


.d.first{
  margin-top: 30px;
}
.d.first>.img{
  display: none
}

.d img{
  width: 100%;
}

.d > .text > h3{
  font-size: 23px;
  font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
  color: rgb(82, 48, 5);
  margin: 0 ;
}

.text{
  font-size: 14px;
  color: rgb(38, 38, 38);
  line-height: 1.813;
}




form{
  background: #122b4c;
  margin: 0 auto;
  padding: 30px 4% 50px;
  box-sizing: border-box;
}

.d-f-title{
  text-align: center;
  margin: 0 0 30px;
}
.d-f-title>img{
  width: 80%;
  min-width: 200px;
}


.d-input{
  margin:0 0 26px;
}


.d-input-title{
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0 0 7px; 
}
.d-input-title > span{
  border-radius: 4px;
  background-color: rgb(208, 0, 0);
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 5px;
}


.d-input>input{
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
}
.d-input>input::placeholder{
  font-size: 17px;
  font-weight: bold;
  color: #bfbfbf;
}

.d-submit{
  text-align: center;
}
.d-submit>input{
  width: 80%;
  min-width: 200px;
}

.bn{
  margin: 0 auto;
}

.bn > p{
  width: 48%;
  float: left;
}
.bn > p:nth-last-child(1){
  float: right;
}
.bn > p img{
  width: 100%;
}


footer{
  width: 100%;
  clear: both;
  margin: 0;
  background: #c7c7c7;
}
footer > p{
  margin: 0;
  font-size: 11px;
  padding: 5px;
  text-align: center;
}
footer > p > a{
  color: rgb(65, 54, 54);
  margin:  0 10px;
}

/*千葉追加*/
.txt{
	clear: both;
	text-align: left;
	font-size: 12px;
	margin-bottom: 18px!important;
}





