body{
  background: #f1f1f1;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"
}

.head{
  height: 400px;
  background: url(../img/header-b.png) 50% 50% / cover no-repeat;
  position: relative;
}
.head > img{
  position: absolute;
  left: 50%;
  top: 125px;
  margin: 0 0 0 -421px;
  width: 843px;
  height: auto;
}

.d-even,.d-odd{
  width: 1200px;
  margin: 0 auto;
  height: 382px;
}


.d.first{
  margin-top: 110px;
}

.d > .text > h3{
  font-size: 32px;
  font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
  color: rgb(82, 48, 5);
  margin: 0 ;
}

.d-even>.img{
  float: right;
}
.d-even>.text{
  width: 580px;
  float: left;
}
.d-odd>.img{
  float: left;
}
.d-odd>.text{
  width: 580px;
  float: right;
}
.text{
  font-size: 16px;
  color: rgb(38, 38, 38);
  line-height: 1.813;
}




form{
  background: #122b4c;
  width: 720px;
  margin: 0 auto;
  padding: 55px 160px 50px;
  box-sizing: border-box;
}

.d-f-title{
  text-align: center;
  margin: 0 0 30px;
}
.d-input{
  margin:0 0 26px;
}


.d-input-title{
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0 0 7px; 
}
.d-input-title > span{
  border-radius: 4px;
  background-color: rgb(208, 0, 0);
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 5px;
}


.d-input>input{
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  border-radius: 2px;
}
.d-input>input::placeholder{
  font-size: 17px;
  font-weight: bold;
  color: #bfbfbf;
}

.d-submit{
  text-align: center;
}

.bn{
  width: 720px;
  margin: 0 auto;
  height: 108px;
}

.bn > p{
  float: left;
}
.bn > p:nth-last-child(1){
  float: right;
}

footer{
  width: 100%;
  clear: both;
  margin: 0;
  background: #c7c7c7;
}
footer > p{
  margin: 0;
  font-size: 11px;
  padding: 5px;
  text-align: center;
}
footer > p > a{
  color: rgb(65, 54, 54);
  margin:  0 10px;
}
.txt{
	clear: both;
	text-align: left;
	font-size: 12px;
	width: 720px;
	margin: 0 auto 24px;
}
.txt p{
	margin: 0;
}





