* {
		margin:0px;
		padding:0px;
		list-style-type: none;
}

img {
		border:none;
		margin:0px;
		padding:0px;
}

table {
		border:none;
		border-collapse:collapse;
}

h1, h2, h3, h4, h5, h6, p, em, address, div, form, dl, dt, dd, ul, li, ol, table {
		font-size: 100%;
		font-weight: normal;
		font-style: normal;
		margin: 0;
		padding:0px;
}

body {
	margin: 0px;
	padding: 0px;
	text-align:center;
	color: #262626;
}

ul li {
		list-style-type: none;
}

a:link{
	color: #000000;
	text-decoration:underline;
}
a:visited{
	color: #000000;
	text-decoration:underline;
}
a:hover{
	color: #000000;
	text-decoration:none;
}

.centered {  position: relative;  overflow: hidden;}
.centered ul {
  position: relative;  left: 50%;  float: left;}
.centered ul li {
  position: relative;  left: -50%;  float: left;}

/* ---------------------------------- common ---------------------------------- */

.pctL {
	float: left;
	margin-right:15px;
	margin-bottom: 15px;
}
.pctR {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.aRight {
		text-align: right;
}

.aCenter {
		text-align: center;
}


/*  ---------------------------------- opacity ---------------------------------- */

.sample{    
    filter:alpha(opacity=50);  /* IE7以下用 */ 
    -ms-filter: "alpha(opacity=50)"; /* IE8用 */ 
    -moz-opacity:0.5; /* Firefox 1.5未満, Netscape用 */ 
    -khtml-opacity: 0.5;  /* Safari 1.x, 他khtmlに対応したブラウザ用  */ 
    opacity: 0.5; /* Firefox 1.5以上, Opera, Safari用 */ 
}


/*  ---------------------------------- 長いURLでも折り返す ---------------------------------- */

/* ul li{ word-wrap: break-word; } */

/*  ---------------------------------- clear ---------------------------------- */

.clearBT{
	clear:both;
	visibility: hidden;
}
.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
}
.clearfix {
		display: inline-block;
}

/* Holly Hack Targets IE Win only \*/
* html .clearfix {
		height: 1%;
}
.clearfix {
		display: block;
}
/* End Holly Hack */
