@charset "Shift_JIS";

/* SÌ */


img{
border:none;
margin:0px;
padding:0px;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #EFEFEF;
/*
	color:#999999;
	font:"CI","lr oSVbN", Osaka, "qMmpS Pro W3";
	background-color: #EFEFEF;
	background-image: url(/kanri/img/bg_body.gif); */
	
}

h1, h2, h3, h4, h5, h6, p, em, address, div, form, ul, li{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	margin: 0px;
	padding:0px;
}

.clear{
clear:both;
}

.clearfix:after{
    content:".";
    display: block;
    height:0px;
    clear:both;
    visibility:hidden;

}

.clearfix{display:inline-block;} /*IE7¨æÑMacIE5ü¯*/

/*Hides from IE-mac\*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
/*End hide from IE-mac*/ /*IE6ÈOü¯*/

