body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	_font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #000000;
}

/* header start */

#header {
	background-image: url(/images/header_back.gif);
	background-repeat: repeat-x;
	background-position: top;
}
#header #headerSub {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#header #headerSub #headerL {
	float: left;
	width: 230px;
}
#header #headerR {
	float: right;
	width: 730px;
	text-align: left;
}
#header #headerSub #headerR #headLink {
	height: 29px;
}
#header #headerSub #headerR #headLink ul {
	float: right;
	padding-top: 8px;
}
#header #headerSub #headerR #headLink ul li {
	float: left;
	font-size: 12px;
	white-space: nowrap;
	padding-left: 12px;
	display: inline;
	background-image: url(/images/point_01.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	margin-left: 10px;
}
#header #headerSub #headerR #headLink ul li a:link{
	color: #FFFFFF;
	text-decoration:none;
}
#header #headerSub #headerR #headLink ul li a:visited{
	color: #FFFFFF;
	text-decoration:none;
}
#header #headerSub #headerR #headLink ul li a:hover{
	color: #FFFFFF;
	text-decoration:underline;
}
#header #headerSub #headerR #headImg {
	margin: 0px;
	padding: 0px;
	position: relative;
}
#header #headerSub #headerR #headImg ul {
	margin: 0px;
	padding: 0px;
	float: left;
}
#header #headerSub #headerR #headImg ul li {
	float: left;
	display: inline;
}
#header #headerSub #headerR #headImg p#headShop {
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
	top: 15px;
	left: 26px;
}
#header #headerSub #headerR #navi {
	clear: both;
}
#header #headerSub #headerR #navi ul {
	margin: 0px;
	padding: 0px;
}
#header #headerSub #headerR #navi ul li {
	float: left;
	display: inline;
	position: relative;
	font-size: 1%;
}
#header #headerSub #headerR #navi ul li .sub {
	text-align: left;
	padding: 0px;
	position: absolute;
	left: 0px;
	top: 51px;
	background: #FFF;
	white-space: nowrap;
	z-index: 500;
}
#header #headerSub #headerR #navi ul li .sub li {
	font-size: 14px;
	display: block;
	float: none;
	padding: 0px;
	border-bottom: 1px solid #000000;
	background-image: url(/images/subnavi_back.png);
}
#header #headerSub #headerR #navi ul li .sub ul li a {
	background: url(/images/point_02.gif) no-repeat 10px 14px;
	display: block;
	padding: 12px 10px 12px 24px;
}
#header #headerSub #headerR #navi ul li .sub ul li a:link{
	color: #FFFFFF;
	text-decoration:none;
}
#header #headerSub #headerR #navi ul li .sub ul li a:visited{
	color: #FFFFFF;
	text-decoration:none;
}
#header #headerSub #headerR #navi ul li .sub ul li a:hover{
	color: #FFFFFF;
	text-decoration:underline;
}

/* header end */

/* main start */

#main {
	height: 470px;
	position: relative;
}
#mainCommon {
	background-repeat: no-repeat;
	background-position: center top;
	height: 180px;
}
#mainCommon.shopIndex {
	background-image: url(/shop/img/main_index.jpg);
}
#mainCommon.newsIndex {
	background-image: url(/news/img/main_index.jpg);
}
#mainCommon.kodawariIndex {
	background-image: url(/kodawari/img/main_index.jpg);
}
#mainCommon.kodawariHistory {
	background-image: url(/kodawari/img/main_history.jpg);
}
#mainCommon.kodawariHimitsu {
	background-image: url(/kodawari/img/main_himitsu.jpg);
}
#mainCommon.kodawariMake {
	background-image: url(/kodawari/img/main_make.jpg);
}
#mainCommon.pointCardIndex {
	background-image: url(/point_card/img/main_index.jpg);
}
#mainCommon.contactIndex {
	background-image: url(/contact/img/main_index.jpg);
}
#mainCommon.shoppingIndex {
	background-image: url(/shopping/img/main_index.jpg);
}
#mainCommon.shoppingGyoumu {
	background-image: url(/shopping/img/main_gyoumu.jpg);
}
#mainCommon.shoppingContact {
	background-image: url(/shopping/img/main_contact.jpg);
}
#main #main01 {
	background-image: url(/images/main_01.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 470px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 25;
}
#main #main02 {
	background-image: url(/images/main_02.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 470px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 20;
}
#main #main03 {
	background-image: url(/images/main_03.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 470px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 15;
}
#main #main04 {
	background-image: url(/images/main_04.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 470px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 10;
}
#main #main05 {
	background-image: url(/images/main_05.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 470px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 5;
}
#main #mainThumbnail {
	background-image: url(/images/main_thumbnail_back.png);
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	height: 470px;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 50;
}
#main #mainThumbnail #mainThumbnailArea {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 387px;
}
#main #mainThumbnail #mainThumbnailArea ul {
	margin: 0px;
	padding: 0px;
}
#main #mainThumbnail #mainThumbnailArea ul li {
	font-size: 1%;
	display: inline;
	float: left;
	margin-right: 15px;
	cursor: pointer;
}
#main #mainThumbnail #mainThumbnailArea ul li.last {
	margin-right: 0px;
	cursor: pointer;
}
#main #mainHimitsu {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 100;
	height: 370px;
	overflow: hidden;
}
#main #mainHimitsu #himitsuBox {
	position: absolute;
	top: 0px;
	right: 0px;
}

/* main end */


/* co start */

#co {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 13px;
}
#co #coL {
	float: left;
	width: 680px;
	padding-bottom: 20px;
}
#co #coR {
	float: right;
	width: 260px;
	text-align: left;
	padding: 8px 0px 20px;
	position: relative;
}
#co #coR .bnrBox {
	margin: 0px;
	padding: 0px;
}
#co #coR .bnrBox p {
	margin: 0px 0px 10px;
}
#co #coR .facebookLikeBox {
	margin: 0px 0px 10px;
	padding: 0px;
}
#co #coR .facebookLikeBox p {
	margin: 10px 0px 0px 0px;
	padding: 0px;
}
#co #coR .facebookLikeBox h2 {
	margin: 0px;
	padding: 0px;
}

/* co end */


/* footer start */

#footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
#footer p#btnTop {
	margin: 0px;
	padding: 0px;
	float: right;
}
#footer p {
	font-size: 12px;
}
#copy {
	background-image: url(/images/footer_back.gif);
	padding: 8px;
}
#copy p {
	font-size: 12px;
	line-height: 1.3;
	font-weight: 100;
	color: #FFF;
}

/* footer end */


/* himitsuBox start */

#himitsuBox {
	background-color: #000;
	text-align: center;
	margin: 0px 0px 10px;
	padding: 12px 0px 10px;
	width: 260px;
}
#himitsuBox #himitsuBoxSub {
	width: 240px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
#himitsuBox #himitsuBoxSub h2 {
	margin: 0px;
}
#himitsuBox #himitsuBoxSub p {
	margin: 10px 0px 0px;
}
#himitsuBox #himitsuBoxSub ul {
	margin: 10px 0px 0px;
}
#himitsuBox #himitsuBoxSub ul li {
	margin: 0px 10px 0px 0px;
	float: left;
}
#himitsuBox #himitsuBoxSub ul li.no {
	margin: 0px;
}

/* himitsuBox end */



/* page start */

.page {
	text-align: left;
	margin: 0px;
	padding: 0px;
}
.page p {
	font-size: 0.85em;
	line-height: 1.5;
	margin-top: 15px;
}
.page p.ss {
	font-size: 10px;
}
.page p.no {
	margin-top: 0px;
}
.page h2 {
	margin: 20px 0px 0px;
	padding: 0px;
}
.page h2.no {
	margin: 0px;
	padding: 0px;
}
.page h3 {
	font-size: 1em;
	line-height: 1.3;
	margin-top: 25px;
	border: 1px solid #E1DCC4;
	padding: 9px 12px 9px 33px;
	background-color: #F7F3E8;
	background-image: url(/images/point_03.gif);
	background-position: 12px 12px;
	background-repeat: no-repeat;
	font-weight: 900;
	color: #8A0000;
	clear: both;
}
.page h4 {
	font-size: 0.92em;
	line-height: 1.5;
	margin-top: 20px;
	font-weight: 900;
	color: #8A0000;
	background-image: url(/images/point_05.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	padding-left: 20px;
	border-bottom: 1px dotted #B49678;
	padding-bottom: 8px;
}
.page h4.no {
	margin-top: 0px;
}
.page ul.point01 {
	margin-top: 15px;
}
.page ul.point01.no {
	margin-top: 0px;
}
.page ul.point01 li {
	margin-top: 5px;
	font-size: 0.75em;
	line-height: 1.6;
	background-image: url(/images/point_04.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
	padding-left: 10px;
}
.page ul.point01 li .ss {
	font-size: 10px;
}
.page table.normal {
	margin-top: 15px;
	margin-left: 0px;
	border-collapse: collapse;
}
.page table.normal th,
.page table.normal td {
	font-size: 0.75em;
	line-height: 1.5;
	padding: 8px;
	border: 1px solid #E1DCC4;
	color: #595133;
}
.page table.normal th {
	background-color: #F7F3E8;
	color: #4C0000;
	white-space: nowrap;
}
.page table.normal th.hissu {
	background-image: url(/images/ico_hissu.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 50px;
}
.page .caution {
	font-size: 10px;
	font-weight: 900;
	color: #EC1B24;
}
.page .pageNavi {
	text-align: left;
	clear: both;
	margin-top: 20px;
}
.page .pageNavi ul {
	margin: 0px;
}
.page .pageNavi li a {
	float: left;
	border: 1px solid #BBC6AA;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	margin-left: 10px;
	font-size: 0.75em;
	line-height: 1;
	background-color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.page .pageNavi li span {
	float: left;
	border: 1px solid #BBC6AA;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	margin-left: 10px;
	font-size: 0.75em;
	line-height: 1;
	background-color: #B00000;
	display: block;
	font-weight: 900;
	color: #FFF;
}

/* page end */




/* index start */

#index #shopList {
	margin-top: 10px;
	margin-left: 0px;
}
#index #shopList ul {
	margin: 0px;
	padding: 0px;
}
#index #shopList ul li {
	float: left;
	margin: 0px 5px 0px 0px;
	padding: 0px;
}
#index #shopList ul li.last {
	margin: 0px;
}
#index #news {
	margin-top: 5px;
}
#index #news .entry {
	clear: both;
	border-bottom: 1px dotted #DF8813;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#index #news .entry p.date {
	font-size: 12px;
	font-weight: 900;
	color: #8A0000;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px;
}
#index #news .entry h3 {
	font-size: 12px;
	font-weight: 100;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	line-height: 1.5;
	background-color: #FFF;
	background-image: none;
	border-width: 0px;
	border-style: none;
	clear: none;
}
#index #news .entry.pickup h3 {
	font-size: 12px;
	font-weight: 900;
	background-image: url(/images/pickup.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 60px;
}
#index p#inidexTxt {
	font-size: 14px;
	font-weight: 900;
	margin-top: 0px;
	background-image: url(/images/ico_pdf.gif);
	background-repeat: no-repeat;
	background-position: left 0px;
	padding-left: 30px;
}

/* index end */





/* shopPage start */

#shopPage #shopSearch {
	margin-top: 20px;
}
#shopPage #shopSearch #shopSearchL {
	text-align: center;
	float: left;
	width: 335px;
}
#shopPage #shopSearch #shopSearchR {
	float: right;
	width: 335px;
}
#shopPage #shopSearch #shopSearchL p {
	margin: 0px;
	padding: 0px;
}
#shopPage #shopSearch #shopSearchR ul {
	margin: 0px;
	padding: 0px;
}
#shopPage #shopSearch #shopSearchR ul li {
	margin: 0px 5px 5px 0px;
	float: left;
}
#shopPage #shopSearch #shopSearchR ul li.no {
	margin-right: 0px;
}
#shopPage #shopList ul.point01 {
	margin-top: 0px;
}
#shopPage #shopList {
	margin-top: 20px;
}
#shopPage #shopList .shopDetail {
	width: 220px;
	background-image: url(/shop/img/shop_box_back.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
	margin: 0px 0px 10px;
	padding: 0px;
}
#shopPage #shopList .shopDetail h4 {
	line-height: 1.0;
	background-image: none;
	border-bottom: 1px dotted #B49678;
	margin: 0px;
	padding: 0px;
}
#shopPage #shopList .shopDetail .shopDetailSub {
	width: 195px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
}
#shopPage #shopList #shopListL {
	float: left;
	width: 220px;
}
#shopPage #shopList #shopListR {
	float: right;
	width: 450px;
}
#shopPage #shopList #shopListRL {
	float: left;
	width: 220px;
}
#shopPage #shopList #shopListRR {
	float: right;
	width: 220px;
}
#shopPage #shopList a.select:link{
	color: #C10000;
	text-decoration:underline;
}
#shopPage #shopList a.select:visited{
	color: #C10000;
	text-decoration:underline;
}
#shopPage #shopList a.select:hover{
	color: #C10000;
	text-decoration:none;
}
#shopPage #btnMenu {
	background-image: url(/images/line.gif);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 20px;
	padding-top: 20px;
	clear: both;
}
#shopPage #btnMenu ul {
	margin: 0px;
	padding: 0px;
}
#shopPage #btnMenu ul li {
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#shopPage #btnMenu ul li.no {
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}

/* shopPage end */



/* shopDetailPage start */

#shopDetailPage #shopBox {
	text-align: center;
	background-image: url(/shop/img/shop_box_bottom.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#shopDetailPage #shopBox #shopBoxTop {
	background-image: url(/shop/img/shop_box_top.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail {
	margin: 0px;
	padding: 0px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailL {
	float: left;
	width: 140px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailR {
	float: right;
	width: 510px;
	text-align: left;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailL p {
	margin: 0px;
	padding: 0px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailR h2 {
	font-size: 0.85em;
	line-height: 1.5;
	margin-top: 0px;
	font-weight: 900;
	color: #4C0000;
}

#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailR #shopInfo {
margin-top: 5px;
}

#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailR ul#shopInfo li {
	font-size: 0.85em;
	line-height: 1.5;
	margin-top: 0px;
	float: left;
	margin-right: 10px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailR #shopInfo li img {
	vertical-align: middle;
	margin-right: 6px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #infoList {
	margin: 15px 0px 0px;
	padding: 0px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #infoList li {
	float: left;
	width: 210px;
	margin-right: 10px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #infoList li.no {
	margin-right: 0px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #photoBox {
	background-color: #4C0000;
	text-align: center;
	margin-top: 15px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #photoBox #photoBoxSub {
	width: 625px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 10px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #photoBox #photoBoxSub #photoBoxL {
	float: left;
	width: 500px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #photoBox #photoBoxSub #photoBoxL p {
	margin: 0px;
	padding: 0px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #photoBox #photoBoxSub #photoBoxR {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 115px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #photoBox #photoBoxSub #photoBoxR ul li {
	margin-bottom: 10px;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #photoBox #photoBoxSub #photoBoxR ul li img {
	vertical-align: bottom;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub p {
	font-size: 0.75em;
	color: #4C0000;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailR ul#shopInfo li.tel {
font-size: 1.4em;
font-weight: 900;
color: #C50000;
clear:both;
}
#shopDetailPage #shopBox #shopBoxTop #shopBoxSub #detail #detailR #shopInfo {
	margin-top: 5px;
}
#shopDetailPage #menuBox {
	margin-top: 15px;
	width: 680px;
	overflow: hidden;
}
#shopDetailPage #menuBox #menuBoxArea {
	width: 690px;
}
#shopDetailPage #menuBox #menuBoxArea .detail {
	width: 220px;
	border: 1px solid #E1DCC4;
	background-color: #F9F6EE;
	float: left;
	margin-right: 7px;
}
#shopDetailPage #menuBox #menuBoxArea .detail .detailSub {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 12px;
	padding-bottom: 15px;
}
#shopDetailPage #menuBox #menuBoxArea .detail .detailSub h3 {
	margin: 0px;
	padding: 0px 0px 0px 6px;
	background-image: none;
	font-size: 14px;
	border-left: 5px solid #8A0000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
}
#shopDetailPage #menuBox #menuBoxArea .detail .detailSub .charge {
	font-weight: 900;
	color: #B33835;
	text-align: right;
	font-size: 14px;
}
#shopDetailPage #menuBox #menuBoxArea .detail .detailSub p {
	font-size: 12px;
}
#shopDetailPage #galleryBox {
	margin-top: 15px;
	width: 680px;
	overflow: hidden;
}
#shopDetailPage #galleryBox #galleryBoxArea {
	width: 705px;
}
#shopDetailPage #galleryBox #galleryBoxArea .detail {
	width: 210px;
	float: left;
	margin-right: 24px;
}
#shopDetailPage #galleryBox #galleryBoxArea .detail p {
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	color: #4C0000;
}
#shopDetailPage #mapSummary {
	margin-top: 10px;
}
#shopDetailPage #mapSummary li {
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 12px;
	padding-left: 84px;
	line-height: 1.3;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}
#shopDetailPage #mapSummary li.ico01 {
	background-image: url(/shop/img/ico_address.gif);
}
#shopDetailPage #mapSummary li.ico02 {
	background-image: url(/shop/img/ico_access.gif);
}
#shopDetailPage #map_canvas {
	margin-top: 15px;
}
#shopSocialBox {
	text-align: center;
	background-image: url(/shop/img/shop_social_back.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 2px;
	position: relative;
	top: -8px;
}
#shopSocialBox #shopSocialBoxSub {
	width: 220px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 0px;
}
#shopSocialBox #shopSocialBoxSub h3 {
	font-size: 12px;
	background-color: #F9F6ED;
	border-bottom: 1px solid #EFE8CF;
	border-left: 4px solid #C40000;
	line-height: 1.3;
	font-weight: 900;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	margin-top: 10px;
}
#shopSocialBox #shopSocialBoxSub p#shopQR {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#shopSocialBox #shopSocialBoxSub #socialList {
	margin-top: 10px;
	padding-bottom: 20px;
}
#shopSocialBox #shopSocialBoxSub form p {
	margin-top: 10px;
}

/* shopDetailPage end */


/* kodawariPage start */

#kodawariPage #reimenBox {
	margin-top: 20px;
	background-color: #000000;
	text-align: center;
	background-image: url(/kodawari/img/reimen_bottom.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#kodawariPage #reimenBox h2 {
	margin: 0px;
	padding: 0px;
}
#kodawariPage #reimenBox #reimenBoxSub {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 12px;
}
#kodawariPage #reimenBox #reimenBoxSub ul li {
	font-size: 1%;
	display: inline;
	float: left;
	margin-right: 10px;
}
#kodawariPage #reimenBox #reimenBoxSub ul li.last {
	margin-right: 0px;
}
#kodawariPage .himitsuBox01 h3,
#kodawariPage .himitsuBox02 h3 {
	background-image: none;
	clear: none;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
}
#kodawariPage .himitsuBox01 {
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-image: url(/kodawari/img/himitsu_box_back.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#kodawariPage .himitsuBox01 .himitsuBox01Top {
	background-image: url(/kodawari/img/himitsu_box_top.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 15px;
}
#kodawariPage .himitsuBox01 .himitsuBox01Top .himitsuBox01L {
	float: left;
	width: 55px;
	text-align: left;
}
#kodawariPage .himitsuBox01 .himitsuBox01Top .himitsuBox01R {
	float: left;
	width: 580px;
	text-align: left;
	margin-left: 6px;
	padding-top: 3px;
}
#kodawariPage .himitsuBox01 p {
	font-size: 12px;
	color: #FFF;
	margin: 0px;
	padding: 0px;
}
#kodawariPage .himitsuBox02 p {
	font-size: 12px;
	color: #FFF;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}
#kodawariPage .himitsuBox02 {
	text-align: center;
	margin: 10px 0px 0px;
	padding: 0px;
	background-image: url(/kodawari/img/himitsu_box_back_s.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#kodawariPage .himitsuBox02 .himitsuBox02Top {
	background-image: url(/kodawari/img/himitsu_box_top_s.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#kodawariPage .himitsuBox02 .himitsuBox02Top .himitsuBox02Sub .detail {
	width: 190px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
#kodawariPage .himitsuBox02 .himitsuBox02Top .himitsuBox02Sub {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
#kodawariPage .himitsuBox02 .himitsuBox02Top .himitsuBox02Sub .himitsuBox02L {
	float: left;
	width: 190px;
}
#kodawariPage .himitsuBox02 .himitsuBox02Top .himitsuBox02Sub .himitsuBox02R {
	float: right;
	width: 420px;
}
#kodawariPage .himitsuBox02 .himitsuBox02Top .himitsuBox02Sub .himitsuBox02R .RL {
	float: left;
	width: 190px;
}
#kodawariPage .himitsuBox02 .himitsuBox02Top .himitsuBox02Sub .himitsuBox02R .RR {
	float: right;
	width: 190px;
}
#kodawariPage #makeSummary {
	margin-top: 10px;
}
#kodawariPage #makeSummary #makeSummaryL {
	float: left;
	width: 330px;
}
#kodawariPage #makeSummary #makeSummaryL p {
	margin: 0px 0px 15px;
	padding: 0px;
}
#kodawariPage #makeSummary #makeSummaryR {
	float: right;
	width: 335px;
}
#kodawariPage #makeSummary #makeSummaryR h4 {
	margin: 0px;
}
#kodawariPage ul.number {
	margin-top: 15px;
}
#kodawariPage ul.number li {
	margin-top: 5px;
	font-size: 0.75em;
	line-height: 1.6;
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 20px;
}
#kodawariPage ul.number li.n01 {
	background-image: url(/kodawari/img/n01.gif);
}
#kodawariPage ul.number li.n02 {
	background-image: url(/kodawari/img/n02.gif);
}
#kodawariPage ul.number li.n03 {
	background-image: url(/kodawari/img/n03.gif);
}
#kodawariPage ul.number li.n04 {
	background-image: url(/kodawari/img/n04.gif);
}
#kodawariPage ul.number li.n05 {
	background-image: url(/kodawari/img/n05.gif);
}
#kodawariPage ul.number li.n06 {
	background-image: url(/kodawari/img/n06.gif);
}
#kodawariPage ul.number li.n07 {
	background-image: url(/kodawari/img/n07.gif);
}
#kodawariPage ul.number li.n08 {
	background-image: url(/kodawari/img/n08.gif);
}
#kodawariPage .pointBox {
	width: 355px;
	margin-top: 15px;
	margin-left: 20px;
	background-image: url(/kodawari/img/point_box_back.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
}
#kodawariPage .pointBox .pointBoxTop {
	background-image: url(/kodawari/img/point_box_top.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#kodawariPage .pointBox .pointBoxTop .pointBoxSub {
	width: 305px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-top: 60px;
	padding-bottom: 25px;
}
#kodawariPage .pointBox .pointBoxTop .pointBoxSub p {
	padding: 0px;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#kodawariPage .pointBox.wide {
	width: 660px;
	margin-top: 15px;
	margin-left: 20px;
	background-image: url(/kodawari/img/point_box_back_b.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
}
#kodawariPage .pointBox.wide .pointBoxTop {
	background-image: url(/kodawari/img/point_box_top_b.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#kodawariPage .pointBox.wide .pointBoxTop .pointBoxSub {
	width: 610px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-top: 60px;
	padding-bottom: 25px;
}
#kodawariPage .line {
	clear: both;
	margin-top: 20px;
	margin-bottom: 0px;
}

/* kodawariPage end */


/* pointCardPage start */

#pointCardPage p#indexImg01 {
	float: right;
	margin-top: 0px;
}
#pointCardPage h4 {
	font-size: 0.92em;
	line-height: 1.5;
	margin-top: 20px;
	font-weight: 900;
	color: #C40000;
	background-image: url(/images/point_06.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	padding-left: 20px;
	border-bottom: 1px dotted #B49678;
	padding-bottom: 8px;
}
#pointCardPage .price {
	font-family: "Times New Roman", Georgia, Times, serif;
	font-size: 37px;
	font-weight: 900;
	color: #C40000;
}
#pointCardPage .yen {
	font-weight: 900;
	color: #C40000;
	font-size: 16px;
}

/* pointCardPage end */


/* contactPage start */

#contactPage p .ico {
	vertical-align: middle;
	margin-right: 5px;
}
#contactPage #shopList {
	margin-top: 10px;
	margin-left: 0px;
}
#contactPage #shopList ul {
	margin: 0px;
	padding: 0px;
}
#contactPage #shopList ul li {
	float: left;
	margin: 0px 5px 0px 0px;
	padding: 0px;
}
#contactPage #shopList ul li.last {
	margin: 0px;
}
#contactPage h4 {
	font-size: 0.75em;
	line-height: 1.5;
	margin-top: 25px;
	font-weight: 900;
	color: #4C0000;
	background-image: url(/images/point_07.gif);
	background-repeat: no-repeat;
	background-position: left 12px;
	padding-left: 16px;
	border-bottom: 0px none;
	border-top: 1px dotted #B49678;
	padding-bottom: 0px;
	padding-top: 10px;
}

/* contactPage end */




/* shoppingPage start */

#shoppingPage .itemBox {
	margin-top: 15px;
}
#shoppingPage .itemBox .itemBoxL {
	float: left;
	width: 230px;
}
#shoppingPage .itemBox .itemBoxL p {
	margin: 0px;
	padding: 0px;
}
#shoppingPage .itemBox .itemBoxR {
	float: right;
	width: 435px;
}
#shoppingPage .itemBox .itemBoxR ul.point01 {
	margin: 0px;
}
#shoppingPage .itemBox .itemBoxL .thumbnail {
	width: 230px;
	margin-top: 10px;
	overflow: hidden;
}
#shoppingPage .itemBox .itemBoxL .thumbnail ul {
	margin: 0px;
	padding: 0px;
	width: 240px;
}
#shoppingPage .itemBox .itemBoxL .thumbnail ul li {
	font-size: 1%;
	display: inline;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	float: left;
}
#shoppingPage .priceBox {
	border-top: 1px dotted #C4BFAA;
	padding: 15px 0px 0px;
	margin-top: 20px;
	clear: both;
}
#shoppingPage .priceBox ul {
	float: right;
}
#shoppingPage .priceBox ul li {
	float: left;
	white-space: nowrap;
	margin-left: 10px;
}
#shoppingPage .priceBox ul li.kakaku {
	background-image: url(/shopping/img/ico_kakaku.gif);
	background-repeat: no-repeat;
	background-position: left 8px;
	padding-left: 72px;
	padding-top: 4px;
}
#shoppingPage .priceBox ul li .price {
	font-family: "Times New Roman", Georgia, Times, serif;
	font-size: 28px;
	font-weight: 900;
	color: #C40000;
}
#shoppingPage .priceBox ul li .yen {
	font-weight: 900;
	color: #C40000;
	font-size: 14px;
}
#coR #subMenu {
	margin: 0px 0px 10px;
	padding: 0px;
}
#coR #subOnline {
	text-align: center;
	margin: 0px 0px 10px;
	padding: 0px;
}
#coR #subOnline #subOnlineLine {
	padding: 15px;
	border-right: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
	border-left: 1px solid #C4C4C4;
}
#coR #subOnline #subOnlineLine p {
	margin: 0px;
	padding: 0px;
}
#coR #subOnline #subOnlineLine p.mgn {
	margin: 10px 0px 10px 0px;
	padding: 0px;
}
#coR #subOnline #subOnlineLine p.mgn img {
	margin: 0px 10px 0px 0px;
	padding: 0px;
}
#coR #subOnline #subOnlineLine p.mgn .no {
	margin: 0px;
	padding: 0px;
}
#shoppingPage .itemShopping {
	margin: 15px 0px 0px;
	clear: both;
	width: 680px;
	overflow: hidden;
}
#shoppingPage .itemShopping .itemShoppingBox {
	width: 700px;
}
#shoppingPage .itemShopping.th .itemShoppingBox {
	width: 705px;
}
#shoppingPage .itemShopping .itemShoppingBox .detail {
	margin: 0px 20px 0px 0px;
	float: left;
	width: 330px;
}
#shoppingPage .itemShopping.th .itemShoppingBox .detail {
	margin: 0px 25px 0px 0px;
	float: left;
	width: 210px;
}
#shoppingPage .itemShopping .itemShoppingBox .detail h4 {
	font-size: 16px;
	font-weight: 900;
	color: #4C0000;
	background-image: none;
	margin: 0px;
	padding: 0px 0px 8px;
}
#shoppingPage .itemShopping .itemShoppingBox .detail h4 .ss {
	font-size: 12px;
}
#shoppingPage p .ico {
	vertical-align: middle;
	margin-right: 5px;
}


/* shoppingPage end */



/* newsPage start */

#newsPage #news {
	margin-top: 5px;
}
#newsPage #news .entry {
	clear: both;
	border-bottom: 1px dotted #DF8813;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#newsPage #news .entry p.date {
	font-size: 12px;
	font-weight: 900;
	color: #8A0000;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px;
}
#newsPage #news .entry h3 {
	font-size: 12px;
	font-weight: 100;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	line-height: 1.5;
	background-color: #FFF;
	background-image: none;
	border-width: 0px;
	border-style: none;
	clear: none;
}
#newsPage #news .entry.pickup h3 {
	font-size: 12px;
	font-weight: 900;
	background-image: url(/images/pickup.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 60px;
}
#newsDetailPage h3 {
	font-size: 1em;
	line-height: 1.3;
	margin-top: 10px;
	padding: 0px 0px 9px 21px;
	background-color: #FFFFFF;
	background-image: url(/images/point_03.gif);
	background-position: 0px 3px;
	background-repeat: no-repeat;
	font-weight: 900;
	color: #8A0000;
	clear: both;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 1px dotted #B9B18C;
	border-left: 0px none;
}
#newsDetailPage p.date {
	font-size: 12px;
	font-weight: 900;
	color: #000000;
	margin: 10px 10px 0px 0px;
	padding: 0px;
}

/* newsPage end */

.error {
	color:#FF0000;
	font-size:13px;
}

