.news table{
width:660px;
margin:12px 0px 0px 0px;
border-top:1px dotted #CCCCCC;
border-collapse: collapse;
}
.news table caption{
font-weight:800;
color:#006600;
text-align:left;
padding-top:15px;
padding-bottom:10px;
}

.news table td,
.news table th{
padding:8px;
border :1px solid #CCCCCC;
}
.news table th{
	color:#000000;
	text-align: left;
	width: 25%;
	background: #EEF9EF;
}
