@charset "utf-8";
* {
	margin:0px;
	padding:0px;
	list-style-type: none;
}
img {
	border:none;
	margin:0px;
	padding:0px;
}
table {
	border:none;
	border-collapse:collapse;
}
h1, h2, h3, h4, h5, h6, p, em, address, div, form, dl, dt, dd, ul, li, ol, table {
	font-size: 100%;
	font-style: normal;
	margin: 0px;
	padding:0px;
}
body {
	margin: 0px;
	padding: 0px;
	text-align:center;
	color: #464646;
	font-family : 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS P Gothic', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif';
	_font-family:"メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS P Gothic', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif";
	background: #FFFFFF;
}
h1 {
	font-size: 0.68em;
	color: #666666;
	font-weight: 100;
	padding-top: 25px;
	text-align: left;
}
h2, h3 {
	clear: both;
}
ul li {
	list-style-type: none;
}
a:link, a:visited {
	color: #002CB2;
}
a:hover {
	color: #CCCCCC;
}
strong {
	color: #000000;
}
ul strong {
}
/* ---------------------------------- common style ---------------------------------- */
#up {
	clear: both;
	text-align: right;
	padding-bottom: 15px;
}
#hrF {
	border-top: 1px solid #D6D6D6;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 1px;
	color: #D6D6D6;
	font-size: 1px;
	line-height: 1px;
}
p strong {

}
.fltR {
	float: right;
}
.fltL {
	float: left;
}
.boxR {
	float: right;
}
.boxL {
	float: left;
}
.pctR {
	float: right;
	font-size: 0.68em;
	text-align: center;
	margin-left: 12px;
}
.pctL {
	float: left;
	text-align: center;
	font-size: 0.68em;
	margin-right: 12px;
}
.bb {
	font-weight: 900;
	color: #000000;
}
.aRIGHT {
	text-align: right;
}
.aCENTER {
	text-align: center;
}
#pan {
	text-align:right;
	font-size: 0.68em;
	margin-bottom: 10px;
}
.red {
	color: #CC0000;
}
.borderB {
	border-bottom: 1px dotted #C8C8C8;
	padding-bottom: 20px;
}
.verTop {
	vertical-align: top;
}
.verMiddle {
	vertical-align: middle;
}
.ss {
	font-size: 0.78em;
}
.txtLL{
	color: #000000;
	font: 2em Geneva, Arial, Helvetica, sans-serif;
}

.boxLine{
border: 1px solid #D6D6D6;
}

.lineDotted{
	border-top: 1px solid #D6D6D6;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 1px;
	color: #D6D6D6;
	font-size: 1px;
	line-height: 1px;
	margin: 20px 0px;
}

/*  ----------------------------------CLEAR ---------------------------------- */

hr {
	clear: both;
}
.hrCLEAR, #hrCLEAR {
	clear:both;
	visibility: hidden;
}
.clear {
	clear:both;
}
/*  ----------------------------------CLEARFIX ---------------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Holly Hack Targets IE Win only \*/
    * html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
    /* End Holly Hack */
