@charset "utf-8";



/* --------------- Left Colulmn ----------------------- */


#leftCo {
	float: left;
	width: 220px;
	text-align: center;
}
#leftCo p {
	margin-bottom: 8px;
}
#leftCo a:hover img {
	filter: alpha(opacity=55);
	-moz-opacity:0.55;
	opacity:0.55;
}
/* --------------- Right Colulmn ----------------------- */

#rightCo {
	width: 725px;
	float: right;
	text-align: left;
}
#rightCo #page{
	padding-bottom: 30px;

}
#rightCo #page h2{
margin-bottom: 30px;
}
#rightCo #page h3 {
	margin-bottom: 20px;
	background: url(../images/bg_g.jpg) repeat-x bottom;
	color: #000000;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-bottom: 3px solid #CC0000;
	border-left: 1px solid #D6D6D6;
	padding: 10px 10px 7px;
	font-size: 1em;
	line-height: 1.5em;
	clear: both;
}
#rightCo #page h4 {
	font-size: 1em;
	line-height: 1.5em;
	color: #CC0000;
	margin-bottom: 15px;
	clear: both;
	padding-bottom: 12px;
	border-bottom: 1px dotted #C8C8C8;
	margin-top: 10px;
}
#rightCo #page h5 {
	color: #000000;
	margin-bottom: 10px;
	font-size: 1em;
	line-height: 1.5em;
	background: url(../images/point.gif) no-repeat 0px 4px;
	padding-left: 26px;
	padding-bottom: 8px;
}
#rightCo #page h6 {
	font-size: 0.86em;
	line-height: 1.5em;
	color: #000000;
	background: url(../images/point.gif) no-repeat 1px 1px;
	margin-bottom: 20px;
	padding-bottom: 8px;
	padding-left: 24px;
	border-bottom: 1px solid #CCCCCC;
}
#rightCo #page p {
	font-size: 0.86em;
	line-height: 1.6em;
	margin-bottom: 2em;
}
#rightCo #page p.noMGN {
	margin-bottom: 0px;
}
#rightCo #page ul {
	margin-bottom: 15px;
}
#rightCo #page ul li {
	font-size: 0.86em;
	line-height: 1.5em;
	background: url(../images/li.gif) no-repeat 1px 6px;
	padding-bottom: 10px;
	padding-left: 14px;
	margin-left: 10px;
}

/* ------------------ table ------------------- */

#rightCo #page .tblNormal table
{
	width: 100%;
	margin-bottom: 15px;
}

#rightCo #page .tblNormal th, #rightCo #page .tblNormal td{
	font-size: 0.86em;
	line-height: 1.5em;
	border: 1px solid #D6D6D6;
	padding: 8px 12px;
	text-align: left;
}

#rightCo #page .tblNormal th{
	background: #EBEAE0;
	width: 20%;
	color: #000000;
	text-align: center;
}
#rightCo #page .tblNormal td table{
margin-bottom: 0px;
}

#rightCo #page .tblNormal td th, #rightCo #page .tblNormal td td{
	font-size: 1em;
	border: none;
	padding: 5px 5px 5px 0px;
	vertical-align: top;
	text-align: left;
}

#rightCo #page .tblNormal td th{
background-color: #FFFFFF;
width: auto;
}

/* ---------------  flow  ----------------------- */

#rightCo #page #tblFlow th{
	padding-right: 20px;
}

#rightCo #page #tblFlow td p{
margin: 10px 0px;
}

/* ---------------  entry form ----------------------- */

#rightCo #page.entryCo form{

}
#rightCo #page.entryCo form table
{
	width: 100%;
	margin-bottom: 30px;
}

#rightCo #page.entryCo form th, #rightCo #page.entryCo form td{
	font-size: 0.86em;
	line-height: 1.5em;
	border: 1px solid #D6D6D6;
	padding: 8px 12px;
	text-align: left;
}


#rightCo #page.entryCo form th{
	background: #EBEAE0 url(../staff/img/ico_hissu.gif) no-repeat right center;
	width: 28%;
	color: #000000;

}

#rightCo #page.entryCo form th.thNini{
	background: #EBEAE0 url(../staff/img/ico_nini.gif) no-repeat right center;

}
#rightCo #page.entryCo form td{

}

#rightCo #page.entryCo form td td{
border: none;
font-size: 1em;
padding: 0px;
}
#rightCo #page.entryCo form .aCENTER{
margin-bottom: 30px;
}
#address{
width: 90%;
}
#file01, #file02, #file03{
	width: 320px;
}

#file02{
margin: 10px 0px;
vertical-align: middle;
}






/*---------2019-02-07ishibashi-----------*/
.margin-info th{
	width: 50%!important;
	background: #E9E9E9!important;
}
